{% extends "layouts/email_habilitation_base.html" %}
{% block email_body %}
  <p>Bonjour,</p>

  <p>
    Aucune activité n’a été enregistrée sur votre compte Aidants Connect depuis 5 mois.
    Pour rappel, pour des raisons de sécurité, tout compte inactif pendant 6 mois est désactivé.
  </p>
  <p>
    Afin de comprendre pourquoi vous n’avez pas utilisé le service,
    pouvez-vous nous transmettre des explications en réponse de ce mail s’il vous plaît ?
  </p>
  <p>
    Par ailleurs, si vous désirez garder vos acccès, merci de fournir un argumentaire qui prouve que vous en aurez
    besoin à l’avenir.
  </p>
  <p>Nous vous remercions pour votre compréhension.</p>
  <p>L’équipe Aidants Connect</p>
{% endblock %}
