{% load ac_common dsfr_tags static %}

<div class="flex flex-between">
  <h2>Personnes impliquées</h2>
  <div>
    {% if organisation.status in organisation.Status.aidant_registrable %}
      <a
        id="add-aidants-btn"
        class="fr-btn fr-btn--icon-left fr-icon-user-add-line fr-mb-2v"
        href="{% url 'habilitation_organisation_add_aidants' issuer_id=organisation.issuer.issuer_id uuid=organisation.uuid %}"
      >
        Ajouter un aidant à la demande
      </a>
    {% endif %}
  </div>
</div>
<p>
  Il vous est encore possible d’ajouter ou de supprimer des aidants de votre demande. Vous pouvez également
  vérifier les informations saisies ci-dessous.
</p>
<div class="fr-grid-row fr-grid-row--gutters fr-mb-4v fr-background-contrast--grey fr-p-3w fr-mx-0">
  <div class="fr-col-12 fr-col-md-4 fr-height-100">
    <h3 class="fr-h5">Référents</h3>
    <div class="fr-card fr-tile--shadow fr-p-4v">
      {% if organisation.manager %}
        <div class="flex fr-mb-3w">
          <img src="{% static 'images/avatar.svg' %}" width="36" height="36" alt="" />
          <div class="fr-my-auto fr-ml-1w">
            <strong>{{ organisation.manager.get_full_name }}</strong>
          </div>
        </div>
        <div class="fr-mb-2w">
          <p class="fr-badge fr-badge--sm fr-badge--no-icon fr-badge--info">référent</p>
          {% if organisation.manager.is_aidant %}
            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">aidant</p>
          {% endif %}
        </div>
        <div class="fr-text--xs fr-text-mention--grey fr-m-0">Email</div>
        <div class="fr-text--sm fr-mb-2w">{{ organisation.manager.email }}</div>
        <div class="fr-text--xs fr-text-mention--grey fr-m-0">Profession</div>
        <div class="fr-text--sm fr-mb-2w">{{ organisation.manager.profession }}</div>
        <div class="fr-text--xs fr-text-mention--grey fr-m-0">Conseiller numérique</div>
        <div class="fr-text--sm fr-mb-2w">{{ organisation.manager.conseiller_numerique|yesno:"Oui,Non" }}</div>
        <div class="fr-text--xs fr-text-mention--grey fr-m-0">Organisation</div>
        <div class="fr-text--sm fr-mb-2w">{{ organisation.manager.organisation }}</div>

        <ul class="fr-btns-group fr-btns-group--sm fr-btns-group--right fr-btns-group--inline fr-mb-n4v">
          {% if organisation.status in organisation.Status.aidant_registrable %}
            <li>
              <a
                href="{% url 'habilitation_new_aidants' issuer_id=issuer.issuer_id uuid=organisation.uuid %}"
                {% if habilitation_request.details_id %}id="edit-button-{{ habilitation_request.details_id }}"{% endif %}
                class="fr-btn fr-btn--tertiary fr-btn--icon fr-icon-edit-fill"
              >
                Éditer
              </a>
            </li>
          {% endif %}
        </ul>
      {% else %}
        <ul class="fr-btns-group fr-m-4v">
          <li>
            <a
              href="{% url 'habilitation_new_aidants' issuer_id=issuer.issuer_id uuid=organisation.uuid %}"
              {% if habilitation_request.details_id %}id="edit-button-{{ habilitation_request.details_id }}"{% endif %}
              class="fr-btn fr-m-0 width-100"
            >
              Ajouter un ou une référente
            </a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-8 fr-height-100">
    <h3 class="fr-h5">Aidants</h3>
    {% if habilitation_requests %}
      {# TODO: Refacto below using https://pypi.org/project/django-template-partials/ #}
      <div class="fr-grid-row fr-grid-row--gutters">
        {% for habilitation_request in habilitation_requests %}
          {% include "aidants_connect_habilitation/common/_habilitation-request-profile-card.html" %}
        {% endfor %}

        <button
          data-fr-opened="false"
          aria-controls="profile-edit-modal"
          {% hidden %}
        >{# Regression: https://github.com/GouvernementFR/dsfr/issues/728 #}</button>
        <dialog
          id="profile-edit-modal"
          class="fr-modal"
          aria-labelledby="profile-edit-modal-title"
          role="alertdialog"
          data-controller="profile-edit-modal"
          data-action="dsfr.conceal->profile-edit-modal#onConceal"
          data-profile-edit-modal-profile-edit-card-outlet=".request-card"
        >
          <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
              <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                  <div class="fr-modal__header">
                    <button class="fr-btn--close fr-btn" aria-controls="profile-edit-modal">Fermer</button>
                  </div>
                  <div class="fr-modal__content">
                    <h1
                      id="profile-edit-modal-title"
                      class="fr-modal__title sr-only"
                      data-profile-edit-modal-target="title"
                    ></h1>
                    <section data-profile-edit-modal-target="content">

                    </section>
                    <img
                      src="{% static 'images/icons/AC-loader.svg' %}"
                      alt="Chargement, veuillez patienter…"
                      class="loader"
                      {% hidden %}
                      data-profile-edit-modal-target="loader"
                    />
                    <section data-profile-edit-modal-target="error" {% hidden %}>
                      {% mailto SUPPORT_EMAIL as contact_email %}
                      {% dsfr_alert title="Une erreur sʼest produite" content=contact_email|strfmt:"Quelque-chose sʼest mal passé de notre côté. Ce n'est pas de votre faute. Veuillez fermer la fenêtre et réessayer. Si le problème persiste, veuillez nous contacter à {}" type="error" %}
                    </section>
                  </div>
                  <div class="fr-modal__footer" data-profile-edit-modal-target="footer" {% hidden %}>
                    <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                      <button
                        id="profile-edit-suppress"
                        class="fr-btn fr-btn--secondary fr-btn--warning fr-btn--icon-left fr-icon-delete-bin-fill"
                        data-action="profile-edit-modal#onDelete:stop:prevent"
                        data-profile-edit-modal-target="footerButton"
                      >
                        Supprimer cet aidant
                      </button>
                      <button
                        id="profile-edit-submit"
                        class="fr-btn fr-btn--icon-left fr-icon-pencil-fill"
                        data-action="profile-edit-modal#onValidate:stop:prevent"
                        data-profile-edit-modal-target="footerButton"
                      >
                        Valider les modifications
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </dialog>
      </div>
    {% else %}
      <div class="fr-pt-2w fr-text-mention--grey">
        Vous n'avez pas encore ajouté d'aidant à votre demande
      </div>
    {% endif %}
  </div>
</div>
