{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
  <link href="{% static 'css/mandat.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<div class="hero">
  <div class="container hero__container">
    <h1>Récapitulatif</h1>
  </div>
</div>
<section class="section section-grey">
  <div class="container container-small">
    <button class="button">Imprimer le mandat</button>
    <form method="post" class="panel">
      {% if notification %}
        <div class="notification">{{ notification }}</div>
      {% endif %}
      {% csrf_token %}
      <div class="form__group">
        <p><strong>{{ usager }}</strong> autorise <strong>{{ user }}</strong>,  <em>aidant.e numérique</em> au sein de <em>nom de l’organisme</em> à réaliser en mon nom conformément aux dispositions des articles 1984 et suivants du Code civil, la ou les démarches administratives en ligne suivantes :</p>
        <input type="hidden" value="{{ form.perimeter.value }}" name="perimeter" id="id_perimeter"/>
        <input type="hidden" value="{{ form.duration.value }}" name="duration" id="id_duration"/>
        <ul>
          {% for demarche in demarches %}
          <li>{{ demarche }}</li>
          {% endfor %}
        </ul>
        pour une durée de : <strong>{{ duration }} mois</strong>
      </div>
      <div class="form__group">
        <fieldset>
          <legend>À cette fin :</legend>
          <div class="checkbox__group">
            {{ form.personal_data }}
            <label class="label-inline" for="id_personal_data">J’autorise <strong>{{ user.first_name }} {{ user.last_name }}</strong> à utiliser mes données à caractère personnel.</label>
          </div>
          <div class="checkbox__group">
            {{ form.brief }}
            <label class="label-inline" for="id_brief">Je confime que <strong>{{ user.first_name }} {{ user.last_name }}</strong> m’a rappelé l’objet de l’intervention, la raison pour laquelle mes informations sont collectées et leur utilité ; les droits sur mes données (accès, rectification, suppression, etc.)</label>
          </div>
        </fieldset>
      </div>
      <div class="form__group">
        <input type="submit" class="button" value="J’accepte" />
      </div>
    </form>
  <div>
</section>
{% endblock content %}
