{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
  <link href="{% static 'css/mandat.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<div class="hero">
  <div class="container hero__container">
    <h1>Résumé du mandat de délégation</h1>
  </div>
</div>
<section class="section section-grey">
  <div class="container">
    <form method="post">
      {% if notification %}
        <div class="notification">{{ notification }}</div>
      {% endif %}
      {% if form.errors %}
        <div class="notification">
          {{ form.errors }}
        </div>
      {% endif %}
      {% csrf_token %}
      <div class="form__group">
        <label>Je souhaite me faire accompagner pour :</label>
        <strong>{{ demarche }}{% if other %} - {{ other }}{% endif %}</strong>
      </div>
      <div class="form__group">
        <fieldset>
          <legend>En signant ce mandat, je confirme que :</legend>
          <div class="checkbox__group">
            {{ form.personal_data }}
            <label class="label-inline" for="id_personal_data">J’autorise {{ user.first_name }} {{ user.last_name }} à utiliser mes données à caractère personnel.</label>
          </div>
          <div class="checkbox__group">
            {{ form.brief }}
            <label class="label-inline" for="id_brief">Je confime que {{ user.first_name }} {{ user.last_name }} m’a rappelé l’objet de l’intervention, la raison pour laquelle mes informations sont collectées et leur utilité ; l’existence de droits sur ses données (accès, rectification, suppression, etc.) et la possibilité de retirer mon consentement à tout moment.</label>
          </div>
        </fieldset>
      </div>
      <div class="form__group">
        <input type="submit" class="button" value="Je signe le mandat" />
      </div>
    </form>
  <div>
</section>
{% endblock content %}
