{% extends 'layouts/main.html' %}
{% load ac_common dsfr_tags form_extras static %}

{% block title %}
  Demande d'habilitation pour {{ organisation.name }} - Aidants Connect
{% endblock title %}

{% block extracss %}
  <link href="{% static 'css/generic-habilitation-request-profile-card.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="fr-container" data-controller="profile-edit-card">
    {% if organisation.status == organisation.Status.NEW %}
      <h1>Récapitulatif de la demande</h1>
    {% else %}
      <h1>Demande n° {{ organisation.data_pass_id }}</h1>
      <div class="fr-alert fr-alert--warning fr-mb-6w">
        <h3 class="fr-alert__title fr-mb-0">Statut : {{ organisation.status_enum.label }}</h3>
        {% if organisation.status_enum.description %}
          <section>{{ organisation.status_enum.description }}</section>
        {% endif %}
      </div>
    {% endif %}
    {% include 'aidants_connect_habilitation/common/_recap_general_info.html' with show_edit_buttons=True %}
    <div class="fr-alert fr-alert--info">
      <h3 class="fr-alert__title">Une question ?</h3>
      <p>
        Si vous souhaitez ajouter une précision sur votre formulaire ou nous poser une question,
        vous pouvez nous contacter à l’adresse suivante :<br />
        {% mailto "contact@aidantsconnect.beta.gouv.fr" %}
      </p>
    </div>
    <div class="fr-mt-6w">
      {% include "aidants_connect_habilitation/common/_recap_personnes.html" %}
    </div>
  </div>

  <div class="fr-container fr-mt-6w">
    <h2 {% if organisation.status != organisation.Status.NEW %}hidden{% endif %}>Validation de la demande</h2>
    <form method="post">
      <div
        class="fr-bordered fr-p-4w fr-mb-6w"
        {% if organisation.status != organisation.Status.NEW %}hidden{% endif %}
      >
        {% csrf_token %}
        {{ form }}
      </div>
      <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right">
        {% if organisation.status != organisation.Status.NEW %}
          <li>
            <a
              class="fr-btn fr-btn--secondary"
              href="{% url 'habilitation_new_aidants' issuer_id=issuer.issuer_id uuid=organisation.uuid %}"
              {% if organisation.status != organisation.Status.NEW %}hidden{% endif %}
            >
              Revenir à l’étape précédente
            </a>
          </li>
        {% endif %}
        <li>
          <button class="fr-btn" type="submit">Soumettre la demande</button>
        </li>
      </ul>
    </form>
  </div>
{% endblock content %}

{% block extrajs %}
	<script type="module" src="{% static 'js/generic-habilitation-request-profile-card.mjs' %}"></script>
{% endblock extrajs %}
