{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Session expirée{% endblock %}

{% block extracss %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section">
  <form method="post">
      <h1>Bonjour {{ aidant.get_full_name }}</h1>
      <h2>Votre session a expiré</h2>
      {% if form.errors %}
        <div class="notification warning">Ce code n'est pas valide</div>
      {% endif %}
      {% csrf_token %}
        <div class="form__group">
          <label>{{ form.otp_token.label_tag }}</label>
          {{ form.otp_token }}
          <button type="submit" class="button">Valider</button>
        </div>
  </form>
</section>
{% endblock content %}
