{% load dsfr_tags form_extras %}

{% if errors %}
  <section class="fr-my-4v fr-input-group fr-input-group--error">
    {{ errors }}
  </section>
{% endif %}
{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-md-6 fr-my-4v">
    {% aidantc_dsfr_form_field_no_asterisk form.first_name %}
  </div>
  <div class="fr-col-12 fr-col-md-6 fr-my-4v">
    {% aidantc_dsfr_form_field_no_asterisk form.last_name %}
  </div>
</div>

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-md-6 fr-my-4v">
    {% aidantc_dsfr_form_field_no_asterisk form.profession %}
  </div>
  <div class="fr-col-12 fr-col-md-6 fr-my-4v">
    {% aidantc_dsfr_form_field_no_asterisk form.organisation %}
  </div>
</div>

{% with field=form.conseiller_numerique|dsfr_inline|dsfr_input_class_attr %}
  <fieldset
    class="fr-fieldset fr-mt-4v{% if field.errors %} fr-fieldset--error{% endif %}"
    id="radio-{{ field.auto_id }}"
    {% if field.errors %}aria-describedby="{{ field.auto_id }}-desc-error"{% endif %}
  >
    <legend class="fr-fieldset__legend fr-fieldset__legend--regular" id="{{ field.auto_id }}-legend">
      {{ field.label }}
    </legend>
    {% for subwidget in field.subwidgets %}
      <div class="fr-fieldset__element fr-fieldset__element--inline">
        {{ subwidget }}
      </div>
    {% endfor %}
    {% if field.errors %}
      <div class="fr-messages-group" id="{{ field.auto_id }}-desc-error" aria-live="assertive">
        {{ field.errors }}
      </div>
    {% endif %}
  </fieldset>
{% endwith %}

<div class="fr-mb-4v">
  {% aidantc_dsfr_form_field_no_asterisk form.email %}
  {# Static guidance: no role="alert" (not an urgent status message). #}
  <div class="fr-alert fr-alert--warning fr-alert--sm">
    <p class="fr-alert__title fr-mb-0">
      Toutes les adresses e-mail renseignées dans la demande doivent être nominatives (de type prenom-nom@exemple.fr)
    </p>
  </div>
</div>
