<form
  method="post"
  action="{% url "espace_responsable_aidant_remove_card" aidant_id=aidant.id %}"
>
  {% csrf_token %}
  <p>
    Pour supprimer l'association entre la carte {{ aidant.carte_totp.serial_number }}
    et le compte de l'aidant {{ aidant.get_full_name }},
    cliquez sur le bouton «&nbsp;Dissocier&nbsp;».
  </p>
  {% if form.reason.errors %}<div class="notification error" role="alert">{{ form.reason.errors }}</div>{% endif %}
  <p>
    <label for="{{ form.reason.id_for_label }}">Pourquoi séparer cette carte du compte ?</label>
    {{ form.reason }}
  </p>

  {% if form.other_reason.errors %}<div class="notification error" role="alert">
    {{ form.other_reason.errors }}
  </div>{% endif %}
  <p>
    <label for="{{ form.other_reason.id_for_label }}">Autre raison :</label>
    {{ form.other_reason }}
  </p>
  <p>
    <button class="button warning" type="submit">Dissocier</button>
  </p>
</form>
