{% load ac_common ac_extras form_extras %}
<div class="fr-table fr-table--no-caption d-table fr-table--bordered fr-table--layout-fixed">
  <table>
    <caption>Table des aidants</caption>
    <thead>
      <tr>
        <th scope="col" class="fr-text--md fr-col-3">Nom</th>
        <th scope="col" class="fr-text--md fr-col-8">Carte(s) Aidants Connect</th>

        <th scope="col" class="fr-text--md fr-col-1">
          <div class="flex flex-right">Outils</div>
        </th>
      </tr>
    </thead>
    <tbody{% class_attr table_class|default:"" %}>
    {% for aidant in aidants %}
      <tr>
        <td>
          {% if aidant.statut %}
            {{ aidant.get_full_name }}
          {% elif aidant.pk == responsable.pk %}
            {{ aidant.get_full_name }} (Référent)
          {% else %}
            <a class="fr-link" href="{% url 'espace_responsable_aidant' aidant_id=aidant.id %}">
              {{ aidant.get_full_name }}
            </a>
          {% endif %}
        </td>
        <td>
          {% if aidant.status %}
            <p class="fr-badge {% referent_request_status_badge aidant.status %}">{{ aidant.get_status_display }}</p>
          {% else %}
            {% if aidant.has_a_totp_device_confirmed_or_not %}
                {% if aidant.has_a_carte_totp %}
                  <div class="fr-text--md">
                    {{ aidant.number_totp_card }}
                    {% if not aidant.carte_totp.totp_device.confirmed and aidant.is_active %}
                      <div class="fr-alert fr-alert--error fr-mt-2w">
                        <p>
                          Attention : Le fonctionnement de cette carte n’a pas été vérifié.
                          Vous devez valider la carte pour permettre à {{ aidant.get_full_name }}
                          de se connecter à Aidants Connect.
                        </p>
                      </div>
                    {% endif %}
                    {% if not aidant.is_active %}
                      <div class="fr-alert fr-alert--error fr-mt-2w">
                        <p>Attention, veillez à bien délier et récupérer la carte de cet aidant désactivé</p>
                      </div>
                    {% endif %}
                  </div>
                {% else %}
                  <div class="fr-text--md">
                    {% if aidant.is_active %}
                      <a
                        id="manage-totp-cards-for-aidant-{{ aidant.id }}"
                        href='{% url "espace_responsable_choose_totp" aidant_id=aidant.id %}' class="fr-link"
                      >
                      Lier une carte
                      </a>
                    {% else %}
                      Pas de carte associée
                    {% endif %}
                  </div>
                {% endif %}
                {% if aidant.has_otp_app %}
                  <p>Une carte numérique est associée à ce profil</p>
                {% endif %}
            {% else %}
              {% if aidant.is_active %}
                      <a
                        id="manage-totp-cards-for-aidant-{{ aidant.id }}"
                        href='{% url "espace_responsable_choose_totp" aidant_id=aidant.id %}' class="fr-link"
                      >
                      Lier une carte
                      </a>
               {% if aidant.connexion_mode %}
                           <br />  Moyen de connexion voulu : {{ aidant.connexion_mode }}
                {% endif %}
                    {% endif %}
            {% endif %}
          {% endif %}
        </td>
        <td>
          <div class="flex flex-right">
            {% if not aidant.status %}
              {% if aidant.has_a_carte_totp or aidant.is_active %}
                <div class="custom-dropdown" id="aidant-{{ aidant.id }}-contextual-actions">
                  <button class="fr-btn fr-btn--tertiary-no-outline fr-icon-more-line"
                          aria-expanded="false"
                          aria-haspopup="true"
                          tabindex="0">
                          <span class="fr-sr-only">Actions</span>
                  </button>

                  <div class="custom-dropdown__menu">
                    {% if aidant.is_active %}
                      <div class="fr-toggle fr-toggle--border-bottom">
                        <form method="post" style="display: contents;">
                          {% csrf_token %}
                          <input type="hidden" name="candidate" value="{{ aidant.pk }}">
                          <button type="submit" class="fr-btn fr-btn--tertiary-no-outline">
                            Désigner comme référent
                          </button>
                        </form>
                      </div>
                    {% endif %}

                    {% if aidant.pk != referent.pk and aidant.is_active %}
                      <a href="{% url 'espace_responsable_remove_aidant_from_organisation' aidant_id=aidant.id organisation_id=organisation.id %}"
                          class="fr-btn fr-btn--tertiary-no-outline"
                          id="remove-aidant-{{ aidant.id }}-from-organisation">
                        {% if aidant.organisations.count > 1 %}
                          Retirer l'aidant de l'organisation
                        {% else %}
                          Désactiver l'aidant
                        {% endif %}
                      </a>
                    {% endif %}

                  <a href="{% url 'espace_responsable_choose_totp' aidant_id=aidant.id %}"
                      class="fr-btn fr-btn--tertiary-no-outline"
                      id="manage-totp-cards-for-aidant-{{ aidant.id }}">
                    Gérer les cartes OTP
                  </a>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
