{% load ac_common form_extras %}
<table class="table aidants-list">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Email</th>
    <th>Carte Aidants Connect</th>
    <th><span class="sr-only">Retirer un aidant</span></th>
  </tr>
  </thead>
  <tbody{% class_attr table_class|default:"" %}>
  {% for aidant in aidants %}
    <tr>
      <td>
        {% if aidant.pk == responsable.pk %}
          {{ aidant.get_full_name }} (Responsable)
        {% else %}
          <a href="{% url 'espace_responsable_aidant' aidant_id=aidant.id %}">
            {{ aidant.get_full_name }}{% if aidant.pk in responsables %} (Responsable){% endif %}
          </a>
        {% endif %}
      </td>
      <td>{% mailto recipient=aidant.email %}</td>
      <td>
        {{ aidant.number_totp_card }}

        {% if aidant.has_a_carte_totp and not aidant.carte_totp.totp_device.confirmed %}
          <p class="unverified-card-warning shadowed red padding-1rem">
            Attention : Le fonctionnement de cette carte n’a pas été vérifié.
            Vous devez valider la carte pour permettre à {{ aidant.get_full_name }}
            de se connecter à Aidants Connect.
          </p>
        {% endif %}
      </td>
      <td>
        {% if aidant.pk != responsable.pk and aidant.is_active %}
          <a
            id="remove-aidant-{{ aidant.id }}-from-organisation"
            href="{% url 'espace_responsable_remove_aidant_from_organisation' aidant_id=aidant.id organisation_id=organisation.id %}"
            class="button"
          >
            {% if aidant.organisations.count > 1 %}
              Retirer l’aidant de l’organisation
            {% else %}
              Désactiver l’aidant
            {% endif %}
          </a>
        {% endif %}

        {% if aidant.is_active %}
          {% if not aidant.has_a_carte_totp %}
            <a
              id="add-totp-card-to-aidant-{{ aidant.id }}"
              href="{% url "espace_responsable_associate_totp" aidant_id=aidant.id %}"
              class="button"
            >
              Lier une carte
            </a>
          {% elif not aidant.carte_totp.totp_device.confirmed %}
            <a
              id="validate-totp-card-for-aidant-{{ aidant.id }}"
              href="{% url "espace_responsable_validate_totp" aidant_id=aidant.id %}"
              class="button"
            >
              Valider la carte
            </a>
          {% endif %}
          {% if not aidant.has_otp_app %}
            <a
              id="add-otp-app-to-aidant-{{ aidant.id }}"
              href="{% url 'espace_responsable_aidant_add_app_otp' aidant_id=aidant.id %}"
              class="button"
            >
              Ajouter une application OTP
            </a>
          {% endif %}
        {% endif %}
        {% if aidant.has_a_carte_totp %}
          <a
            id="remove-totp-card-from-aidant-{{ aidant.id }}"
            href="{% url "espace_responsable_aidant_remove_card" aidant_id=aidant.id %}"
            class="button"
          >
            Délier la carte
          </a>
        {% endif %}
        {% if aidant.has_otp_app %}
          <a
            id="add-otp-app-to-aidant-{{ aidant.id }}"
            href="{% url 'espace_responsable_aidant_remove_app_otp' aidant_id=aidant.id %}"
            class="button"
          >
            Supprimer une application OTP
          </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
