{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Fiche aidant : {{ aidant.get_full_name }}{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace_aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <section class="section">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      <h1>Fiche aidant : {{ aidant.get_full_name }}, {{ aidant.profession }}</h1>
      <div class="tiles">
        <div class="grid">
          <div class="tile background-color-grey">
            <h2>Carte Aidants Connect</h2>
            {% with aidant.carte_totp.serial_number as sn %}
              {% if sn %}
                <p><span aria-hidden="true">💳 </span>{{ sn }}</p>
              {% else %}
                <p>
                  Aucune carte associée à {{ aidant.get_full_name }}.
                </p>
              {% endif %}
            {% endwith %}
          </div>
          <div class="tile background-color-grey">
            <h2>Profession</h2>
            <p>{{ aidant.profession }}</p>
          </div>
          <div class="tile background-color-grey">
            <h2>Adresse e-mail</h2>
            <p>{{ aidant.email }}</p>
          </div>
        </div>
      </div>
      <div class="section actions">
        <h2>Actions</h2>
        {% if aidant.carte_totp.serial_number %}
          <details class="background-color-grey">
            <summary>Dissocier la carte {{ aidant.carte_totp.serial_number }} du compte</summary>
            <form method="post" action="{% url "espace_responsable_aidant_remove_card" organisation_id=organisation.id aidant_id=aidant.id %}">
              {% csrf_token %}
              <p>
                Pour supprimer l'association entre la carte {{ aidant.carte_totp.serial_number }}
                et le compte de l'aidant {{ aidant.get_full_name }},
                cliquez sur le bouton «&nbsp;Dissocier&nbsp;».
              </p>
              <div class="form__group">
                <label for="{{ form.reason.id_for_label }}">Pourquoi séparer cette carte du compte ?</label>
                {{ form.reason }}
              </div>
              <p>
                <label for="{{ form.other_reason.id_for_label }}">Autre raison :</label>
                {{ form.other_reason }}
              </p>
              <p>
                <button class="button warning" type="submit">Dissocier</button>
              </p>
            </form>
          </details>
        {% else %}
          <p>
            <a href="{% url "espace_responsable_associate_totp" organisation_id=organisation.id aidant_id=aidant.id %}"
               class="button large">
              <span aria-hidden="true">💳 </span>
              Lier une carte Aidants Connect
            </a>
          </p>
        {% endif %}
        {# todo : actions d'activation / désactivation des comptes #}
      </div>
    </div>
  </section>
{% endblock content %}
