{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Fiche aidant : {{ aidant.get_full_name }}{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace_aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <section class="section">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      <h1>Fiche aidant : {{ aidant.get_full_name }}</h1>

    </div>
  </section>
{% endblock content %}
