{% extends 'layouts/main-habilitation.html' %}

{% load static form_extras %}

{% block title %}Aidants Connect - Suppression d’une application OTP pour {{ aidant.get_full_name }}{% endblock %}

{% block content %}
  <div class="fr-container">
    {% if messages %}
      {% for message in messages %}
        <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <p>Vous vous apprêtez à supprimer l’application OTP du profil de {{ aidant.get_full_name }}.</p>
      <p>Confirmez-vous cette action ?</p>
      <a href="{% url 'espace_responsable_home' %}" class="button">Annuler</a>
      <input type="submit" class="button" value="Confirmer">
    </form>
  </div>
{% endblock content %}
