{% extends "aidants_connect_web/espace_responsable/layout/main.html" %}

{% load static ac_common %}

{% block title %}Aidants Connect - Annuler la demande de formation{% endblock %}

{% block content %}
  <section class="section">
    <div class="fr-container">
      {% include "layouts/_messages.html" %}

      <h1>Annuler la demande de formation</h1>

      <form method="post">
        {% csrf_token %}
        <p>Confirmez-vous l’annulation de la demande de formation pour ce profil ?</p>

        <p>
          {{ request.aidant_full_name }}<br/>
          {% mailto recipient=request.email %}<br/>
          {{ request.profession }}<br/>
        </p>

        <a class="button" href="{% url 'espace_responsable_organisation' %}">Annuler</a>

        <input
          id="submit-button"
          class="button primary float-right"
          type="submit"
          value="Annuler cette demande"
        />
      </form>
    </div>
  </section>
{% endblock %}
