{% extends 'aidants_connect_web/espace_responsable/layout/main.html' %}
{% load static ac_common ac_extras dsfr_tags %}

{% block title %}Demandes d'habilitation - Aidants Connect{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace-aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="fr-container">
    <h1>Demandes en cours</h1>
  
    {% dsfr_django_messages %}

    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        {% include "aidants_connect_web/espace_aidant/notifications.html" with user=referent %}
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters margin-bottom-2rem">
      {% for notification in referent_notifications %}
        <div
          class="fr-col-12"
          {% if notification.must_ack %}
          data-controller="notification"
          data-notification-url-value="{% url 'notification_mark' notification_id=notification.pk %}"
          {% endif %}
        >
          <div class="fr-alert{% if notification.type == notification_type.WARNING %} fr-alert--warning{% elif notification.type == notification_type.INFORMATION %} fr-alert--info{% else %} fr-alert--info{% endif %}"> 
            <h3 class="fr-alert__title">{{ notification.type_label }}</h3>
            <p>{{ notification.to_html }}</p>
            {% if notification.must_ack %}
              <button
                class="fr-btn--close fr-btn"
                title="Masquer le message"
                data-action="notification#markRead"
              >
                Masquer le message
              </button>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="fr-container fr-mt-4w">
    <h2 class="fr-h3 fr-text-blue-france" id="habilitation-requests"><span class="fr-icon-check-line fr-mr-1v" aria-hidden="true"></span>Demandes validées</h2>
    <div class="fr-table fr-table--no-caption d-table fr-table--bordered  fr-table--layout-fixed">
      <table>
        <caption>Table des demandes d'habilitations validées</caption>
        <thead>
          <tr>
            <th scope="col" class="fr-col-3 fr-text--md">Nom</th>
            <th scope="col" class="fr-col-3 fr-text--md">Email</th>
            <th scope="col" class="fr-col-3 fr-text--md">Formation</th>
            <th scope="col" class="fr-col-3 fr-text--md">
              <div class="flex flex-right">Action</div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% if organisation_habilitation_validated %}
            {% for validation in organisation_habilitation_validated %}
            <tr>
              <td>
                <a class="fr-link" href="{% url 'espace_responsable_aidant' aidant_id=validation.id %}">
                  {{ validation.get_full_name }}
                </a>
              </td>
              <td class="fr-text--md">{{ validation.email }}</td>
              <td class="fr-text--md">
                <span class="fr-mr-1v">
                  {% if validation.status|lower == "processing" %}
                    Session
                  {% elif validation.status|lower == "processing_p2p" %}
                    Pair à pair
                  {% endif %}
                </span>
                {% if validation.formations.exists %}
                  <span class="fr-badge fr-badge--success">inscrit</span>
                {% else %}
                  <span class="fr-badge fr-badge--warning">non inscrit</span>
                  
                {% endif %} 
              </td>
              <td>
                <div class="flex flex-right">
                  {% if not validation.formations.exists %}
                    <a 
                      id="register-habilitation-request-{{ validation.id }}"
                      href="{% url 'espace_responsable_register_formation' request_id=validation.id %}"
                      class="fr-mr-2w fr-btn fr-btn--secondary fr-text--sm"
                    >
                      Inscrire à une formation
                    </a>
                  {% endif %} 
                  {% if validation.status_cancellable_by_responsable %}
                    <details>
                      <summary>
                        <span>...</span>
                      </summary>
                      <div class="details-content fr-p-2w">
                        <a
                          id="cancel-habilitation-request-{{ validation.id }}"
                          href="{% url 'espace_responsable_cancel_habilitation' request_id=validation.id %}"
                        >
                          Annuler la demande
                        </a>
                      </div>
                    </details>
                  {% endif %}
                </div>
              </td>
            </tr>
            {% endfor %}
          {% else %}
            <tr><td colspan="3" class="alt-grey-background">
              <div class="fr-text--center fr-text--md">Vous n'avez pas de demandes validées</div>
            </td></tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="fr-container fr-mt-4w">
    <h2 class="fr-h3" id="habilitation-requests"><span class="fr-icon-flashlight-fill fr-mr-1v fr-text-blue-france" aria-hidden="true"></span>Demandes d’habilitation en cours</h2>
    <div class="fr-table fr-table--no-caption d-table fr-table--bordered fr-table--layout-fixed">
      <table>
        <caption>Table des demandes d'habilitations en cours</caption>
        <thead>
          <tr>
            <th scope="col" class="fr-col-3 fr-text--md">Nom</th>
            <th scope="col" class="fr-col-3 fr-text--md">Email</th>
            <th scope="col" class="fr-col-6 fr-text--md">
              <div class="flex flex-right">Action</div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% if organisation_habilitation_requests %}
            {% for request in organisation_habilitation_requests %}
              <tr>
                <td>
                  <a class="fr-link" href="{% url 'espace_responsable_aidant' aidant_id=request.id %}">
                    {{ request.get_full_name }}
                  </a>
                </td>
                <td class="fr-text--md">{{ request.email }}</td>
                <td>
                  <div class="flex flex-right">
                    {% if request.status_cancellable_by_responsable %}
                    <details>
                      <summary>
                        <span>...</span>
                      </summary>
                      <div class="details-content fr-p-2w">
                        <a
                          id="cancel-habilitation-request-{{ request.id }}"
                          href="{% url "espace_responsable_cancel_habilitation" request_id=request.id %}"
                          >
                          Annuler la demande
                        </a>
                      </div>
                    </details>
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr><td colspan="3" class="alt-grey-background">
              <div class="fr-text--center">Vous n’avez pas de demandes en attente de validation</div>
            </td></tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="fr-container fr-mt-4w">
    <h2 class="fr-h3 fr-text-grey" id="habilitation-requests"><span class="fr-icon-error-fill fr-mr-1v" aria-hidden="true"></span>Demandes refusées</h2>
    <div class="fr-table fr-table--no-caption fr-table--bordered  fr-table--layout-fixed">
      <table>
        <caption>Table des demandes d'habilitations refusées</caption>
        <thead>
          <tr>
            <th scope="col" class="fr-col-3 fr-text--md">Nom</th>
            <th scope="col" class="fr-col-3 fr-text--md">Email</th>
            <th scope="col" class="fr-col-6 fr-text--md">Statut</th>
          </tr>
        </thead>
        <tbody>
          {% if organisation_habilitation_refused %}
          
            {% for refus in organisation_habilitation_refused %}
            <tr>
              <td class="fr-text--md">
                <a class="fr-link" href="{% url 'espace_responsable_aidant' aidant_id=refus.id %}">
                  {{ refus.get_full_name }}
                </a>
              </td>
              <td class="fr-text--md">{{ refus.email }}</td>
              <td class="fr-text--md">
                {% if refus.status|lower == "refused" %}
                  <span class="fr-badge fr-badge--warning"> {{ refus.get_status_display }}</span>
                {% elif refus.status|lower == "status_cancelled_by_responsable" %}
                  <span class="fr-badge fr-badge--info"> {{ refus.get_status_display }}</span>
                {% endif %}
               </td>
            </tr>
            {% endfor %}
          {% else %}
          tr><td colspan="3" class="alt-grey-background">
            <div class="fr-text--center">Vous n'avez pas de demandes refusées ou annulées</div>
            </td></tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}

{% block extrajs %}
  {% stimulusjs %}
  <script defer type="module" src="{% static 'js/notifications.js' %}"></script>
{% endblock %}
