{% extends 'layouts/main.html' %}

{% load static dsfr_tags %}

{% block title %}Aidants Connect - Ajouter un aidant à une organisation{% endblock %}

{% block content %}
  <div class="fr-container">
    {% dsfr_django_messages %}

    <h1>Habiliter de nouveaux aidants</h1>
    <div class="fr-grid-row">
      <p>
        Pour ajouter un aidant à votre organisation, vous devez formuler une nouvelle demande d’habilitation à l’aide du
        formulaire ci-dessous. Tous les champs sont obligatoires.
      </p>
      <form method="post" action="{% url 'espace_responsable_aidant_new' %}" class="fr-col-12">
        {% csrf_token %}
        {{ form.management_form }}
        {% with form=form.empty_form %}
        	<section id="empty-form" class="fr-col-12 fr-col-md-6">
              {% dsfr_form %}
              <button
                class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-user-add-line"
                type="submit"
                formaction="{% url 'espace_responsable_aidant_new' %}?commit=false"
              >
                Ajouter un autre aidant
              </button>
            </section>
        {% endwith %}
        {% if form.forms %}
          <section id="added-forms">
            {% for form in form.forms %}
              <section id="added-form-{{ forloop.counter0 }}">
                {%  dsfr_form %}
              </section>
            {% endfor %}
          </section>
        {% endif %}
        <button class="fr-btn" type="submit">Demander l'habilitation</button>
      </form>
    </div>
  </div>
{% endblock content %}
