{% extends 'layouts/main-habilitation.html' %}

{% load static dsfr_tags %}

{% block title %}Aidants Connect - Ajouter un aidant à une organisation{% endblock %}

{% block content %}
  <div class="fr-container">
    {% include "layouts/_messages.html" %}

    <div class="fr-grid-row fr-grid-row--center">
      <h2 class="fr-mt-8v">Ajouter un aidant à une de vos organisations</h2>
      <p>
        Pour ajouter un aidant, vous devez formuler une demande d'habilitation à l'aide du
        formulaire ci-dessous. Tous les champs sont obligatoires.
      </p>
      <form method="post" class="fr-col-12 fr-col-lg-6 fr-col-md-8">
        <section class="fr-my-4v">{{ form.non_field_errors }}</section>
        {% csrf_token %}
        {% dsfr_form %}
        <button class="fr-btn" type="submit">Demander l'habilitation</button>
      </form>
    </div>
  </div>
{% endblock content %}
