{% extends 'layouts/main-habilitation.html' %}
{% load static ac_common ac_extras %}

{% block title %}Aidants Connect - Mon organisation{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace-aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="fr-container">
    {% if messages %}
      {% for message in messages %}
        <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <h1>Mon organisation</h1>
    <h2>{{ organisation.name }}</h2>
    <p class="subtitle">
      Retrouvez ici des outils à votre disposition, externes à Aidants Connect mais susceptibles de vous aider dans vos
      démarches d’accompagnement.
    </p>

    <div class="fr-grid-row fr-grid-row--gutters margin-bottom-2rem">
      <div class="fr-col-12">
        {% include "aidants_connect_web/espace_aidant/notifications.html" with user=responsable %}
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters margin-bottom-2rem">
      <div class="fr-col-12">
        <div class="bandeau shadowed">
          <p>
            <span aria-hidden="true">⚠️</span> Attention : Aidants Connect travaille actuellement sur la
            pérennisation du service et l’adaptation des contenus de la formation. L’équipe Aidants Connect mènera
            d’ici fin 2023 des expérimentations pour former des cohortes d’aidants selon des nouvelles modalités et en
            fonction des métiers des personnes concernées. Nous reviendrons vers vous si votre structure fait partie
            des structures concernées par les premières expérimentations.
          </p>
        </div>
      </div>
    </div>

    {% include "aidants_connect_web/espace_aidant/statistics.html" %}

    <h2 class="clearfix">
      Aidants
      <span class="float-right">
        {% if organisation_active_aidants|length > 1 %}{# Organisation has more aidants than just the référent #}
          <a
            href="{% url 'espace_responsable_organisation_responsables' organisation_id=organisation.id %}"
            class="button"
          >
            <span aria-hidden="true">⚙️ </span>Désigner un ou une référente
          </a>
        {% endif %}
        <a href="{% url "espace_responsable_aidant_new" %}" class="button">
          <span aria-hidden="true">👩 </span>Ajouter un aidant
        </a>
      </span>
    </h2>

    {% if organisation_active_responsables %}
      <h3>Référents</h3>
      {% include "aidants_connect_web/espace_responsable/_organisation_aidants_list.html" with aidants=organisation_active_responsables table_class="shadowed blue-green" %}
    {% endif %}

    {% if organisation_active_aidants %}
      <h3>Aidants actifs</h3>
      {% include "aidants_connect_web/espace_responsable/_organisation_aidants_list.html" with aidants=organisation_active_aidants table_class="shadowed" %}
    {% endif %}

    {% if organisation_habilitation_requests %}
      <h3>Demandes d’habilitation en cours</h3>

      <table class="table habilitation-list">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Profession</th>
          <th>État de la demande</th>
          <th><span class="sr-only">Actions sur la demande d’habilitation</span></th>
        </tr>
        </thead>
        <tbody class="shadowed blue">
        {% for request in organisation_habilitation_requests %}
          <tr>
            <td>{{ request.aidant_full_name }}</td>
            <td>{% mailto recipient=request.email %}</td>
            <td>{{ request.profession }}</td>
            <td>
              <div class="tooltip request-status-{{ request.status|lower }}">
                {{ request.get_status_display }}
                <div class="tooltiptext request-status-{{ request.status|lower }}">
                  {% if request.status|lower == "habilitation_waitling_list" %}
                    Les prochaines sessions de formation sur votre territoire sont complètes.
                    Nous contacterons cet aidant dès que possible.
                  {% elif request.status|lower == "new" %}
                    Cet aidant vient d’être ajouté sur l’espace du référent Aidants Connect
                  {% elif request.status|lower == "processing" %}
                    L’équipe Aidants Connect a validé l’ajout de cet aidant, il est en cours de formation.
                  {% elif request.status|lower == "refused" %}
                    La demande d’ajout de cet aidant est refusée pour l’une des raisons suivantes :
                    <ul>
                      <li>l’aidant n’est pas éligible au dispositif (ex: infirmier),</li>
                      <li>
                        l’adresse email ne respecte pas les critères d’éligibilité (nominative et professionnelle),
                      </li>
                      <li>l’aidant est déjà identifié dans la base de données.</li>
                    </ul>
                  {% elif request.status|lower == "cancelled" %}
                    À la demande de l’aidant, l’habilitation est annulée
                  {% elif request.status|lower == "status_cancelled_by_responsable" %}
                    À votre demande, l’habilitation est annulée
                  {% endif %}
                </div>
              </div>
            </td>
            <td>
              {% if request.status_cancellable_by_responsable %}
                <a
                  id="cancel-habilitation-request-{{ request.id }}"
                  href="{% url "espace_responsable_cancel_habilitation" request_id=request.id %}"
                  class="button"
                >
                  Annuler la demande
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if organisation_inactive_aidants %}
      <h3>Aidants désactivés</h3>
      {% include "aidants_connect_web/espace_responsable/_organisation_aidants_list.html" with aidants=organisation_inactive_aidants table_class="shadowed grey" %}
    {% endif %}
  </div>
{% endblock content %}
