{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Mon organisation{% endblock %}

{% block extracss %}
<link href="{% static 'css/espace_aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section">
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <h1>Mon organisation : {{ organisation.name }}</h1>
    <div class="tiles">
      <div class="grid">
        <div class="tile background-color-grey">
          <h3>Adresse</h3>
          <p>{{ organisation.address }}</p>
        </div>
        <div class="tile background-color-grey">
          <h3>Aidants actifs</h3>
          <h5>{{ organisation.num_active_aidants }}</h5>
        </div>
        <div class="tile background-color-grey">
          <h3>Mandats créés</h3>
          <h5>{{ organisation.num_mandats }}</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-grey">
  <div class="container">
    <h2>Aidants actifs</h2>
    {% if organisation_active_aidants %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="th-50">Nom</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for aidant in organisation_active_aidants %}
            <tr>
              <td>{{ aidant.get_full_name }}</td>
              <td>{{ aidant.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="notification" role="alert">L'organisation n'a pas encore d'aidants.</div>
    {% endif %}
  </div>
</section>
{% endblock content %}
