{% extends 'aidants_connect_web/espace_responsable/layout/main.html' %}
{% load ac_common ac_extras static %}

{% block title %}Référents - Aidants Connect{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace-aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="fr-container">
    {% include "layouts/_messages.html" %}

    <h1>Référents</h1>

    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        {% include "aidants_connect_web/espace_aidant/notifications.html" with user=referent %}
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters margin-bottom-2rem">
      {% for notification in referent_notifications %}
        <div
          class="fr-col-12"
          {% if notification.must_ack %}
          data-controller="notification"
          data-notification-url-value="{% url 'notification_mark' notification_id=notification.pk %}"
          {% endif %}
        >
          <div class="fr-alert{% if notification.type == notification_type.WARNING %} fr-alert--warning{% elif notification.type == notification_type.INFORMATION %} fr-alert--info{% else %} fr-alert--info{% endif %}">
            <h3 class="fr-alert__title">{{ notification.type_label }}</h3>
            <p>{{ notification.to_html }}</p>
            {% if notification.must_ack %}
              <button
                class="fr-btn--close fr-btn"
                title="Masquer le message"
                data-action="notification#markRead"
              >
                Masquer le message
              </button>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="fr-grid-row flex-between">
      <h2 class="fr-h3" id="active-aidants">Référents actifs</h2>
      <div class="fr-grid-row">
        <div class="unset-summary fr-mr-1w">
          <details>
            <summary>
              <div class="fr-btn fr-btn--secondary">Guides</div>
            </summary>
            <div class="details-content fr-p-2w">
              <a
                href='{% static "guides_aidants_connect/AC_Guide_LierUneCarte.pdf" %}'
                target="_blank"
                rel="noreferrer noopener"
                >
                  Comment lier une carte ?
                </a>
                <br />
                <a
                  href='{% static "guides_aidants_connect/AC_Guide_Sauthentifier.pdf" %}'
                  target="_blank"
                  rel="noreferrer noopener"
                >
                Sʼauthentifier avec Aidants Connect
              </a>
            </div>
          </details>
        </div>
        <div>
          <a
          href="{% url 'espace_responsable_organisation_responsables' organisation_id=organisation.id %}"
          class="fr-btn fr-btn--icon-left fr-icon-user-add-fill"
          >
            Ajouter un ou une référente
          </a>
        </div>
      </div>
    </div>
    <div class="referent-table">
      {% if organisation_active_referents %}
      {% include "aidants_connect_web/espace_responsable/_organisation_aidants_list.html" with aidants=organisation_active_referents %}
      {% else %}
      Il n'y a pas de référent actif pour cette organisation
      {% endif %}
    </div>
  </div>

  {% if organisation_inactive_referents %}
    <div class="fr-container inactives-aidants fr-mt-4w">
      <h2 class="fr-h3" id="inactive-referents">Référents désactivés</h2>
        {% include "aidants_connect_web/espace_responsable/_organisation_aidants_list.html" with aidants=organisation_inactive_referents %}
    </div>
  {% endif %}
{% endblock content %}

{% block extrajs %}
  {% stimulusjs %}
  <script defer type="module" src="{% static 'js/new-mandat.mjs' %}"></script>
{% endblock extrajs %}
