{% extends 'aidants_connect_web/espace_responsable/layout/main.html' %}
{% load ac_common ac_extras static %}

{% block title %}Gestion des référents - Aidants Connect{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace-aidant.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom-dropdown.css' %}" rel="stylesheet">

{% endblock extracss %}

{% block content %}
  <div class="fr-container">
    {% include "layouts/_messages.html" %}
    {% include "aidants_connect_web/espace_aidant/notifications.html" with user=referent %}

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
      {% for notification in referent_notifications %}
        <div
          class="fr-col-12"
          {% if notification.must_ack %}
          data-controller="notification"
          data-notification-url-value="{% url 'notification_mark' notification_id=notification.pk %}"
          {% endif %}
        >
          <div class="fr-alert{% if notification.type == notification_type.WARNING %} fr-alert--warning{% elif notification.type == notification_type.INFORMATION %} fr-alert--info{% else %} fr-alert--info{% endif %}">
            <h3 class="fr-alert__title">{{ notification.type_label }}</h3>
            <p>{{ notification.to_html }}</p>
            {% if notification.must_ack %}
              <button
                class="fr-btn--close fr-btn"
                title="Masquer le message"
                data-action="notification#markRead"
              >
                Masquer le message
              </button>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="fr-grid-row fr-grid-row--middle flex-between fr-mb-4w">
      <h1 class="fr-h2">Gestion des référents</h1>
      <div class="fr-grid-row fr-grid-row--middle">
        <div class="unset-summary fr-mr-1w">
          <details>
            <summary>
              <div class="fr-btn fr-btn--secondary">Guides</div>
            </summary>
            <div class="details-content fr-p-2w">
              <a
                href='{% static "guides_aidants_connect/AC_Guide_LierUneCarte.pdf" %}'
                target="_blank"
                rel="noreferrer noopener"
                >
                  Comment lier une carte ?
                </a>
                <br />
                <a
                  href='{% static "guides_aidants_connect/AC_Guide_Sauthentifier.pdf" %}'
                  target="_blank"
                  rel="noreferrer noopener"
                >
                Sʼauthentifier avec Aidants Connect
              </a>
            </div>
          </details>
        </div>
        <div>
          <a
          href="{% url 'espace_responsable_organisation_responsables' organisation_id=organisation.id %}"
          class="fr-btn fr-btn--icon-left fr-icon-user-add-fill"
          >
            Ajouter un ou une référente
          </a>
        </div>
      </div>
    </div>
     <div class="fr-tabs">
      <ul class="fr-tabs__list" role="tablist" aria-label="Gestion des aidants">
          <li role="presentation">
              <button type="button" id="tab-1" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tab-1-panel">Référents actifs</button>
          </li>
          <li role="presentation">
              <button type="button" id="tab-2" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tab-2-panel">Référents désactivés</button>
          </li>
      </ul>
      <div id="tab-1-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tab-1" tabindex="0">
        {% if organisation_active_referents %}
          {% include "aidants_connect_web/espace_responsable/_organisation_aidants_list.html" with aidants=organisation_active_referents is_referent=True %}
        {% else %}
          Il n'y a pas de référent actif pour cette organisation.
        {% endif %}
      </div>
      <div id="tab-2-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tab-2" tabindex="0">
        {% if organisation_inactive_referents %}
          {% include "aidants_connect_web/espace_responsable/_organisation_inactives_aidants_list.html" with aidants=organisation_inactive_referents is_referent=True %}
        {% else %}
          Il n'y a pas de référent désactivé pour cette organisation.
        {% endif %}
    </div>
  </div>
{% endblock content %}

{% block extrajs %}
  <script type="module" src="{% static 'js/new-mandat.mjs' %}"></script>
{% endblock extrajs %}
