{% extends 'aidants_connect_web/espace_responsable/layout/main.html' %}
{% load ac_common dsfr_tags static %}

{% block title %}
  Connectez-vous{% if form.errors|length > 0 %} (Erreur dans le formulaire){% endif %} - Aidants Connect
{% endblock title %}

{% block content %}
  <div class="fr-container">
    <section>
      <p class="page-main-title">Référents</p>
      <h1>Ajouter un référent</h1>
    </section>

    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--row-gap-8v">
      <div class="fr-col-12 fr-col-lg-6">
        <h4>Ajouter un référent non-aidant</h4>
        <p>
          <em>
            Pour ajouter un coréférent de votre organisation qui nʼexerce pas le métier dʼaidant, veuillez remplir le
            formulaire ci-dessous.
          </em>
        </p>

        <hr class="fr-hr" />

        <form method="post">
          <div class="fr-grid-row fr-mb-6v">
            <div class="fr-col-12 fr-col-md-8">
              {% csrf_token %}
              {# Wait for the merge of https://github.com/numerique-gouv/django-dsfr/pull/101 #}
              {# {{ form }} #}
              {% for field in form.visible_fields %}
              	{% dsfr_form_field field %}
              {% endfor %}
              <p class="fr-text--sm fr-info-text">L’email doit être nominatif</p>
            </div>
          </div>
          <div class="fr-alert fr-alert--info fr-mb-8v">
            <p>L’ajout du référent sera confirmé après vérification des informations par nos équipes.</p>
          </div>
          <button class="fr-btn" type="submit">Ajouter un référent</button>
        </form>
      </div>
      <div class="fr-col-12 fr-col-lg-6">
        <h4>Désigner un aidant existant</h4>
        <p>
          <em>
            Pour désigner comme coréférent un aidant déjà habilité au sein de votre organisation, sélectionnez le
            ci-dessous.
          </em>
        </p>

        <hr class="fr-hr" />

        {% if organisation.responsables.all|length == 1 %}
          <p>
            Actuellement, votre organisation {{ organisation }} compte un seul référent :
            {{ organisation.responsables.first }}.
          </p>
        {% else %}
          <p>
            Actuellement, votre organisation {{ organisation }} compte {{ organisation.responsables.all|length }}
            référents :
          </p>
          <ul class="fr-my-6v">
            {% for responsable in organisation.responsables.all %}
              <li>
                <a class="fr-link" href="{% url 'espace_responsable_aidant' aidant_id=responsable.pk %}">
                  {{ responsable.get_full_name }} ({{ responsable.email }})
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <section class="fr-my-6v">
          {% for aidant in organisation.referents_eligible_aidants %}
            <form method="post" class="fr-m-4v flex">
              <p class="spacer fr-my-auto fr-mr-6v">
                <a class="fr-link" href="{% url 'espace_responsable_aidant' aidant_id=aidant.id %}">
                  {{ aidant.get_full_name }}
                </a>
              </p>
              {% csrf_token %}
              <input type="hidden" name="candidate" value="{{ aidant.pk }}" />
              <button type="submit" class="fr-btn fr-btn--secondary">Désigner comme référent</button>
            </form>
            {% if not forloop.last %}
              <hr class="fr-m-0 fr-p-0" />{% endif %}
          {% empty %}
            <p>Il nʼy a aucun profil qui peut être désigné au statut de référent.</p>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
{% endblock content %}
