{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Désigner un nouveau responsable pour {{ organisation }}{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace_aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <section class="section">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}

      <h1>Désigner un nouveau responsable pour {{ organisation }}</h1>
      {% if organisation.responsables.all|length == 1 %}
        <p>
          Actuellement, votre organisation {{ organisation }} compte un seul responsable
          : {{ organisation.responsables.first }}.
        </p>
      {% else %}
        <p>Actuellement, votre organisation {{ organisation }} compte {{ organisation.responsables.all|length }}
          responsables :</p>
        <ul>
          {% for responsable in organisation.responsables.all %}
            <li>{{ responsable }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <p>Vous pouvez désigner un responsable supplémentaire grâce au formulaire ci-dessous.</p>
      <form method="post">
        {% csrf_token %}
        {% with form.non_field_errors as errors %}
          {% if errors %}
            <div class="notification warning">
              {{ form.non_field_errors }}
            </div>
          {% endif %}
        {% endwith %}
        <div class="form__group">
          <label for="{{ form.candidate.id_for_label }}">Nouveau responsable :</label>
          <div>
            {{ form.candidate }}
          </div>
          {{ form.candidate.errors }}
        </div>

        <div class="form__group">
          <button class="button" type="submit">Valider</button>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}
