{% extends 'layouts/main-habilitation.html' %}

{% load static dsfr_tags %}

{% block title %}Aidants Connect - Désigner un nouveau référent pour {{ organisation }}{% endblock %}

{% block content %}
  <div class="fr-container">
    {% if messages %}
      {% for message in messages %}
        <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <div class="fr-grid-row fr-grid-row--center">
      <h2 class="fr-mt-8v">Désigner un nouveau référent pour {{ organisation }}</h2>
      <div class="fr-col-12 fr-col-lg-6 fr-col-md-8">
        {% if organisation.responsables.all|length == 1 %}
          <p>
            Actuellement, votre organisation {{ organisation }} compte un seul référent :
            {{ organisation.responsables.first }}.
          </p>
        {% else %}
          <p>
            Actuellement, votre organisation {{ organisation }} compte {{ organisation.responsables.all|length }}
            référents :
          </p>
          <ul>
            {% for responsable in organisation.responsables.all %}
              <li>{{ responsable.get_full_name }} ({{ responsable.email }})</li>
            {% endfor %}
          </ul>
        {% endif %}
        <p class="fr-mt-8v">Vous pouvez désigner un référent supplémentaire grâce au formulaire ci-dessous.</p>

        <form method="post">
          {% csrf_token %}
          {% dsfr_form %}
          <button class="fr-btn" type="submit">Dissocier</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
