{% extends 'layouts/main-habilitation.html' %}

{% load static %}

{% block title %}Aidants Connect - Valider la carte de {{ aidant.get_full_name }}{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace_aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-10">
        {% if messages %}
          {% for message in messages %}
            <div
              class="notification {% if message.tags %}{{ message.tags }}{% endif %}"
              role="alert"
            >{{ message }}</div>
          {% endfor %}
        {% endif %}

        <h1>Espace référent</h1>
        <h2>Lier une carte</h2>
        <p class="subtitle">Affectez une carte Aidant & {{ aidant.get_full_name }} en suivant les étapes ci-dessous.</p>

        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-md-8 margin-bottom-1rem">
            <p class="bold blue-text">Validation de la carte</p>

            <form class="margin-bottom-4rem" method="post">
              {% csrf_token %}
              <div class="shadowed margin-bottom-2rem padding-1rem">
                <label
                  class="margin-bottom-1rem"
                  for="{{ form.otp_token.id_for_label }}"
                >
                  Entrez le code à 6 chiffres fourni par votre carte.*
                </label>
                {{ form.otp_token }}
                {% if form.errors.otp_token %}
                  <div id="{{ form.otp_token.id_for_label }}-errors">
                    {{ form.errors.otp_token }}
                  </div>
                {% endif %}
              </div>

              <button class="button primary" type="submit">Valider cette carte</button>
            </form>
            <p class="em bold">* Aide</p>
            <p class="em">
              <span class="bold">Carte physique</span> Appuyez sur le bouton « PRESS » pour afficher le code.<br />
              <span class="bold">Carte numérique</span> Appuyez sur la ligne Aidant Connect dans l’application.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
