{% extends 'aidants_connect_web/espace_responsable/layout/main.html' %}

{% load dsfr_tags static %}

{% block title %}Aidants Connect - Valider la carte de {{ aidant.get_full_name }}{% endblock %}

{% block content %}
  <div class="fr-container">
    {% include "layouts/_messages.html" %}

    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-10">
        <h1>Espace référent</h1>
        <h2>Associer un moyen de connexion</h2>
        <p class="fr-text--lead">Affectez une carte Aidant à <strong>{{ aidant.get_full_name }}</strong> en suivant les étapes ci-dessous.</p>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-md-8">
            <p><strong>Validation de la carte</strong></p>
            <form method="post">
              {% csrf_token %}
              <div class="fr-mb-2w">
                {% dsfr_form_field form.otp_token %}
              </div>
              <button class="fr-btn" type="submit">Valider le code</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
