{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Fiche aidant : {{ aidant.get_full_name }}{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace_aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <section class="section">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}

      <ul class="steps-form">
        <li class="done">
          <div>
            Création du compte aidant
          </div>
        </li>
        <li class="active">
          <div>
            Saisie du numéro de série<br>de la carte TOTP
          </div>
        </li>
        <li>
          <div>
            Validation de la carte
          </div>
        </li>
      </ul>
      <h1>Étape 2/3 : saisie du numéro de série</h1>
      <form method="post">
        {% csrf_token %}
        <div class="form__group">
          <label for="{{ form.serial_number.id_for_label }}">
            Entrez le numéro de série de la carte TOTP que vous allez associer
            à {% if aidant.id == responsable.id %}votre compte{% else %}{{ aidant.get_full_name }}{% endif %}&nbsp;:
          </label>
          {{ form.serial_number }}
          {% if form.errors.serial_number %}
            <div id="{{ form.serial_number.id_for_label }}__errors">
              {{ form.errors.serial_number }}
            </div>
          {% endif %}
        </div>
        <div class="form__group">
          <button type="submit" class="button">Valider</button>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}
