{% extends 'layouts/main-habilitation.html' %}

{% load static %}

{% block title %}Aidants Connect - Associer la carte à {{ aidant.get_full_name }}{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace_aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-10">
        {% if messages %}
          {% for message in messages %}
            <div
              class="notification {% if message.tags %}{{ message.tags }}{% endif %}"
              role="alert"
            >{{ message }}</div>
          {% endfor %}
        {% endif %}

        <h1>Espace référent</h1>
        <h2>Lier une carte</h2>
        <p class="subtitle">Affectez une carte Aidant à {{ aidant.get_full_name }} en suivant les étapes ci-dessous.</p>

        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-md-8 margin-bottom-1rem">
            <p class="bold blue-text">Munissez-vous de la carte Aidant à affecter et consultez le verso.</p>

            <form method="post">
              {% csrf_token %}
              <div class="shadowed margin-bottom-2rem">
                <div class="fr-grid-row padding-1rem">
                  <div class="fr-col-12 fr-col-md-6">
                    <label
                      class="margin-bottom-1rem"
                      for="{{ form.serial_number.id_for_label }}"
                    >
                      Entrez le numéro de série
                    </label>
                    <div class="margin-top-1rem">
                      <span>GADT000 </span>{{ form.serial_number }}
                    </div>
                    {% if form.errors.serial_number %}
                      <div id="{{ form.serial_number.id_for_label }}__errors">
                        {{ form.errors.serial_number }}
                      </div>
                    {% endif %}
                  </div>
                  <div class="fr-col-12 fr-col-md-6">
                    <img
                      class="float-right"
                      src="{% static 'images/aidant-card-instructions.png' %}"
                      alt="Exemple de carte Aidants connect figurant le numéro de série sous la forme GADT000XXXX"
                    />
                  </div>
                </div>
              </div>

              <button class="button primary" type="submit">Passer à la validation</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
