{% extends 'aidants_connect_web/espace_responsable/otp_tunnel/layout.html' %}

{% block title %}Félicitations - Accéder à l’espace référent - Aidants Connect{% endblock %}

{% block otp_tunnel_header_action %}{% endblock %}

{% block otp_tunnel_body %}


  <div class="fr-stepper">
    <h1 class="fr-stepper__title">
      Accéder à l’espace référent
      <span class="fr-stepper__state">Étape {{ wizard_step }} sur {{ wizard_total_steps }}</span>
    </h1>
    <div
      class="fr-stepper__steps"
      data-fr-current-step="{{ wizard_step }}"
      data-fr-steps="{{ wizard_total_steps }}"
    ></div>
  </div>

  <h2>
    <span aria-hidden="true">🎉</span>
    Félicitations
  </h2>

  <p>
    L’application est associée à votre compte ! Vous pouvez accéder à l’espace référent et, lors de vos prochaines connexions, utiliser l’application pour générer un code temporaire.
  </p>

{% endblock otp_tunnel_body %}

{% block otp_tunnel_footer %}
  <footer class="otp-tunnel-card__footer">
    <ul class="fr-btns-group fr-btns-group--inline-md fr-btns-group--icon-right">
      <li>
        <a
          href="{% url 'espace_referent:home' %}"
          class="fr-btn fr-icon-arrow-right-line"
        >
          Accéder à l’espace référent
        </a>
      </li>
    </ul>
  </footer>
{% endblock otp_tunnel_footer %}
