{% load static %}
<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link"><p class="fr-logo"> République <br>Française </p>
        <a
          class="fr-footer__brand-link"
          href="/"
          title="Retour à l’accueil du site Aidants Connect - République Française"
        >
          <img
            class="fr-footer__logo"
            src="{% static 'images/anct-incubateur-footer.png' %}"
            alt="Logo ANCT"
          />
        </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">
          Aidants Connect est une plateforme visant à sécuriser l’accompagnement aux démarches administratives en ligne.
        </p>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a
              class="fr-icon-github-fill fr-footer__content-link"
              target="_blank"
              rel="noopener external"
              title="Code source - nouvelle fenêtre"
              href="https://github.com/betagouv/aidants_connect"
            >
              Github
            </a>
          </li>
          <li class="fr-footer__content-item">
            <a
              class="fr-icon-twitter-fill fr-footer__content-link"
              target="_blank"
              rel="noopener external"
              title="Code source - nouvelle fenêtre"
              href="https://twitter.com/IncubateurT"
            >
              Twitter
            </a>
          </li>
        </ul>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a
              class="fr-footer__content-link"
              target="_blank"
              rel="noopener external"
              title="legifrance.gouv.fr - nouvelle fenêtre"
              href="https://legifrance.gouv.fr"
            >
              legifrance.gouv.fr
            </a>
          </li>
          <li class="fr-footer__content-item">
            <a
              class="fr-footer__content-link"
              target="_blank"
              rel="noopener external"
              title="gouvernement.fr - nouvelle fenêtre"
              href="https://gouvernement.fr"
            >
              gouvernement.fr
            </a>
          </li>
          <li class="fr-footer__content-item">
            <a
              class="fr-footer__content-link"
              target="_blank"
              rel="noopener external"
              title="service-public.fr - nouvelle fenêtre"
            href="https://service-public.fr"
            >
            service-public.fr
            </a>
          </li>
          <li class="fr-footer__content-item">
            <a
              class="fr-footer__content-link"
              target="_blank"
              rel="noopener external"
              title="data.gouv.fr - nouvelle fenêtre"
              href="https://data.gouv.fr"
            >
              data.gouv.fr
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/cgu">Conditions générales d'utilisation</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/politique_confidentialite">Politique de confidentialité</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/mentions-legales">Mentions légales</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/faq">Foire aux questions</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/stats">Statistiques</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/accessibilite">Accessibilité&nbsp;: non conforme</a>
        </li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p>Sauf mention explicite de propriété intellectuelle détenue par des tiers, les contenus de ce site sont
          proposés sous <a
            href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
            rel="noopener external"
            title="Voir la licence Etalab 2.0 - nouvelle fenêtre"
            target="_blank"
          >licence etalab-2.0
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
