{% load static %}
<div class="fr-footer__partners">
  <p class="fr-footer__partners-title fr-mb-3v">Nos partenaires</p>
  <div class="fr-footer__partners-logos">
      <div class="fr-footer__partners-main">
          <a class="footer__partners-link" href="https://franceconnect.gouv.fr/">
              <img class="fr-footer__logo box-shadow-none" src="{% static 'images/FranceCoFooter.svg' %}" alt="France Connect">
          </a>
      </div>
      <div class="fr-footer__partners-sub">
          <a class="footer__partners-link" href="http://www.anlci.gouv.fr/">
              <img class="fr-footer__logo box-shadow-none" src="{% static 'images/ANLCIFooter.svg' %}" alt="Agence Nationale de Lutte contre l’Illettrisme">
          </a>
      </div>
  </div>
</div>
