{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
  {% static 'dsfr/dist/artwork/background/ovoid.svg' as dsfr_ovoid_svg %}
  {% static 'dsfr/dist/artwork/pictograms/system/technical-error.svg' as dsfr_technical_error_svg %}
  <div class="fr-container">
    <div class="fr-my-7w fr-mt-md-12w fr-mb-md-10w fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-grid-row--center">
      <div class="fr-py-0 fr-col-12 fr-col-md-6">
        <h1>{% block error_title %}{% endblock %}</h1>
        <p class="fr-text--sm fr-mb-3w">{% block error_code %}{% endblock %}</p>
        {% block error_content %}{% endblock %}
        {% block error_actions %}{% endblock %}
      </div>
      <div class="fr-col-12 fr-col-md-3 fr-col-offset-md-1 fr-px-6w fr-px-md-0 fr-py-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fr-responsive-img fr-artwork"
          aria-hidden="true"
          width="160"
          height="200"
          viewBox="0 0 160 200"
        >
          <use class="fr-artwork-motif" href="{{ dsfr_ovoid_svg }}#artwork-motif"></use>
          <use class="fr-artwork-background" href="{{ dsfr_ovoid_svg }}#artwork-background"></use>
          <g transform="translate(40, 60)">
            <use class="fr-artwork-decorative" href="{{ dsfr_technical_error_svg }}#artwork-decorative"></use>
            <use class="fr-artwork-minor" href="{{ dsfr_technical_error_svg }}#artwork-minor"></use>
            <use class="fr-artwork-major" href="{{ dsfr_technical_error_svg }}#artwork-major"></use>
          </g>
        </svg>
      </div>
    </div>
  </div>
{% endblock content %}
