{% load ac_common dsfr_tags importmap static %}

<!doctype html>
<html lang="fr" data-fr-scheme="light">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Aidants Connect{% endblock %}</title>

  {# Importmap; see https://github.com/christophehenry/dj-importmap for documentation #}
  {% importmap nonce=request.csp_nonce %}

  {% dsfr_css %}
  <link rel="stylesheet" href="{% static 'dsfr/dist/utility/utility.min.css' %}">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/dsfr-theme-tac.min.css' %}" rel="stylesheet">
  {% if form.media %}
    {{ form.media.render_css }}
  {% endif %}
  {# Extra styles #}
  {% block extracss %}{% endblock %}

  <!-- Search Engine -->
  <meta name="title" content="Aidants Connect - aidantsconnect.beta.gouv.fr">
  <meta name="description" content="{{ SITE_DESCRIPTION }}">
  <meta name="image" content="{% static 'images/aidantsconnect-illustration.svg' %}">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Aidants Connect">
  <meta itemprop="description" content="{{ SITE_DESCRIPTION }}">
  <meta itemprop="image" content="{% static 'images/aidantsconnect-illustration.svg' %}">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Aidants Connect">
  <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}">
  <meta name="twitter:site" content="@betagouv">
  <meta name="twitter:creator" content="betagouv">
  <meta name="twitter:image:src" content="{% static 'images/aidantsconnect-illustration.svg' %}">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="Aidants Connect">
  <meta name="og:description" content="{{ SITE_DESCRIPTION }}">
  <meta name="og:image" content="{% static 'images/aidantsconnect-illustration.svg' %}">
  <meta name="og:url" content="https://aidantsconnect.beta.gouv.fr">
  <meta name="og:site_name" content="Aidants Connect">
  <meta name="og:locale" content="fr_FR">
  <meta name="og:type" content="website">
  <!-- Favicons -->
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
  <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">

  <!-- Matomo -->
  {% include "layouts/matomo_script.html" %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% block nav %}
  {% if request.resolver_match.view_name|startswith:"habilitation" %}
    {% comment %}
      This block is a bit weird. Habilitation is part of the public webstite so it should display the nav
      from the public website. But since redesigned connected parts of the app use the habilitation main
      layout, we're forced to put an exception here in order not to break the entire app.
      This should be removed when all the app is ported to the new design and this layout is migrated to
      aidants_connect_common.
    {% endcomment %}
    {% include 'public_website/layout/_header.html' %}
  {% else %}
    {% include 'layouts/_header.html' %}
  {% endif %}
{% endblock nav %}

<main id="main" tabindex="-1">
  {% block content %}
  {% endblock content %}
</main>

{% block footer %}
  {% include 'layouts/_footer.html' %}
{% endblock footer %}

{% dsfr_js %}
<script id="cookie-banner" defer src="{{ COOKIE_BANNER_JS_URL }}"></script>
<script defer src="{{ COOKIE_BANNER_LANG_URL }}"></script>
<script defer src="{{ COOKIE_BANNER_SERVICES_URL }}"></script>
<script defer src="{% static 'js/cookie-banner.js' %}"></script>
{% if form.media %}
  {{ form.media.render_js }}
{% endif %}
{% block extrajs %}{% endblock %}
</body>
</html>
