venv/*
.idea/*
**/__pycache__/**
db.sqlite3

tmp_email_as_file
.env
staticfiles
.DS_Store
.sass-cache

local_db.json
local_scripts

# Unit test / coverage reports
geckodriver.log
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
/coverage.*
