{% load static %}
<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer__logo">
      <img src="{% static 'images/logo-msn2.png' %}" alt="Logo Mission Société Numérique">
      <img class="logo__beta" src="{% static 'images/betagouvfr.svg' %}" alt="Logo beta.gouv.fr">
      <ul class="footer__social">
        <li><a href="https://twitter.com/betagouv" title="Twitter"><svg class="icon icon-twitter"><use xlink:href="#twitter"></use></svg></a></li>
        <li><a href="https://github.com/betagouv/aidants_connect" title="Github"><svg class="icon icon-github"><use xlink:href="#github"></use></svg></a></li>
      </ul>
    </div>
    <ul class="footer__links">
      <li>
        <h2 class="brand">aidantsconnect.beta.gouv.fr</h2>
      </li>
      <li><a href="https://beta.gouv.fr/startups/aidants-connect">Une startup d’État de beta.gouv.fr</a></li>
      </ul>
      <ul class="footer__links">
      <li><a href="/cgu">Conditions d’utilisation</a></li>
      <li><a href="/stats">Statistiques</a></li>
      <li><a href="https://www.numerique.gouv.fr/dinsic/">DINSIC</a></li>
    </ul>
  </div>
</footer>
