{% load static %}
<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer__logo">
    <a href="https://agence-cohesion-territoires.gouv.fr">
        <img class="logo__anct" src="{% static 'images/logo_ANCT.svg' %}" alt="Agence nationale de la cohésion des territoires" />
      </a>
      <ul class="footer__social">
        <li><a href="https://twitter.com/IncubateurT" title="Twitter"><svg class="icon icon-twitter"><use xlink:href="#twitter"></use></svg></a></li>
        <li><a href="https://github.com/betagouv/aidants_connect" title="Github"><svg class="icon icon-github"><use xlink:href="#github"></use></svg></a></li>
      </ul>
    </div>
    <ul class="footer__links">
      <li>
        <h2>aidantsconnect.beta.gouv.fr</h2>
      </li>
      <li><a href="https://incubateur.anct.gouv.fr/actions/startups-territoires/">Une startup d’État de l'Incubateur des Territoires</a></li>
      <li><a href="https://agence-cohesion-territoires.gouv.fr/">Agence Nationale de la Cohésion des Territoires</a></li>
    </ul>
    <ul class="footer__links">
      <li><a href="/cgu">Conditions d’utilisation</a></li>
      <li><a href="/mentions-legales">Mentions légales</a></li>
      <li><a href="/faq">Foire aux questions</a></li>
      <li><a href="/stats">Statistiques</a></li>
    </ul>
  </div>
</footer>
