{% load static %}
<header class="navbar" role="navigation">
  <div class="navbar__container">
    <a class="navbar__home" href="{% url 'home_page' %}">
      <img class="navbar__logo" src="{% static 'images/logo-marianne.svg' %}"
        alt="aidantsconnect.beta.gouv.fr" /><span class="navbar__domain">aidantsconnect</span><img src="{% static 'images/pointbetagouvfr.svg' %}" class="navbar__gouvfr" alt="aidantsconnect.beta.gouv.fr" />
    </a>
    <nav role="navigation">
      <ul class="nav__links">

        <li class="nav__item">
          {% if user.is_authenticated %}
            <a href="{% url 'dashboard' mandat=0 %}" {% if request.path == '/dashboard/0' or request.path == '/dashboard/1' %}class="active"{% endif %}>
              Espace aidant
            </a>
          </li>
          <li class="nav__item">
            <a href="{% url 'logout' %}">Se déconnecter</a>
          </li>
          {% else %}
          <li class="nav__item">
            <a href="{% url 'dashboard' mandat=0 %}">
              Se connecter
            </a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="notification warning full-width">Vous êtes sur un site en construction, l’interface proposée sera amenée à changer grâce à vos retours !</div>
