{% load static %}
<header class="navbar">
  <div class="navbar__container">
    <a class="navbar__home" href="{% url 'home_page' %}">
      <img class="navbar__logo" src="{% static 'images/logo-marianne.svg' %}" alt="Logo République Française Marianne" />
      <img src="{% static 'images/aidants-connect_logo.png' %}" class="navbar__gouvfr" alt="Logo Aidants Connect" />
    </a>
    <nav role="navigation">
      <ul class="nav__links">
      {% if request.user.is_authenticated %}
        <li class="nav__item">
          <a {% if request.resolver_match.view_name in 'dashboard,usagers,usager_details,usagers_mandats_autorisations_cancel_confirm' %}class="font-weight-bold"{% endif %} href="{% url 'espace_aidant_home' %}">Mon espace Aidant</a>
        </li>
        <li class="nav__item">
          <a {% if request.resolver_match.view_name in 'ressources' %}class="font-weight-bold"{% endif %} href="{% url 'ressources' %}">Ressources</a>
        </li>
        <li class="nav__item">
          <a href="{% url 'logout' %}">Se déconnecter</a>
        </li>
      {% else %}
        <li class="nav__item">
          <a {% if request.resolver_match.view_name == 'home_page' %}class="font-weight-bold"{% endif %} href="{% url 'home_page' %}">Accueil</a>
        </li>
        <li class="nav__item">
          <a {% if request.resolver_match.view_name in 'ressources' %}class="font-weight-bold"{% endif %} href="{% url 'ressources' %}">Ressources</a>
        </li>
        <li class="nav__item">
          <a {% if request.resolver_match.view_name|slice:':3' in 'faq' %}class="font-weight-bold"{% endif %} href="{% url 'faq_generale' %}">FAQ</a>
        </li>
        <li class="nav__item">
          <a class="active" href="{% url 'login' %}">Se connecter</a>
        </li>
      {% endif %}
      </ul>
    </nav>
  </div>
</header>
