<details class="details-form">
  <summary class="summary-form">Comment renseigner la liste des contacts ?</summary>
  <div class="details-content">
    <p><strong>Le demandeur</strong>, c'est vous, dépose la demande d’habilitation.</p>

    <p>
      <strong>Le ou la référente Aidants Connect</strong> est en charge de la mise en place et du suivi d’Aidants Connect
      au sein du lieu d’accueil. Il tient également à jour la liste des aidants habilités Aidants Connect sur son espace
      dédié.
    </p>
    <p>
      Pour des raisons de sécurité, nous n’acceptons que <strong>les adresses emails nominatives et individuelles</strong>.
      Aidants Connect étant un outil homologué par l’Agence Nationale de la Cohésion des Territoires, cela est un prérequis
      pour garantir la sécurité de l’outil et la fiabilité des traces de connexion. Seule une adresse email individuelle,
      professionnelle et nominative sera acceptée. Les adresses de type contact@, ccas.ville@, mairie@, direction@,
      franceservices@, etc. ne sont donc pas acceptées. Nous acceptons des adresses emails créées pour l'occasion, qu'importe le
      fournisseur de messagerie électronique choisi.
    </p>
    <p>
      <strong>Les aidants</strong> professionnels accompagnent les usagers dans la réalisation de leurs démarches en ligne de
      manière sécurisée avec Aidants Connect.
    </p>
  </div>
</details>
