<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col">
    <h1>Formulaire d’habilitation</h1>
    <p>
      Pour apporter aux aidants les bases de connaissance nécessaires à l’utilisation du service, <B>une formation à Aidants Connect est nécessaire</B>.<br>
      Cette formation, exceptionnellement financée dans le cadre du Plan France Relance jusqu’en 2023, est <B>dorénavant payante</B> et financée seulement dans les 2 cas suivants :<br>
    </p>
    <ul>
      <li>
        Pour les conseillers numériques, si elle fait partie des modules thématiques choisis lors de la formation initiale ou continue ;
      </li>
      <li>
        Pour les aidants des structures adhérentes à l’OPCO Uniformation.
      </li>
      </ul>
      <p>Pour les autres cas, la formation doit être financée par la structure.</p>

    <p>Retrouvez plus de détails sur <a href="{% url 'habilitation_faq_formation' %}" class="fr-link" target="_blank" rel="noopener noreferrer"> notre site.</a></p>

  </div>
</div>
