<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col">
    <h1>Formulaire d’habilitation</h1>
    <p class="subtitle">
      Vous vous êtes informé sur l’habilitation&nbsp;? Vous êtes prêt à utiliser Aidants Connect&nbsp;?<br>
      Faites votre demande en quelques étapes via le formulaire ci-dessous.
    </p>
  </div>
  <div class="fr-col-12 fr-col-md-8">
    <div class="bandeau shadowed">
      <p>
        <span aria-hidden="true">⚠️ </span>
         <strong>Attention</strong> : les sessions de formation dans la configuration actuelle prendront fin <strong>le 2 juin 2023.</strong>
          Un grand nombre d’aidants est en attente d’une formation Aidants Connect et
          <strong>les
            sessions peuvent être déjà complètes pour les prochaines semaines.</strong> Vous pouvez déposer votre demande sur <strong>liste
          d’attente</strong> <a href="{% url 'habilitation_new' %}">ici</a> et nous vous contacterons prochainement. 
          Les délais de traitement peuvent prendre plusieurs mois.
      </p>
    </div>
  </div>
</div>
