<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col">
    <h1>Formulaire d’habilitation</h1>
    <p>
      La formation à Aidants Connect apporte l'habilitation et les bases de connaissance nécessaires à l'utilisation de
      ce service.<br>
      Cette formation est payante, les modalités de financement diffèrent selon votre profil et votre structure :
    </p>
    <ul>
      <li>
        Pour les conseillers numériques, la formation est financée dans le cadre de la formation continue
      </li>
      <li>
        Pour les structures adhérentes à l’OPCO Uniformation, la formation est financée dans le cadre d’un partenariat
        entre l’ANCT et Uniformation
      </li>
      <li>
        Pour les autres cas, des modalités de financement seront possibles via les gouvernances France Numérique
        Ensemble
        ou la formation peut être auto-financée par la structure
      </li>
    </ul>
    <p>Retrouvez plus de détails sur <a href="{% url 'habilitation_faq_formation' %}" class="fr-link" target="_blank" rel="noopener noreferrer"> notre site.</a></p>

  </div>
</div>
