{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Impression du mandat{% endblock %}

{% block extracss %}
  <link href="{% static 'css/attestation.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block nav %}
{% endblock nav %}

{% block content %}
  <section class="container">
    <h1 class="text-center"><span class="text-red" aria-hidden="true">⚠&nbsp;</span>
      Nous sommes désolés, nous n’avons pas trouvé votre mandat.
    </h1>
    <section>
      Il peut y avoir deux raisons possibles&nbsp;:
      <ul>
        <li>
          <strong>le lien qui vous a été envoyé est erroné&nbsp;;</strong>
          <p class="margin-left-1em">
            nous vous invitons à voir avec la personne qui vous l’a envoyé.
          </p>
        </li>
        <li>
          <strong>il s’agit d’un problème de l’application&nbsp;;</strong>
          <p class="margin-left-1em">
            nous souhaiterions savoir ce qu’il s’est passé. Nous vous invitons à nous
            envoyer un email à l’adresse <a href="{{ mailto }}"><span class="monospace">{{ support_email }}</span></a> en nous précisant&nbsp;:
          </p>
          <ul>
            <li>le numéro du mandat inconnu&nbsp;: {{ mandat_id }},</li>
            <li>le nom complet de l’usager ou l’usagère dont vous tentez de voir le mandat,</li>
            <li>la date à laquelle le mandat a été conclu.</li>
          </ul>
        </li>
      </ul>
    </section>
  </section>
{% endblock content %}

{% block footer %}
{% endblock footer %}
