{% load static %}
{% if not GOUV_ADDRESS_SEARCH_API_DISABLED %}
  <template data-address-autocomplete-target="noResultTpl">
    <div class="no-result">
      <span>Aucun résultat trouvé pour la requête __query__</span>
    </div>
  </template>
  <template data-address-autocomplete-target="spinnerTpl">
    <div class="spinner" role="status" data-address-autocomplete-target="spinner" hidden>
      <span class="visually-hidden">Chargment des résultats...</span>
    </div>
  </template>
  <link rel="stylesheet" href="{% static 'css/address_autocomplete.css' %}">
  <script defer src="{{ AUTOCOMPLETE_SCRIPT_SRC }}"></script>
  <script defer src="{% static 'js/address_autocomplete.js' %}"></script>
{% endif %}
