{% extends 'layouts/_header.html' %}

{% load ac_common %}

{% block nav_menu %}
  <li class="fr-nav__item">
    <a
      class="fr-nav__link"
      target="_self"
      href="{% url 'espace_referent:home' %}"
      {% if view_name == 'espace_referent:home' %} aria-current="true"{% endif %}
    >Accueil Référent</a>
  </li>
  <li class="fr-nav__item">
    <a
      class="fr-nav__link"
      target="_self"
      href="{% url 'espace_referent:aidants' %}"
      {% if view_name|startswith:'espace_referent:aidant' and not is_aidant_referent_of_current_org %}aria-current="true"{% endif %}
    >Gestion des aidants</a>
  </li>
  <li class="fr-nav__item">
    <a
      class="fr-nav__link"
      target="_self"
      href="{% url 'espace_referent:referents' %}"
    {% if view_name == 'espace_referent:referents' %}aria-current="true"{% elif view_name|startswith:'espace_referent:aidant' and is_aidant_referent_of_current_org %}aria-current="true"{% endif %}
    >Gestion des référents</a>
  </li>
  <li class="fr-nav__item">
    <a
      class="fr-nav__link"
      target="_self"
      href="{% url 'espace_referent:organisation' %}"
      {% if view_name == 'espace_referent:organisation' %}aria-current="true"{% endif %}
    >Détails de l'organisation</a>
  </li>
  <li class="fr-nav__item">
    <a class="fr-nav__link" target="_self" href="{% url 'faq_referent_generale' %}">
      Aide
    </a>
  </li>
{% endblock nav_menu %}
