{% extends 'layouts/_header.html' %}

{% load ac_common %}

{% block nav_menu %}
  <li class="fr-nav__item">
    <a
      class="fr-nav__link"
      target="_self"
      href="{% url 'espace_responsable' %}"
      {% if view_name == 'espace_responsable' %} aria-current="true"{% endif %}
    >Accueil</a>
  </li>
  <li class="fr-nav__item">
    <a
      class="fr-nav__link"
      target="_self"
      href="{% url 'espace_responsable_aidants' %}"
      {% if view_name|startswith:'espace_responsable_aidant' and not is_aidant_referent_of_current_org %}aria-current="true"{% endif %}
    >Aidants</a>
  </li>
  <li class="fr-nav__item">
    <a
      class="fr-nav__link"
      target="_self"
      href="{% url 'espace_responsable_referents' %}"
    {% if view_name == 'espace_responsable_referents' %}aria-current="true"{% elif view_name|startswith:'espace_responsable_aidant' and is_aidant_referent_of_current_org %}aria-current="true"{% endif %}
    >Référents</a>
  </li>
  <li class="fr-nav__item">
    <a
      class="fr-nav__link"
      target="_self"
      href="{% url 'espace_responsable_demandes' %}"
      {% if view_name == 'espace_responsable_demandes' %}aria-current="true"{% endif %}
    >Demandes en cours</a>
  </li>
  <li class="fr-nav__item">
    <a
      class="fr-nav__link"
      target="_self"
      href="{% url 'espace_responsable_organisation' %}"
      {% if view_name == 'espace_responsable_organisation' %}aria-current="true"{% endif %}
    >Mon organisation</a>
  </li>
  <li class="fr-nav__item">
    <a class="fr-nav__link" target="_self" href="{% url 'faq_referent_generale' %}">
      Aide
    </a>
  </li>
{% endblock nav_menu %}
