main {
    margin: 20px;
}

.container {
    font-size: .75em;
    line-height: 1.4em;
    padding: 15px;
    position: static;
}

.navbar__home {
    height: auto;
}

.navbar__gouvfr {
    height: 8em;
}

.more-mandat {
    page-break-before: always;
}

.dpo {
    margin: 0 .7em .7em;
    padding: .5em;
    font-size: .8em;
    line-height: 1.2em;
}

h1 {
    margin: 0 2em .6em;
    font-size: 1.7em;
}

p, ul {
    margin: 0;
}

p + p, ul + p {
    margin-top: .7em;
}

.demarches {
    font-size: .95em;
}

.demarches + p {
    margin-top: .4em;
}

.organisation-address {
    min-width: 15em;
    display: inline-block;
}

@media print {
    @page {
        size: auto; /* auto is the initial value */
        margin: 1em; /* this affects the margin in the printer settings */
    }

    body {
        display: block; /* page-break-before won't work if body is in display:flex */
    }

    .no-print,
    .no-print * {
        display: none !important;
    }

    .container {
        border: 0;
        padding: 0;
        margin: 0;
        width: auto;
    }
}
