main {
  margin: 20px;
}

.container {
  font-size: .75em;
  line-height: 1.5em;
  border: 1px solid grey;
  padding: 30px;
}

.img-qrcode {
  height: 200%;
}

h1 {
  margin-left: 75px;
  margin-right: 75px;
}

@media print {
  @page {
    size: auto; /* auto is the initial value */
    margin: 0; /* this affects the margin in the printer settings */
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
  .container {
    border: 0;
    padding: 0;
  }
}
