.label a {
  color:black;
  background-color: #ebeff3;
}

.tile-box {
  width: 100%;
}

#statistics h3 {
  font-size: 1.2em;
}

.tile-subtitle {
  margin: 0;
  font-style: italic;
}

.tile {
  background-color: #ebeff3;
  display: inline-block;
  width: auto;
}

.icon-inline {
  width: 30px;
  vertical-align: bottom;
}

@supports(display: grid) {
  .tile {
    width: 100%;
    display: flex;
  }
}
