.grid a, .grid a:visited {
  text-decoration: none;
  color: black;
}
.grid a:hover {
  background-color: #0053b3;
  color: white;
}

.label a {
  color:black;
  background-color: #ebeff3;
}

.tile-box {
  width: 100%;
}
.tile-box h3 + strong,
.tile-box h4 + strong {
  font-size: 1.5em;
  line-height: 1.5em;
  display: block;
}
.tile-box h3, .tile-box h4 {
  font-size: 1.5em;
  margin-bottom: .7em;
}
.tile-subtitle {
  margin: 0;
  font-style: italic;
}
.tile-box.stretch {
  display: flex;
  align-items: stretch;
}
.tile-grey {
  background-color: #ebeff3;
  display: inline-block;
  width: auto;
}

.icon-inline {
  width: 30px;
  vertical-align: bottom;
}

@supports(display: grid) {
  .tile {
    width: 100%;
    display: flex;
  }
}
