a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #0053b3;
  color: white;
}

.top-icon {
  font-size: 2em;
  margin: .5em;
}

.label a {
  color:black;
  background-color: #ebeff3;
}

.tile {
  background-color: #ebeff3;
  display: inline-block;
  width: auto;
}

@supports(display: grid) {
  .tile {
    width: 100%;
    display: flex;
  }
}

.tile + .tile {
  margin-left: 1em;
}
