details {
  position: relative;
}

summary::marker {
  content: "";
}

summary {
  width: 45px;
  height: 45px;
  background-color: var(--background-alt-grey);
  text-align: center;
  line-height: 45px;
}

.details-content {
  position: absolute;
  background-color: var(--background-default-grey);
  border: solid 1px #CECECE;
  z-index: 1;
  right: 0;
  top: 45px;
}

.details-content a {
  background-image: none;
  line-height: 30px;
}

.d-table table {
  display: table;
}

.d-table table thead,
.d-table table tbody {
  background-color: var(--background-default-grey);
  color: var(--text-default-grey);
}

.d-table table thead {
  background-image: linear-gradient(0deg, var(--border-action-high-blue-france), var(--border-action-high-blue-france));
}

.fr-table--bordered tbody .severals-mandates tr {
  background-color: var(--background-alt-grey);
  background-image: none;
}

.d-table table th,
.d-table table td {
  font-size: 1rem;
} 
