.grid a, .grid a:visited {
  text-decoration: none;
  color: black;
}
.grid a:hover {
  background-color: #0053b3;
  color: white;
}
.aidant-home-services .grid a {
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: bold;
}
.grid.structures .card:focus-within {
  outline: 2px solid #0053b3;
  outline-offset: 2px;
}
.grid.structures a:hover .card__meta {
  color: #fff;
}
.aidants-list .inactive td,
.aidants-list .inactive a {
  color: grey;
  font-style: italic;
}
.aidants-list .inactive a.button {
  background: grey;
  color: #fff;
}
.actions details {
  margin: .5em 0;
}
.actions summary {
  padding: .7em;
  cursor: pointer;
}
.actions details[open] {
  padding: 0 0 .7em;
}
.actions details[open] summary {
  margin-bottom: .7em;
  font-weight: bold;
}
