details {
  position: relative;
}

summary::marker {
  content: "";
}

summary {
  width: 45px;
  height: 45px;
  background-color: var(--background-alt-grey);
  text-align: center;
  line-height: 45px;
}

.details-content {
  position: absolute;
  background-color: var(--background-default-grey);
  border: solid 1px #CECECE;
  z-index: 100;
  right: 0;
  top: 45px;
}

.details-content a {
  background-image: none;
  line-height: 30px;
}

.fr-table__container {
  overflow: visible;
}

.auth-badges {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
