:root {
  --espace-aidant-header-background: var(--blue-france-950-100);
}
:root[data-fr-theme=dark] {
  --espace-aidant-header-background: var(--blue-france-925-125);
}

.espace-aidant-header {
  background-color: var(--espace-aidant-header-background);
}

.fr-card__title {
  flex-grow: 10;
}
