.blue-dot-nbr {
  display: block;
  color: white;
  background-color:var(--background-action-high-blue-france);
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
}
.fr-card h4 {
  color: var(--background-action-high-blue-france)
}
.right-grey-background .fr-tabs__panel {
  padding: 0;
}
.right-grey-background .fr-col-12 {
  padding: 2rem;
}
.right-grey-background .fr-col-md-4 {
  background-color: var(--background-contrast-grey);
  margin-bottom: -3px
}
