.row div.min-width-35 {
  min-width: 35%;
}

@media (max-width: 749px) {
  .section {
    padding: 2em 0;
  }
}

.ac-service .row {
  flex-wrap: wrap;
  justify-content: center;
}

.tile-home {
  font-size: 1.25em;
  color: black;
  max-width: 18em;
}

.tile-colored {
  background-color: #ebeff3;
}

.tile h3 {
  font-size: 1.25em;
  line-height: 1.25em;
}

.tile h3,
.tile p {
  max-width: 100;
}

.tile__icon.large__icon {
  height: 4em;
}

.issues {
  margin-bottom: 5em;
  font-size: 1.3em;
  line-height: 1.5;
}

.logo__fc {
  height: 2em;
  vertical-align: middle;
  margin-left: 0.5em;
}

.fc-desc h2 {
  margin-bottom: 0;
}

#solidarite_numerique {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#text_solidarite_numerique {
  padding-left: 3em;
  font-size: 3em;
}

#text_solidarite_numerique {
  font-size: 1.2em;
  line-height: 1.5em;
}

#tel_solidarite_numerique {
  color: #213a64;
  background-color: #ffc107;
  font-weight: bold;
  padding: 0.5em;
  margin: 0.5em 0em;
}
#tel_solidarite_numerique a {
  text-decoration: none;
}
#faq-content{
  border-top: 1px solid #c9d3df;
}
