.hero__container {
  padding-bottom: 0;
}

.hero__description {
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 749px) {
  .section {
    padding: 2em 0;
  }
}

.lead-text {
  line-height: 1.25em;
}

.panel {
  color: black;
}

.panel + .panel {
  margin-top: 0;
}

.panel p:first-child {
  margin-top: 0;
}

.section-color {
  background-image: none;
  background-color: #b4e1fa;
  color: black;
}

.tile {
  font-size: 1.25em;
  color: black;
}

.tile-colored {
  background-color: #ebeff3;
}

.tile__icon {
  height: 4em;
  margin-bottom: 1em;
}

.issues {
  margin-bottom: 5em;
  font-size: 1.3em;
  line-height: 1.5;
}

.logo__fc {
  height: 2em;
  vertical-align: middle;
  margin-left: 0.5em;
}
