h1 {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.25;
  text-transform: uppercase;
  color: #1B4991;
}

h2 {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.25;
    text-transform: uppercase;
    color: #1B4991;
}

.red {
  color: #ef4056;
}

.shadowed {
  padding: 1rem;
}

.shadowed > h1 {
  margin: 0;
  font-size: 1.125rem;
}

.shadowed .button-box {
  transform: translateY(0);
}

.subtitle {
  color: #5770BE;
  font-size: 1.125rem !important;
}

.row_grid {
  max-width: 50em;
}

.grid {
  width: 100%;
}

.tile {
  padding: 0;
}

.tile .label-usager {
  font-size: 1.2em;
  font-weight: bold;
}

.tile input {
  order: 1;
  z-index: 2;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.tile label {
  padding: 12px 30px;
  width: 100%;
  height: 100%;
  text-align: left;
  color: black;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 100ms ease-in;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile input[type=submit]:active {
  position: absolute;
}

.tile input[type=submit]~label:active {
  background-color: #003b80;
  transition: all 100ms ease-in;
  color: white;
}

@media (max-width: 699px) {
  .mandat-select__section {
    padding: 2em 0;
  }
}
