h1 {
  font-size: 1.5em;
}

form {
  max-width: 40em;
}

.row_grid {
  max-width: 50em;
}

.grid {
  width: 100%;
}

.tile {
  padding: 0;
}

.tile h3 {
  font-size: 1.2em;
  margin-bottom: 0;
}

.tile input {
  order: 1;
  z-index: 2;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.tile label {
  padding: 12px 30px;
  width: 100%;
  height: 100%;
  text-align: left;
  color: black;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 100ms ease-in;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile input[type=submit]:active {
  position: absolute;
}

.tile input[type=submit]~label:active {
  background-color: #003b80;
  transition: all 100ms ease-in;
  color: white;
}

@media (max-width: 699px) {
  .mandat-select__section {
    padding: 2em 0;
  }
}
