html {
  height: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.previews {
  display: none;
}

.ac-color-red {
  color: #FF3954;
}


/* Navbar */

.navbar {
  border: 0;
}

.navbar__container {
  overflow-x: scroll;
}

a.navbar__home:hover {
  background-color: #ebeff3;
}

.nav__item a:hover {
  color: #000;
}

.nav__item a.active:hover {
  color: #fff;
}

.nav__item a {
  padding: .5em 2em;
}

.nav__item a.button-filled  {
  background-color: #0053b3;
  color: white;
}


/* Container & main */

.container.container-small {
  max-width: 40em;
}

.section__subtitle {
  margin-bottom: 4em;
}


/* Footer */

.footer__social {
  margin: 0;
}

.footer__links {
  margin-top: 1em;
}

.footer__links h2 {
  word-break: break-word;
}

.footer__links a:visited {
  color: #fff;
}

.footer__logo .logo__beta {
  width: 170px;
}

.hero .lead-text {
  line-height: 1.25em;
}


/* Utils */

.margin-left-100 {
  margin-left: 100px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-0 {
  margin-top: 0;
}

.padding-0 {
  padding: 0 !important;
}

.tiles {
  margin: 3em 0;
}

.notification {
  margin-top: 1em;
  margin-bottom: 1em;
}

.background-color-blue {
  background-color: #0053b3;
}
.background-color-gray {
  background-color: #ebeff3;
}

.text-very-small {
  font-size: 0.5em;
}

.font-weight-normal {
  font-weight: normal;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}


/* Table */

.table .th-66 {
  width: 66%;
}
.table .th-50 {
  width: 50%;
}
.table .th-40 {
  width: 40%;
}
.table .th-25 {
  width: 25%;
}
.table .th-20 {
  width: 20%;
}


/* Images */

img.logo-height-5em {
  max-height: 5em;
}


/* Override/Extend template.min.css */

.hero__container {
  min-height: 10em;
  /* padding: 5em 2em 5em 2em; */
}

.button {
  margin: 0 !important;
}

a.button-outline:hover {
  background-color: var(--lighter-grey);
}

.small-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.form__group + .form__group {
  margin-top: var(--space-s);
}

.label.label-small {
  line-height: 1.2em;
}


/* Media */

@media (max-width: 699px) {
  form {
    padding: 0 1em;
  }

  input.button:active {
    width: 100%;
  }
}
