body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

.has-tooltip label {
    display: inline-block;
}

.has-tooltip {
    position: relative;
}

.tooltip-info {
    display: inline-block;
    background-color: #8393a7;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    color: #fff;
    text-align: center;
    font-weight: 700;
    position: absolute;
    margin: 0.1em 0.5em;
    transform: scale(0.75);
}

.tooltip-info:hover::after {
    color: #ffffff;
    padding: 0.25em 0.75em;
    border-radius: 3px;
    content: attr(data-tooltip);
    position: absolute;
    left: 3em;
    top: 0.75em;
    transform: translateY(-50%);
    background-color: #8393a7;
    z-index: 2;
    width: auto;
    min-width: 25em;
    text-align: left;
}