html {
  height: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.previews {
  display: none;
}


/* Navbar */

.navbar {
  border: 0;
}

.navbar__container {
  overflow-x: scroll;
}

a.navbar__home:hover {
  background-color: #ebeff3;
}

.nav__item a:hover {
  color: #000;
}

.nav__item a.active:hover {
  color: #fff;
}


/* Container & main */

.container.container-small {
  max-width: 40em;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: 400;
}

h1.brand, h2.brand, h3.brand, h4.brand, h5.brand, h6.brand {
  font-family: "Evolventa";
  font-weight: 700;
  margin-bottom: 0;
}


/* Footer */

.footer__social {
  margin: 0;
}

.footer__links {
  margin-top: 1em;
}

.footer__links h2 {
  word-break: break-word;
}

.footer__links a:visited {
  color: #fff;
}

.footer__logo .logo__beta {
  width: 170px;
}

.hero .lead-text {
  line-height: 1.25em;
}

/* Utils */

.margin-left-100 {
  margin-left: 100px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}

.tiles {
  margin: 3em 0;
}

.notification {
  margin-top: 1em;
  margin-bottom: 1em;
}

.background-color-blue {
  background-color: #0053b3;
}
.background-color-gray {
  background-color: #ebeff3;
}

.text-very-small {
  font-size: 0.5em;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.col-66 {
  width: 66%;
}
.col-50 {
  width: 50%;
}
.col-44 {
  width: 44%;
}
.col-40 {
  width: 40%;
}
.col-32 {
  width: 32%;
}
.col-25 {
  width: 25%;
}
.col-20 {
  width: 20%;
}

.table .th-66 {
  width: 66%;
}
.table .th-50 {
  width: 50%;
}
.table .th-40 {
  width: 40%;
}
.table .th-25 {
  width: 25%;
}
.table .th-20 {
  width: 20%;
}


/* Extend template.min.css */

a.button-outline:hover {
  background-color: var(--lighter-grey);
}

.small-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


/* Media */

@media (max-width: 699px) {
  form {
    padding: 0 1em;
  }

  input.button:active {
    width: 100%;
  }

  .hero__container {
    min-height: 10em;
  }
}
