/* Override/Extend template.min.css */

.hero__container {
  min-height: 10em;
}

.small__paragraph {
  font-size: 1.125em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.large__paragraph {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.section {
  padding: 4em 0;
}

.section-color a.button-outline:hover {
  background-color: var(--theme-background-white);
  color: var(--theme-primary);
}

.button {
  margin: 0 !important;
}

.small-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.form__group + .form__group {
  margin-top: var(--space-s);
}

.label.label-small {
  line-height: 1.2em;
}


/* Base */

html {
  height: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  font-family: Evolventa,Trebuchet MS,sans-serif;
}

.previews {
  display: none;
}

.ac-color-red {
  color: #FF3954;
}
/* header & footer */
.navbar__home {
  height: 10em;
}

.navbar__gouvfr {
  height: 10em;
}

.navbar__logo {
  height: 3em;
  margin-bottom: 1em;
}
.logo__anct {
  margin: 1.5em 0 1.5em 0;
}

/* Container & main */

.container.container-small {
  max-width: 40em;
}

.section__subtitle {
  margin-bottom: 4em;
}


/* Row */

.row div.min-width-35 {
  min-width: 35%;
}
.row div.min-width-15 {
  min-width: 15%;
}


/* Footer */

.footer__social {
  margin: 0;
}

.footer__links {
  margin-top: 1em;
}

.footer__links h2 {
  word-break: break-word;
}

.footer__links a:visited {
  color: #fff;
}

.footer__logo .logo__beta {
  width: 170px;
}


/* Utils */

a.no-decoration {
  color: inherit;
  text-decoration: inherit;
}

.margin-left-1em {
  margin-left: 1em !important;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-1em {
  margin-bottom: 1em;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-1em {
  margin-top: 1em;
}
.margin-top-0 {
  margin-top: 0;
}

.tiles {
  margin: 3em 0;
}

.tile__icon.large__icon {
  height: 4em;
}

.background-color-blue {
  background-color: #0053b3;
}
.background-color-grey {
  background-color: var(--theme-background-grey);
}
.background-color-white {
  background-color: white;
}

.text-very-small {
  font-size: 0.5em;
}

.font-weight-normal {
  font-weight: normal;
}
.font-weight-bold {
  font-weight: bold;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.vertical-align-middle {
  vertical-align: middle;
}

.min-width-35 {
  min-width: 35%;
}
.min-width-50 {
  min-width: 50%;
}
.max-width-50 {
  max-width: 50%;
}

/* Table */

.table .th-66 {
  width: 66%;
}
.table .th-50 {
  width: 50%;
}
.table .th-40 {
  width: 40%;
}
.table .th-25 {
  width: 25%;
}
.table .th-20 {
  width: 20%;
}


/* Images */

img.logo-height-5em {
  max-height: 5em;
}


/* Media */

@media (max-width: 749px) {
  form {
    padding: 0 1em;
  }

  input.button:active {
    width: 100%;
  }

  .section {
    padding: 2em 0;
  }
}

/* Accessibility */
/* From https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
