body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.previews {
    display: none;
}

.navbar {
  border: 0;
}

.navbar__container {
  overflow-x: scroll;
}

a.navbar__home:hover {
  background-color: #ebeff3;
}

.nav__item a:hover {
  color: #000;
}

.nav__item a.active:hover {
  color: #fff;
}

.container.container-small {
  max-width: 40em;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: 400;
}

h1.brand, h2.brand, h3.brand, h4.brand, h5.brand, h6.brand {
  font-family: "Evolventa";
  font-weight: 700;
  margin-bottom: 0;
}

.footer__social {
  margin: 0;
}

.footer__links {
  margin-top: 1em;
}

.footer__links h2 {
  word-break: break-word;
}

.footer__links a:visited {
  color: #fff;
}

.footer__logo .logo__beta {
  width: 170px;
}

@media (max-width: 699px) {
  form {
    padding: 0 1em;
  }

  input.button:active {
    width: 100%;
  }

  .hero__container {
    min-height: 10em;
  }
}

.hidden {
  display: none;
}
