main {
  margin: 20px;
}

.container {
  font-size: .75em;
  line-height: 1.5em;
  border: 1px solid gray;
  padding: 30px;
}

.template-version {
  font-size: 0.5em;
  vertical-align: bottom;
}

@media print {
  @page {
    size: auto; /* auto is the initial value */
    margin: 0; /* this affects the margin in the printer settings */
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
  .container {
    border: 0;
    padding: 0;
  }
}