.hero__container {
  min-height: 10em;
}

ul {
  line-height: 1.875em;
  margin: 0;
}

form ul {
  list-style-type: none;
}

ul input[type="radio"] {
  margin-bottom: 0.25em;
}

.other__group {
  margin-top: 0.5em;
}

fieldset {
  flex-direction: column;
  align-items: start;
}

fieldset .checkbox__group {
  display: flex;
  flex-direction: row;
}

fieldset .checkbox__group + .checkbox__group {
  margin-top: 1em;
}

fieldset input[type="checkbox"] {
  flex-shrink: 0;
}

fieldset .label-inline {
  display: inline-block;
}

h3.subtitle {
  color: #1c1c1c;
  margin-bottom: 0.5em;
}

button.button {
  margin-bottom: 1em;
}
