h1 {
  margin-top: 0;
}

.current__usagers h2 {
  float: left;
}

.notification {
  clear: both;
}

.new__usager {
  float: right;
}

.current__usagers {
  margin-top: 3em;
}

/* Workaround for border not displaying correctly with rowspan */
.table td {
  position: relative;
}

.table td:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: transparent;
  border-bottom: 1px solid #c9d3df;
  width: 100%;
  height: 100%;
}

.table tbody:hover td[rowspan],
.table tr:hover td {
   background-color: #fafbfc;
}

.table ul {
  list-style: none;
  padding: 0 0.5em;
  margin: 0;
}
