.step-title {
  margin-top: 2em;
}

.label-demarche {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label-demarche>strong {
  text-transform: uppercase;
  font-size: 1.2em;
}

.label-duree strong {
  font-size: 1.2em;
}

#submit_button {
  padding: 0;
  max-width: 250px;
}

#submit_renew_button {
  padding: 10px;
  max-width: 250px;
}

@supports not (display: grid) {
  .tile+.tile {
    margin-top: 1em;
  }
  #id_otp_token {
    width: 6em;
  }
}
