form {
    max-width: 40em;
}


.tile {
    padding: 0;
}

.tile h3 {
    font-size: 1.2em;
}

.tile input {
      order: 1;
      z-index: 2;
      position: absolute;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }

.tile label {
    padding: 12px 30px;
    width: 100%;
    height: 100%;
    display: block;
    text-align: left;
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 100ms ease-in;
    overflow: hidden;
}

.tile label::after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #003b80;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 3px 5px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 35px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 100ms ease-in;
 }

.tile input:checked ~ label {
    color: white;
    background-color: #003b80;
}

.tile input:checked ~ label::after {
    background-color: #003b80;
    border-color: white;
}


#step-title {
    margin-top: 2em;
}

#label-demarche {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label-demarche>h3{
    text-transform: uppercase;
}

#label-duree {
    display: flex;
    flex-direction: column;
}

#label-custom-end-date {
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
}
#input-custom-end-date  {
    visibility: initial;
    margin-top: 1.7em;
    position: relative;
}

.mandat__agreement fieldset {
  flex-direction: column;
  align-items: start;
}

.mandat__agreement .checkbox__group + .checkbox__group {
  margin-top: 1em;
}
