.option-container {
  position: relative;
}

.option-container .fr-label::before {
  position: unset !important;
}

.formation-public-contacts {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.formation-public-contacts > * {
  flex-grow: 1;
}

.border-bottom:not(:last-child) {
  border-bottom: 1px solid var(--border-default-grey);
}
