#ie-end-of-life-tpl {
    display: none;
}

.ie-end-of-life {
    background: #edcfcf;
    border: solid 1px #d33525;
    border-radius: 3px;
    margin: 2em auto;
    padding: 1em;
    width: 80%;
}

.ie-end-of-life h1 {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    color: #ef4056;
    margin: 2.5rem 0;
    text-transform: uppercase;
    line-height: 1.25;
}

.ie-end-of-life a {
    color: #ef4056;
    font-weight: bold;
}

.ie-end-of-life a:focus-visible {
    background: #fad776;
    color: #333 !important;
    outline: 0 solid #fad776;
    border-color: #fad776;
}
