{% extends "aidants_connect_web/admin/import_export/import.html" %}
{% block fields_intro %}Seuls les en-têtes suivants dans le fichier seront importés&nbsp;:{% endblock %}

{% block more_help %}
  <details>
    <summary>🆘 Aide sur les champs</summary>
    <dl>
      <dt>username</dt>
      <dd>Obligatoire. Doit contenir l'e-mail de l'aidant.</dd>
      <dt>datapass_id</dt>
      <dd>Numéro de demande datapass de l'organisation.<br>
        Si vous donnez ce numéro, <code>organisation_id</code> ne doit pas être présente.
      </dd>
      <dt>respo_de_datapass_id</dt>
      <dd>Numéros de demande datapass des organisations dont l'aidant est référent.
        Séparez ces numéros par des <strong>POINTS-VIRGULES</strong>, par exemple : <code>4587;5933</code>.<br>
        Si vous remplissez cette colonne, ne mettez pas de colonne <code>responsable_de</code>.
      </dd>
      <dt>organisation_id</dt>
      <dd>Identifiant interne Django de l'organisation. Vous pouvez le retrouver dans la colonne ID de la page
        Organisations de l'admin Django.
      </dd>
      <dt>responsable_de</dt>
      <dd>Identifiants internes Django des organisations dont l'aidant est référent.<br>
        Séparez les identifiants par des points-virgules, par exemple&nbsp;: <code>4;5;6</code></dd>
      <dt>can_create_mandats</dt>
      <dd>
        Entrer <code>0</code> (zéro) ou <code>False</code> permet de créer un compte «&nbsp;référent seulement&nbsp;»
        qui ne peut pas créer de mandat.<br>
        Entrer <code>1</code> ou <code>True</code> permet de créer un compte Aidant classique, qui peut créer des
        mandats auprès des usagers.<br>
        Si la case est laissée vide, la valeur par défaut sera <code>True</code>&nbsp;: par défaut, le compte peut
        créer des mandats.
      </dd>
      <dt>token</dt>
      <dd>Code à 6 chiffres, à usage unique, permettant à un référent de se connecter sans carte TOTP.</dd>
      <dt>carte_ac</dt>
      <dd>Numéro de série de la carte Aidants Connect (TOTP) que vous voulez assigner à l'aidant.</dd>
      <dt>first_name, last_name</dt>
      <dd>Prénom et nom de famille de l'aidant, respectivement.</dd>
      <dt>phone</dt>
      <dd>Numéro de téléphone de l'aidant (utilisé uniquement pour les référents structure)</dd>
      <dt>is_active</dt>
      <dd>
        Permet d'activer ou de désactiver le compte de l'aidant.<br>
        Entrer 0 (zéro) ou <code>False</code> pour désactiver le compte.<br>
        Entrer 1 ou <code>True</code> pour activer le compte.<br>
        Même avec un compte activé, l'aidant ne peut pas se connecter sans carte TOTP.
      </dd>
    </dl>
  </details>
{% endblock %}
