{% extends 'layouts/main.html' %}

{% load ac_common static %}

{% block title %}Impression du mandat - Aidants Connect{% endblock %}

{% block extracss %}
  <link href="{% static 'css/attestation-translation.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div
    class="fr-container"
    data-controller="mandate-translation"
    data-mandate-translation-translation-endpoint-value="{% url 'mandate_translation' %}"
    data-mandate-translation-noprint-class="no-print"
  >
  <div class="no-print fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-md-8 fr-col-12">
      <h1>Projet de mandat traduit</h1>
      <p>Vous trouverez ci-dessous un mandat type pour lequel plusieurs traductions sont disponibles. Les traductions de mandat servent uniquement à expliquer à l’usager ce que c’est qu’un mandat et ses implications. Ces traductions n’ont aucune valeur juridique. Seul le mandat final en français a une valeur juridique valide.</p>
    </div>
    <div class="fr-col-md-4 fr-col-12">
      <div class="fr-callout">
        <p >Vous pouvez imprimer ce mandat type en cliquant sur le bouton ci-dessous. Attention, nous vous rappelons que ce mandat n’a aucune valeur juridique. Il est traduit à titre indicatif pour l’usager.</p>
        {% include 'aidants_connect_web/_attestation-print.html' %}
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">

      <div class="fr-col-12 fr-col-md-6 print-button-container">

      </div>
    </div>

    <header class="mandate-translation-row no-print">
      <h2 class="mandate-translation-column fr-h3">Version française</h2>
      <section class="mandate-translation-column">
        <label class="fr-h4 fr-col-6 fr-mb-0" for="mandate-translation-lang">Traduire le mandat en :</label>
        <select class="fr-select"
          id="mandate-translation-lang"
          data-action="mandate-translation#selectTranslation"
        >
          <option value="">Sélectionner une langue</option>
          {% for translation in available_translations %}
            <option value="{{ translation.lang }}">{{ translation.lang_name }}</option>
          {% endfor %}
        </select>
      </section>
    </header>
    <p class="fr-h1 print-only">Projet de Mandat traduit</p>
    <p class="print-only">
      Mandat pour réaliser des démarches en ligne avec le service « Aidants Connect »
    </p>

    <p class="print-only subtitle">
      <strong>Attention, nous vous rappelons que ce mandat n’a aucune valeur juridique.
      Il est traduit à titre indicatif pour l’usager.</strong>
    </p>

    <section class="mandate-translation-row fr-grid-row fr-grid-row--gutters">
      <article class="mandate-translation-column mandate-translation-fr-container fr-col-md-6 fr-col-12">
        {% include current_mandat_template %}
      </article>
      <article
        class="mandate-translation-column mandate-translation-other fr-col-md-6 fr-col-12"
        data-mandate-translation-target="translationContainer"
      >
      </article>
    </section>

    <template hidden data-mandate-translation-target="emptyTranslationTpl">
      <div class="fr-mt-6w empty-translation-container">
        <div class="fr-background-alt--grey fr-p-4w fr-text--center">
          <span class="fr-icon-translate-2 fr-text-title--blue-france fr-icon--lg"></span>
          <h3 class="fr-h4">D’autres langues sont disponibles</h3>
          <p>
            Retrouvez ici le mandat type en version traduite.
            Sélectionnez une langue dans la liste déroulante ci-dessus.
          </p>
        </div>
      </div>
    </template>
  </div>
{% endblock content %}

{% block footer %}{% endblock %}

{% block extrajs %}
  {% if available_translations|length > 0 %}
    <script type="module" src="{% static 'js/mandate-translation.mjs' %}"></script>
  {% endif %}
{% endblock extrajs %}
