{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Impression du mandat{% endblock %}

{% block extracss %}
<link href="{% static 'css/attestation.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block nav %}
{% endblock nav %}

{% block content %}
{% include "aidants_connect_web/attestation_print.html" %}

{% include current_mandat_template %}
{% endblock content %}

{% block footer %}
  {% if modified %}
    <em class="text-center margin-bottom-1em">Ce contrat est mis à jour régulièrement pour des raisons légales. Il peut avoir été modifié depuis votre dernière visite.</em>
  {% endif %}
{% endblock footer %}
