{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Impression du mandat{% endblock %}

{% block extracss %}
<link href="{% static 'css/attestation.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block nav %}
{% endblock nav %}

{% block content %}
<section class="no-print text-center">
  {% if messages %}
    <div class="notification success" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
  <p>
    <i>🖨 Pour imprimer, sélectionnez dans le menu de votre navigateur 'Fichier', puis 'Imprimer'.</i>
  </p>
  <br>
</section>

{% include 'aidants_connect_web/mandat_templates/20200511_mandat.html' %}
{% endblock content %}

{% block footer %}
{% endblock footer %}
