{% extends 'layouts/main.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <form method="post" >
      <h2 id="welcome_aidant">Bienvenue, {{aidant.first_name}}</h2>
      <p>Choisissez l'usager que vous souhaitez FranceConnecter.</p>
      {% csrf_token %}
        <input type="hidden" name="state" value="{{state}}" />
          {% for usager in usagers %}
              <button class="button" type="submit" id="submit" name="chosen_user" value={{ usager.id }}>{{ usager.given_name }} {{ usager.family_name }}</button>
        {% endfor %}
    </form>
    <div>
</section>
{% endblock content %}
