{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Espace Aidant{% endblock %}

{% block extracss %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section">
  <div class="container">
    {% if messages %}
      <div class="notification success" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    <h1 class="section__title">Bienvenue sur votre Espace Aidant, {{ aidant.first_name }} !</h1>
    <div class="tiles">
      <h2>Vos services</h2>
      <div class="grid">
        <a href="{% url 'usagers' %}" class="tile" id="view_mandats">
          <div class="top-icon text-center">📂</div>
          <h3>Voir mes mandats</h3>
        </a>
        <a href="{% url 'new_mandat' %}" class="tile" id="add_usager">
          <div class="top-icon text-center">✨</div>
          <h3>Créer un mandat</h3>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="section section-grey">
  <div class="container">
    <h2>Vos ressources</h2>
    {% include 'public_website/resource_list.html' %}
  </div>
</section>
{% endblock content %}
