{% extends 'layouts/main.html' %}

{% load static %}

{% block content %}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="hero__description">
        <h1 class="brand">Bienvenue sur Aidants Connect</h1>
        <p class="lead-text">
          Le service qui permet aux aidants professionnels de réaliser des démarches administratives en ligne pour le compte d’une personne via une connexion sécurisée.
        </p>
        <p>Ce service permet :
          <ul>
            <li>une protection du professionel déclarant comme de la personne aidée en cas d’erreur ;</li>
            <li>un suivi des actions réalisées sur le compte de la personne.</li>
          </ul>
        </p>
      </div>
      <div class="column__image">
        <img src="{% static 'images/aidantsconnect.png' %}" />
      </div>
    </div>
  </div>
</section>
<section class="section section-grey">
  <div class="container">
    <div class="row">
      <div class="column__image">
        <img src="{% static 'images/aidantsconnect2.svg' %}" />
      </div>
      <div class="issues">
        <h2>À quel problème répond Aidants Connect ?</h2>
        <ul>
          <li>13 millions de français en difficulté numérique</li>
          <li>Dématérialisation de 250 démarches administratives "icôniques" d’ici 2022</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
