{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<div class="hero">
  <div class="hero__container">
      <h1 class="brand">Bienvenue sur Aidants Connect</h1>
      <p>Ce service sécurise et facilite le « faire pour le compte de ».</p>
      <div class="hero-img"><img src="{% static 'images/aidantsconnect-illustration.svg' %}" alt="Aidants Connect illustration"/></div>
    </div>
  </div>
</div>
<section class="section section-grey">
  <div class="container container-small">
    <h2 class="text-center brand">Je souhaite suivre l’évolution d'Aidants Connect</h2>
    <p class="text-center">Envoyez un mail à <a href="mailto:contact@aidantsconnect.beta.gouv.fr">contact@aidantsconnect.beta.gouv.fr</a> pour vous inscrire à notre newsletter.</p>
  </div>
</section>
{% endblock content %}
