{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
  <link href="{% static 'css/mandats.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section">
  <div class="container">
    <a href="{% url 'new_mandat' %}" class="button new__usager" id="add_usager">Ajouter un usager</a>
    <h1 class="brand">Vos mandats</h1>
    {% if messages %}
      <div class="notification success">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
      </div>
    {% endif %}
    <div class="current__usagers">
      <h2>Les usagers avec qui vous avez un mandat en cours</h2>
      {% if mandats %}
      <input class="table__filter" type="text" placeholder="Trouver un usager (à venir)" aria-label="Trouver les usagers (à venir)" disabled>
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Périmètre de la démarche</th>
            <th>Date de début</th>
            <th>Date de fin</th>
          </tr>
        </thead>
        <tbody>
          {% regroup mandats by usager as usagers %}
          {% for usager in usagers %}
          <tr>
            <td class="usager" rowspan="{{ usager.list|length}}">
              {{ usager.grouper }}
            </td>
              {% for mandat in usager.list %}
          {% if loop.index > 1 %}
          </tr><tr>
              {% endif %}
              <td>
                <ul>
                  <li>{{ mandat.demarche}}</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>{{ mandat.creation_date }}</li>
                </ul>
              </td>
              {% if mandat.is_expired %}
              <td>Expiré</td>
              {% else %}
              <td>{{ mandat.expiration_date }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <div class="notification">Vous n’avez pas de mandat en cours.</div>
      {% endif %}
    </div>
  <div>
</section>
{% endblock content %}
