{% load static %}

<section class="container">
  <div class="navbar__home">
    <img class="navbar__logo" src="{% static 'images/logo-marianne.svg' %}" alt="aidantsconnect.beta.gouv.fr" />
    <img class="navbar__gouvfr" src="{% static 'images/aidants-connect_logo.png' %}" alt="aidantsconnect.beta.gouv.fr" />
  </div>

  <h1 class="text-center">Révocation d'un mandat via le service « Aidants Connect »</h1>

  <p>
    Je soussigné(e), <strong>{{ usager_name }}</strong> souhaite révoquer le mandat « Aidants Connect » créé le {{ creation_date}} avec <strong>{{ organisation }}</strong>.
  </p>

  <p>
    Fait à <strong>{{ aidant.organisation.address }}</strong>, le <strong>{{ date }}</strong>
  </p>

  <p class="margin-bottom-50">
    <span>Le mandant</span>
  </p>
</section>
