{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
  <link href="{% static 'css/mandats.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section section-grey">
    <div class="container">
      <h2>Ressources utiles</h2>
      <p>Pour vous aider à aller plus loin, Aidants Connect vous recommande ces guides et articles pour un meilleur accompagnement des usagers.</p>
      {% include 'aidants_connect_web/resource_list.html' %}
  </div>
</section>
{% endblock content %}
