{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock extracss %}


{% block content %}
<section class="section">
    <div class="container">
        <h1 class="brand">Statistiques d'Aidants Connect</h1>
        <div class="tiles">
            <h2>Indicateurs de base</h2>
            <div class="grid">
                {% for key, value in statistiques.items %}
                    <div class="tile text-center">
                        <h3>{{ value.name }}</h3>
                        <h3><b>{{ value.total }}</b></h3>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- <div class="tiles">
            <h2>Evolution du nombre de ... dans le temps</h2>
        </div> -->
    </div>
</section>
{% endblock content %}