{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
  <link href="{% static 'css/usagers.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section">
  <div class="container">
    <a href="{% url 'new_mandat' %}" class="button float-right" id="add_usager">Ajouter un usager</a>
    <h1 class="brand">Vos mandats</h1>
    {% if messages %}
      <div class="notification success">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    <div class="tiles">
      <h2 class="float-left">Les usagers avec qui vous avez un mandat</h2>
      {% if aidant_usagers %}
        <!-- <input class="table__filter" type="text" name="input_val" placeholder="Trouver un usager (à venir)" aria-label="Trouver les usagers (à venir)"> -->
        <table class="table">
          <thead>
            <tr>
              <th class="th-66">Nom</th>
              <th>Date de naissance</th>
            </tr>
          </thead>
        </table>
        <!-- fake table body (cannot have a working link inside a td) -->
        {% for usager in aidant_usagers %}
          <div class="row fake-table-row">
            <div class="col-66">
              <a href="{% url 'usagers_details' usager_id=usager.id %}">{{ usager.get_full_name }}</a>
            </div>
            <div class="col-32">
              {{ usager.birthdate | date:"d F" }}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="notification">Vous n’avez pas d'usagers.</div>
      {% endif %}
    </div>
  <div>
</section>
{% endblock content %}
