{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - {{ usager.get_full_name }}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="row">
      <h1 class="brand">
        <a id="retour_usagers" href="{% url 'usagers' %}">Vos mandats</a>
      </h1>
      <a id="add_mandat" class="button float-right" href="{% url 'new_mandat' %}">Créer un mandat</a>
    </div>
    <h2 class="brand">&nbsp;↳ {{ usager.get_full_name }}</h2>
    {% if messages %}
      <div class="notification success" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    <div class="tiles">
      {% if active_mandats or inactive_mandats %}
        <h2>Mandats en cours</h2>
        {% if active_mandats %}
          <!-- <input class="table__filter" type="text" placeholder="Trouver un usager (à venir)" aria-label="Trouver les usagers (à venir)" disabled> -->
          <table class="table">
            <thead>
              <tr>
                <th class="th-40">Périmètre de la démarche</th>
                <th class="th-20">Date de début</th>
                <th class="th-20">Date de fin</th>
                <th class="th-20">
                  <span class="float-right">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for mandat in active_mandats %}
              <tr>
                <td>{{ mandat.demarche }}</td>
                <td title="{{ mandat.creation_date }}">{{ mandat.creation_date | date:"d F Y" }}</td>
                <td title="{{ mandat.expiration_date }}">{{ mandat.expiration_date | date:"d F Y" }}</td>
                <td>
                  <a href="{% url 'usagers_mandats_cancel_confirm' usager_id=usager.id mandat_id=mandat.id %}" class="button-outline warning small float-right" title="Révoquer le mandat">&nbsp;🗑️</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="notification" role="alert">Vous n’avez pas de mandat en cours avec cet usager.</div>
        {% endif %}
        <br />
        <h2>Mandats expirés</h2>
        {% if inactive_mandats %}
          <!-- <input class="table__filter" type="text" placeholder="Trouver un usager (à venir)" aria-label="Trouver les usagers (à venir)" disabled> -->
          <table class="table">
            <thead>
              <tr>
                <th class="th-40">Périmètre de la démarche</th>
                <th class="th-20">Date de début</th>
                <th class="th-40">Date de fin</th>
              </tr>
            </thead>
            <tbody>
              {% for mandat in inactive_mandats %}
                <tr>
                  <td>{{ mandat.demarche }}</td>
                  <td title="{{ mandat.creation_date }}">{{ mandat.creation_date | date:"d F Y" }}</td>
                  <td title="{{ mandat.expiration_date }}">{{ mandat.expiration_date | date:"d F Y" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="notification" role="alert">Vous n’avez pas de mandat expiré avec cet usager.</div>
        {% endif %}
      {% else %}
        <div class="notification" role="alert">Vous n’avez pas de mandat avec cet usager.</div>
      {% endif %}
    </div>
  <div>
</section>
{% endblock content %}
