{% extends "layouts/email_habilitation_base.html" %}
{% block email_body %}

<p>Bonjour,</p>
<p>
  Vous venez de créer <b>une nouvelle demande d’habilitation à Aidants Connect pour
  l’organisation {{ organisation.name }}.</b>
</p>
<p>
  Pour retrouver toutes vos demandes en cours, les modifier ou nous apporter d’éventuelles précisions, vous pouvez suivre le lien ci-dessous :
</p>
<div class="center">
  <a class="btn" href="{{ url }}">Mes demandes</a>
</div>
<p>Si cela ne fonctionne pas, en copiant l’URL suivante dans votre navigateur :<p>
<p class="long-link">{{ url }}</p>

{% endblock %}
