{% extends "layouts/email_habilitation_base.html" %}
{% block email_body %}

<p>Bonjour,</p>
<p>Bonne nouvelle ! Il existe déjà un espace demandeur associé à cet email chez nous.</p>
<p>
  Pour retrouver toutes vos demandes en cours et en déposer de nouvelles, vous pouvez suivre le lien ci-dessous :
</p>
<div class="center">
  <a class="btn" href="{{ url }}">Mes demandes</a>
</div>
<p>Si cela ne fonctionne pas, en copiant l’URL suivante dans votre navigateur :<p>
<p class="long-link">{{ url }}</p>

{% endblock %}
