{% extends "layouts/email_base.html" %}
{% block email_body %}
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">
          <table class="main">
            <tr>
              <td class="wrapper">
                <table border="0" cellpadding="6" cellspacing="0">
                  <tr>
                    <td>
                      <p>Bonjour,</p>
                      <p>
                        Vous venez de tenter de créer un nouveau profil demandeur sur la page d'habilitations Aidants
                        Connect avec une adresse email qui existe déjà dans notre basse de données. Notez que si vous
                        souhaitez poduire une nouvelle demande d'habilitation pour une organisation, ou modifier une
                        demande existante, <a href="{{ url }}">vous pouvez visualiser toutes vos demandes en cours
                        en suivant ce lien</a> ou, si cela ne fonctionne pas, en copiant l'URL suivante dans votre
                        navigateur :
                      </p>
                      <p>{{ url }}</p>

                      <p>Bonne journée,</p>
                      <p>L'équipe Aidants Connect</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
{% endblock %}
