{% extends "layouts/email_habilitation_base.html" %}
{% block email_body %}

<p>Bonjour,</p>
<p>
  Vous avez reçu un nouveau message sur la demande d'habilitation Aidants Connect déposée par {{ organisation.issuer }}, concernant la structure {{ organisation.name }} :
</p>
<p><b>{{ message.content }}</b></p>
<p>
  Pour retrouver tous les échanges, vous pouvez suivre le lien ci-dessous :
</p>
<div class="center">
  <a class="btn" href="{{ url }}">Ma demande</a>
</div>
<p>Si cela ne fonctionne pas, en copiant l’URL suivante dans votre navigateur :<p>
<p class="long-link">{{ url }}</p>

{% endblock %}
