{% extends "layouts/email_habilitation_base.html" %}
{% block email_body %}
<p>Bonjour,</p>
<p>
  Vous venez de soumettre <b>une demande d’habilitation à Aidants Connect pour l’organisation {{ organisation.name }}.</b>
  L'équipe Aidants Connect va la traiter dans les meilleurs délais.
</p>
<p>
  Pour retrouver tous les détails de votre demande, vous pouvez suivre le lien ci-dessous :
</p>
<div class="center">
  <a class="btn" href="{{ url }}">Ma demande</a>
</div>
<p>Si cela ne fonctionne pas, en copiant l’URL suivante dans votre navigateur :<p>
<p class="long-link">{{ url }}</p>

{% endblock %}
