{% extends "layouts/email_base.html" %}
{% block email_body %}
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">
          <table class="main">
            <tr>
              <td class="wrapper">
                <table border="0" cellpadding="6" cellspacing="0">
                  <tr>
                    <td>
                      <p>Bonjour,</p>
                      <p>
                        Vous venez de créer une nouvelle demande d’habilitation à Aidants Connect pour
                        l’organisation {{ organisation.name }}
                      </p>
                      <p>
                        Vous pouvez <a href="{{ url }}">suivre le lien suivant pour retrouver toutes les détails de
                        cette demande en cours</a> ou, si cela ne fonctionne pas, en copier l’URL suivante
                        dans votre navigateur :
                      </p>
                      <p>{{ url }}</p>

                      <p>À bientôt sur Aidants Connect</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
{% endblock %}
