<div class="fr-col-12 fr-col-md-8">
  <ol class="habilitation-breadcrumbs">
    {# STEP 1 ======================================================================= #}
    <li class="{% if step == steps.ISSUER %}active{% endif %}">
      {% if step > steps.ISSUER and issuer %}
        <a href="{% url 'habilitation_modify_issuer' issuer_id=issuer.issuer_id %}"
           title="Modifier mes informations demandeur">
          Le demandeur
        </a>
      {% else %}
        Le demandeur
      {% endif %}
    </li>
    {# STEP 2 ======================================================================= #}
    <li class="{% if step == steps.ORGANISATION %}active{% endif %}">
      {% if step > steps.ORGANISATION and organisation %}
        <a href="{% url 'habilitation_modify_organisation' issuer_id=issuer.issuer_id draft_id=organisation.draft_id %}"
           title="Modifier la structure {{ organisation }}">
          La structure
        </a>
      {% else %}
        La structure
      {% endif %}
    </li>
    {# STEP 3 ======================================================================= #}
    <li class="{% if step == steps.PERSONNEL %}active{% endif %}">Les personnes<br>impliquées</li>
    {# STEP 4 ======================================================================= #}
    <li class="{% if step == steps.SUMMARY %}active{% endif %}">Récapitulatif<br>& validation</li>
  </ol>
</div>
