{% load static %}
<!doctype html>
<html lang="fr" data-fr-scheme="system">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Aidants Connect{% endblock %}</title>
  <link href="{% static 'css/ds-font-grid.css' %}" rel="stylesheet">
  <link href="{% static 'css/main-habilitation.css' %}" rel="stylesheet">
  {# Extra styles #}
  {% block extracss %}
  {% endblock %}

  {# Polyfills #}
  <script type="text/javascript">
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
          {# ES2015+ polyfill (Promise, Array.from, Object.assign, generators) #}
          {# https://www.npmjs.com/package/@babel/polyfill #}
          document.write('<script src="https://unpkg.com/@babel/polyfill@7.12.1/dist/polyfill.js"><\/script>');
          {# Polyfill URL and URLSearchParams to match last WHATWG specifications #}
          {# https://www.npmjs.com/package/url-polyfill #}
          document.write('<script src="https://unpkg.com/url-polyfill@1.1.12/url-polyfill.js"><\/script>');
      }
  </script>
  <!-- Search Engine -->
  <meta name="title" content="Aidants Connect - aidantsconnect.beta.gouv.fr">
  <meta name="description"
        content="Permettre à un aidant professionnel de réaliser des démarches administratives en ligne « à la place de » via une connexion sécurisée">
  <meta name="image" content="{% static 'images/aidantsconnect-illustration.svg' %}">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Aidants Connect">
  <meta itemprop="description"
        content="Permettre à un aidant professionnel de réaliser des démarches administratives en ligne « à la place de » via une connexion sécurisée">
  <meta itemprop="image" content="{% static 'images/aidantsconnect-illustration.svg' %}">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Aidants Connect">
  <meta name="twitter:description"
        content="Permettre à un aidant professionnel de réaliser des démarches administratives en ligne « à la place de » via une connexion sécurisée">
  <meta name="twitter:site" content="@betagouv">
  <meta name="twitter:creator" content="betagouv">
  <meta name="twitter:image:src" content="{% static 'images/aidantsconnect-illustration.svg' %}">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="Aidants Connect">
  <meta name="og:description"
        content="Permettre à un aidant professionnel de réaliser des démarches administratives en ligne « à la place de » via une connexion sécurisée">
  <meta name="og:image" content="{% static 'images/aidantsconnect-illustration.svg' %}">
  <meta name="og:url" content="https://aidantsconnect.beta.gouv.fr">
  <meta name="og:site_name" content="Aidants Connect">
  <meta name="og:locale" content="fr_FR">
  <meta name="og:type" content="website">

  <!-- Favicons -->
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
  <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
</head>

<body>
{% block nav %}
  {% include 'layouts/_header.html' %}
{% endblock nav %}

<main id="main" tabindex="-1">
  {% block content %}
  {% endblock %}
</main>

{% block footer %}
  {% include 'layouts/_footer.html' %}
{% endblock footer %}

{% block extrajs %}
{% endblock %}
</body>

</html>
