// break points -----------------------------------------

$bp-xs: 20em;
$bp-sm: 36em;
$bp-md: 48em;
$bp-lg: 62em;
$bp-xl: 78em;

.margin-left-1em {
  margin-left: 1em !important;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-1em {
  margin-bottom: 1em;
}
.margin-bottom-2rem {
  margin-bottom: 2rem;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-1em {
  margin-top: 1em;
}
.margin-top-0 {
  margin-top: 0;
}
.margin-0 {
  margin: 0;
}
.padding-0 {
  padding: 0;
}
.padding-1rem {
  padding: 1rem;
}
.padding-2rem {
  padding: 2rem;
}
.remove-footer-margin footer {
  margin: 0;
}
.padding-1rem-lr {
  padding: 0 1rem;
}
