@use "colors";
@use "boxes";

.detailed-radio-select {
  .detailed-radio-select-label-text {
    color: colors.$blue-aidants;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  .detailed-radio-select-description {
    margin-bottom: 0;
    margin-top: 1rem;
    padding-bottom: 0;
    padding-top: 0;
  }

  > input[type="checkbox"],
  > input[type="radio"] {
    cursor: pointer;
    float: right;
    left: 0;
    order: 1;
    position: absolute;
    visibility: hidden;
    top: 0;
    z-index: 2;

    &:checked ~ label::after {
      content: url("/static/images/icons/tick-checked.svg");
    }
  }

  > label {
    display: block;
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;

    & * {
      margin-right: 45px;
    }

    &::after {
      cursor: pointer;
      height: 24px;
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      z-index: 2;
    }
  }

  &.detailed-radio-select-multiselect {
    > input[type="checkbox"],
    > input[type="radio"] {
      &:not(:checked) ~ label::after {
        content: url("/static/images/icons/tick-unchecked.svg");
      }
    }
  }
}
