// basic layout -----------------------------------------

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 400; // Marianne-Regular
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: outside;
}

$main-padding: 3rem;

#main {
  flex-grow: 100;
  padding: $main-padding 0;
}

.main-content-full { // cancels #main padding
  margin-bottom: -$main-padding;
  margin-top: -$main-padding;

  .main-content-item {
    margin-bottom: $main-padding;
    margin-top: $main-padding;
  }
}

h1, .fr-h1 {
  margin: 0 0 3rem 0;
}

h3, .fr-h3, h4, .fr-h4 {
  margin-bottom: 2rem;
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }
}

.fr-text-default {
  color: var(--text-default-grey);
}

.fr-text--center {
  text-align: center;
}

.page-main-title {
  color: var(--grey-425-625);
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0;
  text-transform: uppercase;
}

.subtitle {
  margin: 0 0 3rem 0;
}

p:last-child {
  margin-bottom: 0;
}

[hidden] {
  display: none !important;
}

.fr-icon-loader:after,
.fr-icon-loader:before {
  -webkit-mask-image: url(../images/icons/AC-loader.svg);
  mask-image: url(../images/icons/AC-loader.svg)
}

// From https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

// utils ----------------------------------------------

.flex {
  display: flex;
}

.width-100 {
  width: 100%;
}

.spacer {
  flex-grow: 10;
}

@for $i from 0 through 32 {
  @each $gap-type in gap, row-gap, column-gap {
    .fr-grid-row.fr-grid-row--#{$gap-type}-#{$i}v {
      #{$gap-type}: #{$i * 0.25}rem !important;
    }
  }
}
