// basic layout -----------------------------------------

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 400; // Marianne-Regular
}

ul, ol {
  margin: var(--text-spacing);
  p:has(+&) {
    margin-bottom: var(--xl-block);
  }
}

$main-padding: 3rem;

#main {
  flex-grow: 100;
  padding: $main-padding 0;
}

.main-content-full { // cancels #main padding
  margin-bottom: -$main-padding;
  margin-top: -$main-padding;

  .main-content-item {
    margin-bottom: $main-padding;
    margin-top: $main-padding;
  }
}

h1, .fr-h1 {
  margin: 0 0 3rem 0;
}

h3, .fr-h3, h4, .fr-h4 {
  margin-bottom: 2rem;
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }
}

.page-main-title {
  color: var(--grey-425-625);
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0;
  text-transform: uppercase;
}

.subtitle {
  margin: 0 0 3rem 0;
}

.errorlist {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--text-active-red-marianne);
}

p:last-child {
  margin-bottom: 0;
}

[hidden] {
  display: none !important;
}

.fr-icon-loader:after,
.fr-icon-loader:before {
  -webkit-mask-image: url(../images/icons/AC-loader.svg);
  mask-image: url(../images/icons/AC-loader.svg)
}

// From https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

// utils ----------------------------------------------

.flex {
  display: flex;
}

.flex-right {
  justify-content: right;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.width-100 {
  width: 100% !important;
}

.spacer {
  flex-grow: 10;
}

.fr-text--overflow-hidden {
  overflow: hidden;
}

.fr-text--center {
  text-align: center;
}

.fr-bordered {
  border: solid 1px var(--border-default-grey);
}

.fr-bordered-blue {
  border-color: var(--border-default-blue-france)
}

.fr-height-100 {
  height: 100%;
}

.fr-btn.fr-btn--warning {
  --hover-tint: var(--hover);
  --idle: transparent;
  --hover: var(--background-action-high-warning-hover);
  --active: var(--background-action-high-warning-active);
  align-items: center;
  background-color: var(--background-action-high-warning);
  color: var(--text-inverted-warning);

  &.fr-btn--secondary {
    --hover: inherit;
    --active: inherit;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--border-action-high-warning);
    color: var(--text-default-warning);
  }
}

@for $i from 0 through 32 {
  @each $gap-type in gap, row-gap, column-gap {
    .fr-grid-row.fr-grid-row--#{$gap-type}-#{$i}v {
      #{$gap-type}: #{$i * 0.25}rem !important;
    }
  }
}

@media screen {
  .print-only {
    display: none;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  // Don't display cookie related element on print
  [id^="tarteaucitron"] {
    display: none !important;
  }
}
