{% extends 'layouts/dsfr_error_base.html' %}

{% block title %}Aidants Connect - Accès refusé (erreur 403){% endblock %}

{% block error_title %}Accès refusé{% endblock %}

{% block error_code %}Erreur 403{% endblock %}

{% block error_content %}
  <p class="fr-text--lead fr-mb-3w">
    Vous n'avez pas la permission d'accéder à cette page.
  </p>
  <p class="fr-text--sm fr-mb-5w">
    Si vous pensez qu'il s'agit d'une erreur, vous pouvez consulter notre page d'accueil ou nous contacter pour obtenir de l'aide.
  </p>
{% endblock error_content %}

{% block error_actions %}
  {% include 'layouts/_dsfr_error_actions.html' with show_home=True show_contact=True contact_subject='Erreur 403' contact_secondary=True %}
{% endblock error_actions %}
