{% extends 'layouts/dsfr_error_base.html' %}

{% block title %}Aidants Connect - Erreur inattendue (erreur 500){% endblock %}

{% block error_title %}Erreur inattendue{% endblock %}

{% block error_code %}Erreur 500{% endblock %}

{% block error_content %}
  <p class="fr-text--sm fr-mb-5w">
    Désolé, le service rencontre un problème, nous travaillons pour le résoudre le plus rapidement possible.
  </p>
  <p class="fr-text--lead fr-mb-3w">Essayez de rafraîchir la page ou bien ressayez plus tard.</p>
  <p class="fr-text--sm fr-mb-5w">
    Si vous avez besoin d'une aide immédiate, merci de nous contacter directement.
  </p>
{% endblock error_content %}

{% block error_actions %}
  {% include 'layouts/_dsfr_error_actions.html' with show_home=False show_contact=True contact_subject='Erreur 500' contact_secondary=True %}
{% endblock error_actions %}
