{% load ac_common static %}

<div class="fr-grid-row fr-grid-row--gutters">
{% if aidant.can_create_mandats %}
  <div class="fr-col-md-4 fr-col-12">
    <div class="fr-card fr-enlarge-link fr-card--download fr-card--horizontal fr-card--horizontal-tier">
      <div class="fr-card__body">
        <div class="fr-card__content">
            <h3 class="fr-card__title">
              <a class="fr-text--lg" href="{% url 'espace_aidant:generate_formation_attestation' %}">Attestation de formation</a>
            </h3>
            <p class="fr-card__desc">Téléchargez votre attestion Aidants Connect</p>

        </div>
      </div>
      <div class="fr-card__header fr-background-contrast--blue-france fr-grid-row fr-grid-row--middle fr-px-3w">
        <img class="fr-responsive-img" src="{% static 'images/attestation.svg' %}" alt="" />
      </div>
    </div>
  </div>
{% endif %}

  <div class="fr-col-md-4 fr-col-12">
    <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--horizontal-tier">
      <div class="fr-card__body">
        <div class="fr-card__content">
          {% if view|startswith:'referent' %}
            <h3 class="fr-card__title">
              <a class="fr-text--lg" href="https://www.notion.so/incubateurdesterritoires/Module-d-auto-formation-en-ligne-1f8744bf03dd8081a9becea68e0e14bc">Module d’auto-formation en ligne</a>
            </h3>
            <p class="fr-card__desc">L’équipe Aidants Connect vous présente le dispositif et le rôle de référent</p>
          {% else %}
            <h3 class="fr-card__title">
              <a class="fr-text--lg" href="https://www.notion.so/incubateurdesterritoires/Module-d-auto-formation-en-ligne-1f8744bf03dd8081a9becea68e0e14bc">Module d’auto-formation en ligne</a>
            </h3>
            <p class="fr-card__desc">Mettez à jour vos connaissances sur le dispositif Aidants Connect</p>
          {% endif %}
        </div>
      </div>
      <div class="fr-card__header fr-background-contrast--blue-france fr-grid-row fr-grid-row--middle fr-px-3w">
        <img class="fr-responsive-img" src="{% static 'images/self_training.svg' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="fr-col-md-4 fr-col-12">
    <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--horizontal-tier">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a class="fr-text--lg" href="https://rdv.anct.gouv.fr/org/roFEEt/aidants-connect">Prochains webinaires juridiques</a>
          </h3>
          <p class="fr-card__desc">Nos juristes répondent à vos questions (droit à l'erreur, gestion des données personnelles, etc.)</p>
        </div>
      </div>
      <div class="fr-card__header fr-background-contrast--blue-france fr-grid-row fr-grid-row--middle fr-px-3w">
        <img class="fr-responsive-img" src="{% static 'dsfr/dist/artwork/pictograms/institutions/justice.svg' %}" alt="" />
      </div>
    </div>
  </div>
</div>
