{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Espace Aidant{% endblock %}

{% block extracss %}
<link href="{% static 'css/espace_aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section">
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <h1 class="section__title">Bienvenue sur votre Espace Aidant, {{ aidant.first_name }} !</h1>
    <div class="tiles">
      <h2>Vos services</h2>
      <div class="grid">
        <a id="view_organisation" class="tile text-center background-color-grey" href="{% url 'espace_aidant_organisation' %}">
          <h3>🏢<br />Mon organisation</h3>
        </a>
        <a id="view_mandats" class="tile text-center background-color-grey" href="{% url 'usagers' %}" >
          <h3>📂<br />Mes mandats</h3>
        </a>
        <a id="add_usager" class="tile text-center background-color-grey" href="{% url 'new_mandat' %}">
          <h3>📝<br />Créer un mandat</h3>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="section section-grey">
  <div class="container">
    <h2>Vos ressources</h2>
    {% include 'public_website/resource_list.html' %}
  </div>
</section>
{% endblock content %}
