{% extends 'layouts/main.html' %}
{% load ac_common dsfr_tags partials static widget_tweaks %}

{% partialdef messages %}
  {% include "aidants_connect_web/espace_aidant/notifications.html" with user=aidant %}
  {% include "layouts/_messages.html" %}
  {% for notification in notifications %}
    <div
      class="fr-col-12 fr-my-4v"
      {% if notification.must_ack %}
      data-controller="notification"
      data-notification-url-value="{% url 'notification_mark' notification_id=notification.pk %}"
      {% endif %}
    >
      <div class="fr-alert{% if notification.type == notification.NotificationType.WARNING %} fr-alert--warning{% elif notification.type == notification_type.INFORMATION.value %} fr-alert--info{% else %} fr-alert--info{% endif %}">
        <h3 class="fr-alert__title">{{ notification.type_label }}</h3>
        <p>{{ notification.to_html }}</p>
        {% if notification.must_ack %}
          <button
            class="fr-btn--close fr-btn"
            title="Masquer le message"
            data-action="notification#markRead"
          >
            Masquer le message
          </button>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endpartialdef %}

{% block title %}Espace Aidant - Aidants Connect{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace-aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <section class="main-content-fluid main-content-fluid--padding espace-aidant-header">
    <div class="fr-container">
      <h1>Bienvenue{% if aidant.first_name %}, {{ aidant.first_name }}{% endif %} !</h1>

      {% partial messages %}

      <div class="fr-grid-row fr-grid-row--gutters fr-mt-12v">
        {% for tile in main_tiles %}
          <div class="fr-col-12 fr-col-md-3">
            {% dsfr_tile tile %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="fr-container fr-mt-12v">
    <h2 class="fr-title-icon-left fr-icon-book-2-fill fr-mb-4v fr-mt-12v">Formation continue</h2>

    {% include "aidants_connect_web/espace_aidant/formation_continue.html" %}

    <h2 class="fr-title-icon-left fr-icon-file-text-fill fr-mb-4v fr-mt-12v">Ressources</h2>

    {% for title, tiles in resources_tiles.items %}
      <h3>{{ title }}</h3>

      <div class="fr-grid-row fr-grid-row--gutters">
        {% for tile in tiles %}
          <div class="fr-col-12 fr-col-md-3">
            {% dsfr_card tile %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}

    <h3 class="fr-title-icon-left fr-icon-file-text-fill">Création de mandat</h3>
    {% include "aidants_connect_web/common/resources-block.html" %}
  </section>
{% endblock content %}

{% block extrajs %}
  <script type="module" src="{% static 'js/notifications.mjs' %}"></script>
{% endblock extrajs %}
