{% extends 'layouts/main-habilitation.html' %}

{% load static ac_common %}

{% block title %}Aidants Connect - Espace Aidant{% endblock %}

{% block extracss %}
  <link href="{% static 'css/espace-aidant.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="fr-container">
    {% if messages %}
      {% for message in messages %}
        <div
          class="notification {% if message.tags %}{{ message.tags }}{% endif %}"
          role="alert"
        >{{ message }}</div>
      {% endfor %}
    {% endif %}
    <h1>
      {% if aidant.can_create_mandats %}Espace Aidant{% else %}Aidants Connect{% endif %}
      {% if aidant.first_name %}<p class="h2">Bienvenue, {{ aidant.first_name }} !</p>{% endif %}
    </h1>
    <p class="subtitle">
      Gérez vos mandats et personnes accompagnées depuis votre espace Aidant.
      Si vous avez besoin d’aide, nos équipes sont également joignables depuis cette
      page.
    </p>
    {% include "aidants_connect_web/espace_aidant/notifications.html" with user=aidant %}
    {% if aidant.organisations.count > 1 %}
      <div class="notification full-width">
        Votre organisation active est <strong>{{ aidant.organisation }}</strong>
        — {{ aidant.organisation.address }}.
      </div>
    {% endif %}
    {% for notification in notifications %}
      <div
        class="fr-col-12"
        data-controller="notification"
        data-notification-url-value="{% url 'notification_mark' notification_id=notification.pk %}"
      >
        <div class="fr-alert{% if notification.type == notification_type.WARNING.value %} fr-alert--warning{% elif notification.type == notification_type.INFORMATION.value %} fr-alert--info{% else %} fr-alert--info{% endif %}">
          <h3 class="fr-alert__title">{{ notification.type_label }}</h3>
          <p>{{ notification.to_html }}</p>
          {% if notification.must_ack %}
            <button
              class="fr-btn--close fr-btn"
              title="Masquer le message"
              data-action="notification#markRead"
            >
              Masquer le message
            </button>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <section class="section tiles aidant-home-services">
      <h3 class="home-section">Vos services</h3>
      <div class="fr-grid-row fr-grid-row--gutters">
        {% if aidant.is_responsable_structure %}
          <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
            <div class="fr-tile fr-enlarge-link">
              <div class="fr-tile__body">
                <div class="fr-tile__content">
                  <h3 class="fr-tile__title">
                    <a id="view_organisation" href="{% url 'espace_responsable_home' %}">Mon espace référent</a>
                  </h3>
                </div>
              </div>
              <div class="fr-tile__header">
                <div class="fr-tile__pictogram">🏢</div>
              </div>
            </div>
          </div>
          {% if not aidant.has_a_totp_device %}
            <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
              <div class="fr-tile fr-enlarge-link">
                <div class="fr-tile__body">
                  <div class="fr-tile__content">
                    <h3 class="fr-tile__title">
                      <a
                        id="view_organisation"
                        href="{% url "espace_responsable_associate_totp" aidant_id=aidant.id %}"
                      >
                        Activer ma carte
                      </a>
                    </h3>
                  </div>
                </div>
                <div class="fr-tile__header">
                  <div class="fr-tile__pictogram">💳</div>
                </div>
              </div>
            </div>
          {% endif %}
        {% else %}
          <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
            <div class="fr-tile fr-enlarge-link">
              <div class="fr-tile__body">
                <div class="fr-tile__content">
                  <h3 class="fr-tile__title">
                    <a id="view_organisation" href="{% url 'espace_aidant_organisation' %}">Mon organisation</a>
                  </h3>
                </div>
              </div>
              <div class="fr-tile__header">
                <div class="fr-tile__pictogram">🏢</div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if aidant.can_create_mandats %}
          <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
            <div class="fr-tile fr-enlarge-link">
              <div class="fr-tile__body">
                <div class="fr-tile__content">
                  <h3 class="fr-tile__title">
                    <a id="view_mandats" href="{% url 'usagers' %}">Mes mandats</a>
                  </h3>
                </div>
              </div>
              <div class="fr-tile__header">
                <div class="fr-tile__pictogram">📂</div>
              </div>
            </div>
          </div>
          <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
            <div class="fr-tile fr-enlarge-link">
              <div class="fr-tile__body">
                <div class="fr-tile__content">
                  <h3 class="fr-tile__title">
                    <a id="add_usager" href="{% url 'new_mandat' %}">Créer un mandat</a>
                  </h3>
                </div>
              </div>
              <div class="fr-tile__header">
                <div class="fr-tile__pictogram">📝</div>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
              <div class="fr-tile__content">
                <h3 class="fr-tile__title">
                  <a id="ask_for_help" href="{{ sos_href }}">J’ai besoin d’aide</a>
                </h3>
              </div>
            </div>
            <div class="fr-tile__header">
              <div class="fr-tile__pictogram">🆘</div>
            </div>
          </div>
        </div>

        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
              <div class="fr-tile__content">
                <h3 class="fr-tile__title">
                  <a id="help_tutorial" href="https://www.etsijaccompagnais.fr/tutoriel-aidants-connect">
                    Tutoriel Aidants Connect
                  </a>
                </h3>
              </div>
            </div>
            <div class="fr-tile__header">
              <div class="fr-tile__pictogram">💡</div>
            </div>
          </div>
        </div>
        {% if request.user.organisations.count > 1 and not disable_change_organisation %}
          <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
            <div class="fr-tile fr-enlarge-link">
              <div class="fr-tile__body">
                <div class="fr-tile__content">
                  <h3 class="fr-tile__title">
                    <a
                      href="{% url 'espace_aidant_switch_main_organisation' %}?next={{ request.get_full_path|urlencode:'' }}"
                    >
                      Changer d'organisation
                    </a>
                  </h3>
                </div>
              </div>
              <div class="fr-tile__header">
                <div class="fr-tile__pictogram">🏢 &rarr;️ 🏢</div>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="fr-tile fr-enlarge-link">
            <div class="fr-tile__body">
              <div class="fr-tile__content">
                <h3 class="fr-tile__title">
                  <a href="{% url 'sandbox_presentation' %}">
                    Site bac à sable
                  </a>
                </h3>
              </div>
            </div>
            <div class="fr-tile__header">
              <div class="fr-tile__pictogram">
                <img alt="" class="icon" src="{% static "images/icons/sandbox-icon.png" %}">
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="section ">
      <h3 class="home-section">Vos ressources</h3>
      {% include 'public_website/resource_list.html' %}
    </section>

  </div>
{% endblock content %}
