<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-bordered fr-bordered-blue fr-p-4w fr-height-100">
      {% if organisation.data_pass_id %}
        <h3 class="fr-h5 fr-mb-1w">Numéro d’habilitation</h3>
        <p>{{ organisation.data_pass_id }}</p>
      {% endif %}
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-8">
    <div class="fr-bordered fr-bordered-blue fr-p-4w fr-height-100">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-mb-2w">
          <h3 class="fr-h5 fr-mb-1w">
            <span class="fr-icon-line-chart-line fr-mr-1w" aria-hidden="true"></span>
            Statistiques
          </h3>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-mb-2w">
          <h4 class="fr-h6 fr-mb-1w">Mandats créés</h4>
          <p class="h2 margin-top-1rem">{{ organisation.num_mandats }}</p>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-mb-2w">
          <h4 class="fr-h6 fr-mb-1w">Aidants actifs</h4>
          <p class="h2 margin-top-1rem">{{ organisation.num_active_aidants }}</p>
        </div>
      </div>
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-6 fr-mb-2w">
          <h4 class="fr-h6 fr-mb-1w">Mandats actifs</h4>
          <p class="h2 margin-top-1rem">{{ organisation.num_active_mandats }}</p>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-mb-2w">
          <h4 class="fr-h6 fr-mb-1w">Usagers accompagnés</h4>
          <p class="h2 margin-top-1rem">{{ organisation.num_usagers }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
