{% extends "layouts/main.html" %}

{% load static %}

{% block title %}Aidants Connect - Changer d'organisation{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      <h1>Changement d'organisation</h1>

      <form method="post">
        {% csrf_token %}
        <p>
          Actuellement, votre organisation active est <strong>{{ aidant.organisation }}</strong>.
        </p>
        <p>
          Vous avez la possibilité de choisir une autre organisation active, si vous travaillez à plusieurs endroits
          différents. N'oubliez pas de valider le changement à l'aide du bouton «&nbsp;Sélectionner cette organisation&nbsp;».
        </p>
        <fieldset class="grid">
          <legend class="sr-only">Choisir une nouvelle organisation active</legend>
          {% for value, label in form.organisation.field.choices %}
            <div class="tile">
              <input
                  id="organisation_{{ value }}"
                  type="radio"
                  value="{{ value }}"
                  name="organisation"
                  class="sr-only"
                  {% if value == aidant.organisation.id %}checked{% endif %}
              />
              <label class="organisation-label" for="organisation_{{ value }}">
                <strong>{{ label }}</strong>
                <span>{{ value.instance.address }}</span>
              </label>
            </div>
          {% endfor %}
          {{ form.next_url.as_hidden }}
        </fieldset>

        <input
            id="submit_button"
            type="submit"
            value="Sélectionner cette organisation"
        />
      </form>
    </div>
  </section>
{% endblock %}
