{% extends 'public_website/cgu.html' %}
{% load dsfr_tags %}

{% block before_content %}

  <section class="fr-alert fr-alert--warning fr-mb-4v">
    <p>
      Attention, prenez connaissance des conditions d'utilisation Aidants Connect ci-dessous,
      puis validez votre accord en bas de page.
    </p>
  </section>
{% endblock before_content %}

{% block after_content %}
  <div class="section section-grey">
    <form class="fr-container fr-mt-4v" method="post">
      {{ form }}
      {% csrf_token %}
      <button type="submit" class="fr-btn">Valider</button>
    </form>
  </div>
{% endblock after_content %}
