{% extends "widgets/detailed_radio_option.html" %}

{% block class_tile %}
  fr-tile fr-tile--horizontal fr-tile--sm fr-checkbox-group
{% endblock class_tile %}

{% block extra_tile %}
  <div class="fr-tile__title"></div>
{% endblock extra_tile %}

{% block widget_description %}
  <div class="scope">{{ widget.description }}</div>
  <div class="fr-mt-2w">
    {% for service in option.service_exemples %}<span class="fr-tag fr-text--xs fr-mr-1w fr-mb-1w">{{ service }}</span>{% endfor %}
  </div>
{% endblock widget_description %}
