<h3>Informations générales</h3>
<div class="form-in-3-cols">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
      <div class="shadowed with-button-box">
        <h4 class="h2">Vous êtes :</h4>
        <div>
          <p>
            <strong>{{ issuer.get_full_name }}</strong><br>
            {{ issuer.profession }}
          </p>
          <p>
            {{ issuer.email }}<br>{{ issuer.phone }}
          </p>
        </div>
        {% if show_all_buttons %}
          <div class="button-box">
            <a
              class="fr"
              href="{% url 'habilitation_modify_issuer' issuer_id=issuer.issuer_id %}">Éditer</a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
      <div class="shadowed with-button-box">
        <h4 class="h2">Vous faites cette demande pour :</h4>
        <div>
          <p>
            <strong>{{ organisation.name }}</strong><br>
            {{ organisation.address|linebreaksbr }}<br/>
            {{ organisation.zipcode }}
            {{ organisation.city }}
          </p>
          <p>SIRET : {{ organisation.siret }}</p>
        </div>
        {% if show_all_buttons %}
          <div class="button-box">
            <a class="button primary"
               href="{% url 'habilitation_modify_organisation' issuer_id=issuer.issuer_id uuid=organisation.uuid %}">
              Éditer
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<h3>Autres informations</h3>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-md-8">
    <div class="shadowed padding-2rem">
      <dl class="fr-grid-row fr-grid-row--gutters">
        <dt class="fr-col-12 fr-col-md-6">Type de structure</dt>
        <dd class="fr-col-12 fr-col-md-6">
          {% if organisation.type_other %}
            {{ organisation.type_other }}
          {% else %}
            {{ organisation.type }}
          {% endif %}
        </dd>
        <dt class="fr-col-12 fr-col-md-6">Structure privée</dt>
        <dd class="fr-col-12 fr-col-md-6">{{ organisation.is_private_org|yesno:"Oui,Non" }}</dd>
        {% if organisation.is_private_org %}
          <dt class="fr-col-12 fr-col-md-6">Administration partenaire</dt>
          <dd class="fr-col-12 fr-col-md-6">{{ organisation.partner_administration }}</dd>
        {% endif %}
        <dt class="fr-col-12 fr-col-md-6">Site web</dt>
        <dd class="fr-col-12 fr-col-md-6">{{ organisation.web_site }}</dd>
        <dt class="fr-col-12 fr-col-md-6">Missions</dt>
        <dd class="fr-col-12 fr-col-md-6">{{ organisation.mission_description|linebreaksbr }}</dd>
        <dt class="fr-col-12 fr-col-md-6">Nombre de démarches traitées par semaine</dt>
        <dd class="fr-col-12 fr-col-md-6">{{ organisation.avg_nb_demarches }}</dd>
        <dt class="fr-col-12 fr-col-md-6">Label France Services</dt>
        <dd class="fr-col-12 fr-col-md-6">
          {{ organisation.france_services_label|yesno:"Oui,Non" }}
          {% if organisation.france_services_label %}
            <br>N°{{ organisation.france_services_number }}
          {% endif %}
        </dd>
      </dl>
      {% if show_all_buttons %}
        <div class="button-box">
          <a class="button primary"
             href="{% url 'habilitation_modify_organisation' issuer_id=issuer.issuer_id uuid=organisation.uuid %}">
            Éditer
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{# Infos générales #}
<h3>
  Personnes impliquées
  {% if display_add_aidants_button %}
   <a
    id="add-aidants-btn"
    class="fr-btn fr-btn--icon-left fr-icon-user-add-line margin-bottom-1rem"
    href="{% url 'habilitation_organisation_add_aidants' issuer_id=organisation.issuer.issuer_id uuid=organisation.uuid %}"
  >
    Ajouter des aidants
  </a>
{% endif %}
</h3>

<div class="form-in-3-cols">
  {# first row: référent #}
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
      <div class="shadowed with-button-box">
        <h4 class="h2">Référent de structure</h4>
        {% if organisation.manager %}
          {% if organisation.manager.habilitation_request and organisation.manager.habilitation_request.status in organisation.manager.habilitation_request.ReferentRequestStatuses.formation_registerable and organisation.manager.habilitation_request.conseiller_numerique %}
            {% if organisation.manager.habilitation_request.formations.exists %}
              <button class="fr-btn fr-mb-8v" disabled>
                Cette personne est inscrite à une formation
              </button>
            {% else %}
              <a
                href="{% url 'habilitation_manager_formation_registration' issuer_id=organisation.issuer.issuer_id uuid=organisation.uuid %}"
                class="fr-btn fr-mb-8v"
              >
                Inscrire à une formation
              </a>
            {% endif %}
          {% endif %}
        <div>
          <p>
            <strong>{{ organisation.manager.get_full_name }}</strong>
            <br>{{ organisation.manager.profession }}
          </p>
          <p>
            {{ organisation.manager.email }}<br>{{ organisation.manager.phone }}
          </p>
          <p>
            {{ organisation.manager.address|linebreaksbr }}<br/>
            {{ organisation.manager.zipcode }}
            {{ organisation.manager.city }}
          </p>
          <p>Ce ou cette référente est aussi aidant : {{ organisation.manager.is_aidant|yesno:"Oui,Non" }}</p>
        </div>
        {% else %}
        <a href="{% url "habilitation_new_aidants" issuer_id=issuer.issuer_id uuid=organisation.uuid %}">
          Ajouter un ou une référente</a>
        {% endif %}
        {% if show_all_buttons %}
          <div class="button-box">
            <a class="fr-btn"
               href="{% url 'habilitation_new_aidants' issuer_id=issuer.issuer_id uuid=organisation.uuid %}">Éditer</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {# 2nd row and more: aidants #}
  <div class="fr-grid-row fr-grid-row--gutters">
    {% for aidant_request in organisation.aidant_requests.all %}
      {% if not forloop.first and forloop.counter0|divisibleby:2 %}
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
      {% endif %}
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        <div class="shadowed with-button-box">

          <div class="flex fr-mb-5v">
            <h4 class="h2 fr-col--middle fr-m-0">Aidant <span class="sr-only">{{ forloop.counter }}</span></h4>
            {% if aidant_request.habilitation_request and aidant_request.habilitation_request.status in aidant_request.habilitation_request.ReferentRequestStatuses.formation_registerable and aidant_request.habilitation_request.conseiller_numerique %}
              <span class="spacer"></span>
              {% if aidant_request.habilitation_request.formations.exists %}
                <button class="fr-btn fr-ml-4v" disabled>
                  Cette personne est inscrite à une formation
                </button>
              {% else %}
                <a
                href="{% url 'habilitation_new_aidant_formation_registration' issuer_id=organisation.issuer.issuer_id uuid=organisation.uuid aidant_id=aidant_request.pk %}"
                class="fr-btn fr-ml-4v"
                >
                  Inscrire à une formation
                </a>
              {% endif %} 
            {% endif %}
          </div>

          <div>
            <p>
              <strong>{{ aidant_request.get_full_name }}</strong><br>
              {{ aidant_request.profession }}
            </p>
            <p>{{ aidant_request.email }}</p>
          </div>
          {% if aidant_request.habilitation_request %}
            {% if aidant_request.habilitation_request.status_cancellable_by_responsable %}
              <div>
                <a
                  id="cancel-habilitation-request-{{ aidant_request.habilitation_request.pk }}"
                  class="fr-link fr-link--icon-left fr-text-default--error fr-icon-delete-bin-line"
                  href="{% url 'habilitation_new_aidant_cancel_habilitation_request' issuer_id=organisation.issuer.issuer_id uuid=organisation.uuid aidant_id=aidant_request.pk %}"
                >
                  Annuler cette demande d'habilitation
                </a>
              </div>
            {% elif aidant_request.habilitation_request.status == aidant_request.habilitation_request.ReferentRequestStatuses.STATUS_CANCELLED_BY_RESPONSABLE %}
              <p class="fr-badge fr-badge--warning">Demande annulée par le ou la référente</p>
            {% endif %}
          {% endif %}
          {% if show_all_buttons %}
            <div class="button-box">
              <a
                class="button primary"
                href="{% url 'habilitation_new_aidants' issuer_id=issuer.issuer_id uuid=organisation.uuid %}"
              >
                Éditer
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
</div>
