{% if aidant.habilitation_request.status in aidant.habilitation_request.ReferentRequestStatuses.formation_registerable %}
  {% if aidant.habilitation_request.formations.exists %}
    <p class="fr-badge fr-badge--success">Inscrit</p>
  {% else %}
    {% block url_registration %}
        <a
          href="{% url 'habilitation_manager_formation_registration' issuer_id=organisation.issuer.issuer_id uuid=organisation.uuid %}"
          class="fr-link"
        >
          Inscrire à une formation
        </a>
    {% endblock url_registration %}
  {% endif %}
{% endif %}
