{% extends 'layouts/main-habilitation.html' %}
{% load static form_extras ac_common %}

{% block title %}
  Aidants Connect — Demande d'habilitation pour {{ organisation.name }}
{% endblock %}

{% block content %}
  <div class="fr-container" data-controller="personnel-form">
    <h1>Demande d’habilitation n° {{ organisation.data_pass_id }}</h1>

    <h2>Ajouter des aidants sur une demande en cours</h2>

    <p>
      Vous avez oublié d’ajouter l’un de vos collègues dans l’ensemble des aidants ?
      Vous pouvez l’ajouter à votre demande existante via le formulaire ci-dessous.
    </p>

    <form method="post" class="form-in-3-cols">
      {% csrf_token %}
      {{ form.management_form }}
      <h3>
        Aidants supplémentaires
        <span data-personnel-form-target="addAidantButtonContainer">
          <button
            id="add-aidant-btn"
            class="primary"
            type="button"
            data-action="click->personnel-form#onAddAidantButtonClicked"
          >
            Ajouter un aidant
          </button>
        </span>
      </h3>

      <section class="aidant-forms">
        {{ form.non_form_errors }}

        <div class="fr-grid-row fr-grid-row--gutters" data-personnel-form-target="aidantFormset">
          {% for aidant_form in form %}
            {% include "_aidant_form.html" with form=aidant_form %}
          {% endfor %}
        </div>
      </section>

      <div class="button-box standalone">
        <a class="button"
           href="{% url 'habilitation_organisation_view' issuer_id=issuer.issuer_id uuid=organisation.uuid %}">
          Revenir à l’étape précédente
        </a>
        <button type="submit" class="primary">Ajouter les aidants à ma demande</button>
      </div>
    </form>

    {% include "_more-info.html" %}

    <template data-personnel-form-target="aidantFormTemplate" hidden>
      {% include "_aidant_form.html" with form=form.empty_form %}
    </template>
  </div>
{% endblock %}

{% block extrajs %}
  {% stimulusjs %}
  <script type="module" src="{% static 'js/personnel-form.js' %}"></script>
{% endblock %}
