{% extends 'layouts/main-habilitation.html' %}
{% load static form_extras ac_common %}

{% block title %}
  Aidants Connect - Confirmez votre email
{% endblock %}

{% block content %}
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col">
        <h1>Formulaire d’habilitation</h1>
      </div>
    </div>

    {% include "layouts/_breadcrumbs.html" %}

    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-8">
        <form method="post">
          <h2>Confirmation de votre email</h2>
          <div class="shadowed fr-p-8v">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% if email_confirmation_sent %}
              <p>Un email de confirmation vient de vous être renvoyé.</p>
              <p>
                Si vous ne le recevez toujours pas, vous pouvez
                {% mailto link_text='tenter de nous contacter en suivant ce lien' recipient=support_email subject=support_subject body=support_body %}
                ou nous envoyer un email à l'adresse <code>{{ support_email }}</code>.
              </p>
            {% else %}
              <p>
                Un email vous a été envoyé à l'adresse email que vous avez renseignée.
                <strong>Veuillez cliquer sur le lien inclus dans cet email afin de confirmer votre adresse.</strong>
              </p>
              <p>
                <i>Si vous n’avez pas reçu cet email, vous pouvez utiliser le bouton ci-dessous afin de déclencher un nouvel envoi.</i>
              </p>
            {% endif %}

            <div class="button-box">
              <button type="submit" class="fr-btn">Renvoyer l'email de confirmation</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    {% include "_more-info.html" %}

  </div>
{% endblock %}
