{% extends 'layouts/main-habilitation.html' %}
{% load static form_extras %}

{% block title %}
  Aidants Connect - Confirmez votre email
{% endblock %}

{% block content %}
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col">
        <h1>Formulaire d’habilitation</h1>
      </div>
    </div>

    {% include "layouts/_breadcrumbs-legacy.html" %}

    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-8">
        <form method="post">
          <h2>Votre email est confirmé ! </h2>
          <div class="shadowed fr-p-8v">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <p>
              Votre adresse de contact est bien confirmée.
              Vous pouvez reprendre votre demande en cliquant sur le bouton ci-dessous.
            </p>

            <div class="button-box">
              <button type="submit" class="fr-btn">Continuer ma demande</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    {% include "_more-info.html" %}

  </div>
{% endblock %}
