{% extends 'layouts/main.html' %}
{% load form_extras static %}

{% block title %}
  Aidants Connect - Mon espace habilitation
{% endblock title %}

{% block content %}
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        <h1 class="fr-mb-2w">Mon espace habilitation</h1>
        <p class="fr-mb-6w">
          Retrouvez ici vos demandes d'habilitation en cours,
          et modifiez vos informations personnelles.
        </p>
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
      <div class="fr-col-12">
        <h2 class="fr-h6 fr-mb-2w">Le demandeur</h2>
      </div>
      <div class="fr-col-12 fr-col-md-6 fr-bordered fr-p-4w">
        <div class="fr-grid-row fr-grid-row--middle fr-mb-3w">
          <div class="fr-col-2 fr-col-md-1 fr-grid-row fr-grid-row--middle fr-mr-1w">
            <img class="fr-responsive-img" src="{% static 'dsfr/dist/artwork/pictograms/digital/avatar.svg' %}" alt="" />
          </div>
          <div><strong>{{ issuer.first_name }} {{ issuer.last_name }}</strong></div>
        </div>
        <div class="fr-mb-2w fr-col-12">
          <p class="fr-text--xs fr-mb-0 fr-text-mention--grey">Email</p>
          <p>{{ issuer.email }}</p>
        </div>
        <div class="fr-mb-2w fr-col-12">
          <p class="fr-text--xs fr-mb-0 fr-text-mention--grey">Profession</p>
          <p>{{ issuer.profession }}</p>
        </div>
        <div class="fr-col-12 fr-grid-row fr-grid-row--right">
          <a href="{% url 'habilitation_modify_issuer' issuer_id=issuer.issuer_id %}" class="fr-btn fr-btn--tertiary fr-btn--icon fr-icon-pencil-fill">Modifier le demandeur</a>
        </div>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle flex-between fr-mb-3w">
      <div class="">
        <h2 class="fr-h6 fr-mb-0">Vos demandes d'habilitation</h2>
        <p>Pour rappel, vous devez déposer une demande d'habilitation par lieu d'accueil.</p>
      </div>
      <div class="">
        <a href="{% url 'habilitation_siret_verification' issuer_id=issuer.issuer_id %}" class="fr-btn fr-btn--icon-left fr-icon-add-line">
          Déposer une nouvelle demande
        </a>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
      <div class="fr-table--lg fr-table fr-table width-100" id="table-sm-component">
        <div class="fr-table__wrapper">
          <div class="fr-table__container">
            <div class="fr-table__content">
              <table class="with-valid-mandate">
                <caption class="sr-only">Table des demandes d'habilitation</caption>
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Statut de la demande</th>
                    <th scope="col">Lieu d'accueil</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Nb d'aidants</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% if issuer.organisation_requests.all|length > 0 %}
                  {% for organisation in issuer.organisation_requests.all %}
                    <tr>
                      <td>{{ organisation.created_at|date:"d/m/Y" }}</td>
                      <td>
                        {% if organisation.status == organisation.Status.NEW %}
                          <p class="fr-badge fr-badge--new">Brouillon</p>
                        {% elif organisation.status == organisation.Status.AC_VALIDATION_PROCESSING %}
                          <p class="fr-badge fr-badge--info">En attente</p>
                        {% elif organisation.status == organisation.Status.VALIDATED %}
                          <p class="fr-badge fr-badge--success">Éligibilité validée</p>
                        {% elif organisation.status == organisation.Status.REFUSED %}
                          <p class="fr-badge fr-badge--error">Éligibilité refusée</p>
                        {% elif organisation.status == organisation.Status.CLOSED %}
                          <p class="fr-badge disabled">Cloturée</p>
                        {% elif organisation.status == organisation.Status.CHANGES_REQUIRED %}
                          <p class="fr-badge fr-badge--warning">modifications demandées</p>
                        {% elif organisation.status == organisation.Status.CHANGES_PROPOSED %}
                          <p class="fr-badge fr-badge--new">modifications proposées</p>
                          {% else %}
                          <p class="fr-badge fr-badge--new">{{ organisation.get_status_display }}</p>
                        {% endif %}
                      </td>
                      <td><strong>{{ organisation.name }}</strong></td>
                      <td>{{ organisation.address|linebreaksbr }}<br>{{ organisation.zipcode }} {{ organisation.city }}</td>
                      <td>
                        {{ organisation.aidant_requests.all|length }}
                      </td>
                      <td>
                        {% if organisation.status == organisation.Status.NEW %}
                          <a href="{% url 'habilitation_validation' issuer_id=issuer.issuer_id uuid=organisation.uuid %}"
                            class="fr-btn fr-btn--secondary">Consulter</a>
                        {% else %}
                          <a class="fr-btn fr-btn--secondary"
                            href="{% url 'habilitation_organisation_view' issuer_id=issuer.issuer_id uuid=organisation.uuid %}">
                            Consulter
                          </a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="6" class="fr-text-center">Vous n'avez pas de demandes en cours</td>
                  </tr>
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock content %}
