{% extends 'layouts/main-habilitation.html' %}
{% load static form_extras %}

{% block title %}
  Aidants Connect - Nouveau demandeur
{% endblock %}

{% block content %}
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col">
        <h1>Formulaire d’habilitation</h1>
        <p class="subtitle">
          Vous vous êtes informé sur l’habilitation ? Vous êtes prêt à utiliser Aidants Connect ?<br>
          Faites votre demande en quelques étapes via le formulaire ci-dessous.
        </p>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-8">
        <form method="post">
          <h2>Le demandeur</h2>
          <p class="subtitle">Saisissez ici les détails concernant votre identité.</p>
          <div class="shadowed">
            {% csrf_token %}

            {% include "_issuer_form.html" %}
            <div class="button-box">
              <button type="submit" class="primary">Valider cette étape</button>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <p class="fr-col more-info">
        Les informations saisies sont sauvegardées à chaque étape.<br>
        Vous pouvez revenir plus tard en cliquant sur le lien reçu par e-mail.
      </p>
    </div>
  </div>

{% endblock %}
