{% extends 'layouts/main.html' %}
{% load form_extras static %}

{% block title %}
Un compte demandeur existe déjà - Aidants Connect
{% endblock title %}

{% block content %}
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col">
        <h1>Formulaire d’habilitation</h1>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-8">
        <div class="fr-alert fr-alert--info">
          <h2 class="fr-alert__title">On se connaît !</h2>
          <p>Votre profil demandeur existe déjà. Nous vous avons renvoyé un e-mail
              qui vous permettra de retrouver toutes vos données et toutes vos demandes.</p>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-8">
        {% include "_more-info.html" %}
      </div>
    </div>
  </div>
{% endblock content %}
