{% extends 'layouts/main-habilitation.html' %}
{% load static form_extras ac_common %}

{% block title %}
  Aidants Connect - Personnes impliquées dans la structure {{ organisation }}
{% endblock %}

{% block content %}
  <div
    class="fr-container"
    data-controller="personnel-form"
  >
    {% include 'edito/_titre_formulaire_habilitation.html' %}
    {% include "layouts/_breadcrumbs.html" %}

    <h2>Personnes impliquées</h2>
    <p class="subtitle">Saisissez ici les informations relatives aux personnes qui utiliseront Aidants Connect</p>

    {% include "edito/_renseigner_liste_des_contacts.html" %}

    <form method="post" class="form-in-3-cols">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {{ form.aidants_formset.management_form }}

      <h3>Responsables</h3>

      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <section class="shadowed">
            <h4 class="h2">Demandeur</h4>
            <fieldset>
              <legend class="sr-only">Demandeur</legend>
              <h5 class="h3">Identité</h5>
              {% field_as_narrow_fr_grid_row issuer_form.last_name %}
              {% field_as_narrow_fr_grid_row issuer_form.first_name %}
              {% field_as_narrow_fr_grid_row issuer_form.profession %}
              <h5 class="h3">Contact</h5>
              {% field_as_narrow_fr_grid_row issuer_form.email %}
              {% field_as_narrow_fr_grid_row issuer_form.phone %}
            </fieldset>
          </section>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <section class="shadowed">
            <h4 class="h2">Responsable Aidants Connect</h4>

            <fieldset>
              <legend class="sr-only">Responsable Aidants Connect</legend>
              <button class="primary" type="button">
                <span aria-hidden="true">👋 </span>C’est moi ! Remplir avec mes infos
              </button>
              <h5 class="h3">Identité</h5>
              {% field_as_narrow_fr_grid_row form.manager_form.last_name %}
              {% field_as_narrow_fr_grid_row form.manager_form.first_name %}
              {% field_as_narrow_fr_grid_row form.manager_form.profession %}

              <h5 class="h3">Contact</h5>
              {% field_as_narrow_fr_grid_row form.manager_form.phone %}
              {% field_as_narrow_fr_grid_row form.manager_form.email %}
              {% field_as_narrow_fr_grid_row form.manager_form.address %}

              {% with errors=form.manager_form.zipcode.errors|add:form.manager_form.city.errors %}
                <div
                  class="form-grid-row fr-grid-row form-grid-row-narrow fr-grid-row--gutters {% if errors %}form-grid-row-error{% endif %}"
                >
                  <div class="fr-col-12 fr-col-md-5 fr-col-lg-12">
                    <label for="{{ form.manager_form.zipcode.id_for_label }}">
                      {{ form.manager_form.zipcode.label }}
                    </label>&nbsp;/&nbsp;<label for="{{ form.manager_form.city.id_for_label }}">
                      {{ form.manager_form.city.label }}
                    </label>
                  </div>
                  <div class="fr-col-4 fr-col-md-2 fr-col-lg-4 zipcode-container">
                    {{ form.manager_form.zipcode }}
                  </div>
                  <div class="fr-col-8 fr-col-md-5 fr-col-lg-8 city-container">
                    {{ form.manager_form.city }}
                  </div>
                </div>

                {% if errors %}
                  <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="errors fr-col-12 fr-col-md-7 fr-col-offset-md-5">{{ errors }}</div>
                  </div>
                {% endif %}
              {% endwith %}

              {% checkbox_fr_grid_row form.manager_form.is_aidant %}
            </fieldset>
          </section>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <section class="shadowed">
            <h4 class="h2">Délégué à la protection des données <span>— Facultatif</span></h4>
            <fieldset>
              <legend class="sr-only">Délégué à la protection des données - facultatif</legend>
              <button class="primary" type="button">
                <span aria-hidden="true">👋 </span>C’est moi ! Remplir avec mes infos
              </button>
              <h5 class="h3">Identité</h5>
              {% field_as_narrow_fr_grid_row form.data_privacy_officer_form.last_name %}
              {% field_as_narrow_fr_grid_row form.data_privacy_officer_form.first_name %}
              {% field_as_narrow_fr_grid_row form.data_privacy_officer_form.profession %}
              <h5 class="h3">Contact</h5>
              {% field_as_narrow_fr_grid_row form.data_privacy_officer_form.phone %}
              {% field_as_narrow_fr_grid_row form.data_privacy_officer_form.email %}
            </fieldset>
          </section>
        </div>
      </div>


      <h3>
        Aidants
        <span data-personnel-form-target="addAidantButtonContainer">
          <button
            id="add-aidant-btn"
            class="primary"
            type="button"
            data-action="click->personnel-form#onAddAidantButtonClicked"
          >
            Ajouter un aidant
          </button>
        </span>
      </h3>

      <div class="fr-grid-row fr-grid-row--gutters" data-personnel-form-target="aidantFormset">
        {% for aidant_form in form.aidants_formset %}
          {% include "_aidant_form.html" with form=aidant_form %}
        {% endfor %}
      </div>

      <div class="button-box standalone">
        <a class="button"
           href="{% url 'habilitation_modify_organisation' issuer_id=issuer.issuer_id draft_id=organisation.draft_id %}">
          Revenir à l’étape précédente
        </a>
        <button type="submit" class="primary">Valider cette étape</button>
      </div>
    </form>

    {% include "_more-info.html" %}

    <template data-personnel-form-target="aidantFormTemplate" hidden>
      {% include "_aidant_form.html" with form=form.aidants_formset.empty_form %}
    </template>
  </div>
{% endblock %}

{% block extrajs %}
  {% stimulusjs %}
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'js/personnel_form.js' %}"></script>
{% endblock %}
