{% load static form_extras %}

<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {{ form.aidants_formset.management_form }}

  <section>
    <h2>Demandeur</h2>
    {% include "_issuer_form.html" with form=issuer_form %}
  </section>

  <section>
    <h2>Responsable Aidants Connect</h2>

    <fieldset>
      <legend>Identité</legend>

      {% field_as_p form.manager_form.first_name %}
      {% field_as_p form.manager_form.last_name %}
      {% field_as_p form.manager_form.profession %}
    </fieldset>

    <fieldset>
      <legend>Contact</legend>

      {% field_as_p form.manager_form.phone %}
      {% field_as_p form.manager_form.email %}
      {% field_as_p form.manager_form.address %}

      {% with errors=form.manager_form.zipcode.errors|add:form.manager_form.city.errors %}
        {{ errors }}
      {% endwith %}
      <p>
        <label for="{{ form.manager_form.zipcode.id_for_label }}">{{ form.manager_form.zipcode.label }}</label>&nbsp;/&nbsp;
        <label for="{{ form.manager_form.city.id_for_label }}">{{ form.manager_form.city.label }}</label>
        {{ form.manager_form.zipcode }}{{ form.manager_form.city }}
      </p>

      {% field_as_p form.manager_form.is_aidant %}
    </fieldset>
  </section>

  <section>
    <h2>Délégué à la protection des données <span>— Facultatif</span></h2>

    <fieldset>
      <legend>Identité</legend>

      {% field_as_p form.data_privacy_officer_form.first_name %}
      {% field_as_p form.data_privacy_officer_form.last_name %}
      {% field_as_p form.data_privacy_officer_form.profession %}
    </fieldset>

    <fieldset>
      <legend>Contact</legend>

      {% field_as_p form.data_privacy_officer_form.phone %}
      {% field_as_p form.data_privacy_officer_form.email %}
    </fieldset>
  </section>

  {% for aidant_form in form.aidants_formset %}
    <section>
      <h2>Aidant</h2>
      {% include "aidant_form.html" with form=aidant_form %}
    </section>
  {% endfor %}

  <input type="submit" value="Valider cette étape">
</form>
