{% extends 'layouts/main-habilitation.html' %}
{% load static form_extras %}

{% block title %}
  Aidants Connect — Récapitulatif
{% endblock %}

{% block content %}
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col">
        <h1>Formulaire d’habilitation</h1>
        <p class="subtitle">
          Vous vous êtes informé sur l’habilitation ? Vous êtes prêt à utiliser Aidants Connect ?<br>
          Faites votre demande en quelques étapes via le formulaire ci-dessous.
        </p>
      </div>
    </div>
    <h2>Récapitulatif de la demande</h2>
    <p class="subtitle">
      Vous retrouverez ici les informations principales saisies dans le formulaire.
      Il est possible de les modifier si besoin.
    </p>
    <h3>Informations générales</h3>
    <div class="form-in-3-cols">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="shadowed">
            <h4 class="h2">Vous êtes :</h4>
            <strong>{{ issuer.get_full_name }}</strong>
            <p>{{ issuer.profession }}</p>
            <a href="mailto:{{ issuer.email }}">{{ issuer.email }}</a>
            <a href="tel:{{ issuer.phone }}">{{ issuer.phone }}</a>
            <div class="button-box">
              <a class="button primary"
                 href="{% url 'habilitation_modify_issuer' issuer_id=issuer.issuer_id %}">Éditer</a>

            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="shadowed">
            <h4 class="h2">Vous faites cette demande pour :</h4>
            <address>
              {{ organisation.address }}<br/>
              {{ organisation.zipcode }}<br/>
              {{ organisation.city }}<br/>
            </address>
            <p>SIRET : {{ organisation.siret }}</p>
            <div class="button-box">
              <a class="button primary"
                 href="{% url 'habilitation_modify_organisation' issuer_id=issuer.issuer_id draft_id=organisation.draft_id %}">
                Éditer
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>{# fr-container #}

  <section>
    <h4>Responsable de structure</h4>

    <strong>{{ organisation.manager.get_full_name }}</strong>
    <p>{{ organisation.manager.profession }}</p>

    <a href="mailto:{{ organisation.manager.email }}">{{ organisation.manager.email }}</a>
    <a href="tel:{{ organisation.manager.phone }}">{{ organisation.manager.phone }}</a>

    <address>
      {{ organisation.manager.address }}<br/>
      {{ organisation.manager.zipcode }}<br/>
      {{ organisation.manager.city }}<br/>
    </address>

    <p>Ce responsable est aussi aidant : {{ organisation.manager.is_aidant|yesno:"Oui,Non" }}</p>

    <a href="{% url 'habilitation_new_aidants' issuer_id=issuer.issuer_id draft_id=organisation.draft_id %}">Éditer</a>
  </section>

  {% if organisation.data_privacy_officer %}
    <section>
      <h4>Délégué à la protection des données</h4>

      <strong>{{ organisation.data_privacy_officer.get_full_name }}</strong>
      <p>{{ organisation.data_privacy_officer.profession }}</p>

      <a href="mailto:{{ organisation.data_privacy_officer.email }}">{{ organisation.data_privacy_officer.email }}</a>
      <a href="tel:{{ organisation.data_privacy_officer.phone }}">{{ organisation.data_privacy_officer.phone }}</a>

      <a href="{% url 'habilitation_new_aidants' issuer_id=issuer.issuer_id draft_id=organisation.draft_id %}">
        Éditer
      </a>
    </section>
  {% endif %}

  {% for aidant_request in organisation.aidant_requests.all %}
    <section>
      <h4>Aidant</h4>

      <strong>{{ aidant_request.get_full_name }}</strong>
      <p>{{ aidant_request.profession }}</p>

      <a href="mailto:{{ aidant_request.email }}">{{ aidant_request.email }}</a>
      <a href="tel:{{ aidant_request.phone }}">{{ aidant_request.phone }}</a>

      <a href="{% url 'habilitation_new_aidants' issuer_id=issuer.issuer_id draft_id=organisation.draft_id %}">
        Éditer
      </a>
    </section>
  {% endfor %}

  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% field_as_p form.cgu %}
    {% field_as_p form.dpo %}
    {% field_as_p form.professionals_only %}
    {% field_as_p form.without_elected %}

    <a href="{% url 'habilitation_validation' issuer_id=issuer.issuer_id draft_id=organisation.draft_id %}">
      Revenir à l’étape précédente
    </a>
    <input type="submit" value="Soumettre la demande"/>
  </form>
{% endblock %}
