{% extends 'layouts/main-habilitation.html' %}
{% load static form_extras %}

{% block title %}
  Aidants Connect — Demande d'habilitation pour {{ organisation.name }}
{% endblock %}

{% block content %}
  <div class="fr-container">
    <h1>Demande d’habilitation n° {{ organisation.data_pass_id }}</h1>
    <p class="subtitle">

    </p>
    <h2>Votre demande</h2>
    <p>
      Votre demande est actuellement dans l'état <strong>«&nbsp;{{ organisation.status_label }}&nbsp;»</strong>.
      <br>
      {% include "edito/_aide_etats_demandes_habilitation.html" with status=organisation.status %}
    </p>
    <h2>Rappel de votre saisie</h2>
    {% include "_display_org_request.html" with organisation=organisation show_all_buttons=False %}

    <div class="fr-grid-row fr-grid-row--gutters">
      <p class="fr-col more-info">
        Pour modifier cette demande, envoyez un e-mail à l'équipe Aidants Connect : contact@aidantsconnect.beta.gouv.fr
        en précisant le n° de votre demande d'habilitation : {{ organisation.data_pass_id }}
      </p>
    </div>

  </div>{# fr-container #}
{% endblock %}
