{% extends 'layouts/main-habilitation.html' %}
{% load static form_extras %}

{% block title %}
  Aidants Connect — Demande d'habilitation pour {{ organisation.name }}
{% endblock %}

{% block content %}
  <div class="fr-container">
    <h1>Demande d’habilitation n° {{ organisation.id }}</h1>
    <p class="subtitle">

    </p>
    <h2>Votre demande</h2>
    <p>
      Votre demande est actuellement dans l'état <strong>«&nbsp;{{ organisation.status_label }}&nbsp;»</strong>.
      <br>
      {% include "edito/_aide_etats_demandes_habilitation.html" with status=organisation.status %}
    </p>
    <h2>Rappel de votre saisie</h2>
    <h3>Informations générales</h3>
    <div class="form-in-3-cols">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="shadowed with-button-box">
            <h4 class="h2">Vous êtes :</h4>
            <div>
              <p>
                <strong>{{ issuer.get_full_name }}</strong><br>
                {{ issuer.profession }}
              </p>
              <p>
                {{ issuer.email }}<br>{{ issuer.phone }}
              </p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="shadowed with-button-box">
            <h4 class="h2">Vous faites cette demande pour :</h4>
            <div>
              <p>
                <strong>{{ organisation.name }}</strong><br>
                {{ organisation.address|linebreaksbr }}<br/>
                {{ organisation.zipcode }}
                {{ organisation.city }}
              </p>
              <p>SIRET : {{ organisation.siret }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3>Autres informations</h3>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-8">
        <div class="shadowed">
          <ul>
            <li>
              Type de structure : {{ organisation.type }}
              {% if organisation.type_id == type_other %} — {{ organisation.type_other }}{% endif %}
            </li>
            <li>Site web : {{ organisation.web_site }}</li>
            <li>Missions : {{ organisation.mission_description|linebreaksbr }}</li>
            <li>Nombre de démarches traitées par semaine : {{ organisation.avg_nb_demarches }}</li>
            <li>Label France Services : {{ organisation.france_services_label|yesno:"Oui,Non" }}</li>
          </ul>
        </div>
      </div>
    </div>
    {# Infos générales #}
    <h3>Personnes impliquées</h3>
    <div class="form-in-3-cols">
      {# first row: responsable + dpo #}
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="shadowed with-button-box">
            <h4 class="h2">Responsable de structure</h4>
            <div>
              <p>
                <strong>{{ organisation.manager.get_full_name }}</strong>
                <br>{{ organisation.manager.profession }}
              </p>
              <p>
                {{ organisation.manager.email }}<br>{{ organisation.manager.phone }}
              </p>
              <p>
                {{ organisation.manager.address|linebreaksbr }}<br/>
                {{ organisation.manager.zipcode }}
                {{ organisation.manager.city }}
              </p>
              <p>Ce responsable est aussi aidant : {{ organisation.manager.is_aidant|yesno:"Oui,Non" }}</p>
            </div>
          </div>
        </div>
        {% if organisation.data_privacy_officer %}
          <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
            <div class="shadowed with-button-box">
              <h4 class="h2">Délégué à la protection des données</h4>
              <div>
                <p>
                  <strong>{{ organisation.data_privacy_officer.get_full_name }}</strong><br>
                  {{ organisation.data_privacy_officer.profession }}
                </p>
                <p>
                  {{ organisation.data_privacy_officer.email }}<br>{{ organisation.data_privacy_officer.phone }}
                </p>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      {# 2nd row and more: aidants #}
      <div class="fr-grid-row fr-grid-row--gutters">
        {% for aidant_request in organisation.aidant_requests.all %}
          {% if not forloop.first and forloop.counter0|divisibleby:2 %}
            </div>
            <div class="fr-grid-row fr-grid-row--gutters">
          {% endif %}
          <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
            <div class="shadowed with-button-box">
              <h4 class="h2">Aidant <span class="sr-only">{{ forloop.counter }}</span></h4>
              <div>
                <p>
                  <strong>{{ aidant_request.get_full_name }}</strong><br>
                  {{ aidant_request.profession }}
                </p>
                <p>{{ aidant_request.email }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters">
      <p class="fr-col more-info">
        Pour modifier cette demande, envoyez un e-mail à l'équipe Aidants Connect : contact@aidantsconnect.beta.gouv.fr
        en précisant le n° de votre demande d'habilitation : {{ organisation.id }}
      </p>
    </div>

  </div>{# fr-container #}
{% endblock %}
