{% extends 'layouts/main.html' %}
{% load static ac_common dsfr_tags %}

{% block title %}
  Aidants Connect - FAQ {{ object.name }}
{% endblock %}

{% block nav %}
    {% include 'public_website/layout/_header.html' %}
{% endblock nav %}

{% block content %}
  <div class="fr-container">
    <section>
      <p class="page-main-title">Aide</p>
      <h1>Foire aux questions</h1>
    </section>
    <p class="subtitle">Vous trouverez ici les réponses aux questions les plus fréquemment posées à nos équipes.</p>

    <div class="fr-grid-row">
      {# Menu latéral #}
      <div class="fr-col-12 fr-col-md-4">
        <nav class="fr-sidemenu" aria-labelledby="fr-sidemenu-title">
          <div class="fr-sidemenu__inner">
            <button
              class="fr-sidemenu__btn"
              hidden
              aria-controls="fr-sidemenu-wrapper"
              aria-expanded="false"
            >
              Dans cette rubrique
            </button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
              <div class="fr-sidemenu__title" id="fr-sidemenu-title">Menu</div>
              <ul class="fr-sidemenu__list">
                {% for category in categories %}
                  <li class="fr-sidemenu__item">
                    <a
                      href="{% if category.slug == object.slug %}#{% else %}{% url "faq_category_detail" slug=category.slug %}{% endif %}"
                      class="fr-sidemenu__link"
                      target="_self"
                      {% if category.slug == object.slug %}aria-current="page"{% endif %}
                    >
                      {{ category.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
      {# /Menu latéral #}

      {# Questions #}
      <div class="fr-col-12 fr-col-md-8">
        <h3>{{ object.name }}</h3>
        {% if object.body %}
          <section>{{ object.to_html }}</section>
        {% endif %}

        {% for question in questions %}
          {% ifchanged question.subcategory %}
            {% if question.subcategory %}
              <h4>{{ question.subcategory.name }}</h4>
              {% if question.subcategory.body %}
                <section class="fr-mb-8v">{{ question.subcategory.to_html }}</section>
              {% endif %}
            {% endif %}
          {% endifchanged %}
          
          {% ifchanged question.subcategory %}<div class="fr-accordions-group">{% endifchanged %}
            {% withdict key="accordion-{{ question.pk }}" title=question.question content=question.to_html as data_dict %}
              {% dsfr_accordion data_dict %}
            {% endwithdict %}
          {% ifchanged question.subcategory %}</div>{% endifchanged %}
        {% empty %}
          <p>Aucune question nʼa encore été publiée dans <em>{{ object.name }}</em></p>
        {% endfor %}
      </div>
      {# /Questions #}
    </div>
  </div>
{% endblock %}
