{% extends 'layouts/main-habilitation.html' %}
{% load static %}

{% block title %}
  Aidants Connect - FAQ {{ object.name }}
{% endblock %}

{% block content %}
  <div class="fr-container">
    <h1>Aide</h1>
    <h1 class="h2">Foire aux questions</h1>
    <p class="subtitle">Vous trouverez ici les réponses aux questions les plus fréquemment posées à nos équipes.</p>
  </div>
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      {# ---- navigation ---- #}
      <div class="fr-col-12 fr-col-md-3">
        <nav class="faq-menu" role="navigation" aria-label="Menu questions fréquentes">
          <ul>
            {% for category in categories %}
              <li>
                <a href="{% url "faq-category-detail" slug=category.slug %}"
                    {% if category.slug == object.slug %}
                   class="active"
                   aria-label="{{ object.name }} (rubrique active)"
                    {% endif %}
                >
                  {{ category.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      {# ---- end navigation ---- #}
      {# ---- content ---- #}
      <div class="fr-col-12 fr-col-md-8">
        <h2>{{ object.name }}</h2>
        {% if object.body %}
          <div class="markdown-content">
            {{ object.to_html }}
          </div>
        {% endif %}
        <div class="accordion shadowed">
          {% for question in questions %}
            <details>
              <summary>
                <h3 id="{{ question.slug }}">{{ question.question }}</h3>
              </summary>
              <div class="markdown-content">
                {{ question.to_html }}
              </div>
            </details>
          {% endfor %}
        </div>
        <div class="more-questions">
          <h2>Encore des questions&nbsp;?</h2>
          <p>
            Si vous n’avez pas trouvé toutes vos réponses ci-dessus,<br>
            vous pouvez nous contacter à l’adresse suivante :
          </p>
          <p class="questions-cta">contact@aidantsconnect.beta.gouv.fr</p>
        </div>
      </div>
      {# ---- end content ---- #}
    </div>
  </div>
{% endblock %}
