{% extends 'layouts/main.html' %}
{% load form_extras static %}
$

{% block title %}
  témoignage {{ object.name }} - Aidants Connect
{% endblock title %}

{% block content %}
  <div class="fr-container">
    <h1>Témoignages</h1>
    <p class="fr-text--xl">Retrouvez ici tous les témoignages et interviews d'utilisateurs d'Aidants Connect.</p>
  </div>
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-3">
        <nav class="fr-sidemenu fr-sidemenu--sticky" aria-labelledby="fr-sidemenu-title">
          <div class="fr-sidemenu__inner">
            <button
              class="fr-sidemenu__btn"
              aria-controls="fr-sidemenu-wrapper"
              aria-expanded="false"
            >Menu
            </button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
              <div class="fr-sidemenu__title" id="fr-sidemenu-title">Menu</div>
              <ul class="fr-sidemenu__list">
                {% for testimony in all_testimonies %}
                  <li
                    class="fr-sidemenu__item {% if testimony.slug == object.slug %} fr-sidemenu__item--active{% endif %}"
                  >
                    <a
                      class="fr-sidemenu__link"
                      target="_self"
                      href="{{ testimony.get_absolute_url }}"
                      {% if testimony.slug == object.slug %}aria-current="true"{% endif %}
                    >
                      <p><span class="fr-text--lg fr-mb-0">{{ testimony.name }}</span><br/><span class="text-thin">{{ testimony.job }}</span></p>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="fr-col-12 fr-col-md-9 fr-px-13w fr-py-4w">
        <div class="fr-background-alt--grey fr-grid-row fr-grid-row--gutters fr-mb-3w">
          <div class="fr-col-2 fr-p-3w">
            <img
              class="fr-responsive-img"
              src="{% static 'dsfr/dist/artwork/pictograms/digital/avatar.svg' %}"
              alt=""
            />
          </div>
          <div class="fr-col-10 fr-p-3w">
            <h2 class="fr-h4 fr-mb-1w">{{ object.name }}</h2>
            <p>{{ object.job }}</p>
          </div>
        </div>
        <div class="testimony-content">
          {{ object.to_html }}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
