{% extends 'layouts/main-habilitation.html' %}
{% load static form_extras %}

{% block title %}
  Aidants Connect - {{ object.name }} {{ object.job }}
{% endblock %}

{% block content %}
  <div>
    <ul>
      {% for testimony in all_testimonies %}
        <li>
          <a href="{% url "temoignage-detail" slug=testimony.slug %}">
            {{ testimony.name }}, {{ testimony.job }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="fr-container">
    <h1>{{ object.name }}</h1>
    <h2>{{ object.job }}</h2>
    <div>
      {{ object.to_html }}
    </div>
  </div>
{% endblock %}
