{% extends "layouts/email_base.html" %}
{% block email_body %}
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">
          <table class="main">
            <tr>
              <td class="wrapper">
                <table border="0" cellpadding="6" cellspacing="0">
                  <tr>
                    <td>
                      <p>Bonjour,</p>
                      <p>
                        Durant les {{ interval }} derniers jours, il y a eu sur Aidants Connect
                        {{ total_requests }} nouvelles demandes d'habilitation
                        dans {{ organisations.count }} structures différentes :
                      </p>
                      <ul>
                        {% for org in organisations %}
                          <li>{{ org.name }} : {{ org.num_requests }} demandes</li>
                        {% endfor %}
                      </ul>
                      <p>Bonne journée,</p>
                      <p>Le robot Aidants Connect</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
{% endblock %}
