{% extends "layouts/email_base.html" %}
{% load ac_extras ac_common %}

{% block email_body %}
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">
          <table class="main">
            <tr>
              <td class="wrapper">
                <table border="0" cellpadding="6" cellspacing="0">
                  <tr>
                    <td>
                      <p>Bonjour,</p>
                      {% if not users %}
                        <p>L’équipe Aidants Connect vous informe qu'aucune carte Aidants Connect n'est liée à votre
                          compte.</p>
                      {% else %}
                        <p>L’équipe Aidants Connect vous informe qu'aucune carte Aidants Connect n'est liée aux aidants
                          ou aidantes suivantes&nbsp;:</p>
                        <ul>
                          {% for user in users %}
                            {% linebreakless %}
                              <li>
                                {% if user.full_name is not None %}
                                  {{ user.full_name }}
                                {% else %}
                                  un aidant ou une aidante possédant l'e-mail {{ user.email }}
                                {% endif %}
                                {% list_term additionnal_cond=notify_self %}
                              </li>
                            {% endlinebreakless %}
                          {% endfor %}
                          {% if notify_self %}
                            <li>vous-même.</li>
                          {% endif %}
                        </ul>
                      {% endif %}
                      <p>Pour activer les comptes des aidants, le référent Aidants Connect doit suivre les étapes
                        suivantes :</p>
                      <ul>
                        <li>
                          Le référent active son compte administrateur avec le code de première connexion puis se
                          rend sur son espace référent à l’adresse suivante : <a href="{{ espace_responsable_url }}">
                          votre espace référent</a>.
                        </li>
                        <li>
                          Il se connecte avec l'adresse e-mail nominative et individuelle renseignée dans le
                          formulaire d’habilitation et le code à 6 chiffres qui figure sur l’enveloppe blanche dans le
                          Kit de Bienvenue.
                        </li>
                        <li>
                          Il reçoit un email de connexion valable 45 minutes, clique sur “connexion” et se rend sur
                          son Espace référent pour s’attribuer une carte Aidants Connect et ainsi pérenniser sa
                          connexion.<br>
                          Pour ce faire, il renseigne d’abord le numéro de série qui figure au dos de la carte choisie
                          et ensuite le code à 6 chiffres qui apparaît lorsqu’il appuie sur le bouton press de la même
                          carte.
                        </li>
                      </ul>
                      <p>Une fois que le référent s’est attribué une carte, il peut effectuer la même démarche pour
                      attribuer une carte à chaque aidant habilité.</p>
                      <p>Enfin, le référent Aidants Connect doit s’inscrire à un webinaire dédié de 30 minutes dont
                        l’objectif est de préciser le rôle de référent Aidants Connect. <br>
                        Si ce n’est pas déjà fait, nous vous invitons à vous y inscrire en suivant <a
                            href="https://app.livestorm.co/incubateur-des-territoires/responsable-aidants-connect?type=detailed">
                          ce lien
                        </a>.
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
{% endblock %}
