{% extends "layouts/email_base.html" %}
{%  load ac_extras %}

{% block email_body %}
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">
          <table class="main">
            <tr>
              <td class="wrapper">
                <table border="0" cellpadding="6" cellspacing="0">
                  <tr>
                    <td>
                      <p>Bonjour,</p>
                      {% if not users  %}
                        <p>L’équipe Aidants Connect vous informe qu'aucune carte Aidants Connect n'est liée à votre compte.</p>
                      {% else %}
                        <p>L’équipe Aidants Connect vous informe qu'aucune carte Aidants Connect n'est liée aux aidants ou aidantes suivantes&nbsp;:</p>
                        <ul>
                        {% for user in users %}
                          {% linebreakless %}
                          <li>
                            {% if user.full_name is not None %}
                              {{ user.full_name }}
                            {% else %}
                              un aidant ou une aidante possédant l'e-mail {{ user.email }}
                            {% endif %}
                            {% list_term additionnal_cond=notify_self %}
                          </li>
                          {% endlinebreakless %}
                        {% endfor %}
                        {% if notify_self %}
                          <li>vous-même.</li>
                        {% endif %}
                        </ul>
                      {% endif %}
                      <p>Rendez-vous dans <a href="{{ espace_responsable_url }}">votre espace responsable</a> afin de relier un compte aidant à une carte Aidants Connect</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
{% endblock %}
