{% extends "layouts/email_base.html" %}
{% block email_body %}
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">
          <table class="main">
            <tr>
              <td class="wrapper">
                <table border="0" cellpadding="6" cellspacing="0">
                  <tr>
                    <td>
                      <p>Bonjour,</p>
                      {% if not users  %}
                        <p>L’équipe Aidants Connect vous informe qu'aucune carte Aidants Connect n'est liée à votre compte.</p>
                      {% else %}
                        <p>L’équipe Aidants Connect vous informe qu'aucune carte Aidants Connect n'est liée aux aidants ou aidantes suivantes&nbsp;:</p>
                        <ul>
                        {% for user in users %}
                          <li>{% if user.full_name is not None %}{{ user.full_name }}{% else %}un aidant ou une aidante possédant l'e-mail {{ user.email }}{% endif %}{% if forloop.last and not notify_self %}.{% else %},{% endif %}</li>
                        {% endfor %}
                        {% if notify_self %}
                          <li>vous-même.</li>
                        {% endif %}
                        </ul>
                      {% endif %}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
{% endblock %}
