{% extends 'layouts/main-habilitation.html' %}

{% load static %}

{% block title %}Aidants Connect - Mandat révoqué !{% endblock %}

{% block content %}
  <div class="fr-container">
    <h2 class="fr-my-8v">L'autorisation a été révoquée avec succès !</h2>

    <p class="subtitle">
      L'autorisation « <strong>{{ humanized_auth }}</strong> » créée le
      <strong>{{ authorization.creation_date | date:"d F Y" }}</strong> et expirant le
      <strong>{{ authorization.expiration_date | date:"d F Y" }}</strong>
      a été révoquée avec succès !
    </p>

    <div class="fr-my-8v">
      <a
        class="fr-btn fr-btn--icon-left fr-icon-printer-fill"
        href="{% url 'autorisation_cancelation_attestation' usager_id=usager.id autorisation_id=authorization.id %}"
        target="_blank"
        rel="noopener noreferrer"
      >
        Imprimer l'attestation de révocation
      </a>
    </div>
    <div>
      <a href="{% url 'usager_details' usager_id=usager.id %}" class="fr-link">
        Voir le profil de {{ usager.get_full_name }}.
      </a>
    </div>
  </div>
{% endblock content %}
