{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Autorisation révoquée ! - Aidants Connect{% endblock %}

{% block content %}
  <div class="fr-container">
    <h1 class="fr-my-8v">L'autorisation a été révoquée avec succès !</h1>
    <div class="fr-grid-row">
      <div class="fr-col-12 fr-col-md-6 fr-background-alt--grey fr-p-4w fr-mb-6w">
        <h2 class="fr-h6">Rappel de l'autorisation révoquée</h2>
        <p>Usager : <strong>{{ usager.get_full_name }}</strong></p>
        <p><strong>Thématique administrative : </strong></p>
        <div class="remaining-autorisations fr-checkbox-group fr-mb-3w">
          {% for autorisation in revoked_autorisation %}
          <input checked disabled type="checkbox" id="checkboxes-disabled-{{ autorisation }}">
          <label class="fr-label fr-text-default--grey" for="checkboxes-disabled-{{ autorisation }}"><strong>{{ autorisation.0 }}</strong></label>
          <div class="fr-my-1w fr-ml-4w">{{ autorisation.1 }}</div>
          {% endfor %}
        </div>
        <p>Date de l'autorisation : <strong>{{ authorization.creation_date|date:"d F Y" }}</strong></p>
        <p>Expiration de l'autorisation : <strong>{{ authorization.expiration_date|date:"d F Y" }}</strong></p>
      </div>
    </div>
    <div class="fr-my-8v">
      <a
        class="fr-btn fr-btn--icon-left fr-icon-printer-fill"
        href="{% url 'autorisation_cancelation_attestation' usager_id=usager.id autorisation_id=authorization.id %}"
        target="_blank"
        rel="noopener noreferrer"
      >
        Imprimer l'attestation de révocation
      </a>
    </div>
  </div>
{% endblock content %}
