{% extends 'layouts/main-habilitation.html' %}

{% load static %}

{% block title %}Aidants Connect - Confirmer la révocation de l'autorisation{% endblock %}

{% block content %}
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-my-8v">
      <h2>Confirmer la révocation du mandat</h2>

      <form method="post" class="fr-col-12 fr-col-md-6">
        {% if error %}<div class="fr-alert fr-alert--error" role="alert">{{ error }}</div>{% endif %}

        <p>
            Le mandat avec l'usager <strong>{{ usager_name }}</strong>,
            concernant les démarches suivantes :
          </p>
          <ul class="remaining-autorisations">
            {% for autorisation in remaining_autorisations %}
              <li><strong>{{ autorisation }}</strong></li>
            {% endfor %}
          </ul>
          <p>
            créé le <strong>{{ mandat.creation_date | date:"d F Y" }}</strong> et expirant le <strong>{{ mandat.expiration_date | date:"d F Y" }}</strong>,
            va être <strong>révoquée</strong>.
          </p>

          <p>
            Cliquez sur le bouton "Je confirme" pour confirmer l'action.
          </p>

        {% csrf_token %}
        <a href="{% url 'usager_details' usager_id=usager_id %}" class="fr-btn">Annuler</a>
        <button class="warning fr-btn float-right" type="submit">Confirmer</button>
      </form>
    </div>
  </div>
{% endblock content %}
