{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Impression de la révocation - Aidants Connect{% endblock %}

{% block extracss %}
  <link href="{% static 'css/attestation.css' %}" rel="stylesheet">
{% endblock extracss %}

{# Display navigation only on final mandate #}
{% block nav %}
  <div class="no-print">{{ block.super }}</div>{% endblock nav %}

{% block content %}
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <h1 class="no-print">Révocation d'un mandat via le service Aidants Connect</h1>
      <div class="fr-col-md-8 fr-col-12">
        <div class="attestation-content">
          <header class="navbar fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-8">
              {% include "layouts/_header_logos.html" %}
            </div>
          </header>
          <h1>Mandat pour réaliser des démarches en ligne avec le service « Aidants Connect »
          </h1>
          <p class="fr-my-8v">
            Je soussigné(e), <strong>{{ usager_name }}</strong> souhaite révoquer le mandat « Aidants Connect » créé
            le {{ creation_date }} avec <strong>{{ organisation }}</strong>.
          </p>
          <p class="fr-my-8v">
            Fait à
            <strong {% if organisation.display_address == "" %}class="organisation-address"{% endif %}>{{ organisation.display_address }}</strong>,
            le <strong>{{ revocation_date }}</strong>
          </p>
          <p class="fr-my-8v">Le mandant</p>
        </div>
      </div>
      <div class="fr-col-md-4 fr-col-12 no-print">
        <div class="fr-callout">
          <p class="fr-text">
            Le mandat a été révoqué avec succès.<br />
            Veuillez l’imprimer afin de le faire signer par le mandant.
          </p>
          <div class="fr-mb-2w">
            {% include 'aidants_connect_web/_attestation-print.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %}{% endblock %}
