{% extends 'layouts/main-habilitation.html' %}

{% load static %}

{% block title %}Aidants Connect - Impression du mandat{% endblock %}

{% block extracss %}
  <link href="{% static 'css/attestation.css' %}" rel="stylesheet">
{% endblock extracss %}

{# Display navigation only on final mandate #}
{% block nav %}
  <div class="no-print">{{ block.super }}</div>{% endblock nav %}

{% block content %}
  <div class="fr-container clearfix">
    <div class="fr-grid-row no-print margin-bottom-4rem">
      <h1 class="full-width">Révocation d'un mandat via le service « Aidants Connect »</h1>
      <section class="fr-col-12 fr-col-md-7">
        <p class="subtitle">
          Le mandat a été révoqué avec succès.<br />
          Veuillez l’imprimer afin de le faire signer par le mandant.
        </p>
      </section>
      <section class="fr-col-12 fr-col-md-5">
        {% include 'aidants_connect_web/_attestation-print.html' %}
      </section>
    </div>

    <div class="attestation-content">
      <header class="navbar fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-8">
          {% include "layouts/_header_logos.html" %}
        </div>
      </header>

      <p class="fr-my-8v">
        Je soussigné(e), <strong>{{ usager_name }}</strong> souhaite révoquer le mandat « Aidants Connect » créé
        le {{ creation_date }} avec <strong>{{ organisation }}</strong>.
      </p>

      <p class="fr-my-8v">
        Fait à
        <strong {% if organisation.display_address == "" %}class="organisation-address"{% endif %}>{{ organisation.display_address }}</strong>,
        le <strong>{{ revocation_date }}</strong>
      </p>

      <p class="fr-my-8v">Le mandant</p>
    </div>
  </div>
{% endblock content %}

{% block footer %}{% endblock footer %}
