{% extends 'layouts/main.html' %}

{% load dsfr_tags form_extras static %}

{% block title %}Session expirée - Aidants Connect{% endblock %}

{% block content %}
  <section class="section">
    <div class="fr-container">
      <div class="fr-grid-row">
        <div class="fr-col-md-6 fr-col-sm-8 fr-col-12">
          <h1 class="fr-mb-4w fr-mt-6w">Bonjour {{ aidant.get_full_name }}</h1>
          <p></p>
          <div class="fr-alert fr-alert--info fr-mb-6w">
            <p>Votre session a expiré<p>
          </div>
          <form method="post">
            {% aidantc_dsfr_form_field_no_asterisk form.otp_token %}
            {% csrf_token %}
            <button type="submit" class="fr-btn">Valider</button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}
