{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Session expirée{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="section__title">Bonjour {{ aidant.get_full_name }}, votre session a expiré</h1>
    <form method="post" class="panel">
      {% if form.errors %}
        <div class="notification warning">Ce code n'est pas valide</div>
      {% endif %}
      {% csrf_token %}
      <div class="form__group">
        <label for="id_otp_token">{{ form.otp_token.label_tag }}</label>
        <div class="max-width-50">{{ form.otp_token }}</div>
      </div>
      <div class="form__group">
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</section>
{% endblock content %}
