{% extends 'layouts/main-habilitation.html' %}

{% load dsfr_tags static %}

{% block title %}Aidants Connect - Session expirée{% endblock %}

{% block content %}
  <section class="section">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--center">
        <h2 class="fr-mt-16v">Bonjour {{ aidant.get_full_name }}, votre session a expiré</h2>
        <form method="post" class="fr-col-12 fr-col-sm-6 fr-col-md-4">
          {% dsfr_form %}
          {% csrf_token %}
          <button type="submit" class="fr-btn">Valider</button>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}
