{% extends 'layouts/main-habilitation.html' %}

{% load static %}

{% block title %}Aidants Connect - Email envoyé (connexion){% endblock %}

{% block content %}
  <div class="fr-container">
    <h1>Lien de connexion envoyé</h1>
    <p class="subtitle">Un email vous a été envoyé pour vous connecter.</p>
    <img
      class="full-width margin-bottom-1rem margin-top-1rem"
      src="{% static 'images/email-connection-banner.svg' %}"
      alt=""
    >
    <p>
      Si vous ne le recevez pas, vous pouvez
      <a href="{% url 'magicauth-login' %}" class="fr-link">réessayer</a>.
    </p>
  </div>
{% endblock content %}
