{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<div class="page">
  <div class="main-page">
    <section class="section section-white">
      <div class="container">
        <h1>Un email vous a été envoyé pour vous connecter.</h1>
      </div>
      <div class="container">
          Si vous ne le recevez pas, vous pouvez <a href="{% url 'magicauth-login' %}" class="btn btn-secondary">réessayer</a>.
      </div>
    </section>
  </div>
</div>
{% endblock content %}
