{% extends 'layouts/main.html' %}
{% load static %}
{% block extracss %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock extracss %}
{% block content %}
<div class="page">
  <div class="main-page">
    <section class="section section-white">
    <div class="container">
      <form class="" method="post">
        {% csrf_token %}
          {% if user.is_authenticated %}
            <div class="alert alert-info text-center" role="alert">
              Vous êtes déjà connecté
            </div>
            <div class="text-center">
              <a href="{% url LOGGED_IN_REDIRECT_URL_NAME %}" class="btn btn-success">Accédez à l'accueil</a>
              <a href="{% url LOGOUT_URL_NAME %}" class="btn btn-warning">Déconnectez-vous</a>
            </div>
          {% else %}
            {% if messages %}
              <div class="text-center" role="alert">
                {% for message in messages %}
                  <p {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
              </div>
            {% endif %}
            <div class="form__group">
                <h1>Aidants Connect est actuellement en test.</h1>
                <p><strong>Aidants Connect est disponible dans un nombre limité de structures d'accompagnement.</strong></p>
                <p>Si vous faites partie d'une de ces structures, vous pouvez vous connecter :</p>
              <input type="email" name="email" class="form-control {% if form.errors %}state-invalid {% endif %}"
                               id="id_email" aria-describedby="emailHelp" placeholder="Votre email" required/>
              {% for error in form.email.errors %}
                <div class="alet alert-danger text-center">{{ error }}</div>
              {% endfor %}
            </div>
            <button type="submit" class="button">Valider</button>
          {% endif %}
          <p>Ce service est reservé aux aidants professionnels salariés d'une structure habilitée Aidants Connect. Pour en savoir plus,  <a href="mailto:aidantsconnect@beta.gouv.fr?subject=[site Aidants Connect - login] Demande d'informations">contactez-nous</a>.</p>
          <p>Vous êtes habilité Aidants Connect et vous rencontrez des difficultés pour vous connecter?</p>
        <a href="mailto:aidantsconnect@beta.gouv.frsubject=[site Aidants Connect - login] Demande d'aide au login">Demandez de l'aide</a>
      </form>
    </div>
  </section>
  </div>
</div>
{% endblock content %}
