{% extends "layouts/main.html" %}

{% block content %}
  <div class="fr-container">
    <h1>Connexion en cours…</h1>
    <p>Veuillez patienter quelques instants.</p>
    <p>
      Si rien ne se passe d'ici {{ WAIT_SECONDS }} seconde{{ WAIT_SECONDS|pluralize }},
      veuillez cliquer sur ce bouton :
    </p>
    <a class="fr-btn" id="connect_me" href="{{ next_step_url }}">Se connecter</a>
    <input type="hidden" id="wait_time" value="{{ WAIT_SECONDS }}">
  </div>
{% endblock content %}

{% block extrajs %}
  <script nonce="{{ request.csp_nonce }}">
      const waitSeconds = Number.parseInt(document.getElementById('wait_time').value);
      setTimeout(function () {
          window.location.replace(document.querySelector("#connect_me").href);
      }, waitSeconds * 1000);
  </script>
{% endblock extrajs %}
