{% load static %}

<div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://kit-inclusion.societenumerique.gouv.fr"
              rel="noopener external"
              target="_blank">Mission Société Numérique
            </a>
          </h3>
          <div class="fr-card__desc">Kit d’intervention rapide</div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/kitintervention.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://www.cnil.fr/sites/cnil/files/2024-03/cnil_guide_securite_personnelle_2024.pdf"
              rel="noopener external"
              target="_blank">CNIL
            </a>
          </h3>
          <div class="fr-card__desc">Guide sur la sécurité des données personnelles</div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/CNIL.png' %}" alt="logo de la CNIL">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://www.impots.gouv.fr/portail/www2/fichiers/didacticiels/partenaires/services_en_ligne/part/"
              rel="noopener external"
              target="_blank">D.G. des Finances Publiques
            </a>
          </h3>
          <div class="fr-card__desc">Site de démonstration des impôts</div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/maquetteimpots.png' %}" alt="logo du site de la direction générale des finances publiques">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://refugies.info"
              rel="noopener external"
              target="_blank">réfugiés.info
            </a>
          </h3>
          <div class="fr-card__desc">L’information simple et traduite pour les personnes réfugiées en France</div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/refugies-info.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://www.plus.transformation.gouv.fr/oups-jai-fait-une-erreur-en-effectuant-une-demarche-administrative-que-faire"
              rel="noopener external"
              target="_blank">Droit à l’erreur
            </a>
          </h3>
          <div class="fr-card__desc">Oups, j’ai fait une erreur en effectuant une démarche administrative. Que faire ?</div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/droit-a-l-erreur.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://www.cybermalveillance.gouv.fr/"
              rel="noopener external"
              target="_blank">Cybermalveillance
            </a>
          </h3>
          <div class="fr-card__desc">Assistance et Prévention du risque numérique au service des publics</div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/cybermalveillance.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://incubateur.anct.gouv.fr/"
              rel="noopener external"
              target="_blank">Incubateur des Territoires
            </a>
          </h3>
          <div class="fr-card__desc">Incubateur des Territoires : trouver des services numériques simples, sobres et efficaces pour votre territoire</div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/anct-incubateur.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="{% static 'guides_aidants_connect/Depot-demande-surendettement.pdf' %}"
              rel="noopener external"
              target="_blank">Banque de France
            </a>
          </h3>
          <div class="fr-card__desc">Dépôt d'une demande de surendettement.</div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/bdf.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://monsuivisocial.incubateur.anct.gouv.fr/"
              rel="noopener external"
              target="_blank">Mon Suivi Social
            </a>
          </h3>
          <div class="fr-card__desc">Logiciel de suivi des bénéficiaires pour CCAS et CIAS</div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/mon_suivi_social.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
