{% load static %}
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
    <div class="fr-col-12 fr-col-md-4">
      <figure role="group" class="fr-content-media fr-my-0">
        <iframe title="Comment accompagner un ou une usagère à utiliser FranceConnect ?" class="fr-responsive-vid" src="https://www.youtube.com/embed/hATrqHG4zYQ" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </figure>
      <div class="fr-card fr-enlarge-link fr-card--no-icon fr-p-2w">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title fr-text--md">
              <a href="https://www.youtube.com/watch?v=hATrqHG4zYQ"> Comment accompagner un ou une usagère à utiliser FranceConnect ?</a>
            </h3>
            <div class="fr-card__end">
              <div class="fr-card__detail fr-icon-arrow-right-line">
                Voir sur Youtube
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fr-col-12 fr-col-md-4">
      <figure role="group" class="fr-content-media fr-my-0">
        <iframe title="Aidants Connect, comment ça fonctionne ?" class="fr-responsive-vid" src="https://www.youtube.com/embed/WTHj_kQXnzs" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </figure>
      <div class="fr-card fr-enlarge-link fr-card--no-icon fr-p-2w">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title fr-text--md">
              <a href="https://www.youtube.com/watch?v=WTHj_kQXnzs">
                Aidants Connect, comment ça <br/>fonctionne ?
              </a>
            </h3>
            <div class="fr-card__end">
              <div class="fr-card__detail fr-icon-arrow-right-line">
                Voir sur Youtube
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fr-col-12 fr-col-md-4">
      <figure role="group" class="fr-content-media fr-my-0">
        <iframe title="Les aspects juridiques relatifs au tiers de confiance" class="fr-responsive-vid" src="https://www.youtube.com/embed/ihsm-36I-fE" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </figure>
      <div class="fr-card fr-enlarge-link fr-card--no-icon fr-p-2w">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title fr-text--md">
              <a href="https://www.youtube.com/watch?v=ihsm-36I-fE&t=13s">
                Les aspects juridiques relatifs au tiers de confiance
              </a>
            </h3>
            <div class="fr-card__end">
              <div class="fr-card__detail fr-icon-arrow-right-line">
                Voir sur Youtube
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
