{% load static %}
<h2 class="fr-h3 fr-mb-1w">Vidéos</h2>
<p class="fr-text--lg fr-text-mention--grey fr-mb-4w">
  Comprendre Aidants Connect en quelques minutes
</p>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-md-4">
    <figure role="group" class="fr-content-media fr-my-0">
      <iframe title="Comment accompagner un ou une usagère à utiliser FranceConnect ?" class="fr-responsive-vid" src="https://www.youtube.com/embed/hATrqHG4zYQ" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </figure>
    <div class="fr-tile fr-enlarge-link fr-p-2w fr-tile__videocustom">
      <div class="fr-tile__body">
        <div class="fr-tile__content fr-pb-0">
          <h3 class="fr-tile__title no_arrow">
            Comment accompagner un ou une usagère à utiliser FranceConnect ?
            <a href="https://www.youtube.com/watch?v=hATrqHG4zYQ">
              <div class="fr-mt-2w fr-btn fr-btn--icon-right fr-icon-film-line">Voir sur Youtube</div>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <figure role="group" class="fr-content-media fr-my-0">
      <iframe title="Aidants Connect, comment ça fonctionne ?" class="fr-responsive-vid" src="https://www.youtube.com/embed/WTHj_kQXnzs" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </figure>
    <div class="fr-tile fr-enlarge-link fr-p-2w fr-tile__videocustom">
      <div class="fr-tile__body">
        <div class="fr-tile__content fr-pb-0">
          <h3 class="fr-tile__title no_arrow">
            Aidants Connect, comment ça <br/>fonctionne ?
            <a href="https://www.youtube.com/watch?v=WTHj_kQXnzs">
              <div class="fr-mt-2w fr-btn fr-btn--icon-right fr-icon-film-line">Voir sur Youtube</div>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <figure role="group" class="fr-content-media fr-my-0">
      <iframe title="Les aspects juridiques relatifs au tiers de confiance" class="fr-responsive-vid" src="https://www.youtube.com/embed/ihsm-36I-fE" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </figure>
    <div class="fr-tile fr-enlarge-link fr-p-2w fr-tile__videocustom">
      <div class="fr-tile__body">
        <div class="fr-tile__content fr-pb-0">
          <h3 class="fr-tile__title no_arrow">
            Les aspects juridiques relatifs au tiers de confiance
            <a href="https://www.youtube.com/watch?v=ihsm-36I-fE&t=13s">
              <div class="fr-mt-2w fr-btn fr-btn--icon-right fr-icon-film-line">Voir sur Youtube</div>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
