{% load static %}
  <ul class="fr-grid-row fr-grid-row--gutters fr-grid-row--top fr-raw-list">
    <li class="fr-col-12 fr-col-md-4">
      <div class="fr-card fr-enlarge-link fr-card--no-icon">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title fr-text--md">
              <a
                href="https://www.youtube.com/watch?v=hATrqHG4zYQ"
                rel="noopener external"
                target="_blank"
                title="Voir sur Youtube"
              >
                Comment accompagner un ou une usagère à utiliser FranceConnect ?
                <span class="fr-sr-only"> - Ouverture dans un nouvel onglet</span>
              </a>
            </h3>
            <div class="fr-card__end">
              <div class="fr-card__detail fr-icon-arrow-right-line" aria-hidden="true">
                Voir sur Youtube
              </div>
            </div>
          </div>
        </div>
        <div class="fr-card__header">
          <div class="fr-card__img">
            <img
              class="fr-responsive-img"
              src="{% static 'images/youtube-vignette-franceconnect.jpg' %}"
              alt=""
              aria-hidden="true"
            >
          </div>
        </div>
      </div>
    </li>
    <li class="fr-col-12 fr-col-md-4">
      <div class="fr-card fr-enlarge-link fr-card--no-icon">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title fr-text--md">
              <a
                href="https://www.youtube.com/watch?v=WTHj_kQXnzs"
                rel="noopener external"
                target="_blank"
                title="Voir sur Youtube"
              >
                Aidants Connect, comment ça <br/>fonctionne ?
                <span class="fr-sr-only"> - Ouverture dans un nouvel onglet</span>
              </a>
            </h3>
            <div class="fr-card__end">
              <div class="fr-card__detail fr-icon-arrow-right-line" aria-hidden="true">
                Voir sur Youtube
              </div>
            </div>
          </div>
        </div>
        <div class="fr-card__header">
          <div class="fr-card__img">
            <img
              class="fr-responsive-img"
              src="{% static 'images/youtube-vignette-fonctionnement.jpg' %}"
              alt=""
              aria-hidden="true"
            >
          </div>
        </div>
      </div>
    </li>
    <li class="fr-col-12 fr-col-md-4">
      <div class="fr-card fr-enlarge-link fr-card--no-icon">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title fr-text--md">
              <a
                href="https://www.youtube.com/watch?v=ihsm-36I-fE&t=13s"
                rel="noopener external"
                target="_blank"
                title="Voir sur Youtube"
              >
                Les aspects juridiques relatifs au tiers de confiance
                <span class="fr-sr-only"> - Ouverture dans un nouvel onglet</span>
              </a>
            </h3>
            <div class="fr-card__end">
              <div class="fr-card__detail fr-icon-arrow-right-line" aria-hidden="true">
                Voir sur Youtube
              </div>
            </div>
          </div>
        </div>
        <div class="fr-card__header">
          <div class="fr-card__img">
            <img
              class="fr-responsive-img"
              src="{% static 'images/youtube-vignette-juridique.jpg' %}"
              alt=""
              aria-hidden="true"
            >
          </div>
        </div>
      </div>
    </li>
  </ul>
