{% load static %}

<div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://kit-inclusion.societenumerique.gouv.fr"
              rel="noopener external">Kit d’intervention rapide
            </a>
          </h3>
          <p class="fr-card__desc">Aborder rapidement les principaux enjeux de l’accompagnement des individus en difficulté sur les outils numériques.</p>
          <div class="fr-card__start fr-mb-5v">
            <p class="fr-tag fr-tag--sm">Mission Société Numérique</p>
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/kitintervention.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://www.cnil.fr/sites/cnil/files/2024-03/cnil_guide_securite_personnelle_2024.pdf"
              rel="noopener external">Guide sur la sécurité des données personnelles
            </a>
          </h3>
          <p class="fr-card__desc">Un guide pour accompagner les acteurs qui travaillent avec des données personnelles en rappelant les précautions élémentaires à mettre en oeuvre.</p>
          <div class="fr-card__start fr-mb-5v">
            <p class="fr-tag fr-tag--sm">CNIL</p>
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/CNIL.png' %}" alt="logo de la CNIL">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://www.impots.gouv.fr/portail/www2/fichiers/didacticiels/partenaires/services_en_ligne/part/"
              rel="noopener external">Site de démonstration des impôts
            </a>
          </h3>
          <p class="fr-card__desc">Ce site est une copie du site des impôts permettant de simuler les déclarations en ligne sans manipuler les
            données personnelles de la personne accompagnée.</p>
          <div class="fr-card__start fr-mb-5v">
            <p class="fr-tag fr-tag--sm">D.G. des Finances Publiques</p>
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/maquetteimpots.png' %}" alt="logo du site de la direction générale des finances publiques">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://refugies.info"
              rel="noopener external">L’information simple et traduite pour les personnes réfugiées en France
            </a>
          </h3>
          <p class="fr-card__desc">Un site web collaboratif pour les personnes réfugiées et leurs aidants qui recense les dispositifs d’accompagnement et explique les démarches administratives pour leur intégration</p>
          <div class="fr-card__start fr-mb-5v">
            <p class="fr-tag fr-tag--sm">réfugiés.info</p>
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/refugies-info.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://www.plus.transformation.gouv.fr/oups-jai-fait-une-erreur-en-effectuant-une-demarche-administrative-que-faire"
              rel="noopener external">Oups, j’ai fait une erreur en effectuant une démarche administrative. Que faire ?
            </a>
          </h3>
          <p class="fr-card__desc">Une fiche pratique sur le droit à l'erreur.</p>
          <div class="fr-card__start fr-mb-5v">
            <p class="fr-tag fr-tag--sm">Droit à l’erreur</p>
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/droit-a-l-erreur.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://www.cybermalveillance.gouv.fr/"
              rel="noopener external">Assistance et Prévention du risque numérique au service des publics
            </a>
          </h3>
          <p class="fr-card__desc">Une plateforme destinée à assister les particuliers, les entreprises, les associations, les collectivités et les administrations victimes de cybermalveillance, de les informer sur les menaces numériques et les moyens
            de s’en protéger.</p>
          <div class="fr-card__start fr-mb-5v">
            <p class="fr-tag fr-tag--sm">Cybermalveillance</p>
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/cybermalveillance.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://incubateur.anct.gouv.fr/"
              rel="noopener external">Incubateur des Territoires : trouver des services numériques simples, sobres et efficaces pour votre territoire
            </a>
          </h3>
          <p class="fr-card__desc">L'Incubateur des Territoires accompagne les collectivités territoriales et leurs partenaires dans la création et le passage à l’échelle de services publics numériques de qualité et à fort impact pour les usagers.</p>
          <div class="fr-card__start fr-mb-5v">
            <p class="fr-tag fr-tag--sm">Incubateur des Territoires</p>
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/anct-incubateur.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="{% static 'guides_aidants_connect/Depot-demande-surendettement.pdf' %}"
              rel="noopener external">Dépôt d'une demande de surendettement.
            </a>
          </h3>
          <p class="fr-card__desc">Une fiche pratique pour réaliser en ligne un dépôt de demande de surendettement via Aidants Connect.</p>
          <div class="fr-card__start fr-mb-5v">
            <p class="fr-tag fr-tag--sm">Banque de France</p>
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/bdf.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col fr-col-md-4 fr-mb-3w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title fr-h6">
            <a
              href="https://monsuivisocial.incubateur.anct.gouv.fr/"
              rel="noopener external">Logiciel de suivi des bénéficiaires pour CCAS et CIAS
            </a>
          </h3>
          <p class="fr-card__desc">Mon Suivi Social est un logiciel métier de l'accompagnement social (suivi des bénéficiaires, sécurisation, statistiques) développé par l'ANCT.</p>
          <div class="fr-card__start fr-mb-5v">
            <p class="fr-tag fr-tag--sm">Mon Suivi Social</p>
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="{% static 'images/mon_suivi_social.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
