{% load static %}
<h2 class="fr-h3 fr-mb-1w">Bien démarrer</h2>
<p class="fr-text--lg fr-text-mention--grey fr-mb-4w">
  Quelques documents pour vous accompagner dans votre prise en main d’Aidants Connect
</p>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm fr-card--download">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{% static 'guides_aidants_connect/AC_Depliant4P_2024.pdf' %}" download>
              5 bonnes raisons d’utiliser Aidants Connect
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">PDF - 669 Ko</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm fr-card--download">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{% static 'guides_aidants_connect/AC_Guide_Sauthentifier.pdf' %}" download>
              S’authentifier sur la plateforme Aidants Connect
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">PDF - 1,88 Mo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm fr-card--download">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{% static 'guides_aidants_connect/AC_Guide_CreerunMandat.pdf' %}" download>
              Créer un mandat avec un usager
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">PDF - 2,87 Mo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm fr-card--download">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{% static 'guides_aidants_connect/AC_Guide_RealiserLaDemarche.pdf' %}" download>
              Réaliser la démarche avec un usager
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">PDF - 769 Ko</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm fr-card--download">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{% static 'guides_aidants_connect/AC_Guide_LierUneCarte.pdf' %}" download>
              Lier une carte à un aidant
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">PDF - 1000 ko</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm fr-card--download">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{% static 'guides_aidants_connect/AC_Affiche2024_Habilitee.pdf' %}" download>
              Affiche aidants connect
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">PDF - 541 ko</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm fr-card--download">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{% static 'guides_aidants_connect/Charte_aidants_2025.pdf' %}" download>
              Charte aidants
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">PDF - 598 ko</p>
          </div>
        </div>
      </div>
    </div>
  </div>

      <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm fr-card--download">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{% static 'guides_aidants_connect/Charte_referents_2025.pdf' %}" download>
              Charte référents
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">PDF - 616 ko</p>
          </div>
        </div>
      </div>
    </div>
  </div>

        <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm fr-card--download">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{% static 'guides_aidants_connect/Kit_referent_2025.pdf' %}" download>
              Livret d’accueil référents
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">PDF - 741 ko</p>
          </div>
        </div>
      </div>
    </div>
  </div>


          <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm fr-card--download">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{% static 'guides_aidants_connect/Kit_aidants_2025.pdf' %}" download>
              Livret d’accueil aidants
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">PDF - 741 ko</p>
          </div>
        </div>
      </div>
    </div>
  </div>

           <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm fr-card--download">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="{% static 'guides_aidants_connect/Aidants_Connect_document_juridique.pdf' %}" download>
              Guide Juridique
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">PDF - 58 ko</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card  fr-enlarge-link fr-card--sm">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="https://www.etsijaccompagnais.fr/tutoriel-aidants-connect" download>
              Tutoriel interactif Aidants Connect
            </a>
          </h3>
          <div class="fr-card__end">
            <p class="fr-card__detail">etsijaccompagnais.fr</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
