{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section section-grey ac-service">
  <div class="container container-small">
    <h2 class="section__title">Aidants Connect a rendu son mandat accessible grâce au concours de <img class="footer__logo" src="{% static 'images/logo-ANLCI.png' %}" alt="Agence Nationale de Lutte contre l'Illettrisme"/></h2>
  </div>
</section>
{% endblock content %}
