{% extends 'public_website/layout/layout_legal.html' %}

{% load ac_common static %}

{% block title %}Aidants Connect - Déclaration dʼaccessibilité{% endblock %}

{% block body %}
  <section class="section" aria-labelledby="declaration-accessibilite">
  <div class="fr-container">
    <h1 id="declaration-accessibilite">Aidants Connect - Déclaration dʼaccessibilité</h1>

    <p>
      <b>L’Agence Nationale de la Cohésion des Territoires</b> s’engage à rendre son service accessible,
      conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.
    </p>

    <p>
      Cette déclaration d’accessibilité s’applique au site :
      <a class="fr-link" href="https://aidantsconnect.beta.gouv.fr/">https://aidantsconnect.beta.gouv.fr/</a>.
    </p>

    <h2>État de conformité</h2>

    <p>
      Aidants Connect est <strong>partiellement conforme</strong> avec le référentiel général d’amélioration de
      l’accessibilité (RGAA) en raison des non-conformités énumérées ci-dessous.
    </p>

    <h2>Résultats des tests</h2>

    <p>
      L’audit de conformité réalisé en juillet 2026 révèle que sur l’échantillon du site audité
      <strong>56,52 %</strong> des critères du RGAA version 4.1.2 sont respectés.
    </p>

    <p>Le taux moyen de conformité est de <strong>83,34 %</strong>.</p>

    <p>Détail :</p>
    <ul>
      <li>Nombre de critères applicables : 69</li>
      <li>Nombre de critères conformes : 39</li>
      <li>Nombre de critères non conformes : 30</li>
    </ul>

    <h2>Contenus non accessibles</h2>

    <h3>Liste des critères non conformes</h3>

    <ul>
      <li>1.1 - Chaque image porteuse d’information a-t-elle une alternative textuelle ?</li>
      <li>1.2 – Chaque image de décoration est-elle correctement ignorée par les technologies d’assistance ?</li>
      <li>
        3.1 – Dans chaque page web, l’information ne doit pas être donnée uniquement par la couleur.
        Cette règle est-elle respectée ?
      </li>
      <li>
        3.2 – Dans chaque page web, le contraste entre la couleur du texte et la couleur de son arrière-plan
        est-il suffisamment élevé (hors cas particuliers) ?
      </li>
      <li>
        4.1 - Chaque média temporel pré-enregistré a-t-il, si nécessaire, une transcription textuelle ou une
        audiodescription (hors cas particuliers) ?
      </li>
      <li>
        4.4 - Pour chaque média temporel synchronisé pré-enregistré ayant des sous-titres synchronisés, ces
        sous-titres sont-ils pertinents ?
      </li>
      <li>
        4.5 - Chaque média temporel pré-enregistré a-t-il, si nécessaire, une audiodescription synchronisée
        (hors cas particuliers) ?
      </li>
      <li>
        4.11 - La consultation de chaque média temporel est-elle, si nécessaire, contrôlable par le clavier et
        tout dispositif de pointage ?
      </li>
      <li>
        4.13 - Chaque média temporel et non temporel est-il compatible avec les technologies d’assistance
        (hors cas particuliers) ?
      </li>
      <li>6.1 – Chaque lien est-il explicite (hors cas particuliers) ?</li>
      <li>7.1 – Chaque script est-il, si nécessaire, compatible avec les technologies d’assistance ?</li>
      <li>
        7.5 – Dans chaque page web, les messages de statut sont-ils correctement restitués par les technologies
        d’assistance ?
      </li>
      <li>8.6 – Pour chaque page web ayant un titre de page, ce titre est-il pertinent ?</li>
      <li>
        8.9 – Dans chaque page web, les balises ne doivent pas être utilisées uniquement à des fins de
        présentation. Cette règle est-elle respectée ?
      </li>
      <li>
        9.1 – Dans chaque page web, l’information est-elle structurée par l’utilisation appropriée de titres ?
      </li>
      <li>9.3 – Dans chaque page web, chaque liste est-elle correctement structurée ?</li>
      <li>9.4 - Dans chaque page web, chaque citation est-elle correctement indiquée ?</li>
      <li>
        10.7 – Dans chaque page web, pour chaque élément recevant le focus, la prise de focus est-elle visible ?
      </li>
      <li>
        10.11 - Pour chaque page web, les contenus peuvent-ils être présentés sans perte d’information ou de
        fonctionnalité et sans avoir recours soit à un défilement vertical pour une fenêtre ayant une hauteur
        de 256 px, soit à un défilement horizontal pour une fenêtre ayant une largeur de 320 px
        (hors cas particuliers) ?
      </li>
      <li>
        10.12 – Dans chaque page web, les propriétés d’espacement du texte peuvent-elles être redéfinies par
        l’utilisateur sans perte de contenu ou de fonctionnalité (hors cas particuliers) ?
      </li>
      <li>
        11.5 - Dans chaque formulaire, les champs de même nature sont-ils regroupés, si nécessaire ?
      </li>
      <li>
        11.6 - Dans chaque formulaire, chaque regroupement de champs de même nature a-t-il une légende ?
      </li>
      <li>
        11.10 – Dans chaque formulaire, le contrôle de saisie est-il utilisé de manière pertinente
        (hors cas particuliers) ?
      </li>
      <li>
        11.11 – Dans chaque formulaire, le contrôle de saisie est-il accompagné, si nécessaire, de suggestions
        facilitant la correction des erreurs de saisie ?
      </li>
      <li>
        11.13 – La finalité d’un champ de saisie peut-elle être déduite pour faciliter le remplissage
        automatique des champs avec les données de l’utilisateur ?
      </li>
      <li>
        12.6 – Les zones de regroupement de contenus présentes dans plusieurs pages web (zones d’en-tête, de
        navigation principale, de contenu principal, de pied de page et de moteur de recherche) peuvent-elles
        être atteintes ou évitées ?
      </li>
      <li>12.8 – Dans chaque page web, l’ordre de tabulation est-il cohérent ?</li>
      <li>
        13.1 - Pour chaque page web, l’utilisateur a-t-il le contrôle de chaque limite de temps modifiant le
        contenu (hors cas particuliers) ?
      </li>
      <li>
        13.3 - Dans chaque page web, chaque document bureautique en téléchargement possède-t-il, si nécessaire,
        une version accessible (hors cas particuliers) ?
      </li>
      <li>
        13.9 – Dans chaque page web, le contenu proposé est-il consultable quelle que soit l’orientation de
        l’écran (portrait ou paysage) (hors cas particuliers) ?
      </li>
    </ul>

    <h3>Contenus non soumis à l’obligation d’accessibilité</h3>

    <ul>
      <li>Les fichiers disponibles dans des formats bureautiques publiés avant le 23 septembre 2018.</li>
      <li>
        Les contenus de tiers qui ne sont ni financés ni développés par l’organisme concerné et qui ne sont
        pas sous son contrôle.
      </li>
    </ul>

    <h2>Établissement de cette déclaration d’accessibilité</h2>

    <p>Cette déclaration a été établie le <strong>15 juillet 2026</strong>.</p>

    <h2>Technologies utilisées pour la réalisation du site</h2>

    <ul>
      <li>HTML5</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>

    <h2>Environnement de test</h2>

    <ul>
      <li>NVDA 2025, Firefox 141</li>
      <li>Jaws 2024, Firefox 141</li>
      <li>VoiceOver, Safari</li>
    </ul>

    <h2>Outils pour évaluer l’accessibilité</h2>

    <ul>
      <li>WCAG Contrast checker (extension)</li>
      <li>Web Developer (extension)</li>
      <li>Headings Map (extension)</li>
      <li>Outils de développement navigateur</li>
    </ul>

    <h2>Pages du site ayant fait l’objet de la vérification de conformité</h2>

    <ul>
      <li>Page d’accueil</li>
      <li>Page d’aide</li>
      <li>Page plan du site</li>
      <li>Page Accessibilité</li>
      <li>Page d’authentification</li>
      <li>Page Habilitation</li>
      <li>Page Formation</li>
      <li>Page Ressources</li>
      <li>Page Statistiques</li>
      <li>Page demande d’habilitation</li>
      <li>Mes mandats</li>
      <li>Créer un mandat</li>
      <li>Récapitulatif des mandats par utilisateur</li>
      <li>Mandat</li>
      <li>Gestion des aidants</li>
      <li>Détail d’une organisation</li>
      <li>Affichage d’un aidant</li>
      <li>Ajout d’un aidant</li>
      <li>Lier un moyen de connexion</li>
      <li>Ajouter un moyen de connexion</li>
    </ul>

    <h2>Retour d’information et contact</h2>

    <p>
      Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le référent d’Aidants
      Connect pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.
    </p>
    <ul>
      <li>E-mail : {% mailto "contact@aidantsconnect.beta.gouv.fr" %}</li>
      <li>
        Adresse :
        <address class="fr-my-8v">
          <strong>Agence Nationale de la Cohésion des Territoires</strong> <br />
          20 rue de Ségur<br />
          75007 Paris
        </address>
      </li>
    </ul>

    <h2>Voies de recours</h2>

    <p>
      Cette procédure est à utiliser dans le cas suivant : vous avez signalé au responsable du site internet un
      défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez
      pas obtenu de réponse satisfaisante.
    </p>

    <p>Vous pouvez :</p>

    <ul>
      <li>
        Écrire un message au <a class="fr-link" href="https://formulaire.defenseurdesdroits.fr/">
          Défenseur des droits
        </a> ;
      </li>
      <li>
        Contacter <a class="fr-link" href="https://www.defenseurdesdroits.fr/saisir/delegues">
          le délégué du Défenseur des droits dans votre région
        </a> ;
      </li>
      <li>
        Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) :
        <address class="fr-my-8v">
          <strong>Défenseur des droits</strong><br />
          Libre réponse 71120<br />
          75342 Paris CEDEX 07
        </address>
      </li>
    </ul>
  </div>
  </section>
{% endblock body %}
