{% extends 'public_website/layout/layout_cgu.html' %}

{% load static %}

{% block title %}Aidants Connect - Conditions générales d'utilisation{% endblock %}

{% load ac_common %}

{% block body %}
<section class="section">
  <div class="fr-container">
    <h1 class="fr-text-black fr-mb-4w">Conditions générales d'utilisation</h1>
    <p>Aidants Connect est un service numérique de l'État porté par l'Agence Nationale de la Cohésion des Territoires (<a href="https://agence-cohesion-territoires.gouv.fr/" target="_blank" rel="noopener noreferer" class="fr-link">ANCT</a>). Il a été développé selon la méthode « start-up d'Etat » avec l'appui de la <a href="https://societenumerique.gouv.fr/fr/" target="_blank" rel="noopener noreferer" class="fr-link">Mission Société Numérique.</a></p>
    <h2 class="fr-mt-4w">Article 1 - Présentation du service</h2>
    <p>Aidants Connect est un service public numérique qui permet de conclure des mandats entre une Structure d'Aidants professionnels habilitée Aidants Connect, et des Usagers qui souhaitent être accompagnés dans la réalisation de leurs démarches administratives en ligne.</p>
    <p>Aidants Connect, via la mire de connexion FranceConnect, permet ensuite d'identifier un Usager sur les sites administratifs en ligne accessibles via FranceConnect, grâce à l'authentification d'un Aidant puis à la sélection d'un mandat en cours de validité.</p>
    <p>Le présent document définit les conditions et modalités d'utilisation du Service <a href="aidantsconnect.beta.gouv.fr" class="fr-link">aidantsconnect.beta.gouv.fr</a>.</p>
    <p>L'utilisation du Service est libre, facultative et gratuite pour les Usagers qui recourent à des Structures habilitées Aidants Connect. Les Structures proposant des accompagnements tarifés ne sont pas éligibles au dispositif Aidants Connect.</p>
    <p>Les services civiques, les stagiaires, les bénévoles, les élus et les mandataires judiciaires ne sont pas éligibles au dispositif Aidants Connect.</p>
    <p>Les usagers sous tutelle ou sous curatelle ne peuvent pas être accompagnés dans leurs démarches en ligne via le service Aidants Connect.</p>
    <p>L'utilisation du Service est subordonnée à l'acceptation, dès la première connexion, des présentes conditions générales d'utilisation (CGU) et doivent être intégralement respectées.</p>
    <h2 class="fr-mt-4w">Article 2 - Définitions</h2>
    <ul class="fr-pl-2w">
      <li>« Éditeur » se réfère à la Direction interministérielle du numérique&nbsp;;</li>
      <li>« Service » se réfère à la Plateforme Aidants Connect et à ses fonctionnalités&nbsp;;</li>
      <li>« Structure » se réfère à la personne morale qui est habilitée Aidants Connect&nbsp;;</li>
      <li>« Référent Aidant Connect » se réfère à la personne identifiée lors de l'habilitation, qui met en place, assure le suivi du déploiement du dispositif dans la structure et veille à la sécurité du service&nbsp;;</li>
      <li>« Aidant » se réfère à un aidant professionnel travaillant au sein de la Structure déclarée sur le service.</li>
      <li>« Usager » se réfère à une personne accompagnée par la Structure&nbsp;;</li>
      <li>« Mandat » désigne le contrat par lequel l'Usager donne à l'Aidant le pouvoir de réaliser des démarches administratives en son nom.</li>
    </ul>
    <h2 class="fr-mt-4w">Article 3 - Objet</h2>
    <p class="fr-mb-1w">La Plateforme permet&nbsp;:</p>
    <ul class="fr-pl-2w">
      <li>D'authentifier les agents des Structures habilitées « Aidants Connect »&nbsp;;</li>
      <li>De créer et conserver les Mandats établis entre ces Structures et les Usagers&nbsp;;</li>
      <li>De sélectionner un Mandat en cours de validité, de transmettre l'identité de l'Usager aux fournisseurs de service partenaires de « France Connect » et d'accomplir pour son compte des démarches administratives&nbsp;;</li>
      <li>De sécuriser les démarches administratives réalisées pour le compte de l'Usager.</li>
    </ul>
    <h2 class="fr-mt-4w">Article 4 - Obtention d'un accès à Aidant Connect pour un Aidant</h2>
    <p>Pour obtenir un accès au Service, la Structure doit remplir le <a href="{% url 'habilitation_new' %}" class="fr-link">formulaire d'habilitation disponible en ligne</a>. <br/>L'équipe Aidants Connect est habilitée pour valider la demande.</p>
    <h2 class="fr-mt-4w">Article 5 - Connexion des Aidants au service Aidants Connect</h2>
    <p>Pour se connecter au Service, un Aidant doit renseigner son adresse électronique individuelle, nominative et professionnelle qui a été déclarée au service par la Structure habilitée et utiliser un moyen de connexion pour générer un code à usage unique (une carte physique ou virtuelle). Un courrier électronique contenant un lien de connexion lui sera envoyé pour se connecter à son compte.</p>
    <p>Lorsqu'un Aidant est inactif depuis 5 mois, il reçoit un e-mail pour l'avertir que son compte sera désactivé dans un délai de 1 mois à compter de la réception de l'e-mail.</p>
    <h2 class="fr-mt-4w">Article 6 - Responsabilités des parties</h2>
    <h3 class="fr-mt-3w fr-mb-2w">6.1 Responsabilités de la Structure</h3>
    <p class="fr-mb-1w">La Structure s'engage à&nbsp;:</p>
    <ul class="fr-pl-2w">
      <li>Tenir à jour la liste des membres de l'équipe strictement habilités à utiliser Aidants Connect&nbsp;;</li>
      <li>Garantir aux Référents et Aidants tous les moyens nécessaires pour protéger leurs données et celles des Usagers notamment en mettant en place une politique de mots de passe robuste sur leurs postes électroniques, des anti-virus, des mises à jour et des sauvegardes&nbsp;;</li>
      <li>Prévoir toutes les mesures en matière de confidentialité et de sécurité des données nécessaires, notamment en ce qui concerne les signalements de vols ou pertes de données, les habilitations des Référents et Aidants.</li>
    </ul>
    <h3 class="fr-mt-3w fr-mb-2w">6.2 Responsabilités du Référent Aidants Connect</h3>
    <p class="fr-mb-1w">Le Référent Aidants Connect s'engage à&nbsp;:</p>
    <ul class="fr-pl-2w">
      <li>Transmettre et s'assurer que l'Aidant a pris connaissance des conditions générales d'utilisation d'Aidants Connect&nbsp;;</li>
      <li>Garantir l'accès ou la restriction à certains périmètres selon les métiers respectifs des Aidants&nbsp;;</li>
      <li>Tenir à jour la liste des membres de l'équipe strictement habilités à utiliser Aidants Connect&nbsp;;</li>
      <li>Mettre en œuvre les mesures de sécurité notamment mises à sa disposition par sa Structure.</li>
    </ul>
    <h3 class="fr-mt-3w fr-mb-2w">6.3 Responsabilités de l'Aidant</h3>
    <p class="fr-mb-1w">L'Aidant s'engage à&nbsp;:</p>
    <ul class="fr-pl-2w fr-mb-1w">
      <li>Accomplir les démarches dans les conditions fixées par le mandat et sur la base des informations qui lui ont été fournies par l'Usager&nbsp;;</li>
      <li>Offrir à un usager les possibilités les plus simples pour révoquer le mandat à partir du moment où cet Usager exprime le souhait de résilier un mandat&nbsp;;</li>
      <li>Ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur&nbsp;;</li>
      <li>Ne pas publier, à quelque endroit que ce soit, de messages racistes, sexistes, injurieux, insultants ou contraires à l'ordre public&nbsp;;</li>
      <li>Prendre connaissance de la <a href="{% static 'guides_aidants_connect/Aidants Connect_Charte-aidants.pdf' %}" rel="noopener noreferer" target="_blank" class="fr-link">charte de l'Aidant</a> à titre de sensibilisation&nbsp;;</li>
      <li>Mettre en œuvre les mesures de sécurité notamment mises à sa disposition par sa Structure.</li>
    </ul>
    <p>Il ne pourra pas être reproché à l'Aidant d'avoir utilisé des informations données par l'Usager, si celles-ci s'avèrent fausses ou erronées.</p>
    <h3 class="fr-mt-3w fr-mb-2w">6.4 Responsabilités de l'Éditeur</h3>
    <p>Les sources des informations diffusées sur la Plateforme sont réputées fiables mais la Plateforme ne garantit pas qu'il soit exempt de défauts, d'erreurs ou d'omissions.</p>
    <p>L'Éditeur s'engage à la sécurisation de la Plateforme, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies.</p>
    <p>L'Éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu à la Plateforme. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, la Plateforme pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.</p>
    <p>L'Éditeur s'autorise à suspendre ou révoquer n'importe quel compte et toutes les actions réalisées par ce biais, s'il estime que l'usage réalisé des Services porte préjudice à son image ou ne correspond pas aux exigences de sécurité.</p>
    <p>L'Éditeur se réserve notamment le droit de retirer l'habilitation des Structures qui ne réalisent pas de démarches administratives et ne font plus partie de l'ensemble des structures éligibles au regard des conditions précisées dans l'Annexe.</p>
    <h2 class="fr-mt-4w">Article 7 - Modalités relatives au mandat</h2>
    <h3 class="fr-mt-3w fr-mb-2w">7.1 Durée de conservation du mandat</h3>
    <p>Le mandat est conservé pendant 6 ans à compter de la date de fin du mandat. Cette conservation se justifie en cas de contentieux et se réfère à la durée de prescription pénale.</p>
    <h3 class="fr-mt-3w fr-mb-2w">7.2 Révocation du mandat</h3>
    <p class="fr-mb-1w">Un Usager peut révoquer à tout moment un mandat le concernant par plusieurs moyens&nbsp;:</p>
    <ul class="fr-pl-2w">
      <li>En faire la demande auprès de la Structure, par demande orale, courrier papier ou par courrier électronique&nbsp;;</li>
      <li>En faire la demande auprès du Service, à l'adresse électronique&nbsp;: {% mailto AC_CONTACT_EMAIL %} ou à l'adresse postale Aidants Connect - ANCT 20 avenue de Ségur 75007 Paris.</li>
    </ul>
    <h3 class="fr-mt-3w fr-mb-2w">7.3 Conclusion d'un mandat à distance</h3>
    <p class="fr-mb-1w">En tenant compte du fait que le mandat se forme que par l'acceptation du mandataire et résulte de l'exécution qui lui a été donnée par le mandataire (article 1984 et 1985 du code civil) ET qu'il peut être donné verbalement, l'Aidant s'engage à&nbsp;:</p>
    <ul class="fr-pl-2w fr-mb-1w">
      <li>Suivre les mêmes exigences de confidentialité, de responsabilité, d'information et de transparence détaillées dans la politique de confidentialité d'Aidants Connect&nbsp;;</li>
      <li>Suivre les procédures relatives à l'envoi du Mandat par courrier électronique, courrier papier ou sms.</li>
    </ul>
    <p>Il est obligatoire de remettre à l'Usager la version papier du mandat conclu.</p>
    <h2 class="fr-mt-4w">Article 8 - Mise à jour des conditions générales d'utilisation</h2>
    <p>Les termes des présentes conditions générales d'utilisation peuvent être modifiés ou complétés à tout moment, sans préavis, en fonction des modifications apportées au Service, de l'évolution de la législation ou pour tout autre motif jugé nécessaire. Les conditions générales d’utilisation s’imposent au public.</p>
    <h2 class="fr-mt-4w">Annexe 1 - Liste non exhaustive d'aidants professionnels</h2>
    <p>Ce service est destiné aux Structures habilitées Aidants Connect et à leurs Aidants professionnels qui accompagnent les Usagers à effectuer leurs démarches administratives en ligne. Le terme « d'Aidant professionnel » désigne ici des personnes ayant un statut professionnel, il peut s'agir notamment de travailleurs sociaux, d'agents publics d'accueil, de médiateurs numériques salariés d'une structure de droit privé.</p>
    <p class="fr-mb-1w">Plus précisément, il peut s'agir de toute personne morale de droit public ou privé (administration, association, entreprise) qui, selon une liste non exhaustive&nbsp;:</p>
    <ul class="fr-pl-2w fr-mb-1w">
      <li>Intervient dans le cadre d'une mission de service public d'accompagnement à la réalisation de démarches pour les usagers (les maisons de services au public (MSAP), les structures titulaires du label « France services », les agents des collectivités au contact du public, les CCAS, les services publics de proximité, les PIMMS ainsi que les centres médico-sociaux)&nbsp;;</li>
      <li>Participe à la politique d'animation de la vie sociale et développe des prestations de services, individualisées et spécialisées au sens de la circulaire n° 2012-013 de la CNAF&nbsp;;</li>
      <li>Intervient dans les pratiques professionnelles définies à l'article D. 142-1-1 du Code de l'action sociale et des familles, notamment les travailleurs sociaux.</li>
    </ul>
  </div>
</section>
{% endblock body %}
