{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Conditions générales d'utilisation{% endblock %}

{% block extracss %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="section__title">Conditions générales d'utilisation</h1>

    <p>
      Version 0.1
      <br>
      Valables à partir du 1er janvier 2020
    </p>
    <p>
      Aidants Connect est un service numérique de l’État édité par la direction interministérielle du numérique
      (<a href="https://www.numerique.gouv.fr">DINUM</a>). Il a été developpé selon la méthode « start-ups d'Etat » avec
      l’appui de la <a href="https://societenumerique.gouv.fr/">Mission Société Numérique</a>,
      au sein de l’Agence Nationale de la Cohésion des Territoires
      (<a href="https://www.cohesion-territoires.gouv.fr/lagence-nationale-de-la-cohesion-des-territoires">ANCT</a>).
    </p>

    <h2>Présentation du service</h2>

    <p>
      Aidants Connect est un service numérique qui génère des mandats entre une structure d’aidants professionnels
      habilitée Aidants Connect, et des usagers qui souhaitent être accompagnés dans la réalisation de leurs démarches
      administratives en ligne.
    </p>
    <p>
      Aidants Connect, via la mire de connexion FranceConnect, permet ensuite d’identifier un usager sur les sites
      administratifs en ligne accessibles via FranceConnect, grâce à l’authentification d’un aidant puis à la sélection
      d’un mandat en cours de validité.
    </p>
    <p>
      Ce service est destiné aux structures habilitées Aidants Connect et à leurs aidants professionnels qui
      accompagnent les usagers à effectuer leurs démarches administratives en ligne. Le terme « d’aidant professionnel »
      désigne ici des personnes ayant un statut professionnel, il peut s’agir de : travailleurs sociaux, d’agents
      publics d’accueil, de médiateurs numériques salariés d’une structure de droit privé, etc.
    </p>
    <p>
      Le présent document définit les conditions et modalités d’utilisation du service
      <a href="https://aidantsconnect.beta.gouv.fr/">aidantsconnect.beta.gouv.fr</a> sur Internet.
    </p>
    <p>
      L’utilisation du service est libre, facultative et gratuite pour les usagers qui recourent à des structures
      habilitées Aidants Connect.
    </p>
    <p>
      L'utilisation du service est subordonnée à l’acceptation préalable et au respect intégral des présentes conditions
      générales d’utilisation (CGU) par l’aidant professionnel et l’usager.
    </p>

    <h3>Vocabulaire</h3>

    <p>
      <ul>
        <li>« Nous » se réfère à l’éditeur d’Aidants Connect.</li>
        <li>« Editeur » se réfère à la Direction interministériel du numérique.</li>
        <li>« Le service » se réfère à l’application web Aidants Connect.</li>
        <li>« Structure » se réfère à l’structure d’accompagnement des usagers.</li>
        <li>« Aidant » se réfère à un aidant professionnel travaillant au sein d’un Etablissement déclaré sur le
          service.</li>
        <li>« Usager » se réfère à une personne accompagnée par la structure.</li>
      </ul>
    </p>

    <h2>Objet</h2>

    <p>
      Le service est une application web qui vous permet de :
      <ul>
        <li>D’authentifier les agents des structures habilitée « Aidants Connect » ;</li>
        <li>De créer et conserver les mandats établis entre ces structures et les usagers ;</li>
        <li>De sélectionner un mandat en cours de validité, de transmettre l’identité de l’usager aux fournisseurs de
          service partenaires de « FranceConnect » et d’accomplir pour son compte des démarches administratives ;</li>
        <li>D’offrir aux usagers la traçabilité des actions effectuées par les agents précités.</li>
      </ul>
    </p>

    <h2>Obtention d’un accès à Aidant Connect pour un Aidant</h2>

    <p>
      Pour obtenir un accès au service, l’Etablissement doit fournir à Aidants Connect, pour chaque aidant :
      <ul>
        <li>Son nom et prénom ;</li>
        <li>Une adresse électronique individuelle professionnelle ;</li>
        <li>La certification que l’Aidant est un salarié ou un agent – a un contrat de travail en cours au sein de
          l’Etablissement ;</li>
        <li>La certification que l’Aidant peut utiliser son téléphone portable pour générer un code de connexion (TOTP)
          via une application dédiée et que l’accès à son téléphone est protégé ;</li>
        <li>La certification que l’Aidant a signé la charte de déontologie du service Aidants Connect ;</li>
        <li>La certification que l’Aidant a été formé ou sensibilisé à l’utilisation du service Aidants Connect.</li>
      </ul>
    </p>

    <h2>Responsabilités de l'Aidant</h2>

    <p>
      <ul>
        <li>Accomplir les démarches dans les conditions fixées par le mandat et sur la base des informations qui lui ont
          été fournies par l'Usager ;</li>
        <li>Il ne pourra pas être reproché à l'Aidant d'avoir utilisé des informations données par l'Usager, si
          celles-ci s'avèrent fausses ou erronées ;</li>
        <li>Offrir à un usager les possibilités les plus simples pour révoquer le mandat à partir du moment où cet
          Usager exprime le souhait de résilier un mandat.</li>
      </ul>
    </p>

    <h2>Responsabilités de l'Usager</h2>

    <p>
      <ul>
        <li>Donner les informations justes et pertinentes pour que l'aidant accomplisse les démarches administratives.
        </li>
      </ul>
    </p>

    <h2>Modalités de révocation du mandat</h2>

    <p>
      Un Usager peut révoquer à tout moment un mandat le concernant par plusieurs moyens :
      <ul>
        <li>En faire la demande auprès de la structure, par demande orale, courrier papier ou par courrier électronique.
        </li>
        <li>En faire la demande auprès du service, à l’email aidantsconnect@beta.gouv.fr ou à l’adresse postale Aidants
          Connect - DINUM 20 avenue de Ségur 75007 Paris.</li>
      </ul>
    </p>

    <h3>Courrier type</h3>

    <p>
      <i>
        Madame, monsieur,
        <br>
        Je soussigné [NOM prénom] souhaite mettre fin à mon/mes mandats me liant à la structure suivant :
        <br>
        [adresse de l’Etablissement]
        <br>
        <br>
        Je joins une copie de ma pièce d’identité ainsi qu’une copie d’un ou des mandats à révoquer.
        <br>
        <br>
        Fait à &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;, le
        <br>
        [signature]
      </i>
    </p>

    <h2>Vie privée</h2>

    <h3>Données à caractère personnel</h3>

    <p>
      La collecte et le traitement des données à caractère personnel, effectués à partir du site sont conformes au
      règlement général sur la protection des données du 27 avril 2016 et à la loi informatique et libertés.
    </p>
    <p>
      Les catégories de données à caractère personnel enregistrées sont les suivantes :
      <ol>
        <li>Pour la gestion de l’identification de l’usager :</li>
        <ul>
          <li>Nom de naissance ;</li>
          <li>Le(s) prénom(s) ;</li>
          <li>La date et le lieu de naissance ;</li>
          <li>Le sexe ;</li>
          <li>L’adresse de courrier électronique ;</li>
          <li>Alias technique FranceConnect ;</li>
          <li>Alias technique Aidants Connect.</li>
        </ul>
        <li>Pour la gestion de l’identification des aidants habilités par les structures :</li>
        <ul>
          <li>Nom d’usage ;</li>
          <li>Le(s) prénom(s) ;</li>
          <li>Adresse de courrier électronique individuelle professionnelle.</li>
        </ul>
      </ol>
    </p>

    <h2>Responsable du traitement</h2>

    <p>
      Le responsable du traitement est la Direction Interministérielle du Numérique, 20 avenue de Ségur 75007 Paris.
    </p>
    <p>
      La DINUM atteste formellement auprès des utilisateurs que le portail
      <a href="https://aidantsconnect.beta.gouv.fr/">aidantsconnect.beta.gouv.fr</a>
      est homologué conformément aux prescriptions définies par le RGS (Référentiel Général de Sécurité, ordonnance
      2005-1516 du 8 décembre 2005 et décret 2010-112 du 2 février 2010).
    </p>

    <h3>Traitement des données et utilisation</h3>

    <p>
      Nous ne pouvons utiliser vos données à caractère personnel qu’à des fins à la fois légitimes et nécessaires. Cela
      signifie concrètement que nous traitons vos données à caractère personnel pour des finalités de :
      <ul>
        <li>D’authentifier les agents des structures ;</li>
        <li>De créer et conserver les mandats établis entre ces structures et les usagers ;</li>
        <li>De sélectionner un mandat en cours de validité, de transmettre l’identité de l’usager aux fournisseurs de
          service partenaires de FranceConnect et d’accomplir pour son compte des démarches administratives ;</li>
        <li>D’offrir aux usagers la traçabilité des actions effectuées par les aidants.</li>
      </ul>
    </p>
    <p>
      Nous nous engageons à prendre les mesures techniques et organisationnelles appropriées afin de garantir la
      sécurité du traitement des données à caractère personnel de chacun. En application du règlement général sur la
      protection des données et de la loi informatique et aux libertés, vous disposez d’un droit d’accès, de
      rectification, de suppression.
    </p>
    <p>
      Par courriel : aidantsconnect@beta.gouv.fr
      <br>
      Par voie postale : Aidants Connect - DINUM 20 avenue de Ségur 75007 Paris
    </p>
    <p>
      Cette demande écrite est accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en
      précisant l’adresse à laquelle la réponse doit être envoyée.
    </p>
    <p>
      Le délégué à la protection des données de la Direction Interministérielle du Numérique peut également être
      contacté par courriel à l’adresse : dpd@pm.gouv.fr et par courrier à l’adresse :
      <br>
      <i>
        Service du Premier ministre
        <br>
        A l'attention du délégué à la protection des données (DPD)
        <br>
        56 rue de Varenne
        <br>
        75700 Paris
      </i>
    </p>
    <p>
      Conformément au règlement général sur la protection des données, vous disposez du droit d’introduire une
      réclamation auprès de la CNIL (3 place de Fontenoy – TSA 80715 – 75334 PARIS CEDEX 07). Les modalités de
      réclamation sont précisées sur le site de la CNIL : www.cnil.fr.
    </p>

    <h3>Procédure en cas de violations de données à caractère personnel</h3>

    <p>
      En cas de destruction, de perte, d'altération, de divulgation non autorisée de données à caractère personnel
      transmises, conservées ou traitées d'une autre manière, ou d'accès non autorisé à de telles données, de manière
      accidentelle ou illicite, susceptible d'engendrer un risque élevé pour les droits et libertés de l’utilisateur,
      nous en informerons les personnes concernées des faits et des mesures prises, dans les meilleurs délais. Nous nous
      assurerons également que le nécessaire soit fait quant à la notification de la violation en question à la CNIL
      dans les 72 heures après en avoir pris connaissance, à moins que la violation ne présente pas un risque élevé pour
      vos droits et libertés des personnes concernées.
    </p>

    <h3>Cookies</h3>

    <p>
      Nous déposons des cookies de mesure d’audience (nombre de visites, pages consultées), respectant les conditions
      d’exemption du consentement de l’internaute définies par la recommandation « Cookies » de la Commission nationale
      informatique et libertés (CNIL). Cela signifie, notamment, que ces cookies ne servent qu’à la production de
      statistiques anonymes et ne permettent pas de suivre votre navigation sur d’autres sites. Nous déposons également
      des cookies de navigation, aux fins strictement techniques, qui ne sont pas conservés. Les cookies de mesures
      d’audience sont conservés 13 mois après leur premier dépôt.
    </p>

    <h3>Connexion des Aidants au service Aidants Connect</h3>

    <p>
      Pour se connecter au service, un aidant doit rentrer son adresse électronique individuelle professionnelle qui a
      été déclarée au service par la structure habilitée. Un courrier électronique contenant un lien de connexion. Il
      lui sera demandé à l’issu de rentrer un code à usage unique afin d’être authentifié.
    </p>

    <h2>Évolution du service</h2>

    <p>
      Nous pouvons faire évoluer Aidants Connect sans information préalable ou préavis. Nous ajoutons et améliorons
      régulièrement l’interface et modifions les formulations sur la base de vos retours et des évolutions
      réglementaires et législatives.
    </p>

    <h2>Disponibilité du service</h2>

    <p>
      Nous pouvons suspendre l’accès à Aidants Connect sans information préalable ni préavis, notamment pour des raisons
      de maintenance. Nous mettons Aidants Connect à disposition sans garantie sur sa disponibilité. Même si nous nous
      efforçons de maintenir le service toujours opérationnel, cela signifie que d’éventuelles indisponibilités
      n’ouvriront pas droit à compensation financière. Nous nous réservons également le droit de bloquer, sans
      information préalable ni compensation financière, les usages mettant en péril l’utilisation du logiciel par
      d’autres usagers.
    </p>

    <h2>Évolution des conditions d’utilisation</h2>

    <p>
      Les termes des présentes conditions d’utilisation peuvent être modifiés ou complétés à tout moment, sans préavis,
      en fonction des modifications apportées au service, de l’évolution de la législation ou pour tout autre motif jugé
      nécessaire. Ces modifications et mises à jour s’imposent à l’utilisateur qui doit, en conséquence, se référer
      régulièrement à cette rubrique pour vérifier les conditions générales en vigueur.
    </p>
  </div>
</section>
{% endblock content %}
