{% extends 'public_website/layout/layout_habilitation.html' %}
{% load ac_common %}

{% block title %}Aidants Connect - Formation{% endblock %} 

{% block body %}

<h3>Se former à Aidants Connect</h3>
<div class="fr-callout">
  <h4 class="fr-callout__title">Pourquoi se former à Aidants Connect ?</h4>
  <p class="fr-callout__text fr-mb-3w">
    Le service Aidants Connect, développé par l'ANCT, répond au besoin de
    sécurisation exprimé par les aidants professionnels qui manipulent
    régulièrement les données personnelles d'usagers éloignés du numérique.
  </p>
  <p class="fr-callout__text fr-mb-3w">
    La formation Aidants Connect apporte l'habilitation et les bases de
    connaissance nécessaires à l'utilisation de ce service.
  </p>
</div>
<h4>Quelles sont les modalités de formation et de financement ?</h4>
<p>
  Selon votre profil et votre structure, les modalités de formation et de prise
  en charge diffèrent :
</p>
<section class="fr-accordion">
  <h3 class="fr-accordion__title">
    <button
      class="fr-accordion__btn"
      aria-expanded="false"
      aria-controls="accordion-1">
      Je suis conseiller numérique
    </button>
  </h3>
  <div class="fr-collapse" id="accordion-1">
    <p>Ma formation est financée dans le cadre du marché de formation des conseillers numériques et opérée par la Mednum.</p>
    <p class="fr-info-text fr-tile--horizontal">
      Dans le cadre de la formation initiale, le dispositif inclut deux modules thématiques choisis par le conseiller numérique. Tous les conseillers numériques ayant suivi un parcours de formation initiale doivent également suivre un module thématique par an financé par l'Etat.
    </p>
  </div>
</section>
<section class="fr-accordion">
  <h3 class="fr-accordion__title">
    <button
      class="fr-accordion__btn"
      aria-expanded="false"
      aria-controls="accordion-2">
      Ma structure est adhérente à l'OPCO Uniformation
    </button>
  </h3>
  <div class="fr-collapse" id="accordion-2">
    <p>Ma formation est financée dans le cadre d'un partenariat entre <a href="https://www.uniformation.fr/entreprise/actualites/comment-favoriser-la-formation-des-aidants-et-des-mediateurs-numeriques"  class="fr-link" target="_blank">l'ANCT et Uniformation</a>. Je peux suivre la formation auprès de l'organisme de mon choix.</p>
    <p class="fr-info-text">
      Le niveau de prise en charge est revu chaque année. L'organisme de formation doit être certifié Qualiopi.
    </p>
  </div>
</section>
<section class="fr-accordion">
  <h3 class="fr-accordion__title">
    <button
      class="fr-accordion__btn"
      aria-expanded="false"
      aria-controls="accordion-3">
      Ma structure est déjà habilitée Aidants Connect
    </button>
  </h3>
  <div class="fr-collapse" id="accordion-3">
    <p>En plus des 2 options ci-dessus, je peux être formé par l'un de mes collègues habilité et utilisateur d'Aidants Connect.</p>
    <p class="fr-info-text">
      <span>Attention, cette modalité de formation est accessible selon des critères spécifiques. Pour connaître les modalités de la formation entre pairs, veuillez contacter l'équipe Aidants Connect à l'adresse suivante : {% mailto AC_CONTACT_EMAIL link_class='fr-link-sm' %}.</span>
    </p>
  </div>
</section>
<section class="fr-accordion">
  <h3 class="fr-accordion__title">
    <button
      class="fr-accordion__btn"
      aria-expanded="false"
      aria-controls="accordion-4">
      Je ne suis pas dans l'une des situations ci-dessus
    </button>
  </h3>
  <div class="fr-collapse" id="accordion-4">
    <p>D'autres modalités de financement sont possibles ou ma structure peut financer elle-même ma formation. Dans les 2 cas, je peux suivre la formation auprès de l'organisme de mon choix.</p>
  </div>
</section>
<h4>Les formations à Aidants Connect</h4>
<div class="fr-tabs right-grey-background">
  <ul class="fr-tabs__list" role="tablist" aria-label="formations_tabs">
    <li role="presentation">
      <button id="tabpanel-1" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-1-panel">
        Formation de 7h
      </button>
    </li>
    <li role="presentation">
      <button id="tabpanel-2" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-2-panel">
        Formation de 14h
      </button>
    </li>
  </ul>
  <div id="tabpanel-1-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-1" tabindex="0">
    <div class="fr-grid-row">
      <div class="fr-col-md-8 fr-col-12">
        <p>Formation proposée pour des personnes déjà sensibilisées aux enjeux de la médiation numérique.</p>
        <h5>Objectifs de la formation</h5>
        <ul class="fr-pl-3w">
          <li>Maîtriser l'utilisation du service Aidants Connect</li>
          <li>Savoir adapter l'accompagnement d'un usager à la réalisation de démarches en ligne (diagnostic et premier pas vers l'autonomie numérique)</li>
          <li>Savoir utiliser France Connect et accompagner un usager dans l'utilisation de ce service</li>
          <li>Comprendre les enjeux liés à la manipulation de données personnelles d'usagers</li>
          <li>Connaître le cadre réglementaire de la fonction d'aidant numérique</li>
        </ul>
        <h5 class="fr-mt-4w">Méthodes pédagogiques</h5>
        <ul class="fr-pl-3w">
          <li>Mises en situation</li>
          <li>Réflexion sur les problématiques rencontrées</li>
          <li>Étude de cas concrets</li>
          <li>Utilisation du site bac à sable Aidants Connect</li>
        </ul>
        <a hidden href="" class="fr-btn fr-btn--secondary fr-mt-4w">Télécharger le programme de formation<span class="fr-icon-arrow-right-line fr-ml-1w"></span>
        </a>
      </div>
      <div class="fr-col-md-4 fr-col-12">
        <p class="fr-mb-2w"><strong>Coût pédagogiques</strong></p>
        <p class="fr-mb-0">322€ TTC</p>
        <p class="fr-text--xs">les frais annexes ne sont pas pris en charge</p>
        <p class="fr-mt-4w fr-mb-2w"><strong>Organismes qui dispensent cette formation</strong></p>
        <ul class="fr-pl-3w">
          <li>Familles Rurales</li>
          <li>Un consortium d'organismes de formation piloté par la Mednum</li>
        </ul>
        <p class="fr-mt-4w fr-mb-2w"><strong>Modalités d'inscription</strong></p>
        <p>L'inscription à une session de formation se fait suite à la demande d'habilitation par la structure et la vérification de l'éligibilité par l'équipe Aidants Connect. Une demande de prise en charge peut être nécessaire et l'inscription à la formation sera définitive suite à la validation du devis par l'employeur.</p>
      </div>
    </div>
  </div>
  <div id="tabpanel-2-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-2" tabindex="0">
    <div class="fr-grid-row">
      <div class="fr-col-md-8 fr-col-12">
        <p>Formation proposée pour des personnes découvrant les sujets de médiation numérique.</p>
        <h5>Objectifs de la formation</h5>
        <ul class="fr-pl-3w">
          <li>Connaître le contexte et les enjeux de l'inclusion numérique</li>
          <li>Maîtriser l'utilisation du service Aidants Connect</li>
          <li>Savoir adapter l'accompagnement d'un usager à la réalisation de démarches en ligne (diagnostic et premier pas vers l'autonomie numérique)</li>
          <li>Savoir utiliser France Connect et accompagner un usager dans l'utilisation de ce service</li>
          <li>Comprendre les enjeux liés à la manipulation de données personnelles d'usagers</li>
          <li>Connaître le cadre réglementaire de la fonction d'aidant numérique</li>
        </ul>
        <h5 class="fr-mt-4w">Méthodes pédagogiques</h5>
        <ul class="fr-pl-3w">
          <li>Mises en situation</li>
          <li>Réflexion sur les problématiques rencontrées</li>
          <li>Étude de cas concrets</li>
          <li>Utilisation du site bac à sable Aidants Connect</li>
        </ul>
        <a hidden href="" class="fr-btn fr-btn--secondary fr-mt-4w">Télécharger le programme de formation<span class="fr-icon-arrow-right-line fr-ml-1w"></span>
        </a>
      </div>
      <div class="fr-col-md-4 fr-col-12">
        <p class="fr-mb-2w"><strong>Coût pédagogiques</strong></p>
        <p class="fr-mb-0">644€ TTC</p>
        <p class="fr-text--xs">les frais annexes ne sont pas pris en charge</p>
        <p class="fr-mt-4w fr-mb-2w"><strong>Organismes qui dispensent cette formation</strong></p>
        <ul class="fr-pl-3w">
          <li>Familles Rurales</li>
        </ul>
        <p class="fr-mt-4w fr-mb-2w"><strong>Modalités d'inscription</strong></p>
        <p>L'inscription à une session de formation se fait suite à la demande d'habilitation par la structure et la vérification de l'éligibilité par l'équipe Aidants Connect. Une demande de prise en charge peut être nécessaire et l'inscription à la formation sera définitive suite à la validation du devis par l'employeur.</p>
      </div>
    </div>
  </div>

{% endblock %}
