{% extends 'public_website/layout/layout_habilitation.html' %}

{% load static %}

{% block title %}Aidants Connect - Habilitation{% endblock %}

{% block body %}
  <div class="fr-alert fr-alert--info">
    <h3 class="fr-alert__title">
      🎉 Nouveauté : Les inscriptions aux formations Aidants Connect sont bientôt de retour !
    </h3>
    <p>
      Plusieurs webinaires d'information présenteront les nouvelles modalités de formation et de financement. Ces
      webinaires se dérouleront à partir du mois d'avril : mercredi 17 avril 14h ; mercredi 24 avril 14h ;
      jeudi 2 mai 10h ; mardi 7 mai 10h (heure métropole).
    </p>
    <p>
      Pour y accéder, il vous suffit de <a
        href="https://webinaire.numerique.gouv.fr//meeting/signin/31150/creator/9817/hash/9a27df264fb8c0dec8c66ddfee02e1e11246d4c7"
        class="fr-link"
        target="_blank"
      >
        cliquer sur ce lien .</a>
    </p>
  </div>
  <h3>Comment être habilité Aidants Connect ? </h3>
  <div class="fr-callout">
    <h4 class="fr-callout__title">Qui peut être habilité Aidants Connect ?</h4>
    <p class="fr-callout__text fr-mb-3w">
      Tous les aidants professionnels qui accompagnent des usagers dans la réalisation de démarches administratives en ligne et qui sont salariés d'une structure éligible à Aidants Connect peuvent être habilités. Plus précisément il s'agit de toute personne morale de droit public ou privé qui :
    </p>
    <ul class="fr-text--lg fr-mb-3w fr-pl-3w">
      <li>
        Intervient dans le cadre d'une mission de service public d'accompagnement à la réalisation de démarches pour les usagers 
      </li>
      <li>
        Participe à la politique d'animation de la vie sociale et développe des prestations de services, individualisées et spécialisées au sens de la circulaire n° 2012-013 de la CNAF
      </li>
      <li>
        Intervient dans les pratiques professionnelles définies à l'article D. 142-1-1 du Code de l'action sociale et des familles
      </li>
    </ul>
    <p class="fr-callout__text fr-mb-3w">
      Les aidants familiaux, les bénévoles, les services civiques et les élus ne sont pas éligibles.
    </p>
    <p class="fr-callout__text fr-mb-3w">
      Pour plus d'informations, <a class="fr-link" href="https://aidantsconnect.beta.gouv.fr/faq/lhabilitation-aidants-connect/">consultez notre FAQ.</a>
    </p>
  </div>
  <h4 class="fr-mt-4w">Comment se passe l'habilitation ?</h4>
  <div class="fr-grid-row">
    <div class="fr-col-2 fr-mb-1w fr-grid-row fr-grid-row--center fr-pt-2w"><span class="blue-dot-nbr">1</span></div>
    <div class="fr-col-10 fr-mb-1w">
      <div class="fr-card">
        <div class="fr-grid-row">
          <div class="fr-col-4">
            <img src="{% static 'images/habilitation/habilitation_demande.svg' %}" alt="" />
          </div>
          <div class="fr-col-8 fr-px-4w fr-py-3w">
            <h4>Demande d'habilitation</h4>
            <p>Le référent Aidants Connect de la structure dépose une demande d'habilitation pour les aidants salariés qui souhaitent être habilités et formés à Aidants Connect.</p>
            <p class="fr-info-text">
              Le référent Aidants Connect est la personne chargée de la mise en place et du suivi d'Aidants Connect au sein de la structure. Il peut être un aidant professionnel, responsable ou non de la structure.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="fr-col-2 fr-mb-1w fr-grid-row fr-grid-row--center fr-pt-2w"><span class="blue-dot-nbr">2</span></div>
    <div class="fr-col-10 fr-mb-1w">
      <div class="fr-card">
        <div class="fr-grid-row">
          <div class="fr-col-4">
            <img src="{% static 'images/habilitation/calendrier.svg' %}" alt="" />
          </div>
          <div class="fr-col-8 fr-px-4w fr-py-3w">
            <h4>Inscription en formation</h4>
            <p>Suite à la validation de sa demande par Aidants Connect, le référent choisit une date de formation pour chaque aidant et s'inscrit à un webinaire dédié aux référents.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="fr-col-2 fr-mb-1w fr-grid-row fr-grid-row--center fr-pt-2w"><span class="blue-dot-nbr">3</span></div>
    <div class="fr-col-10 fr-mb-1w">
      <div class="fr-card">
        <div class="fr-grid-row">
          <div class="fr-col-4">
            <img src="{% static 'images/habilitation/validation.svg' %}" alt="" />
          </div>
          <div class="fr-col-8 fr-px-4w fr-py-3w">
            <h4>Validation de l'inscription</h4>
            <p>L'organisme de formation contacte le référent pour valider l'inscription, une demande de prise en charge peut être nécessaire</p>
            <a href="{% url 'habilitation_faq_formation' %}" class="fr-btn fr-btn--secondary">Se renseigner sur les modalités de financement<span class="fr-icon-arrow-right-line fr-ml-1w"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="fr-col-2 fr-mb-1w fr-grid-row fr-grid-row--center fr-pt-2w"><span class="blue-dot-nbr">4</span></div>
    <div class="fr-col-10 fr-mb-1w">
      <div class="fr-card">
        <div class="fr-grid-row">
          <div class="fr-col-4">
            <img src="{% static 'images/habilitation/formation.svg' %}" alt="" />
          </div>
          <div class="fr-col-8 fr-px-4w fr-py-3w">
            <h4>Formation des aidants</h4>
            <p>Les aidants suivent la formation Aidants Connect et réalisent un test PIX qui certifie leur habilitation.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="fr-col-2 fr-mb-1w fr-grid-row fr-grid-row--center fr-pt-2w"><span class="blue-dot-nbr">5</span></div>
    <div class="fr-col-10 fr-mb-1w">
      <div class="fr-card">
        <div class="fr-grid-row">
          <div class="fr-col-4">
            <img src="{% static 'images/habilitation/activation.svg' %}" alt="" />
          </div>
          <div class="fr-col-8 fr-px-4w fr-py-3w">
            <h4>Activation des comptes</h4>
            <p>Aidants Connect active les comptes des aidants qui peuvent alors réaliser en toute sécurité des démarches en ligne pour le compte d'usagers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-grid-row">
    <div class="fr-col-1"></div>
    <div class="fr-col-11">
      <div class="fr-highlight fr-mt-8w fr-ml-0">
        <p class="fr-text--xl">Vous avez pris connaissance de toutes les informations concernant l'habilitation et l'inscription à Aidants Connect, et vous souhaitez nous rejoindre.</p>
        <p class="fr-text--xl">Vous pouvez démarrer votre demande d'habilitation en suivant le bouton ci-dessous.</p>
      </div>
      <div class="fr-grid-row fr-grid-row--center fr-mt-4w">
        <button class="fr-btn"><a href="{% url 'habilitation_new' %}">Remplir une demande d'habilitation</a></button>
      </div>
    </div>
  </div>
{% endblock %}
