{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<div class="hero">
  <div class="hero__container">
    <img class="logo-height-5em" src="{% static 'images/aidants-connect_logo.png' %}" alt="Logo Aidants Connect" />
    <h1 class="brand">Bienvenue sur Aidants Connect</h1>
    <p>Ce service sécurise et facilite le « faire pour le compte de »</p>
  </div>
</div>
<div class="notification full-width" role="alert">Aidants Connect est pour le moment en phase d’expérimentation avec 13 structures.</div>
<section class="section section-grey">
  <div class="container">
    <div class="row">
      <div class="min-width-35">
        <img src="{% static 'images/aidantsconnect-illustration.svg' %}" alt="Illustration Aidants Connect" />
      </div>
      <div>
        <h3>
          Aidants Connect s’adresse à une diversité d’aidants professionnels
          <small class="font-weight-normal">Travailleurs sociaux, agents publics d’accueil, médiateurs numériques...</small>
        </h3>
        <h3>
          Vous accompagnez régulièrement des personnes en difficulté avec le numérique dans la réalisation de démarches en ligne ?<br />
          <small class="font-weight-normal margin-top-10">➡️ Aidants Connect est fait pour vous !</small>
        </h3>
        <a class="button primary" href="{% url 'guide_utilisation' %}">Découvrir Aidants Connect</a>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <img class="tile__icon large__icon" src="{% static 'images/key.svg' %}" alt="Icon clé" />
        <h3>
          Aidants Connect sécurise juridiquement les aidants
          <small class="font-weight-normal">qui accompagnent ces usagers sur les enjeux de confidentialité et de sécurité des données</small>
        </h3>
      </div>
      <div class="text-center">
        <img class="tile__icon large__icon" src="{% static 'images/help.svg' %}" alt="Icon deux personnes" />
        <h3>
          Aidants Connect garantit un accompagnement humain
          <small class="font-weight-normal">pour toutes les personnes qui, pour diverses raisons, ne peuvent pas faire leurs démarches en ligne</small>
        </h3>
      </div>
    </div>
  </div>
</section>
<section class="section section-color">
  <div class="container">
    <h3>Vous avez une question ?</h3>
    <p>
      Quelles sont les personnes qui peuvent bénéficier d’Aidants Connect ?
      Quelles sont les conditions pour acquérir le statut "Aidants Professionel" ?
      Combien coûte Aidants Connect ? etc.
    </p>
    <a class="button-outline-primary" href="{% url 'faq_generale' %}">Consultez notre FAQ</a>
  </div>
</section>
<section class="section section-grey">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <img class="tile__icon" src="{% static 'images/build.svg' %}" alt="Icon outil" />
        <h5 class="margin-top-0">
          Aidants Connect a été co-construit avec des aidants.
          <small class="font-weight-normal margin-top-10">Des ateliers utilisateurs ont eu lieu dans une dizaine de territoires</small>
        </h5>
        <img class="tile__icon" src="{% static 'images/cycle.svg' %}" alt="Icon cycle" />
        <h5 class="margin-top-0">
          Aidants Connect est évolutif.
          <small class="font-weight-normal margin-top-10">Le service s’adapte aux réalités du terrain et aux besoins des aidants</small>
        </h5>
      </div>
      <div>
        <h3 class="text-center brand">Vous souhaitez suivre notre actualité et l’évolution d’Aidants Connect ?</h3>
        <p class="text-center">Envoyez un mail à <a href="mailto:contact@aidantsconnect.beta.gouv.fr">contact@aidantsconnect.beta.gouv.fr</a> pour vous inscrire à notre newsletter.</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
