{% extends 'public_website/layout/main-legacy.html' %}

{% load static %}

{% block extracss %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
  <link href="{% static 'css/basicLightbox.min.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="fr-container">
    <div class="fr-alert fr-alert--info fr-my-4v">
      <h3 class="fr-alert__title">
        🎉 Nouveauté : Les inscriptions aux formations Aidants Connect sont bientôt de retour !
      </h3>
      <p>
        Plusieurs webinaires d'information présenteront les nouvelles modalités de formation et de financement. Ces
        webinaires se dérouleront à partir du mois d'avril : mercredi 17 avril 14h ; mercredi 24 avril 14h ;
        jeudi 2 mai 10h ; mardi 7 mai 10h (heure métropole).
      </p>
      <p>
        Pour y accéder, il vous suffit de <a
        href="https://webinaire.numerique.gouv.fr//meeting/signin/31150/creator/9817/hash/9a27df264fb8c0dec8c66ddfee02e1e11246d4c7"
        class="fr-link"
        target="_blank"
      >
        cliquer sur ce lien .</a>
      </p>
    </div>

    {% include "layouts/_messages.html" %}
  </div>
  <div class="fr-container--fluid hero-container">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle hero-row">
      <div class="fr-col">
        <div class="fr-grid-row fr-grid-row--center">
          <img class="hero-logo" alt="Logo Aidants Connect" src="{% static 'images/logo-aidants.svg' %}" />
        </div>
        <div class="fr-grid-row fr-grid-row--center">
          <h1 class="hero-subtitle">Accompagnez vos usagers en toute sécurité</h1>
        </div>
        <div class="fr-grid-row fr-grid-row--center">
          <button class="lightbox-video margin-top-5rem fr-btn fr-btn--lg fr-btn--icon-left fr-icon-play-circle-line">
            Aidants Connect, c’est quoi ?
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-container--fluid aidants-container">
    <div class="fr-container fr-grid-row fr-grid-row--center aidants-row">
      <div class="fr-col-md-4 aidants-col">
        <div class="fr-grid-row fr-grid-row--right aidants-img-container">
          <img class="aidants-img" alt="Deux personnes se saluent" src="{% static 'images/aidants.svg' %}" />
        </div>
      </div>
      <div class="fr-col-md-8 aidants-col">
        <div class="fr-grid-row fr-grid-row--gutters aidants-text">
          <div class="fr-grid-row aidants-question">
            Vous accompagnez régulièrement des personnes en difficulté avec le numérique dans la réalisation de
            démarches en ligne ?
          </div>
          <div class="fr-grid-row aidants-title">
            Aidants Connect est fait pour vous.
          </div>
          <div class="fr-grid-row">
            <p>Aidants Connect s’adresse à une diversité d’aidants professionnels<br>Travailleurs sociaux, agents
              publics d’accueil, médiateurs numériques...</p>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--right aidants-btn-container">
          <div class="fr-grid-col aidants-btn-col">
            <a class="fr-btn" href="{% url 'habilitation_faq_habilitation' %}">Être habilité Aidants Connect</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-container--fluid info-section">
    <div class="fr-container info-container">
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
        <div class="fr-col-md-4 info-col">
          <img alt="cadenas" src="{% static 'images/securisation.svg' %}" />
          <p class="info-title">Sécurisation juridique</p>
          <p class="info-text">Le mandat Aidants Connect instaure un cadre légal pour les démarches réalisées pour
            autrui
          </p>
        </div>
        <div class="fr-col-md-4 info-col">
          <img alt="femme" src="{% static 'images/accompagnement.svg' %}" />
          <p class="info-title">Accompagnement Humain</p>
          <p class="info-text">Premier pas vers l'autonomie numérique, Aidants Connect garantit un suivi professionnel
            et humain</p>
        </div>
        <div class="fr-col-md-4 info-col">
          <img alt="ordinateur" src="{% static 'images/outil.svg' %}" />
          <p class="info-title">Un outil intuitif</p>
          <p class="info-text">Plus besoin de garder les identifiants et mots de passe de vos bénéficiaires, Aidants
            Connect le fait pour vous !</p>
        </div>
      </div>
    </div>
  </div>


  {# Video #}
  <div class="fr-container hyperliens-container">
    <div class="fr-grid-row">
      <section class="hyperliens-video shadowed margin-top-1rem">
        <div class="padding-1rem video-presentation">
          <h4 class="h4-prime">Hyperliens</h4>
          <p class="testimony-quote">
            « On associe souvent le numérique à l’innovation technologique et aux startups des grandes villes.
            Pourtant,ailleurs en France, le numérique est aussi synonyme de lien social, de mise en commun et
            d’inclusion. »
          </p>
          <p>
            L’équipe d’HYPERLIENS est allée à la rencontre de Yoann Herrero, responsable Espace Numérique au Centre
            Socio-Culturel Andréa Malraux à Nîmes.
          </p>
        </div>
        <div
          class="youtube_player"
          videoID="AJGo6bydQss"
          theme="dark"
          rel="1"
          controls="1"
          showinfo="1"
          autoplay="0"
          mute="0"
          loop="0"
          loading="0"
          width="100%"
          height="100%"
        ></div>
      </section>
    </div>
  </div>

  {% if testimonies|length > 0 %}
    <div class="fr-container testimonies-container margin-top-2rem">
      {% for testimony in testimonies %}
        <section class="testimony-container">
          <div class="shadowed">
            <img
              class="testimony-profile-picture"
              src="{{ testimony.profile_picture }}"
              alt="Portrait de {{ testimony.name }}"
              width="150"
              height="150"
            />
            <div class="infos">
              <div class="person-name">{{ testimony.name }}</div>
              <div class="person-job">{{ testimony.job }}</div>
              <div class="person-quote">« {{ testimony.quote }} »</div>
              <a class="fr-btn" href="{{ testimony.get_absolute_url }}">Lire la suite du témoignage</a>
            </div>
          </div>
        </section>
      {% endfor %}
      {% if has_more_testimonies %}
        <section class="testimony-container">
          <div class="shadowed">
            <img
              class="testimony-profile-picture"
              src="{% static 'images/more-testimonies.png' %}"
              alt=""
              width="150"
              height="150"
            />
            <div class="infos">
              <div class="person-name">Plus de témoigagnes…</div>
              <div>Aidants Connect a aidé vos homologues dans leur démarche d’accompagnement</div>
              <a class="fr-btn" href="{% url 'temoignages' %}">Voir tous les témoignages</a>
            </div>
          </div>
        </section>
      {% endif %}
    </div>
  {% endif %}

  <div class="fr-container contact-container">
    <div class="fr-grid-row">
      <div class="fr-col-md-4 contact-col">
        <div class="fr-grid-row question-div">
          <div class="fr-col">
            <div class="fr-grid-row">
              <p class="question-title">Toujours des questions ?</p>
              <p>Consultez notre procédure d’habilitation ou encore notre aide si vous avez besoin de plus
                d’informations.</p>
            </div>
            <div class="fr-grid-row fr-grid-row--right fr-grid-row--bottom">
              <ul class="fr-btns-group fr-btns-group--inline">
                <li>
                  <a class="fr-btn" href="{% url 'habilitation_faq_habilitation' %}">Habilitation</a>
                </li>
                <li>
                  <a class="fr-btn" href="{% url 'faq_generale' %}">FAQ</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="fr-col-md-8 contact-col">
        <div class="fr-grid-row contact-div">
          <div class="fr-col">
            <p class="contact-title">Restons en contact !</p>
            <div class="newsletter-form-container">
              <form
                id="sb_form"
                method="post"
                data-connect-url="{{ SARBACANE_CONNECT_URL }}"
              >
                <label class="contact-text" for="input-email">
                  Inscrivez-vous à notre infolettre pour vous tenir au courant des nouveautés du projet :
                </label>
                <div class="form__group">
                  <div class="input__group">
                    <input
                      id="input-email"
                      type="text"
                      name="email"
                      placeholder="votre@email.fr"
                      required
                      sb-form-input
                    >
                    <button id="submitInput" class="fr-btn" type="submit" value="Je m&#x27;abonne">
                      Je m'abonne
                    </button>
                  </div>
                  <div class="loader"></div>
                </div>
              </form>
            </div>
            <p class="contact-text">Besoin d’informations précises ou d’assistance ? Contactez-nous à l’adresse
              suivante :
              <a href="mailto:contact@aidantsconnect.beta.gouv.fr">contact@aidantsconnect.beta.gouv.fr</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fr-container--fluid partenaires-container">
    <div class="fr-container">
      <div class="fr-grid-row partenaires-row">
        <div class="fr-col-md-6 partenaires-col">
          <p class="partenaires-title">Partenaires</p>
          <p class="partenaires-text">Aidants Connect repose également sur des partenariats avec les institutions
            suivantes. </p>
        </div>
        <div class="fr-col-md-3 partenaires-logo-col">
          <a href="https://franceconnect.gouv.fr/"><img
            class="partenaire-logo"
            src="{% static 'images/logo-fc-v2.png' %}"
            alt="FranceConnect"
          /></a>
        </div>
        <div class="fr-col-md-3 partenaires-logo-col">
          <a href="http://www.anlci.gouv.fr/"><img
            class="partenaire-logo"
            src="{% static 'images/logo-ANLCI.png' %}"
            alt="Agence Nationale de Lutte contre l’Illettrisme"
          /></a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extrajs %}
  <script defer src="{% static 'js/basicLightbox.min.js' %}"></script>
  <script
    defer
    id="lightbox-video-script"
    src="{% static 'js/lightbox-video.js' %}"
    data-video-url="{% static 'videos/AidantsConnect.mp4' %}"
  ></script>
  <script defer type="text/javascript" src="{{ SARBACANE_SCRIPT_URL }}"></script>
  <script defer type="text/javascript" src="{% static 'js/newsletter-form.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'js/youtube-cookie.js' %}"></script>
{% endblock extrajs %}
