{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Mentions légales{% endblock %}

{% block extracss %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="section__title">Mentions légales</h1>

    <h2>Éditeur</h2>

    <p><a href="https://beta.gouv.fr">Incubateur de services numériques</a> de la Direction interministérielle du numérique et du système d'information et de communication de l'État (<a href="https://www.numerique.gouv.fr">DINUM</a>). 20, avenue de Ségur - 75007 Paris.

    <p>Directeur de la publication : le directeur interministériel du numérique et du système d'information et de communication de l'État, Nadi Bou Hanna </p>

    <h2>Hébergeur</h2>

    <p>Scalingo. 15 avenue du Rhin, 67100 Strasbourg, France.</p>
  </div>
</section>
{% endblock content %}
