{% extends 'public_website/layout/layout_legal.html' %}

{% load static %}

{% block title %}Aidants Connect - Politique de confidentialité{% endblock %}

{% load ac_common %}

{% block body %}
  <section class="section">
    <div class="fr-container">
      <h1 class="fr-text-default--grey">Aidants Connect - Politique de confidentialité</h1>
      <h2 class="fr-mt-4w">Qui est responsable d'Aidants Connect&nbsp;?</h2>
      <p>Aidants Connect est développé au sein de l'Incubateur des Territoires de l'Agence Nationale de la Cohésion des Territoires (ANCT).</p>
      <p>Il s'agit d'un service numérique qui permet à des aidants professionnels habilités de réaliser des démarches administratives en ligne de manière sécurisée pour le compte d’usagers en difficulté avec les outils numériques.</p>
      <p>Le responsable de l'utilisation des données est l'ANCT représentée par Stanislas BOURRON, en qualité de directeur général.</p>
      <h2 class="fr-mt-4w">Pourquoi traitons-nous ces données&nbsp;?</h2>
      <p class="fr-mb-1w">Aidants Connect traite des données à caractère personnel pour les raisons suivantes&nbsp;: </p>
      <ul class="fr-pl-2w">
        <li>Authentifier les agents des structures&nbsp;;</li>
        <li>Créer et conserver les mandats établis entre ces structures et les usagers&nbsp;;</li>
        <li>Sélectionner un mandat en cours de validité, de transmettre l'identité de l'usager aux fournisseurs de service partenaires de FranceConnect et d'accomplir pour son compte des démarches administratives&nbsp;;</li>
        <li>Offrir aux usagers la traçabilité des actions effectuées par les aidants&nbsp;;</li>
        <li>Permettre aux aidants de suivre la formation obligatoire pour accéder à la plateforme&nbsp;;</li>
        <li>Transmettre des données relatives aux référents et aux aidants Aidants Connect aux préfectures à des fins de pilotage de la feuille de route France Numérique Ensemble. </li>
      </ul>
      <h2 class="fr-mt-4w">Quelles sont les données que nous traitons&nbsp;?
      </h2>
      <p class="fr-mb-1w">Aidants Connect traite les données à caractère personnel suivantes&nbsp;:</p>
      <ul class="fr-pl-2w">
        <li><strong>Données d'identification de l'usager&nbsp;:</strong> nom, prénom, date et lieu de naissance, genre, adresse e-mail, alias technique FranceConnect, alias technique Aidants Connect&nbsp;;</li>
        <li><strong>Données d'identification des aidants habilités par les structures&nbsp;:</strong> nom, prénom, adresse e-mail professionnelle, fonction&nbsp;;</li>
        <li><strong>Données relatives au mandat&nbsp;:</strong> nom et prénom de l'usager, nom et prénom de l'aidant.</li>
      </ul>
      <h2 class="fr-mt-4w">Qu'est-ce qui nous autorise à traiter ces données&nbsp;?</h2>
      <p class="fr-mb-1w">Aidants Connect traite des données à caractère personnel en se basant sur&nbsp;:</p>
      <ul class="fr-pl-2w">
        <li>L'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable de traitement au sens de l'article 6-1 e) du RPGD.</li>
      </ul>
      <h2 class="fr-mt-4w">Pendant combien de temps conservons-nous ces données&nbsp;?</h2>
      <div class="fr-table fr-table--bordered fr-table--layout-fixed">
        <table>
          <thead>
            <tr>
              <th scope="col">Type de données</th>
              <th scope="col">Durées de conservation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Données d'identification de l'usager</strong></td>
              <td>3 ans en base active après l'expiration de leur dernier mandat et 3 ans supplémentaires dans l'archivage intermédiaire</td>
            </tr>
            <tr>
              <td><strong>Données d'identification des aidants habilités par les structures</strong></td>
              <td>3 ans en base active à compter du dernier contact avec l'aidant et 3 ans supplémentaires dans l'archivage intermédiaire</td>
            </tr>
            <tr>
              <td><strong>Données relatives au mandat</strong></td>
              <td>3 ans en base active à compter de l'expiration du mandat et 3 ans supplémentaires dans l'archivage intermédiaire</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="fr-mt-4w">Quels droits avez-vous&nbsp;?</h2>
      <p class="fr-mb-1w">Vous disposez&nbsp;:</p>
      <ul class="fr-pl-2w fr-mb-1w">
        <li>D'un droit d'information et d'un droit d'accès à vos données&nbsp;;</li>
        <li>D'un droit de rectification&nbsp;;</li>
        <li>D'un droit d'opposition&nbsp;;</li>
        <li>D'un droit à la limitation du traitement.</li>
      </ul>
      <p>Pour les exercer, contactez-nous à&nbsp;: <a class="fr-link" href="{% mailto_href 'anne.gaillard@anct.gouv.fr' %}">
        Anne.GAILLARD@anct.gouv.fr
      </a> ou par voie postale&nbsp;:</p>
      <p>
        <strong>Agence Nationale de la Cohésion des Territoire</strong><br/>
        <em>À l'attention du délégué à la protection des données (DPD)</em><br/>
        20 avenue de Ségur<br/>
        75007 Paris
      </p>
      <p>Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes en mesure de vous identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous pouvons être amenés à vous demander une preuve de votre identité.</p>
      <p>Pour vous aider dans votre démarche, vous trouverez un modèle de courrier élaboré par la CNIL ici&nbsp;: <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces" target="_blank" rel="noopener noreferer" class="fr-link">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a></p>
      <p>Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser 1 mois à compter de la réception de votre demande.</p>
      <p>Si vous estimez que vos droits n’ont pas été respectés, vous pouvez à tout moment introduire un <a href="https://www.cnil.fr/fr/cnil-direct/question/adresser-une-reclamation-plainte-la-cnil-quelles-conditions-et-comment" target="_blank" rel="noopener noreferer" class="fr-link">recours auprès de la CNIL</a>.</p>
      <h2 class="fr-mt-4w">Qui va avoir accès à ces données&nbsp;?</h2>
      <p class="fr-mb-1w">Les accès aux données sont strictement encadrés et juridiquement justifiés. Les personnes suivantes vont avoir accès aux données&nbsp;:</p>
      <ul class="fr-pl-2w ">
        <li>Les membres de l'équipe “Aidants Connect” habilités.</li>
        <li>Les partenaires pour dispenser les formations.</li>
        <li>Les préfectures qui reçoivent les données (nom, prénom) des aidants professionnels “référents” de leurs structures. Les Préfectures sont coporteuses des gouvernances locales France Numérique Ensemble et à ce titre, pilotent le déploiement de cette feuille de route.</li>
        <li>Les récipiendaires des enveloppes FNE. Ces récipiendaires sont des membres des gouvernances locales France Numérique Ensemble. Ils peuvent être des structures publiques (conseil départemental, EPCI, syndicat mixte…) ou privées (associations ou autres). Ces récipiendaires sont bénéficiaires de subventions de la part de l’ANCT pour la formation Aidants Connect/aidants numériques des professionnels de leur territoire dans le cadre de la mise en œuvre de la Feuille de route Numérique Ensemble.</li>
        <li>Les hubs. L’ANCT soutient dans le cadre de conventions de subventionnement les projets territoriaux des hubs en lien s’inscrivant dans les orientations de la feuille de route France Numérique Ensemble. Ils doivent notamment appuyer le déploiement de l’outillage numérique de l’inclusion numérique, dont Aidants Connect.</li>
        <li>L’équipe FranceConnect peut recevoir les données relatives aux mandats et à leur traçabilité exclusivement pour la réalisation d’enquête et de lever de doute quant à un usage suspect du service (par exemple un fournisseur de service qui mènerait une enquête pour une suspicion d’usurpation d’identité), conformément à la convention d’usage de FranceConnect.</li>
      </ul>
      <h2 class="fr-mt-4w">Quelles mesures de sécurité mettons-nous en place&nbsp;?</h2>
      <p class="fr-mb-1w">Nous mettons en place plusieurs mesures pour sécuriser les données&nbsp;:</p>
      <ul class="fr-pl-2w">
        <li>Stockage des données en base de données&nbsp;;</li>
        <li>Cloisonnement des données&nbsp;;</li>
        <li>Mesures de traçabilité&nbsp;;</li>
        <li>Surveillance&nbsp;;</li>
        <li>Protection contre les virus, malwares et logiciels espions&nbsp;;</li>
        <li>Protection des réseaux&nbsp;;</li>
        <li>Sauvegarde&nbsp;;</li>
        <li>Mesures restrictives limitant l'accès physique aux données à caractère personnel.</li>
      </ul>
      <h2 class="fr-mt-4w">Qui nous aide à traiter les données&nbsp;?</h2>
      <p>Certaines des données sont envoyées à d'autres acteurs, appelés “sous-traitants de données”, pour qu'ils nous aident à les manipuler. Nous nous assurons qu'ils respectent strictement le RGPD et qu'ils apportent des garanties suffisantes en matière de sécurité.</p>
      <div class="fr-table fr-table--bordered">
        <table>
          <thead>
            <tr>
              <th scope="col">Sous-traitant</th>
              <th scope="col">Pays destinataire</th>
              <th scope="col">Traitement réalisé</th>
              <th scope="col">Garanties</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Scalingo</strong></td>
              <td>France</td>
              <td>Hébergement</td>
              <td><a href="https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles" class="fr-link fr-text--sm" rel="noopener noreferer" target="_blank">https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles</a></td>
            </tr>
            <tr>
              <td><strong>YouTube</strong></td>
              <td>États-Unis</td>
              <td>Mise à disposition de vidéos sur la plateforme</td>
              <td><a href="https://www.youtube.com/t/terms_dataprocessing" class="fr-link fr-text--sm" rel="noopener noreferer" target="_blank">https://www.youtube.com/t/terms_dataprocessing</a></td>
            </tr>
            <tr>
              <td><strong>Sarbacane</strong></td>
              <td>France</td>
              <td>Envoi de mails</td>
              <td><a href="https://assets.sarbacane-cdn.com/legal/FR_DataProcessingAddendum.pdf" class="fr-link fr-text--sm" rel="noopener noreferer" target="_blank">https://assets.sarbacane-cdn.com/legal/FR_DataProcessingAddendum.pdf</a></td>
            </tr>
            <tr>
              <td><strong>Zammad</strong></td>
              <td>Allemagne</td>
              <td>Support</td>
              <td><a href="https://zammad.com/en/company/privacy" class="fr-link fr-text--sm" rel="noopener noreferer" target="_blank">https://zammad.com/en/company/privacy</a></td>
            </tr>
            <tr>
              <td><strong>Tally</strong></td>
              <td>Belgique</td>
              <td>Formulaires</td>
              <td><a href="https://tally.so/help/gdpr" class="fr-link fr-text--sm" rel="noopener noreferer" target="_blank">https://tally.so/help/gdpr</a></td>
            </tr>
            <tr>
              <td><strong>Livestorm</strong></td>
              <td>Irlande</td>
              <td>Organisation de webinaires</td>
              <td><a href="https://livestorm.co/fr/rgpd" class="fr-link fr-text--sm" rel="noopener noreferer" target="_blank">https://livestorm.co/fr/rgpd</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="fr-mt-4w">Cookies</h2>
      <p>Un cookie est un fichier déposé sur votre terminal lors de la visite d'un site. Il a pour but de collecter des informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette).</p>
      <p>En application de l'article 5(3) de la directive 2002/58/CE modifiée concernant le traitement des données à caractère personnel et la protection de la vie privée dans le secteur des communications électroniques, transposée à l'article 82 de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les traceurs ou cookies suivent deux régimes distincts.</p>
      <p>Les cookies strictement nécessaires au service ou ayant pour finalité exclusive de faciliter la communication par voie électronique sont dispensés de consentement préalable au titre de l'article 82 de la loi n° 78-17 du 6 janvier 1978.</p>
      <p>Les cookies n'étant pas strictement nécessaires au service ou n'ayant pas pour finalité exclusive de faciliter la communication par voie électronique doivent être consentis par l'utilisateur.</p>
      <p>Ce consentement de la personne concernée pour une ou plusieurs finalités spécifiques constitue une base légale au sens du RGPD et doit être entendu au sens de l'article 6-1 a) du RGPD et à la libre circulation des données.</p>
      <p>Aidants Connect utilise l'outil de mesure d'audience “Matomo”, configuré en mode “exempté” et ne nécessitant pas le recueil de votre consentement conformément aux recommandations de la CNIL.</p>
      <h2 class="fr-mt-4w">Cookies recensés sur Aidants Connect&nbsp;:</h2>
      <div class="fr-table fr-table--bordered">
        <table>
          <thead>
            <tr>
              <th scope="col">Nom du cookie</th>
              <th scope="col">Pays destinataire</th>
              <th scope="col">Traitement réalisé</th>
              <th scope="col">Garanties</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Cookies google&nbsp;: doubleclick.net, google.com, gstatic.com, googleapis.com, youtube.com</strong></td>
              <td>États-Unis</td>
              <td>Vidéo YouTube</td>
              <td><a href="https://policies.google.com/privacy?hl=fr" class="fr-link fr-text--sm" rel="noopener noreferer" target="_blank">https://policies.google.com/privacy?hl=fr</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="fr-mt-0">À tout moment, vous pouvez choisir d’accepter ou refuser l’utilisation des cookies via le bandeau proposé par “tarteaucitron” situé en bas à droite de votre écran. </p>
      <p class="fr-mb-1w">Pour aller plus loin, vous pouvez consulter les ﬁches proposées par la Commission Nationale de l'Informatique et des Libertés (CNIL)&nbsp;:</p>
      <ul class="fr-pl-2w">
        <li><a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies/que-dit-la-loi" class="fr-link" rel="noopener noreferer" target="_blank">Cookies & traceurs&nbsp;: que dit la loi&nbsp;?</a></li>
        <li><a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur" class="fr-link" rel="noopener noreferer" target="_blank">Cookies&nbsp;: les outils pour les maîtriser</a></li>
      </ul>
    </div>
  </section>
{% endblock body %}
