{% load static %}

<div class="fr-grid-row fr-grid-row--gutters margin-bottom-2rem">
  <div class="fr-col-12 fr-col-md-4">
    <div class="card-ressource">
      <img src="{% static 'images/aidantsconnect.png' %}" alt=""/>
      <div class="card-content">
        <div class="tag">Équipe Aidants Connect</div>
        <div class="h1">Guide de prise en main Aidants Connect</div>
        <p class="description">Des ressources utiles pour mieux comprendre et utiliser le service Aidants Connect.</p>
        <div class="button-box">
          <a class="button primary" href="https://aidantsconnect.beta.gouv.fr/guide_utilisation/">Consulter</a>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <div class="card-ressource">
      <img src="{% static 'images/kitintervention.png' %}" alt=""/>
      <div class="card-content">
        <div class="tag">Mission Société Numérique</div>
        <div class="h1">Kit d’intervention rapide</div>
        <p>Ce site a pour objectif de permettre à toute personne, en particulier les non professionnels de la médiation
          numérique, d’aborder rapidement les principaux enjeux de l’accompagnement des individus en difficulté sur les
          outils numériques.</p>
        <div class="button-box">
          <a class="button primary" href="https://kit-inclusion.societenumerique.gouv.fr">Consulter</a>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <div class="card-ressource">
      <img src="{% static 'images/CNIL.png' %}" alt=""/>
      <div class="card-content">
        <div class="tag"> Commission nationale de l’informatique et des libertés</div>
        <div class="h1">Guide sur la sécurité des données personnelles</div>
        <p> Adopté en 2016, le règlement général sur la protection des données (RGPD) est un texte de référence en matière de protection des données personnelles.<br> 

Ce guide pratique publié par la Commission Nationale informatique et Libertés (CNIL) vise à accompagner les structures et notamment les délégués à la protection des données (DPO),
responsables de la sécurité des systèmes d’information, informaticiens ou encore juristes dans la mise en place d’une politique de gestion des risques. Il rappelle  les précautions élémentaires à mettre en oeuvre de façon systématique pour être en conformité avec le RGPD.</p>
        <div class="button-box">
          <a
            class="button primary"
            href="https://www.cnil.fr/sites/cnil/files/2023-04/CNIL_Guide%20s%C3%A9curit%C3%A9%20des%20donn%C3%A9es%20personnelles-2023.pdf"
            target="_blank"
            rel="noopener noreferrer"
          >
            Consulter
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters margin-bottom-2rem">
  <div class="fr-col-12 fr-col-md-4">
    <div class="card-ressource">
      <img src="{% static 'images/maquetteimpots.png' %}" alt=""/>
      <div class="card-content">
        <div class="tag">Direction Générale des Finances Publiques</div>
        <div class="h1">Site de démonstration des impôts</div>
        <p>Ce site est une copie du site des impôts permettant de simuler les déclarations en ligne sans manipuler les
          données personnelles de la personne accompagnée.</p>
        <div class="button-box">
          <a
            class="button primary"
            href="https://www.impots.gouv.fr/portail/www2/fichiers/didacticiels/partenaires/services_en_ligne/part/"
          >
            Consulter
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <div class="card-ressource">
      <img src="{% static 'images/refugies-info.png' %}" alt=""/>
      <div class="card-content">
        <div class="tag">réfugiés.info</div>
        <div class="h1">L’information simple et traduite pour les personnes réfugiées en France</div>
        <p>
          <a href="https://refugies.info/fr">Réfugiés.info</a> est une application mobile et un site web collaboratifs
          pour les personnes réfugiées et leurs aidants qui recense les dispositifs d’accompagnement et explique les
          démarches administratives pour leur intégration. Elle est traduite par un réseau de bénévoles dans 7 langues :
          anglais, arabe, pachto, persan/dari, tigrinya, russe et ukrainien.
        </p>
        <div class="button-box">
          <a class="button primary" href="https://refugies.info">Consulter</a>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <div class="card-ressource">
      <img src="{% static 'images/droit-a-l-erreur.png' %}" alt=""/>
      <div class="card-content">
        <div class="tag">Droit à l’erreur</div>
        <div class="h1">Oups, j’ai fait une erreur en effectuant une démarche administrative. Que faire ?</div>
        <p>
          Le principe du droit à l’erreur repose sur un a priori de bonne foi et atteste de la possibilité pour chaque
          personne de se tromper dans ses déclarations à l’administration, sans risquer une sanction dès le premier
          manquement, chacun pouvant rectifier - spontanément ou au cours d’un contrôle - son erreur lorsque celle-ci
          est commise de bonne foi et pour la première fois.
        </p>
        <p>
          Ce principe intégré dans la
          <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000037307624">loi du 10 août 2018</a> pour un
          Etat au Service d’une Société de Confiance (ESSOC), a pour ambition de renforcer la relation de confiance
          entre le public (particulier comme entreprise) et l’administration.
        </p>
        <div class="button-box">
          <a
            class="button primary"
            href="https://www.plus.transformation.gouv.fr/oups-jai-fait-une-erreur-en-effectuant-une-demarche-administrative-que-faire"
          >
            Consulter
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters margin-bottom-2rem">
  <div class="fr-col-12 fr-col-md-4">
    <div class="card-ressource">
      <img src="{% static 'images/cybermalveillance.png' %}" alt=""/>
      <div class="card-content">
        <div class="tag">Cybermalveillance</div>
        <div class="h1">Assistance et Prévention du risque numérique au service des publics</div>
        <p>
          <a href="https://www.cybermalveillance.gouv.fr/">Cybermalveillance.gouv.fr</a> est une plateforme qui a pour
          missions d’assister les particuliers, les entreprises, les associations, les collectivités et les
          administrations victimes de cybermalveillance, de les informer sur les menaces numériques et les moyens de
          s’en protéger.
        </p>
        <p>
          La plateforme publie du contenu thématique destiné à informer et sensibiliser à la cybersécurité. Elle peut
          aussi assister les victimes de piratage ou attaque informatique en vous accompagnant dans l’établissement d’un
          <a href="https://www.cybermalveillance.gouv.fr/diagnostic/profil">diagnostic de votre situation</a>.
        </p>
        <div class="button-box">
          <a class="button primary" href="https://www.cybermalveillance.gouv.fr/">Consulter</a>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <div class="card-ressource">
      <img src="{% static 'images/anct-incubateur.png' %}" alt=""/>
      <div class="card-content">
        <div class="tag">Incubateur des Territoires</div>
        <div class="h1">
          Incubateur des Territoires : trouver des services numériques simples, sobres et efficaces pour votre
          territoire
        </div>
        <p>
          Aidants Connect est un service public numérique porté par
          l’<a href="https://incubateur.anct.gouv.fr/">Incubateur des Territoires</a> au sein de l’Agence Nationale de
          la Cohésion des Territoires.
        </p>
        <p>
          L’Incubateur des territoires porte de nombreux projets et propose une
          <a href="https://incubateur.anct.gouv.fr/offre">offre d’accompagnement</a> aux collectivités territoriales
          dans le domaine du numérique. Parmi ses offres, plusieurs sont susceptibles de répondre aux besoins des
          structures habilitées Aidants Connect.
        </p>
        <div class="button-box">
          <a class="button primary" href="https://incubateur.anct.gouv.fr/">Consulter</a>
        </div>
      </div>
    </div>
  </div>
</div>
