{% load static %}

<div class="row">
  <div class="card">
    <div class="card__cover">
      <img src="{% static 'images/aidantsconnect.png' %}" alt="Écran montrant le site du kit d'intervention rapide">
    </div>
    <div class="card__content">
      <h3>Guide de prise en main d'Aidants Connect</h3>
      <div class="card__meta"><span>Équipe Aidants Connect</span></div>
      <p>
        Des ressources utiles pour mieux comprendre et utiliser le service Aidants Connect.
      </p>
    </div>
    <div class="card__extra">
      <a href="{% url 'guide_utilisation' %}">https://aidantsconnect.beta.gouv.fr/guide_utilisation/</a>
    </div>
  </div>
  <div class="card">
    <div class="card__cover background-color-white">
      <img src="{% static 'images/solidarite-numerique-illu_home.svg' %}" alt="Logo Solidarité Numérique">
    </div>
      <div class="card__content">
        <h3>Solidarité Numérique</h3>
        <div class="card__meta"><span>Mission Société Numérique</span></div>
        <p>
          Solidarité Numérique est le centre d’aide pour les démarches en ligne essentielles.
          le service est joignable du lundi au vendredi, de 9h à 18h, par téléphone au <a href="tel:0170772372" title="Numéro de téléphone Solidarité numérique">01 70 772 372</a> (appel non surtaxé).
        </p>
      </div>
    <div class="card__extra">
      <a href="https://solidarite-numerique.fr">solidarite-numerique.fr</a>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="card">
    <div class="card__cover">
      <img src="{% static 'images/kitinterventionrimage.png' %}" alt="Écran montrant le site du kit d'intervention rapide">
    </div>
    <div class="card__content">
      <h3>Kit d'intervention rapide</h3>
      <div class="card__meta"><span>Mission Société Numérique</span></div>
      <p>
        Ce site a pour objectif de permettre à toute personne, en particulier les non professionnels
        de la médiation numérique, d’aborder rapidement les principaux enjeux de l’accompagnement
        des individus en difficulté sur les outils numériques.
      </p>
    </div>
    <div class="card__extra">
      <a href="https://kit-inclusion.societenumerique.gouv.fr">https://kit-inclusion.societenumerique.gouv.fr</a>
    </div>
  </div>
  <div class="card">
    <div class="card__cover">
        <img src="{% static 'images/maquetteimpotsimage.png' %}" alt="Écran montrant le site de démonstration des impôts">
    </div>
    <div class="card__content">
      <h3>Site de démonstration des impôts</h3>
      <div class="card__meta"><span>Direction Générale des Finances Publiques</span></div>
      <p>
        Ce site est une copie du site des impôts permettant de simuler les déclarations en ligne
        sans manipuler les données personnelles de la personne accompagnée.
      </p>
    </div>
    <div class="card__extra">
      <a href="https://www.impots.gouv.fr/portail/www2/fichiers/didacticiels/partenaires/services_en_ligne/part/">https://www.impots.gouv.fr/portail/www2/fichiers/didacticiels/partenaires/services_en_ligne/part/</a>
    </div>
  </div>
</div>
