{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section">
  <div class="container">
    <h1>Des outils à votre disposition</h1>
    {% include 'public_website/resource_list.html' %}
  </div>
</section>

<section class="section section-grey">
  <div class="container">
    <h1>Partenaires</h1>
    <div class="row">
      <div class="text-center">
        <img class="logo-height-5em" src="{% static 'images/logo-fc-v2.png' %}" alt="Logo FranceConnect" />
        <h5>
          <a href="https://franceconnect.gouv.fr/">FranceConnect</a> est un dispositif qui permet aux internautes de s'identifier sur un
          service en ligne par l'intermédiaire d'un compte existant (impots.gouv.fr, ameli.fr, ...).
        </h5>
      </div>
      <div class="text-center">
        <img class="logo-height-5em" src="{% static 'images/logo-ANLCI.png' %}" alt="Logo Agence Nationale de Lutte contre l’Illettrisme"/>
        <h5>
          Aidants Connect a rendu son mandat accessible grâce au concours de l’<a href="http://www.anlci.gouv.fr/">ANLCI</a> (Agence Nationale de Lutte contre l’Illettrisme).
        </h5>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
