<section class="section section-color">
  <div class="container">
    <h2>Vous avez une question ?</h2>
    <p>
      Quelles sont les personnes qui peuvent bénéficier d’Aidants Connect ?
      Qu'est-ce qu'un "aidant professionnel" ?
      Comment fonctionne Aidants Connect ? etc.
    </p>
    <a class="button-outline" href="{% url 'faq_generale' %}">Consulter notre FAQ</a>
    <a class="button-outline" href="https://app.livestorm.co/incubateur-des-territoires/aidants-connect">S'inscrire à une démo de l'outil</a>
  </div>
</section>
