{% extends 'public_website/layout/main.html' %}

{% load static %}

{% block title %}Statistiques - Aidants Connect{% endblock %}

{% block extracss %}
  <link href="{% static 'css/statistics.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="fr-container">
    <h1>Statistiques</h1>
    <p>
      Nous sommes ravis de constater l’utilisation grandissante d’Aidants Connect ! Vous pouvez consulter ici toutes
      les statistiques concernant le projet, mises à jour en temps réel.
    </p>

    <h2 class="fr-title-icon-left fr-icon-statistics-use">Utilisation</h2>

    <section class="stats-container grid">
      {% for label, count in usage_section.items %}
        <p class="stat-col fr-col fr-col-4 fr-m-0">
          <span class="stat-number">{{ count }}</span>
          {{ label }}
        </p>
      {% endfor %}
    </section>

    <h2 class="fr-title-icon-left fr-icon-statistics-type-demarche">Par type de démarche</h2>

    <section class="stats-container">
      <canvas id="mandats-chart" aria-label="Les périmètres des mandats" role="img">
        <table>
          <tr>
            <th scope="col">Type de mandat</th>
            <th scope="col">Nombre de démarches</th>
          </tr>
          {% for demarche in data %}
            <tr>
              <th scope="row">{{ demarche.title }}</th>
              <td>{{ demarche.value }}</td>
            </tr>
          {% endfor %}
        </table>
      </canvas>
    </section>

    <h2 class="fr-title-icon-left fr-icon-statistics-use">Déploiement</h2>

    <div class="grid grid--gap">
      {% for section in deployment_section %}
        <section class="stats-container fr-col fr-col-6 grid">
          {% for label, count in section.items %}
            <p class="stat-col fr-col fr-col-6 fr-m-0">
              <span class="stat-number">{{ count }}</span>
              {{ label }}
            </p>
          {% endfor %}
        </section>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block extrajs %}
  {{ data|json_script:"data" }}
  <script type="module" src="{% static 'js/statistiques.js' %}"></script>
{% endblock extrajs %}
