{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Statistiques{% endblock %}

{% block extracss %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock extracss %}


{% block content %}
<section class="section" id="statistics">
  <div class="container">
    <h1 class="section__title">Statistiques d’Aidants Connect</h1>
    <div class="tiles">

      <h2>Utilisation</h2>
      <div class="grid">
        <div class="tile-box stretch">
          <div class="tile tile-grey text-center">
            <h3 class="font-weight-normal">Démarches administratives réalisés</h3>
            <strong>{{ autorisation_use_count }}</strong>
          </div>
        </div>
        <div class="tile-box stretch">
          <div class="tile tile-grey text-center">
            <h3 class="font-weight-normal">Personnes accompagnées</h3>
            <strong>{{ usagers_with_mandat_count }}</strong>
          </div>
        </div>
        <div class="tile-box stretch">
          <div class="tile tile-grey text-center">
            <h3 class="font-weight-normal">Mandats crées</h3>
            <strong>{{ mandats_count }}</strong>
          </div>
        </div>
      </div>

      <br>

      <h3>Par type de démarche</h3>
      <div class="container">
        <canvas id="mandats-chart" aria-label="Les périmètres des mandats" role="img">
          <table>
            <tr>
              <th scope="col">Type de mandat</th>
              <th scope="col">Nombre des démarches</th>
            </tr>
            {% for demarche in demarches_count %}
            <tr>
              <th scope="row">{{ demarche.title }}</th>
              <td>{{ demarche.value }}</td>
            </tr>
            {% endfor %}
          </table>
        </canvas>
      </div>

      <br>

      <h2>Déploiement</h2>
      <div class="grid">
        <div class="tile-box">
          <div class="tile tile-grey text-center">
            <h3 class="font-weight-normal">Aidants habilités</h3>
            <strong>{{ aidants_count }}</strong>
          </div>
        </div>
        <div class="tile-box">
          <div class="tile tile-grey text-center">
            <h3 class="font-weight-normal">Aidants en cours d’habilitation</h3>
            <strong>{{ aidants_accrediting_count }}</strong>
          </div>
        </div>
        <div class="tile-box">
          <div class="tile tile-grey text-center">
            <h3 class="font-weight-normal">Structures habilitées</h3>
            <strong>{{ organisations_accredited_count }}</strong>
          </div>
        </div>
        <div class="tile-box">
          <div class="tile tile-grey text-center">
            <h3 class="font-weight-normal">Structures en cours d’habilitation</h3>
            <strong>{{ organisations_not_accredited_count }}</strong>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock content %}

{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
{{ data|json_script:"data" }}

<script>
  const data = JSON.parse(document.getElementById('data').textContent);

  var ctx = document.getElementById('mandats-chart').getContext('2d');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: data.labels,
      datasets: [{
        label: 'Nombre de démarches',
        backgroundColor: 'blue',
        data: data.data
      }]
    },
    options: {
      responsive: true,
      aspectRatio:2,
      maintainAspectRatio: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Les périmètres des mandats'
      },
      scales: {
        x: {
          grid: {
              display:false
          }
        }
      }
    }
  });

</script>

{% endblock extrajs %}
