{% extends 'public_website/layout/main.html' %}
{% load ac_common dsfr_tags form_extras static %}

{% block title %}Référent - Numéro de mobile enregistré - Aidants Connect{% endblock %}

{% block extracss %}

{% endblock extracss %}

{% block content %}
<div class="fr-container">
  <h1 class="fr-mb-4w">Merci</h1>

{% block body %}
    <div id="thank_asking_mobile" class="fr-mb-8w">
      <p>Votre numéro de téléphone a bien été sauvegardé,
        vous allez pouvoir recevoir votre code de première connexion</p>
    </div>
{% endblock body %}
</div>
{% endblock content %}
