é{% extends 'public_website/layout/main.html' %}
{% load ac_common dsfr_tags form_extras static %}

{% block title %}Référent - Information, Numéro de Mobile{{% endblock %}

{% block extracss %}

{% endblock extracss %}

{% block content %}
<div class="fr-container">
  <h1 class="fr-mb-4w">Merci</h1>

{% block body %}
  <div class="fr-container">
    <div id="thank_asking_mobile" class="fr-mb-8w">

      <p>Votre numéro de téléphone a bien été sauvegardé,
        vous allez pouvoir recevoir votre code de première connexion</p>

    </div>
  </div>
{% endblock body %}
    </div>
  </div>
</div>
{% endblock content %}
