{% load ac_common %}
<nav class="fr-sidemenu" aria-labelledby="fr-sidemenu-title">
  <div class="fr-sidemenu__inner">
    <button
      class="fr-sidemenu__btn"
      aria-controls="fr-sidemenu-wrapper"
      aria-expanded="false"
    >Menu
    </button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item {% if request.resolver_match.url_name == 'cgu' %} fr-sidemenu__item--active{% endif %}">
          <a
            class="fr-sidemenu__link"
            target="_self"
            href="{% url 'cgu' %}"
            {% if request.resolver_match.url_name == 'cgu' %}aria-current="true"{% endif %}
            >Conditions générales d'utilisation</a
          >
        </li>
        <li class="fr-sidemenu__item{% if request.resolver_match.url_name == 'politique_confidentialite' %} fr-sidemenu__item--active{% endif %}">
          <a 
            class="fr-sidemenu__link" 
            target="_self"
            href="{% url 'politique_confidentialite' %}" 
            {% if request.resolver_match.url_name == 'politique_confidentialite' %}aria-current="true"{% endif %}
            >Politique de Confidentialité</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
