<nav class="fr-sidemenu fr-sidemenu--sticky" aria-labelledby="fr-sidemenu-title">
  <div class="fr-sidemenu__inner">
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
         <nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
            <h2 class="fr-summary__title fr-pl-0" id="fr-summary-title">Sommaire</h2>
            <ol>
                <li>
                  <a class="fr-summary__link" id="summary-link-1" href="#ressource_demarrer">1. Bien démarrer</a>
                </li>
                <li>
                  <a class="fr-summary__link" id="summary-link-2" href="#fiches_pratiques">2. Fiches pratiques</a>
                </li>
                <li>
                  <a class="fr-summary__link" id="summary-link-3" href="#video">3. Vidéos</a>
                </li>
                <li>
                  <a class="fr-summary__link" id="summary-link-4" href="#externe">4. Ressources externes</a>
                </li>
            </ol>
        </nav>
      </div>
  </div>
</nav>
