<nav class="fr-sidemenu fr-sidemenu--sticky" aria-labelledby="fr-sidemenu-title">
  <div class="fr-sidemenu__inner">
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <div class="fr-sidemenu__title" id="fr-sidemenu-title">Sommaire</div>
         <nav class="fr-summary fr-mb-4w" role="navigation" aria-labelledby="fr-summary-title">
            <ol>
                <li>
                  <a class="fr-summary__link" id="ressource-demarrer-summary-link" href="#ressource_demarrer">Bien démarrer</a>
                </li>
                <li>
                  <a class="fr-summary__link" id="fiches-pratiques-summary-link" href="#fiches_pratiques">Fiches pratiques</a>
                </li>
                <li>
                  <a class="fr-summary__link" id="video-summary-link" href="#video">Vidéos</a>
                </li>
                <li>
                  <a class="fr-summary__link" id="externe-summary-link" href="#externe">Ressources externes</a>
                </li>
            </ol>
        </nav>
      </div>
  </div>
</nav>
