{% load ac_common %}
<nav class="fr-sidemenu fr-sidemenu--sticky" aria-labelledby="fr-sidemenu-title">
  <div class="fr-sidemenu__inner">
    <button
      class="fr-sidemenu__btn"
      aria-controls="fr-sidemenu-wrapper"
      aria-expanded="false"
    >Menu
    </button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <div class="fr-sidemenu__title" id="fr-sidemenu-title">Menu</div>
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item {% if request.resolver_match.url_name == 'habilitation_faq_habilitation' %} fr-sidemenu__item--active{% endif %}">
          <a
            class="fr-sidemenu__link"
            target="_self"
            href="{% url 'habilitation_faq_habilitation' %}"
            {% if request.resolver_match.url_name == 'habilitation_faq_habilitation' %}aria-current="true"{% endif %}
            >Être habilité</a
          >
        </li>
        <li class="fr-sidemenu__item{% if request.resolver_match.url_name == 'habilitation_faq_formation' %} fr-sidemenu__item--active{% endif %}">
          <a 
            class="fr-sidemenu__link" 
            target="_self"
            href="{% url 'habilitation_faq_formation' %}" 
            {% if request.resolver_match.url_name == 'habilitation_faq_formation' %}aria-current="true"{% endif %}
            >Se former</a
          >
        </li>
      </ul>
    </div>
  </div>
  <button
    id="follow-my-habilitation-request-btn"
    class="fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-arrow-right-line fr-mt-8v"
    data-fr-opened="false"
    aria-controls="fr-modal-follow-hab-request"
  >
    Suivre ma demande
  </button>
</nav>
{% include 'habilitation/follow-my-request.html' %}
