{% extends 'public_website/layout/main.html' %}

{% block title %}
{% endblock title %}

{% load static %}

{% block extracss %}
  <link href="{% static 'css/habilitation.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<div class="fr-container">
  <h1>{% block page.title %}
    {% endblock page.title %}</h1>
  <div class="fr-grid-row fr-mt-6">
    <div class="fr-col-md-9 fr-col-12">
      {% block body %}
      {% endblock body %}
    </div>
  </div>
</div>
{% endblock content %}
