{% extends 'public_website/layout/main.html' %}

{% block title %}
{% endblock title %}

{% load static %}

{% block extracss %}

{% endblock extracss %}

{% block content %}
<div class="fr-container">
    <h1 class="fr-mb-4w">Ressources</h1>
    <p class="fr-text--xl fr-text-mention--grey">
      Retrouvez ici toutes les ressources pour comprendre et utiliser Aidants Connect.
    </p>
  <div class="fr-grid-row fr-mt-8w">
    <div class="fr-col-md-3 fr-col-12">
      {% block menu %}
      {% include "public_website/layout/_menu-ressources.html" %}
      {% endblock menu %}
    </div>
    <div class="fr-col-md-9 fr-col-12">
      {% block body %}
      {% endblock body %}
    </div>
  </div>
</div>
{% endblock content %}
