{% load ac_extras i18n %}

<tr>
    <td>
        {% if usager.preferred_username %}
          {{ usager.preferred_username }}<br />
          Né(e)
        {% endif %}
        {{ usager.given_name }}
        {{ usager.family_name }}
    </td>
    <td>{{ usager.birthdate|date:"d F Y" }}</td>
    {% if mandats|length > 1 %}
      <td>
        <ul>
          {% for mandat in mandats %}
            <li>{{ mandat.0.creation_date|date:"d F Y" }}</li>
          {% endfor %}
        </ul>
      </td>
    {% else %}
      <td>{{ mandats.0.0.creation_date|date:"d F Y" }}</td>
    {% endif %}
    <td>
      <div class="fr-tags-group">
        {% with seen_permissions="" %}
          {% for mandat in mandats %}
            {% for autorisation in mandat.1 %}
              {% if autorisation not in seen_permissions %}
                <p class="fr-tag fr-tag--blue fr-text--xs">{{ autorisation|capfirst }}</p>
                {% with seen_permissions=seen_permissions|add:"|"|add:autorisation|add:"|" %}{% endwith %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endwith %}
      </div>
    </td>
    <td>
      <a class="fr-btn fr-btn--secondary fr-text--sm" href="{% url 'usager_details' usager_id=usager.id %}">
        <span class="fr-icon-arrow-right-line fr-icon--sm fr-mr-2v" aria-hidden="true"></span>
        Accéder aux mandats
      </a>
    </td>
  </tr>
