{% load ac_extras i18n %}

<tr>
  <td>
    <a class="fr-link" href="{% url 'usager_details' usager_id=usager.id %}">
      {% if usager.preferred_username %}
        {{ usager.preferred_username }}<br />
        Né(e)
      {% endif %}
      {{ usager.given_name }}
      {{ usager.family_name }}
    </a>
  </td>
  <td>{{ usager.birthdate |date:"d F" }}</td>
  {% if with_valid_mandate %}
    {% if mandats|length > 1 %}
      <td colspan="3"></td>
      {% for mandat in mandats %}
        <tr>
          <td colspan="2">
            Mandat du {{mandat.0.creation_date|date:"d F Y"}}
          </td>
          <td>
            {% for autorisation in mandat.1 %}
              {{autorisation}} - 
            {% endfor %}
          </td>
          <td>
            <span class="{% if mandat.3 == true %} viiiiiiite  {% endif %}">{{mandat.2}} jours</span> 
            
          </td>
          {% if has_no_autorisations %}
            <td></td>
          {% else %}
            <td>
              <details>
                <summary>
                  <span>...</span>
                </summary>
                <div class="details-content fr-p-2w">
                  <div>
                    <a class="" href="{{ usager.renew_mandate_url }}">Renouveler</a>
                  </div>
                  <div>
                    <a class="" href="{% url 'usager_details' usager_id=usager.id %}">Révoquer</a>
                  </div>
                </div>
              </details> 
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    {% else %}
      {% for mandat in mandats %}
        <td>
          {% for autorisation in mandat.1 %}
            {{autorisation}} - 
          {% endfor %}
        </td>
        <td>
          <span class="{% if mandat.3 == true %} viiiiiiite  {% endif %}">{{mandat.2}} jours</span> 
        </td>
      {% endfor %}
      {% if has_no_autorisations %}
        <td></td>
      {% else %}
        <td>
          <details>
            <summary>
              <span>...</span>
            </summary>
            <a class="fr-link" href="{{ usager.renew_mandate_url }}">Renouveler le mandat</a>
            <a class="fr-link" href="{% url 'usager_details' usager_id=usager.id %}">Révoquer le mandat</a>
          </details>
        </td>
      {% endif %}
    {% endif %}
  {% endif %}
</tr>
