{% load ac_extras i18n %}

{% with auth_badge_classes="auth-badge fr-badge fr-badge--no-icon fr-text--xs" %}
  <tr data-search-target="item" data-search-terms="{{ usager.search_terms|json_attribute }}">
    <td>
      <a class="fr-link" href="{% url 'usager_details' usager_id=usager.id %}">
        {% if usager.preferred_username %}
          {{ usager.preferred_username }}<br />
          Né(e)
        {% endif %}
        {{ usager.given_name }}
        {{ usager.family_name }}
      </a>
    </td>
    <td>{{ usager.birthdate|date:"d F" }}</td>
    {% if mandats|length > 1 %}
      <td></td>
      <td></td>
      <td></td>
    {% else %}
      {% for mandat in mandats %}
        <td>
          <div class="auth-badges">
            {% for autorisation in mandat.1 %}
              {% if mandat.3 %}
                <p class="{{ auth_badge_classes }} fr-badge--warning">{{ autorisation }} </p>
              {% else %}
                <p class="{{ auth_badge_classes }} fr-badge--info">{{ autorisation }} </p>
              {% endif %}
            {% endfor %}
          </div>
        </td>
        <td {% if mandat.3 %}class="fr-icon-warning-fill fr-text-default--warning"{% endif %}>
          <span>{{ mandat.2 }} jour{% if mandat.2 > 1 %}s{% endif %}</span>
        </td>
      {% endfor %}
      <td>
        <div class="custom-dropdown">
          <button class="fr-btn fr-btn--tertiary-no-outline fr-icon-more-line"
                  aria-expanded="false"
                  aria-haspopup="true"
                  tabindex="0">
            <span class="fr-sr-only">Actions</span>
          </button>
          <div class="custom-dropdown__menu">
            <a class="fr-btn fr-btn--tertiary-no-outline" href="{{ usager.renew_mandate_url }}">Renouveler</a>
            <a class="fr-btn fr-btn--tertiary-no-outline" href="{% url 'usager_details' usager_id=usager.id %}">Révoquer</a>
          </div>
        </div>
      </td>
    {% endif %}
  </tr>
  {% if mandats|length > 1 %}
    {% for mandat in mandats %}
      <tr data-search-target="item" data-search-terms="{{ usager.search_terms|json_attribute }}">
        <td>
          Mandat du {{ mandat.0.creation_date|date:"d F Y" }}
        </td>
        <td></td>
        <td>
          <div class="auth-badges">
            {% for autorisation in mandat.1 %}
              {% if mandat.3 == True %}
                <p class="{{ auth_badge_classes }} fr-badge--warning">{{ autorisation }} </p>
              {% else %}
                <p class="{{ auth_badge_classes }} fr-badge--info">{{ autorisation }} </p>
              {% endif %}
            {% endfor %}
          </div>
        </td>
        <td {% if mandat.3 == True %}class="fr-icon-warning-fill fr-text-default--warning"{% endif %}>
          <span>{{ mandat.2 }} jours</span>
        </td>
        <td>
          <div class="custom-dropdown">
            <button class="fr-btn fr-btn--tertiary-no-outline fr-icon-more-line"
                    aria-expanded="false"
                    aria-haspopup="true"
                    aria-label="Actions"
                    tabindex="0">
                <span class="fr-sr-only">Actions</span>
            </button>
            <div class="custom-dropdown__menu">
              <a class="fr-btn fr-btn--tertiary-no-outline" href="{{ usager.renew_mandate_url }}">Renouveler</a>
              <a class="fr-btn fr-btn--tertiary-no-outline" href="{% url 'usager_details' usager_id=usager.id %}">Révoquer</a>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  {% endif %}
{% endwith %}
