{% extends 'layouts/main.html' %}

{% load static ac_common %}

{% block title %}Aidants Connect - Usagers{% endblock %}

{% block extracss %}
{% endblock %}

{% load ac_extras %}

{% block content %}
  <div class="fr-container">
    <div class="fr-grid-row flex-between fr-mb-6w">
      <div class="fr-col-sm-6 fr-col-12">
        <h1 class="fr-mb-2w">Mes mandats</h1>
      </div>
      <div>
        <a href="{% url 'new_mandat' %}"
        id="add_usager"
        class="fr-btn fr-btn--icon-left fr-icon-add-line">
        Créer un mandat
      </a>
    </div>
    </div>
    <h2>Mandats actifs</h2>
    <div class="fr-table fr-table--bordered fr-table--no-caption fr-table--layout-fixed">
      <table>
        <caption>Table des mandats actifs</caption>
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Périmètre</th>
            <th scope="col">Validité</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% if valid_mandats|length > 0 %}
            {% for usager, mandats in valid_mandats.items %}
              {% include "aidants_connect_web/usagers/usager_row.html" with with_valid_mandate=True %}
            {% endfor %}
          {% else %}
          <tr>Vous n'avez pas de mandats actifs</tr>
            
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="fr-container">
    <h2>Mandats expirés</h2>
    <div class="fr-table">
      <table>
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Périmètre</th>
            <th scope="col">Validité</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% if expired_mandats|length > 0 %}
            {% for usager, mandats in expired_mandats.items %}
              {% include "aidants_connect_web/usagers/usager_row.html" with with_valid_mandate=True %}
            {% endfor %}
          {% else %}
          <tr>Vous n'avez pas de mandats expirés</tr>
            
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="fr-container">
    <h2>Mandats révoqués</h2>
    <div class="fr-table">
      <table>
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Périmètre</th>
            <th scope="col">Validité</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% if revoked_mandats|length > 0 %}
            {% for usager, mandats in revoked_mandats.items %}
              {% include "aidants_connect_web/usagers/usager_row.html" with with_valid_mandate=True %}
            {% endfor %}
          {% else %}
            <tr><td colspan="5" class="fr-text-center">Vous n'avez pas de mandats révoqués</td></tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
