{% extends 'layouts/main.html' %}

{% load static ac_common %}

{% block title %}Aidants Connect - Usagers{% endblock %}

{% block extracss %}
  <link href="{% static 'css/users_search.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <section
    class="section"
    data-controller="search"
    data-search-irrelevant-result-class="irrelevant-result"
  >
    <div class="container">
      <div class="row">
        <h1 class="margin-bottom-0">Vos usagères et usagers</h1>
        <a href="{% url 'new_mandat' %}" class="button float-right" id="add_usager"><span aria-hidden="true">📝&nbsp;</span>Ajouter une usagère ou un usager</a>
      </div>
      {% include "aidants_connect_web/users_search_bar.html" %}
      {% if messages %}
        <div class="notification success" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
      <div class="tiles">
        {% if usagers_dict.total == 0 %}
        <div class="notification" role="alert">Il n'y a encore personne avec qui vous avez un mandat.</div>
        {% else %}
          {% if usagers_dict.with_valid_mandate_count > 0 %}
          {# <input class="table__filter" type="text" name="input_val" placeholder="Trouver un usager (à venir)" aria-label="Trouver les usagers (à venir)"> #}
          <h2>Les usagères et usagers avec qui vous avez un mandat actif</h2>
          <table class="table with-valid-mandate">
            <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Date de naissance</th>
              <th scope="col">Autorisations</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for usager, autorisations in usagers_dict.with_valid_mandate.items %}
              {% include "aidants_connect_web/usagers/usager_row.html" with with_valid_mandate=True %}
            {% endfor %}
            </tbody>
          </table>
          {% endif %}
          {% if usagers_dict.without_valid_mandate_count > 0 %}
          <h2>Les usagères et usagers avec qui vous avez un mandat passé</h2>
          <table class="table without-valid-mandate">
            <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Date de naissance</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for usager in usagers_dict.without_valid_mandate %}
              {% include "aidants_connect_web/usagers/usager_row.html" with usager=usager with_valid_mandate=False %}
            {% endfor %}
            </tbody>
          </table>
          {% endif %}

        {% endif %}
      </div>
    <div>
  </section>
{% endblock content %}

{% block extrajs %}
  {% stimulusjs %}
  <script src="{% static 'js/users_search.js' %}"></script>
{% endblock %}
