{% load ac_extras i18n %}

<tr>
    <td>
        {% if usager.preferred_username %}
          {{ usager.preferred_username }}<br />
          Né(e)
        {% endif %}
        {{ usager.given_name }}
        {{ usager.family_name }}
    </td>
    <td>{{ usager.birthdate|date:"d F Y" }}</td>
    {% if mandats.mandats_info|length > 1 %}
      <td>
        <ul>
          {% for mandat_info in mandats.mandats_info %}
            <li>
              {{ mandat_info.creation_date|date:"d F Y" }}
              {% if mandat_info.expired_soon %}
                <span class="fr-badge fr-badge--warning fr-badge--sm">EXPIRE BIENTOT</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </td>
    {% else %}
      <td>
        {{ mandats.first_creation_date|date:"d F Y" }}
        {% if mandats.mandats_info.0.expired_soon %}
          <span class="fr-badge fr-badge--warning fr-badge--sm">EXPIRE BIENTOT</span>
        {% endif %}
      </td>
    {% endif %}
    <td>
      <div class="fr-tags-group">
        {% for autorisation in mandats.unique_permissions %}
          <p class="fr-tag fr-tag--blue fr-text--xs">{{ autorisation|capfirst }}</p>
        {% endfor %}
      </div>
    </td>
    <td>
      <a class="fr-btn fr-btn--secondary fr-text--sm" href="{% url 'usager_details' usager_id=usager.id %}">
        <span class="fr-icon-arrow-right-line fr-icon--sm fr-mr-2v" aria-hidden="true"></span>
        Accéder aux mandats
      </a>
    </td>
  </tr>
