<div id="bdf-warn-msg" class="notification warning" data-mandate-form-controller-target="bdfWarning">
  <p class="upper bold margin-top-0-5-rem margin-bottom-0-5-rem">Périmètre {{ warn_scope.titre }}</p>
  <p class="upper color-initial bold margin-top-0-5-rem margin-bottom-0-5-rem">
    Banque De France - Dossier de surendettement
  </p>
  <p class="color-initial">
    En tant qu'aidant professionnel, vous pouvez uniquement saisir le dossier. La déclaration de surendettement doit être signée par le demandeur, sous peine d’irrecevabilité
    (art. R. 721-2 et R. 761-1 du code de la consommation)
  </p>
</div>
