{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Nouveau mandat{% endblock %}

{% block extracss %}
<link href="{% static 'css/new_mandat.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section id="engagement" class="section">
  <div class="container container-small">
    <h1 class="section__title">Créer ou renouveler un mandat</h1>
    <h2>Mentions à lire à l'usager</h2>
    <p>
      Les aidants habilités par <strong>{{ aidant.organisation }}</strong> doivent :
      <ul>
        <li>effectuer à votre place les démarches listées dans le mandat, à partir des informations que vous leur avez données ;</li>
        <li>collecter et conserver seulement les informations nécessaires aux démarches listées dans le mandat ou à celles qui s’y rattachent ;</li>
        <li>utiliser et communiquer seulement les informations nécessaires aux démarches listées dans le mandat ou à celles qui s’y rattachent ;</li>
        <li>Vous informer et demander votre autorisation avant d’effectuer d’autres démarches que celles listées dans le mandat ;</li>
        <li>mettre à jour et supprimer l’ensemble de vos informations personnelles lorsqu’elles ne sont plus utiles ;</li>
        <li>s’interdire de rendre publiques vos informations personnelles ;</li>
        <li>prendre toutes les précautions pour assurer la sécurité de vos informations personnelles.</li>
      </ul>
    </p>
    <p>
      A partir du moment où un aidant habilité par <strong>{{ aidant.organisation }}</strong> réalise à votre place une des démarches listées dans le mandat,
      il accepte de le faire dans les conditions décrites dans le mandat.
    </p>
  </div>
</section>
<section id="mandat_specifications" class="section section-grey">
  <div class="container">
    <form method="post">
      {% if form.errors %}
        <div class="notification error" role="alert">{{ form.errors }}</div>
      {% endif %}
      {% csrf_token %}
      <div id="demarches" class="tiles">
        <h2>Étape 1 : Sélectionnez la ou les démarche(s)</h2>
        <div id="demarches_list" class="grid">
          {% for value, label in form.demarche.field.choices %}
            <div id="{{ value }}" class="tile">
              <input id="button-{{ value }}" type="checkbox" value="{{ value }}" name="demarche" />
              <label class="label-demarche" for="button-{{ value }}">
                <img src="{{ label.icon }}" alt="Icon {{ label.titre }}" />
                <h3>{{ label.titre }}</h3>
                <p>
                  {{ label.description }}
                  {% if label.service_exemples %}
                    <br />
                    <small title="exemples de services publics">
                      <i>Exemples :</i>
                      {% for service in label.service_exemples %}
                        <span class="label label-small">{{ service }}</span>
                      {% endfor %}
                    </small>
                  {% endif %}
                </p>
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
      <div id="duree" class="tiles">
        <h2 class="step-title">Étape 2 : Choisissez la durée du mandat</h2>
        <div id="duree_list" class="grid">
          {% for value, label in form.duree.field.choices %}
            <div id="{{ value }}" class="tile">
              <input id="button-{{ value }}" type="radio" value="{{ value }}" name="duree" />
              <label class="label-duree" for="button-{{ value }}">
                <h3>{{ label.title }} <span class="duree-label-is-remote">à distance</span></h3>
                <span>{{ label.description }}</span>
              </label>
            </div>
          {% endfor %}
        </div>
        <div class="notification warning margin-top-1em" role="alert">
          <span>La signature du mandat se fait-elle à distance ? Si oui, cochez cette case</span>
          <span>{{ form.is_remote }}</span>
        </div>
      </div>
      <div id="france_connection" class="tiles">
        <h2 class="step-title">Étape 3 : Connectez l'usager à FranceConnect</h2>
        <input id="submit_button" type="image" src="{% static 'images/FCboutons-10.png'%}" alt="S’identifier avec FranceConnect" />
      </div>
    </form>
  <div>
</section>
{% endblock content %}

{% block extrajs %}
<script>
  // init
  let mandat_is_remote_checkbox = document.getElementById("id_is_remote");
  let mandat_duree_label_is_remote_span = document.getElementsByClassName("duree-label-is-remote");
  for (var i = 0; i < mandat_duree_label_is_remote_span.length; i++) {
      mandat_duree_label_is_remote_span[i].style.display = "none";
    }
  // toggle mandat_is_remote
  mandat_is_remote_checkbox.addEventListener('change', function() {
    for (var i = 0; i < mandat_duree_label_is_remote_span.length; i++) {
      mandat_duree_label_is_remote_span[i].style.display = this.checked ? "initial" : "none";
    }
  });
</script>
{% endblock %}
