{% extends 'layouts/main.html' %}

{% load ac_common dsfr_tags form_extras static %}

{% block title %}Aidants Connect - Nouveau mandat{% endblock %}

{% block extracss %}
  <link href="{% static 'css/new-mandat.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="fr-container">
    {% include "layouts/_messages.html" %}

    <h1>
      Créer ou renouveler un mandat{% if aidant.organisations.count > 1 %} pour {{ aidant.organisation }}{% endif %}
    </h1>
    {% if aidant.organisations.count > 1 %}
      <div class="fr-alert fr-alert--warning fr-my-8v">
        <p>Attention, vous allez créer un mandat au nom de cette structure :</p>
        <p><strong>{{ aidant.organisation }}</strong><br>{{ aidant.organisation.address }}</p>
        <p>
          Si ce n’est pas la bonne structure,
          <a
            href="{% url 'espace_aidant_switch_main_organisation' %}?next={{ request.get_full_path|urlencode:'' }}"
            class="fr-link"
          >
            vous pouvez en changer
          </a>.
        </p>
      </div>
    {% endif %}
    <h2>Mentions à lire à l’usager</h2>
    <p class="fr-text--lead">Le mandat est une autorisation écrite qui permet à l’aidant de réaliser pour vous des démarches
      administratives. Il vous protège et protège l’aidant qui vous accompagne. Vous pourrez y mettre fin à tout
      moment.</p>
    <div class="fr-callout fr-icon-information-line">
      <h3 class="fr-callout__title">Avec ce mandat, l’aidant s’engage à :</h3>
      <article class="fr-callout__text">
        <ul>
          <li>
            réaliser les démarches listées dans le mandat à partir des informations que vous lui avez données ;
          </li>
          <li>
            utiliser et enregistrer seulement les informations nécessaires à ces démarches ;
          </li>
          <li>
            ne pas effectuer d’autres démarches que celles listées dans le mandat ;
          </li>
          <li>
            sécuriser l’ensemble de vos informations et les supprimer lorsqu’elles ne sont plus utiles.
          </li>
        </ul>
      </article>
    </div>
    <p class="fr-text--lg"><span class="fr-icon-file-text-fill fr-text-title--blue-france fr-mr-1w"></span><strong>Ressources</strong></p>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
      <div class="fr-col-md-6 fr-col-md">
        <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
          <div class="fr-tile__body mandate-translation-section">
              <div class="fr-tile__content">
                  <h3 class="fr-tile__title">
                      <a class="fr-text-default--grey" href="{% url 'mandate_translation' %}">Mandat type avec traductions disponibles</a>
                  </h3>
                  <p class="fr-tile__detail fr-text--sm">Des traductions sont disponibles en consultant cette page. Attention, ces traductions n’ont aucune valeur juridique. Seul le mandat final en français a une valeur juridique valide.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="fr-col-md-6 fr-col-md">
        <div class="fr-tile fr-tile--horizontal ">
          <div class="fr-tile__body">
              <div class="fr-tile__content fr-pb-2W">
                <h3 class="fr-tile__title">Fiches pratiques pour les usagers</h3>
                <div class="fr-tile__detail flex-wrap">

                  <p class="fr-col-12 fr-text--sm">Des traductions sont disponibles en consultant cette page. Attention, ces traductions n’ont aucune valeur juridique. Seul le mandat final en français a une valeur juridique valide.
                  </p>
                    <ul class="fr-btns-group fr-btns-group--inline-lg fr-col-12 fr-mt-2w flex-right">
                    <li>
                        <button class="fr-btn fr-btn--secondary">
                          <a href="https://www.etsijaccompagnais.fr/ressources-des-aidants" target="_blank">
                            Version française
                          </a>
                        </button>
                    </li>
                    <li>
                        <button class="fr-btn fr-btn--secondary">
                          <details>
                            <summary>Versions traduites</summary>
                            <div class="details-content">
                              <a class="fr-mt-1w" href="https://www.etsijaccompagnais.fr/s/Fiches_Anglais.pdf" target="_blank">Anglais</a>
                              <a class="fr-mt-1w" href="https://www.etsijaccompagnais.fr/s/Fiches_Dari.pdf" target="_blank">Dari</a>
                              <a class="fr-mt-1w" href="https://www.etsijaccompagnais.fr/s/Fiche_Bengali-rmb7.pdf" target="_blank"> Bengali</a>
                              <a class="fr-mt-1w" href="https://www.etsijaccompagnais.fr/s/Fiche_Pashto.pdf" target="_blank">Pashto</a>
                              <a class="fr-mt-1w" href="https://www.etsijaccompagnais.fr/s/Fiche_Arabe.pdf" target="_blank">Arabe</a>
                            </div>
                          </details>
                          
                        </button>
                    </li>
                  </ul>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border fr-mb-16v"></div>
    <h2 class="fr-mb-16v">Création de Mandat</h2>
    <form
      method="post"
      data-controller="mandate-form-controller"
      data-mandate-form-controller-bdf-warning-value="{{ warn_scope.value }}"
    >
      {% if form.errors %}
        <p class="fr-alert fr-alert--error" role="alert">Il y a des erreurs dans le formulaire.</p>
      {% endif %}
      {% csrf_token %}

      <section class="demarches-section">
        {% dsfr_form_field form.demarche %}
      </section>

      {% include "aidants_connect_web/new_mandat/_bdf-warning-notification.html" %}

      <div class="fr-col-12 fr-col-lg-8">
        {% dsfr_form_field form.duree %}

        <h4 class="fr-h6 fr-mt-2w">Signature à distance</h4>

        <fieldset class="is-remote-section fr-fieldset">
          <section class="fr-checkbox-group">
            {% dsfr_form_field form.is_remote %}
            <div class="fr-text-default--grey fr-text--xs fr-ml-4w">Vous devrez imprimer le mandat et le faire signer à la personne accompagnée aussi vite que possible. Ce mandat vous protège légalement.</div>
          </section>
          <section
            class="mandate-remote-method-section"
            hidden
            aria-hidden="true"
            data-mandate-form-controller-target="remoteConsentSection"
          >
            {% if form.remote_constent_method.errors %}
              <div class="notification error" role="alert">
                {{ form.remote_constent_method.errors }}
              </div>
            {% endif %}

            <legend class="fr-h6 fr-mb-1w">
              {{ form.remote_constent_method.label }}
            </legend>
            {% for subfield in form.remote_constent_method %}
              <div
                class="fr-mb-2w fr-radio-group"
                data-controller="remote-method-controller"
                data-remote-method-controller-consent-method-value="{{ subfield.data.value }}"
              >
                <input{% html_attrs subfield.data.attrs %}
                  type="radio"
                  name="{{ subfield.data.name }}"
                  value="{{ subfield.data.value }}"
                  data-mandate-form-controller-target="requiredInput"
                  data-action="mandate-form-controller#remoteMethodTriggered"
                >

                <label for="{{ subfield.id_for_label }}" {% class_attr subfield.data.label_classes %}>
                  <div class="{{ subfield.data.input_wrapper_base_class }}-label-text-and-description">
                    <span class="fr-icon-{{ subfield.data.logo }} fr-mr-1w"></span>
                    <span class="{{ subfield.data.input_wrapper_base_class }}-text">{{ subfield.choice_label }} : </span>
                    <span class="{{ subfield.data.input_wrapper_base_class }}-description fr-text--sm">
                      {{ subfield.data.description }}
                    </span>
                  </div>
                </label>
                {% if subfield.data.value == "SMS" %}
                  <div
                    class="related-fields"
                    hidden
                    aria-hidden="true"
                    data-remote-method-controller-target="requiredInputs"
                  >
                    {% dsfr_form_field form.user_phone %}
                    
                    {% dsfr_form_field form.user_remote_contact_verified %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </section>
        </fieldset>

        {% block input_submit_form %}
          <h3 class="fr-label title-count">Connectez l’usager à FranceConnect</h3>
          <section id="france_connection">
            <button id="submit-btn" class="fr-connect fr-ml-6w" type="submit">
              <span class="fr-connect__login">S’identifier avec</span>
              <span class="fr-connect__brand">FranceConnect</span>
            </button>
          </section>
        {% endblock input_submit_form %}
      </div>
    </form>
  </div>
{% endblock content %}

{% block extrajs %}
  {% stimulusjs %}
  <script defer type="module" src="{% static 'js/new-mandat.mjs' %}"></script>
{% endblock extrajs %}
