{% extends 'layouts/main.html' %}

{% load ac_common dsfr_tags form_extras static %}

{% block title %}Nouveau mandat - Aidants Connect{% endblock %}

{% block extracss %}
  <link href="{% static 'css/new-mandat.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="fr-container">
    {% include "layouts/_messages.html" %}

    <h1>
      Créer ou renouveler un mandat{% if aidant.organisations.count > 1 %} pour {{ aidant.organisation }}{% endif %}
    </h1>
    {% if aidant.organisations.count > 1 %}
      <div class="fr-alert fr-alert--warning fr-my-8v">
        <p>Attention, vous allez créer un mandat au nom de cette structure :</p>
        <p><strong>{{ aidant.organisation }}</strong><br>{{ aidant.organisation.address }}</p>
        <p>
          Si ce n’est pas la bonne structure,
          <a
            href="{% url 'espace_aidant_switch_main_organisation' %}?next={{ request.get_full_path|urlencode:'' }}"
            class="fr-link"
          >
            vous pouvez en changer
          </a>.
        </p>
      </div>
    {% endif %}
    <h2>Mentions à lire à l’usager</h2>
    <p class="fr-text--lead">Le mandat est une autorisation écrite qui permet à l’aidant de réaliser pour vous des démarches
      administratives. Il vous protège et protège l’aidant qui vous accompagne. Vous pourrez y mettre fin à tout
      moment.</p>
    <div class="fr-callout fr-icon-information-line">
      <h3 class="fr-callout__title">Avec ce mandat, l’aidant s’engage à :</h3>
      <article class="fr-callout__text">
        <ul>
          <li>
            réaliser les démarches listées dans le mandat à partir des informations que vous lui avez données ;
          </li>
          <li>
            utiliser et enregistrer seulement les informations nécessaires à ces démarches ;
          </li>
          <li>
            ne pas effectuer d’autres démarches que celles listées dans le mandat ;
          </li>
          <li>
            sécuriser l’ensemble de vos informations et les supprimer lorsqu’elles ne sont plus utiles.
          </li>
        </ul>
      </article>
    </div>
    {% include "aidants_connect_web/common/resources-block.html" %}
    <h2 class="fr-mb-16v">Création de Mandat</h2>
    <form
      method="post"
      data-controller="mandate-form-controller"
      data-mandate-form-controller-bdf-warning-value="{{ warn_scope.value }}"
    >
      {% if form.errors %}
        <p class="fr-alert fr-alert--error" role="alert">Il y a des erreurs dans le formulaire.</p>
      {% endif %}
      {% csrf_token %}

      <section class="demarches-section">
        <div role="group" aria-label="Sélectionnez la ou les démarches (obligatoire)">
        {% dsfr_form_field form.demarche %}
        </div>
      </section>

      {% include "aidants_connect_web/new_mandat/_bdf-warning-notification.html" %}

      <div class="fr-col-12 fr-col-lg-8">
         <div role="group" aria-label="Choisissez la durée du mandat (obligatoire)">
          {% dsfr_form_field form.duree %}
         </div>

        <h3 class="fr-h6 fr-mt-2w">Signature à distance</h3>

        <fieldset class="is-remote-section fr-fieldset">
          <section class="fr-checkbox-group">
            {% dsfr_form_field form.is_remote %}
            <div class="fr-text-default--grey fr-text--xs fr-ml-4w">Vous devrez imprimer le mandat et le faire signer à la personne accompagnée aussi vite que possible. Ce mandat vous protège légalement.</div>
          </section>
          <section
            class="mandate-remote-method-section"
            hidden
            aria-hidden="true"
            data-mandate-form-controller-target="remoteConsentSection"
          >
            {% if form.remote_constent_method.errors %}
              <div class="notification error" role="alert">
                {{ form.remote_constent_method.errors }}
              </div>
            {% endif %}

            <legend class="fr-h6 fr-mb-1w">
              {{ form.remote_constent_method.label }}
            </legend>
            {% for subfield in form.remote_constent_method %}
              <div
                class="fr-mb-2w fr-radio-group"
                data-controller="remote-method-controller"
                data-remote-method-controller-consent-method-value="{{ subfield.data.value }}"
              >
                <input{% html_attrs subfield.data.attrs %}
                  type="radio"
                  name="{{ subfield.data.name }}"
                  value="{{ subfield.data.value }}"
                  data-mandate-form-controller-target="requiredInput"
                  data-action="mandate-form-controller#remoteMethodTriggered"
                >

                <label for="{{ subfield.id_for_label }}" {% class_attr subfield.data.label_classes %}>
                  <div class="{{ subfield.data.input_wrapper_base_class }}-label-text-and-description">
                    <span class="fr-icon-{{ subfield.data.logo }} fr-mr-1w"></span>
                    <span class="{{ subfield.data.input_wrapper_base_class }}-text">{{ subfield.choice_label }} : </span>
                    <span class="{{ subfield.data.input_wrapper_base_class }}-description fr-text--sm">
                      {{ subfield.data.description }}
                    </span>
                  </div>
                </label>
                {% if subfield.data.value == "SMS" %}
                  <div
                    class="related-fields"
                    hidden
                    aria-hidden="true"
                    data-remote-method-controller-target="requiredInputs"
                  >
                    {% dsfr_form_field form.user_phone %}

                    {% dsfr_form_field form.user_remote_contact_verified %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </section>
        </fieldset>

        {% block input_submit_form %}
          <h3 class="fr-label title-count">Connectez l’usager à FranceConnect</h3>
          <section id="france_connection">
            <button id="submit-btn" class="fr-connect fr-ml-6w" type="submit">
              <span class="fr-connect__login">S’identifier avec</span>
              <span class="fr-connect__brand">FranceConnect</span>
            </button>
          </section>
        {% endblock input_submit_form %}
      </div>
    </form>
  </div>
{% endblock content %}

{% block extrajs %}
  <script type="module" src="{% static 'js/new-mandat.mjs' %}"></script>
{% endblock extrajs %}
