{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Récapitulatif du nouveau mandat{% endblock %}

{% block extracss %}
  <link href="{% static 'css/new_mandat.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="hero">
    <div class="container hero__container">
      <h1>Récapitulatif du mandat</h1>
    </div>
  </div>
  <section class="section section-grey">
    <div class="container container-small">
      <form method="post">
        {% if form.errors %}
          <div class="notification error" role="alert">{{ form.errors }}</div>
        {% endif %}
        {% csrf_token %}
        <a class="button-outline primary small float-right" href="{% url 'new_attestation_projet' %}" target="_blank">Voir le projet de mandat</a>
        <h2>Éléments du mandat</h2>
        <div class="panel">
          <div class="form__group">
            <div id="recap_text">
              <strong>{{ usager }}</strong> autorise <strong>{{ aidant.organisation }}</strong> à réaliser à sa place
              les démarches administratives suivantes :
            </div>
            <ul>
              {% for demarche in demarches %}
                <li>{{ demarche }}</li>
              {% endfor %}
            </ul>
            <p><strong>{{ duree }}.</strong></p>
            {% if is_remote %}
            <div><i>Mandat réalisé à distance</i></div>
            {% endif %}
          </div>
        </div>
        <h2>Validation de l'usager</h2>
        {% if form.non_field_errors %}
          <div class="notification error" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="panel form__group">
          <div class="margin-bottom-1em">En cochant les cases, <strong>{{ aidant }}</strong> confirme :</div>
          <div class="checkbox__group margin-bottom-1em">
            <input type="checkbox" id="id_personal_data" name="personal_data" required />
            <label class="label-inline" for="id_personal_data">
              Avoir communiqué à <strong>{{ usager }}</strong> les informations concernant l’objet de l’intervention,
              la raison pour laquelle ses informations sont collectées et leur utilité ; les droits sur ses données (accès, rectification, suppression…)
            </label>
          </div>
          <div class="checkbox__group">
            <input type="checkbox" id="id_brief" name="brief" required />
            <label class="label-inline" for="id_brief">
              {% if is_remote %}
                Avoir obtenu et conservé un consentement écrit (capture d’écran d’email, SMS…) de la part de <strong> {{ usager }}</strong>
                pour conclure le mandat Aidant Connect <strong>à distance</strong> et utiliser ses données à caractère personnel.
              {% else %}
                Avoir obtenu et conservé un consentement écrit (signature du mandat après impression) de la part de <strong> {{ usager }}</strong>
                pour conclure le mandat Aidant Connect et utiliser ses données à caractère personnel.
              {% endif %}
            </label>
          </div>
        </div>
        <h2>Validation de l'aidant</h2>
        <div class="panel form__group">
          <fieldset>
            <div class="not_checkbox_group">
              <label for="id_otp_token">{{ form.otp_token.label_tag }}</label>
              <div class="max-width-50">{{ form.otp_token }}</div>
            </div>
          </fieldset>
          <br>
          <div class="form__group">
            <input type="submit" class="button" value="Enregistrer le mandat" />
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}
