{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}Aidants Connect - Nouveau mandat créé !{% endblock %}

{% block extracss %}
<link href="{% static 'css/new_mandat.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<section class="section">
  <div class="container">
    <h1>Le mandat a été créé avec succès !</h1>
    <div class="tiles">
      <a class="button" href="{% url 'new_attestation_final' %}" target="_blank">🖨 Imprimer le mandat final</a>
      <br>
      <br>
      <p>
        Pour consulter le profil de l'usager {{ usager.get_full_name }}, <a href="{% url 'usager_details' usager_id=usager.id %}">cliquez ici</a>.
      </p>
    </div>
  </div>
</section>
{% endblock content %}
