{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
  <link href="{% static 'css/new_mandat.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <div class="hero">
    <div class="container hero__container">
      <h1>Récapitulatif du mandat</h1>
    </div>
  </div>
  <section class="section section-grey">
    <div class="container container-small">
      <form method="post">
        {% if form.errors %}
          <div class="notification error" role="alert">{{ form.errors }}</div>
        {% endif %}
        {% csrf_token %}
        <a class="button-outline primary small float-right" href="{% url 'new_mandat_print_projet' %}" target="_blank">Voir le projet de mandat</a>
        <h2>Éléments du mandat</h2>
        <div class="panel">
          <div class="form__group">
            <p id="recap_text">
              <strong>{{ usager }}</strong> autorise <strong>l'aidant habilité de {{ aidant.organisation.name }}</strong> à réaliser en mon nom
              conformément aux dispositions des articles 1984 et suivants du Code civil, la ou les démarches administratives en ligne des périmètres suivants :
            </p>
            <ul>
              {% for demarche in demarches %}
                <li>{{ demarche }}</li>
              {% endfor %}
            </ul>
            <p>pour une durée de : <strong>{{ duree }}</strong></p>
          </div>
        </div>
        <h2>Validation de l'usager</h2>
        {% if form.non_field_errors %}
          <div class="notification error" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="panel form__group mandat__agreement">
          <p>En cochant les cases, {{ usager }} confirme :</p>
          <div class="checkbox__group">
            <input type="checkbox" id="id_personal_data" name="personal_data" required />
            <label class="label-inline" for="id_personal_data">Avoir reçu, de la part de <strong>{{ aidant.first_name }} {{ aidant.last_name }}</strong>, aidant habilité au sein de <strong>{{ aidant.organisation.name }}</strong> les informations concernant l’objet de l’intervention, la raison pour laquelle ses informations sont collectées et leur utilité ; les droits sur ses données (accès, rectification, suppression, etc.)</label>
          </div>
          <div class="checkbox__group">
            <input type="checkbox" id="id_brief" name="brief" required />
            <label class="label-inline" for="id_brief">Autoriser les aidants habilités de <strong> {{ aidant.organisation.name }}</strong> à utiliser ses données à caractère personnel.</label>
          </div>
        </div>
        <h2>Validation de l'aidant</h2>
        <div class="panel form__group mandat__agreement">
          <fieldset>
            <div class="not_checkbox_group">
              <label for="id_otp_token">Veuillez indiquer le code à 6 chiffres généré par votre téléphone</label>
              <input type="text" id="id_otp_token" name="otp_token" maxlength="6" minlength="6" required />
            </div>
          </fieldset>
          <br>
          <div class="form__group">
            <input type="submit" class="button" value="Enregistrer le mandat" />
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}
