{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
  <link href="{% static 'css/new_mandat.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<div class="hero">
  <div class="container hero__container">
    <h1>Récapitulatif</h1>
  </div>
</div>
<section class="section section-grey">
  <div class="container container-small">
    <a class="button" href="{% url 'generate_mandat_pdf'%}" target="_blank">🖨 Imprimer le mandat</a>
    <form method="post" class="panel">
      {% if error %}
        <div class="notification warning">{{ error }}</div>
      {% endif %}
      {% csrf_token %}
      <div class="form__group">
        <p id="recap_text"><strong>{{ usager }}</strong> autorise <strong>{{ aidant }}</strong>,  <em>aidant·e numérique</em> au sein de <em>{{ aidant.organisation.name }}</em>  à réaliser en mon nom conformément aux dispositions des articles 1984 et suivants du Code civil, la ou les démarches administratives en ligne suivantes :</p>
        <ul>
          {% for demarche in demarches %}
            <li>{{ demarche }}</li>
          {% endfor %}
        </ul>
        pour une durée de : <strong>{{ duree }}</strong>
      </div>
      <div class="form__group mandat__agreement">
        <fieldset>
          <legend>À cette fin :</legend>
          <div class="checkbox__group">
            <input type="checkbox" name="personal_data" id="id_personal_data" />
            <label class="label-inline" for="id_personal_data">J’autorise <strong>{{ aidant.first_name }} {{ aidant.last_name }}</strong> à utiliser mes données à caractère personnel.</label>
          </div>
          <div class="checkbox__group">
            <input type="checkbox" name="brief" id="id_brief" />
            <label class="label-inline" for="id_brief">Je confime que <strong>{{ aidant.first_name }} {{ aidant.last_name }}</strong> m’a rappelé l’objet de l’intervention, la raison pour laquelle mes informations sont collectées et leur utilité ; les droits sur mes données (accès, rectification, suppression, etc.)</label>
          </div>
        </fieldset>
      </div>
      <div class="form__group">
        <input type="submit" class="button" value="J’accepte" />
      </div>
    </form>
  <div>
</section>
{% endblock content %}
