{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
  <link href="{% static 'css/new_mandat.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<div class="hero">
  <div class="container hero__container">
    <h1>Récapitulatif</h1>
  </div>
</div>
<section class="section section-grey">
  <div class="container container-small">
    <a class="button" href="{% url 'generate_mandat_pdf'%}">🖨 Imprimer le mandat</a>
    <form method="post" class="panel">
      {% if error %}
        <div class="notification warning">{{ error }}</div>
      {% endif %}
      {% csrf_token %}
      <div class="form__group">
        <p id="recap_text"><strong>{{ usager }}</strong> autorise <strong>{{ aidant }}</strong>,  <em>aidant·e numérique</em> au sein de <em>{{ aidant.organisme }}</em>  à réaliser en mon nom conformément aux dispositions des articles 1984 et suivants du Code civil, la ou les démarches administratives en ligne suivantes :</p>
        <ul>
          {% for demarche in demarches %}
          <li>{{ demarche }}</li>
          {% endfor %}
        </ul>
        pour une durée de : <strong>{{ duree }}</strong>
      </div>
      <div class="form__group mandat__agreement">
        <fieldset>
          <legend>À cette fin :</legend>
          <div class="checkbox__group">
            {{ form.personal_data }}
            <label class="label-inline" for="id_personal_data">J’autorise <strong>{{ aidant.first_name }} {{ aidant.last_name }}</strong> à utiliser mes données à caractère personnel.</label>
          </div>
          <div class="checkbox__group">
            {{ form.brief }}
            <label class="label-inline" for="id_brief">Je confime que <strong>{{ aidant.first_name }} {{ aidant.last_name }}</strong> m’a rappelé l’objet de l’intervention, la raison pour laquelle mes informations sont collectées et leur utilité ; les droits sur mes données (accès, rectification, suppression, etc.)</label>
          </div>
        </fieldset>
      </div>
      <div class="form__group">
        <label for="contact_method_list">Souhaitez-vous indiquer un moyen de contact ? Il nous servira à vous joindre en cas d’avancée de dossier.</label>
        <!--select onchange="showContactMethod()" id="contact_method_list" name="contact_method_chosen">
          {% for method in contact_method_list %}
            <option value="{{ method.0 }}" {% if contact_method_chosen == method.0 %}selected="selected"{% endif %}>{{ method.1 }}</option>
          {% endfor %}
        </select-->
        {{ form.preferred_contact_method }}
      </div>
      <div class="form__group contact__method-choice hidden email">
        <label for="id_contact_email">{{ form.contact_email.label }}</label>
        {{ form.contact_email }}
      </div>
      <div class="form__group contact__method-choice hidden phone">
        <label for="id_contact_phone">{{ form.contact_phone.label }}</label>
        {{ form.contact_phone }}
      </div>
      <div class="form__group contact__method-choice hidden address">
        <label for="id_address">{{ form.contact_address.label }}</label>
        {{ form.contact_address }}
      </div>
      <div class="form__group">
        <input type="submit" class="button" value="J’accepte" />
      </div>
    </form>
  <div>
</section>
{% endblock content %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/new_mandat.js' %}"></script>
{% endblock extrajs %}
