{% extends 'aidants_connect_web/new_mandat/new_mandat.html' %}

{% load static %}

{% block title %}Renouveler un mandat - Aidants Connect{% endblock %}

{% block page_title %}
<h1>
  Renouveler un mandat{% if aidant.organisations.count > 1 %} pour {{ aidant.organisation }}{% endif %}
</h1>
{% endblock page_title %}

{% block form_title %}Renouvellement de mandat{% endblock %}

{% block input_submit_form %}
  <h4 class="step-title">Renouveler le mandat</h4>
  <div id="renew_mandat" class="tiles">
    <div class="buttons">
      <input
        id="submit_renew_button"
        type="submit"
        class="fr-btn submit-button"
        value="Renouveler le mandat"
      />
    </div>
  </div>
{% endblock input_submit_form %}
