<div class="fr-grid-row fr-grid-row--gutters fr-my-4w">
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card fr-card--sm fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a class="" href="{% url 'mandate_translation' %}">Exemple d'un mandat Aidants Connect</a>
          </h3>
          <p class="fr-card__desc">Version française et traductions</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card fr-card--sm fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a
              href="https://www.etsijaccompagnais.fr/ressources-des-aidants"
              target="_blank"
              rel="noopener noreferrer"
            >
              Fiches pratiques pour les usagers
            </a>
          </h3>
          <p class="fr-card__desc">Version française</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card fr-card--sm">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
              Version traduite des fiches pratiques
          </h3>
          <div class="fr-card__footer fr-pt-4w">
            <div class="custom-dropdown">
              <button class="fr-btn fr-btn--tertiary fr-text--sm"
                      aria-expanded="false"
                      aria-haspopup="true"
                      aria-label="Sélectionner une langue"
                      tabindex="0">
                Sélectionner une langue <span class="fr-icon-arrow-down-s-line"></span>
              </button>
              <div class="custom-dropdown__menu">
                <a class="fr-btn fr-btn--tertiary-no-outline"
                   href="https://www.etsijaccompagnais.fr/s/Fiches_Anglais.pdf"
                   target="_blank"
                   rel="noopener noreferrer">
                  Anglais
                </a>
                <a class="fr-btn fr-btn--tertiary-no-outline"
                   href="https://www.etsijaccompagnais.fr/s/Fiches_Dari.pdf"
                   target="_blank"
                   rel="noopener noreferrer">
                  Dari
                </a>
                <a class="fr-btn fr-btn--tertiary-no-outline"
                   href="https://www.etsijaccompagnais.fr/s/Fiche_Bengali-rmb7.pdf"
                   target="_blank"
                   rel="noopener noreferrer">
                  Bengali
                </a>
                <a class="fr-btn fr-btn--tertiary-no-outline"
                   href="https://www.etsijaccompagnais.fr/s/Fiche_Pashto.pdf"
                   target="_blank"
                   rel="noopener noreferrer">
                  Pashto
                </a>
                <a class="fr-btn fr-btn--tertiary-no-outline"
                   href="https://www.etsijaccompagnais.fr/s/Fiche_Arabe.pdf"
                   target="_blank"
                   rel="noopener noreferrer">
                  Arabe
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
