{% extends 'layouts/main.html' %}

{% load static ac_extras %}

{% block title %}Aidants Connect - Sélectionnez l'usager{% endblock %}

{% block extracss %}
  <link href="{% static 'css/id_provider.css' %}" rel="stylesheet" />
  <link href="{% static 'css/users_search.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block content %}
<div class="hero">
  <div class="hero__container">
    <h1 id="welcome_aidant">Bienvenue sur votre Espace Aidants Connect, {{ aidant.first_name }}</h1>
  </div>
</div>
<section
  class="section section-grey mandat-select__section"
  data-controller="search"
  data-search-irrelevant-result-class="irrelevant-result"
>
  <div class="container">
    <form method="post">
      <h2>Sélectionnez l'usager que vous souhaitez FranceConnecter</h2>
      <p id="instructions">Seuls les usagers avec un mandat en cours sont affichés ici.</p>
      {% if usagers %}
        {% include "aidants_connect_web/users_search_bar.html" %}
        <fieldset>
          <div id="usagers" class="grid">
            {% for usager in usagers %}
              <div
                class="tile usager"
                data-search-target="item"
                data-search-terms='{{ usager|json_search_value }}'
              >
                <input
                  id="button-{{ usager.id }}"
                  type="submit"
                  value="{{ usager.id }}"
                  name="chosen_usager"
                  aria-labelledby="label-usager-{{ usager.id }}"
                />
                <label
                  id="label-usager-{{ usager.id }}"
                  class="label-usager"
                  for="button-{{ usager.id }}"
                >
                  {{ usager.given_name }} {% if usager.preferred_username %}{{ usager.preferred_username }}<br/>Né(e) {% endif %}{{ usager.family_name }}
                </label>
              </div>
            {% endfor %}
          </div>
          {% csrf_token %}
          <input type="hidden" name="connection_id" value="{{ connection_id }}" />
        </fieldset>
      {% else %}
        <div class="notification" role="alert">
          Vous n’avez pas d'usagers avec au moins un mandat en cours.<br>
          Pour créer un nouveau mandat, rendez-vous sur votre <a href="{% url 'espace_aidant_home' %}">Espace Aidant</a>.
        </div>
      {% endif %}
    </form>
  </div>
</section>
{% endblock content %}

{% block extrajs %}
  <script src="https://unpkg.com/stimulus@2.0.0/dist/stimulus.umd.js"></script>
  <script src="{% static 'js/users_search.js' %}"></script>
{% endblock %}
