{% extends "admin/base_site.html" %}
{% load static ac_extras i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/admin/aidants-connect.css" %}">
  {{ media.css }}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
{% endblock %}

{% block content %}
  <h1>Habilitation en masse à partir des adresses e-mail</h1>
  <p>
    Collez ci-dessous une liste d'adresses mail d'aidants dont vous voulez valider la demande
    d'habilitation.
  </p>
  {% if ignored_emails %}
    <div class="errornote">
      {% blocktranslate count counter=ignored_emails|length %}
        Une adresse e-mail a été ignorée. Veuillez retrouver le détail ci-dessous.
        {% plural %}
        {{ counter }} adresses e-mails ont été ignorées. Veuillez retrouver le détail
        ci-dessous.
      {% endblocktranslate %}
    </div>
  {% endif %}
  {% if non_existing_emails %}
    <div class="errornote">
      {% blocktranslate count counter=non_existing_emails|length %}
        Nous n'avons trouvé aucun aidant à former portant l'e-mail suivant : aucun compte
        aidant n'a été créé.
        {% plural %}
        Nous n'avons trouvé aucun aidant à former pour les {{ counter }} e-mails suivants :
        aucun compte aidant n'a été créé.
      {% endblocktranslate %}
      <ul>
        {% for email in non_existing_emails %}
          <li>{{ email }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if already_refused_emails %}
    <div class="errornote">
      {% blocktranslate count counter=already_refused_emails|length %}
        Il existe bien un aidant à former portant l'adresse e-mail suivante, mais
        la demande était déjà annulée ou refusée : aucun compte aidant n'a été créé.
        {% plural %}
        Il existe bien des aidants à former portant les adresses e-mail suivantes, mais
        les demandes étaient déjà annulée ou refusée : aucun compte aidant n'a été créé.
      {% endblocktranslate %}
      <ul>
        {% for email in already_refused_emails %}
          <li>{{ email }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if undefined_error_emails %}
    <div class="errornote">
      {% blocktranslate count counter=undefined_error_emails|length %}
        Une erreur s'est produite pour l'adresse mail suivante, mais je ne sais pas
        laquelle et j'espère que vous ne verrez jamais ce message. :s
        {% plural %}
        Une erreur s'est produite pour les adresses mails suivantes, mais je ne sais pas
        laquelle et j'espère que vous ne verrez jamais ce message. :s
      {% endblocktranslate %}
      <ul>
        {% for email in undefined_error_emails %}
          <li>{{ email }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if treated_emails %}
    <div class="successnote">
      <p>Les demandes suivantes ont été validées, les comptes aidant ont été créés et/ou activés :</p>
      <ul>
        {% for email in treated_emails %}
          <li><span aria-hidden="true">✅ </span>{{ email }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <form action="{% url "otpadmin:aidants_connect_web_habilitation_request_mass_validate" %}" method="POST">
    {% if form.errors %}
      <p>Des erreurs se sont produites dans le formulaire.</p>
    {% endif %}
    <div class="module aligned">
      <label for="{{ form.email_list.id_for_label }}">Liste des e-mails (un par ligne)</label>
      {{ form.email_list }}
      {% if form.errors.email_list %}
        {{ form.errors.email_list }}
      {% endif %}
    </div>
    <div class="submit-row">
      <input type="submit" value="Valider" class="default" name="_save">
      <p class="deletelink-box">
        <a href="{% url 'otpadmin:aidants_connect_web_habilitationrequest_changelist' %}" class="closelink">Annuler</a>
      </p>
    </div>
    {% csrf_token %}
  </form>


{% endblock %}
