{% load static %}
<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer__logo">
      <img src="{% static "images/betagouvfr.svg" %}" alt="Logo beta.gouv.fr">
      <ul class="footer__social">
        <li><a href="https://twitter.com/betagouvfr" title="Twitter"><svg class="icon icon-twitter"><use xlink:href="#twitter"></use></svg></a></li>
        <li><a href="https://github.com/betagouv/aidantconnect" title="Github"><svg class="icon icon-github"><use xlink:href="#github"></use></svg></a></li>
      </ul>
    </div>
  </div>
</footer>