{% load static %}

<section class="container">
  <div class="navbar__home">
    <img height="50" class="navbar__gouvfr" src="{% static 'images/Marianne_logo_1120.png' %}" alt=""/>
    <img height="50" class="navbar__logo" src="{% static 'images/aidants-connect_logo.png' %}" alt="Aidants Connect"/>
    {% if not final %}
      <div class="navbar__gouvfr float-right">
        <i>Projet de mandat</i>
      </div>
    {% else %}
      <div class="navbar__gouvfr float-right">
        <img alt="" class="navbar__gouvfr img-qrcode" src="{% url 'new_attestation_qrcode' %}"/>
      </div>
    {% endif %}
  </div>
  <h1 class="text-center">
    Mandat pour réaliser des démarches en ligne avec le service « Aidants Connect »
  </h1>
  <p>Je m’appelle : <strong>{{ usager.get_full_name }}</strong> (je suis le mandant).</p>
  <p>
    J’autorise <strong>{{ aidant.organisation }}</strong> (c’est le mandataire) à réaliser à ma place les démarches
    administratives suivantes :
  </p>
  <ul class="demarches">
    {% for demarche in demarches %}
      <li><strong>{{ demarche }}</strong></li>
    {% endfor %}
  </ul>
  <p><strong>{{ duree }}.</strong></p>
  <p>
    Cette autorisation est conforme aux articles 1984 et suivants du Code civil. Les démarches seront accomplies sur
    internet, sur des sites utilisant FranceConnect ou sur d’autres sites. Elles peuvent être aussi accomplies par tous
    les moyens permis par l’administration (téléphone, papier, email…).
  </p>
  <p>
    Je peux annuler mon autorisation à tout moment.
  </p>
  <p>
    Pour que <strong>{{ aidant.organisation }}</strong> puisse agir à ma place :
  </p>
  <ul>
    <li>
      Je reconnais que l’aidant habilité par <strong>{{ aidant.organisation }}</strong> m’a rappelé l’objet de son
      intervention, et m’a informé sur la nécessité et l’utilité des informations collectées.
    </li>
    <li>
      J’autorise les aidants habilités par <strong>{{ aidant.organisation }}</strong> à utiliser mes données
      personnelles dans le cadre de ce mandat.
      Je sais que j’ai des droits sur les informations me concernant : accès, rectification, suppression.
    </li>
    <li>
      Je reconnais que l’aidant habilité m’a informé des droits dont je dispose,
      prévus par les articles 13 à 22 du Règlement général sur la protection des données (RGPD).
    </li>
  </ul>
  <p>
    Les aidants habilités par <strong>{{ aidant.organisation }}</strong> doivent :
  </p>
  <ul>
    <li>
      effectuer les démarches listées dans ce document à ma place, à partir des informations que je leur ai données ;
    </li>
    <li>
      collecter et conserver, utiliser et communiquer seulement les informations nécessaires aux démarches listées
      dans ce document ou à celles qui s’y rattachent ;
    </li>
    <li>
      m’informer et demander mon autorisation avant d’effectuer d’autres démarches que celles listées dans ce document ;
    </li>
    <li>mettre à jour et supprimer l’ensemble de mes informations personnelles lorsqu’elles ne sont plus utiles ;</li>
    <li>s’interdire de rendre publiques mes informations personnelles ;</li>
    <li>prendre toutes les précautions pour assurer la sécurité de mes informations personnelles ;</li>
    <li>
      s’assurer que l’information a été réalisée de manière concise, transparente, compréhensible et aisément accessible
      conformément aux dispositions de l’article 12 du RGPD.
    </li>
  </ul>
  <p>
    À partir du moment où un aidant habilité par <strong>{{ aidant.organisation }}</strong>
    réalise à ma place une des démarches listées dans ce document,
    il accepte de le faire dans les conditions décrites dans ce document.
  </p>
  <p>
    Mon autorisation est donnée et acceptée <strong>{{ duree }}</strong>. Elle se termine avant si :
  </p>
  <ul>
    <li>les démarches décrites ci-dessus sont réalisées ;</li>
    <li>je décide de l’annuler ;</li>
    <li>l’aidant habilité par <strong>{{ aidant.organisation }}</strong> décide de l’annuler ;</li>
    <li>
      je donne mon autorisation à une autre personne qu’un aidant habilité par
      <strong>{{ aidant.organisation }}</strong>. Dans ce cas, je dois en informer le plus vite possible
      <strong>{{ aidant.organisation }}</strong>.
    </li>
  </ul>
  <p>
    L'aidant habilité par <strong>{{ aidant.organisation }}</strong> doit accomplir à ma place les démarches listées
    dans ce document tant que le mandat est valable. Il pourra être responsable s’il ne respecte pas les
    conditions décrites dans ce document (article 1991 du Code civil).
  </p>
  <p>Fait à <strong>{{ aidant.organisation.address }}</strong>, le <strong>{{ date }}</strong></p>
  <div class="more-mandat">
    <h2>Mes droits et recours</h2>
    <div class="dpo">
      <p>
        Le délégué à la protection des données de l'Agence Nationale de la Cohésion des Territoires peut être
        contacté par courriel à l’adresse : <strong>dpo@anct.gouv.fr</strong> et par courrier à l’adresse :
      </p>
      <p>
        Agence Nationale de la Cohésion des Territoires<br>
        À l’attention du délégué à la protection des données (DPD)<br>
        20 avenue de Ségur<br>
        75007 Paris
      </p>
    </div>
  </div>
</section>
