{% load ac_common dsfr_tags partials %}


<div class="habilitation-requests" data-controller="base-aidant-request-formset">
  {{ formset.management_form }}
  <div class="fr-grid-row fr-grid-row--gutters">

    <div class="fr-col-12">
      <p class="fr-text">Renseignez les informations des aidants professionnels qui souhaitent être formés et habilités à accompagner des usagers avec Aidants Connect. La demande doit contenir au moins un aidant pour être valide, le référent peut faire partie des professionnels à habiliter. </p>
      <div data-fr-group="false" class="fr-accordions-group fr-mb-4w">
        {% for form in formset.forms %}
          {% if formset.forms|length == 1 %}
            <div class="fr-alert fr-alert--info fr-alert--sm">
              <h3 class="fr-alert__title fr-mb-0">
                Information : les élus, les services civiques, les bénévoles, les apprentis et les stagiaires ne peuvent pas être habilités à Aidants Connect
              </h3>
            </div>
          {% endif %}
          {% include "aidants_connect_habilitation/_accordion_aidant.html" with form=form idx=forloop.counter0 autofocus_idx=formset.autofocus_form_index %}
        {% endfor %}
      </div>

      <div role="alert">
        {{ formset.non_form_errors }}
      </div>
      <button
        id="partial-submit"
        name="partial-submit"
        class="fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-user-add-line"
        type="submit"
      >
        Ajouter un autre aidant à la demande
      </button>
    </div>
  </div>
</div>
