{% load dsfr_tags form_extras %}

<fieldset class="fr-fieldset"
  {% if not GOUV_ADDRESS_SEARCH_API_DISABLED %}
  data-controller="address-autocomplete"
  data-address-autocomplete-api-base-url-value="{{ GOUV_ADDRESS_SEARCH_API_BASE_URL }}"
  {% endif %}
>
  <div class="fr-fieldset__element">{% aidantc_dsfr_form_field_no_asterisk form.address %}</div>
  <div class="fr-fieldset__element">{% aidantc_dsfr_form_field_no_asterisk form.address_complement %}</div>

  <div class="fr-fieldset__element">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-sm-4">
        {% aidantc_dsfr_form_field_no_asterisk form.zipcode %}
      </div>
      <div class="fr-col-md-8">
        {% aidantc_dsfr_form_field_no_asterisk form.city %}
      </div>
    </div>
  </div>

  {{ form.city_insee_code }}
  {{ form.department_insee_code }}
</fieldset>
