{% load ac_common dsfr_tags form_extras widget_tweaks %}
{% if errors %}
  <section class="fr-my-4v fr-input-group fr-input-group--error">
    {{ errors }}
  </section>
{% endif %}
<fieldset class="fr-fieldset">
  <legend class="fr-fieldset__legend fr-text--lg fr-mb-1w">Informations générales</legend>
  <div class="fr-fieldset__element">{% aidantc_dsfr_form_field_no_asterisk form.name %}</div>
  <div class="fr-fieldset__element">
    {% aidantc_dsfr_form_field_no_asterisk form.type|attr:"data-action:change->dynamic-form#onTypeChange"|attr:"data-dynamic-form-target:typeInput" %}
  </div>
  <div class="fr-fieldset__element" data-dynamic-form-target="typeOtherInputContainer">
    {% dsfr_form_field form.type_other %}
  </div>
  <div class="fr-fieldset__element">
    {% dsfr_form_field form.france_services_label|attr:"data-action:change->dynamic-form#onFranceServicesChange"|attr:"data-dynamic-form-target:franceServicesInput" %}
  </div>
  <div
    class="fr-fieldset__element"
    data-dynamic-form-target="onlyShownIfFranceServices"
  >
    {% dsfr_form_field form.france_services_number %}
  </div>
</fieldset>
<fieldset class="fr-fieldset">
  <legend class="fr-fieldset__legend fr-text--lg fr-mb-1v">Informations administratives</legend>
  <div class="fr-fieldset__element fr-col-sm-4">{% aidantc_dsfr_form_field_no_asterisk form.siret %}</div>
</fieldset>
{{ form.address_fieldset }}
<fieldset class="fr-fieldset fr-mt-12v">
  <legend class="fr-fieldset__legend fr-text--lg fr-mb-1v">Informations descriptives</legend>
  <div class="fr-fieldset__element">{% aidantc_dsfr_form_field_no_asterisk form.web_site %}</div>
  <div class="fr-fieldset__element">
    {% aidantc_dsfr_form_field_no_asterisk form.mission_description|attr:"data-dynamic-form-target:missionDescriptionField" %}
  </div>
  <div class="fr-fieldset__element">
    {% aidantc_dsfr_form_field_no_asterisk form.avg_nb_demarches|attr:"data-dynamic-form-target:avgNbDemarchesField" %}
  </div>
</fieldset>
