{% load ac_common dsfr_tags form_extras widget_tweaks %}

<div data-controller="manager-form">
      <section class="fr-mb-5v">

      <p>Le référent est en charge de la mise en place et du suivi d’Aidants Connect.
        Toute personne qui travaille au sein de la structure peut être désignée comme référent.
        Le référent peut aussi faire partie des aidants professionnels à former pour accompagner des usagers avec Aidants Connect.</p>
    </section>

  <section class="fr-mb-5v">
    <button id="its-me-manager" class="fr-btn fr-btn--tertiary fr-btn--icon-right fr-icon-edit-line fr-my-4v" data-action="manager-form#onManagerItsMeBtnClicked:stop:prevent">
      Remplir avec les informations du demandeur
    </button>
  </section>

  <fieldset class="fr-fieldset">
    <div class="fr-fieldset__element fr-my-4v fr-fieldset__element--inline fr-fieldset__element--inline-grow">
      {% aidantc_dsfr_form_field_no_asterisk form.last_name %}
    </div>
    <div class="fr-fieldset__element fr-my-4v fr-fieldset__element--inline fr-fieldset__element--inline-grow">
      {% aidantc_dsfr_form_field_no_asterisk form.first_name %}
    </div>
    <div class="fr-fieldset__element fr-my-4v">{% aidantc_dsfr_form_field_no_asterisk form.profession %}</div>

    <div class="fr-fieldset__element fr-my-4v">
      {% aidantc_dsfr_form_field_no_asterisk form.email %}
      {% dsfr_alert type="warning" extra_classes="fr-alert--sm" content="Toutes les adresses e-mail renseignées dans la demande doivent être nominatives (de type prenom-nom@exemple.fr)" %}
    </div>

    <div class="fr-fieldset__element fr-my-4v fr-col-sm-6">{% aidantc_dsfr_form_field_no_asterisk form.phone %}</div>
    <div class="fr-fieldset__element">
      <p class="fr-info-text fr-mb-4v fr-mt-n2v"><a href="/faq/utiliser-aidants-connect/">Lors de la première connexion à Aidants Connect, un code à usage unique doit être envoyé par SMS au référent</a></p>
    </div>
  </fieldset>

  {{ issuer_data|json_script:"issuer-data" }}
</div>
