{% load dsfr_tags form_extras %}
<section aria-labelledby="validation-de-la-demande">
  <h3 id="validation-de-la-demande" class="fr-h4">Validation de la demande</h3>
  <p class="fr-text--sm">Sauf mention contraire, tous les champs sont obligatoires.</p>
  <div class="fr-container custom-border fr-pt-4v fr-pl-6v">
    <fieldset class="fr-fieldset">
      <legend class="fr-fieldset__legend fr-pl-2v">Conditions et modalités d’utilisation</legend>
      {% aidantc_dsfr_checkbox_field_no_asterisk form.cgu %}
      {% aidantc_dsfr_checkbox_field_no_asterisk form.not_free %}
    </fieldset>
    <fieldset class="fr-fieldset">
      <legend class="fr-fieldset__legend fr-pl-2v">Personnes impliquées</legend>
      {% aidantc_dsfr_checkbox_field_no_asterisk form.dpo %}
      {% aidantc_dsfr_checkbox_field_no_asterisk form.professionals_only %}
      {% aidantc_dsfr_checkbox_field_no_asterisk form.without_elected %}
    </fieldset>
  </div>
</section>
