$dark-grey-aidants: #333;
$light-grey-aidants: #F2F2F2;
$light-aidants: #fff;
$blue-aidants: #1B4991;
$light-blue-anct: #5770BE;
$off-yellow-aidants: #FAD776;
$blue-green-aidants: #7FB7C0;
$dark-green-anct: #108670;
$red-aidants: #EF4056;
$red-aidants-for-small-text: #e9133e;

$font-stack: "Marianne", arial, sans-serif;

// break points -----------------------------------------

$bp-xs: 20em;
$bp-sm: 36em;
$bp-md: 48em;
$bp-lg: 62em;
$bp-xl: 78em;

// basic layout -----------------------------------------

html, body {
  height: 100%;
}

ul, ol {
  margin: 0;
  padding: 0;
}

svg.previews {
  display: none;
}

#main {
  overflow: hidden;
}

// Accessibility ------------------------------------------------------

:focus-visible {
  background: $off-yellow-aidants;
  color: $dark-grey-aidants !important;
  outline: 2px solid $off-yellow-aidants;
  border-radius: 2px;
}

// From https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

// transverse styles ------------------------------------


.text-l {
  font-size: 1.5rem;
}

.shadowed {
  border: 1px solid $off-yellow-aidants;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 $off-yellow-aidants;
  padding: 2rem;
}

h1, .h1 {
  font-size: 3rem;
  font-weight: bold;
  color: $red-aidants;
  margin: 2.5rem 0;
  text-transform: uppercase;
  line-height: 1.25;

  + .subtitle {
    font-size: 1.5rem;
    color: $light-blue-anct;
  }

  &:first-child, legend + & {
    margin-top: 0;
  }
}

h2, .h2 {
  font-size: 2.25rem;
  color: $blue-aidants;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2rem 0;
  line-height: 1.25;

  + .subtitle {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
  }

  &:first-child, legend + & {
    margin-top: 0;
  }
}

h3, .h3 {
  font-size: 1.5rem;
  color: $light-blue-anct;
  font-weight: normal;
  margin: 2.5rem 0 1.5rem;
  line-height: 1.25;

  &:first-child, legend + & {
    margin-top: 0;
  }
}

.more-info {
  font-style: italic;
  color: $light-blue-anct;
  margin-top: 4rem;

}

// forms -----------------------------------------------

input[type=text], input[type=number], input[type=email], input[type=tel], input[type=url] {
  border: 1px solid $light-blue-anct;
  font-family: $font-stack;
  font-size: 1rem;
  line-height: 2.25;
  padding: 0 .5rem;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;

  &:focus {
    border-color: $off-yellow-aidants;
    background: $off-yellow-aidants;
  }
}

select {
  border: 1px solid $light-blue-anct;
  border-radius: 0;
  font-family: $font-stack;
  font-size: 1rem;
  padding: 0 .5rem;
  background: #fff url(../img/dropdown.svg) no-repeat 98% 56%;
  max-width: 100%;
  height: 2.25rem;
  -webkit-appearance: none;
  appearance: none;

  &:focus {
    border-color: $off-yellow-aidants;
    background-color: $off-yellow-aidants;
  }
}

textarea {
  border: 1px solid $light-blue-anct;
  background: #fff;
  width: 100%;
  resize: vertical;
  font-family: $font-stack;
  padding: .5rem;
  line-height: 1.25;

  &:focus {
    border-color: $off-yellow-aidants;
    background: $off-yellow-aidants;
  }
}

input[type=checkbox], input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  margin: 0 1rem 0 0;
  position: relative;
  border: 1px solid $light-blue-anct;
  vertical-align: middle;

  &:before {
    transform: scale(0);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../img/x.svg') 50% no-repeat;
  }

  &:checked {
    &:before {
      transform: scale(1);
    }
  }
}

input[type=radio] {
  border-radius: 100%;

  &:checked {
    &:before {
      background: $dark-grey-aidants;
      border-radius: 100%;
      border: 4px solid #fff;
    }
  }
}

button, .button {
  padding: .75rem;
  border: 1px solid $red-aidants;
  color: $red-aidants;
  background: #fff;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.3;
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  font-family: $font-stack;

  &.primary {
    background: $red-aidants;
    color: #fff;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-grid-row {
  label:only-child, input {
    width: 100%;
  }

  input[type=checkbox], input[type=radio] {
    width: 1.5rem;
  }
}

.checkbox-col {
  display: flex;
  align-items: center;
}

.fr-col-md-2.zipcode-container {
  padding-right: 0;
}

.form-grid-row.form-grid-row-error {
  input {
    border-color: $red-aidants;
  }
}

.fr-grid-row--gutters .errors {
  padding-top: .25rem;
  padding-bottom: 1.5rem;
  font-size: .75rem;
  line-height: 1.25;
  color: $red-aidants-for-small-text;

  > p {
    margin: 0;
  }
}

.help-text {
  margin-top: 0;
  font-size: 0.9rem;
  color: #666;
}

.button-box {
  display: flex;
  justify-content: space-between;

  > :only-child {
    margin-left: auto;
  }
}

.shadowed .button-box {
  transform: translateY(4rem);
}

.partner-administration {
  background: #f2f2f2;
  padding: 1rem;
  margin: 1rem 0;
}

.form-in-3-cols {
  .shadowed {
    .h2, .h3 {
      font-size: 1.125rem;
    }
  }
}

@media (max-width: $bp-md) {
  .form-grid-row {
    .fr-col-md-5 {
      padding-bottom: .25rem;
    }

    .fr-col-md-7 {
      padding-top: 0;
    }
  }
}

@media (min-width: $bp-lg) {
  .form-grid-row-narrow {
    .fr-col-md-5 {
      padding-bottom: .25rem;
    }

    .fr-col-md-7 {
      padding-top: 0;
    }
  }

}

// habilitation form breadcrumbs -----------------------

.habilitation-breadcrumbs {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $red-aidants;
  padding: 0;
  margin: 4rem 0;

  > li {
    margin: 0;
    padding: 0 0 2rem;
    text-align: center;
    position: relative;
    transform: translateY(.5rem);

    a {
      text-decoration: none;
      color: $dark-grey-aidants;

      &:hover {
        box-shadow: 0 .5rem 0 $off-yellow-aidants;
        color: $red-aidants;
      }
    }

    &:after {
      content: "";
      background: #fff;
      border: 1px solid $red-aidants;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -.5rem;
    }

    &.active {
      font-weight: bold;
      color: $red-aidants;

      &:after {
        background: $red-aidants;
      }
    }

    &:first-child, &:last-child {
      &:before {
        content: "";
        position: absolute;
        background: white;
        width: 10rem;
        height: 1rem;
        right: 50%;
        bottom: 0;
      }
    }

    &:last-child {
      &:before {
        left: 50%;
      }
    }
  }
}

// header ----------------------------------------------

.skip-links {
  background: $light-grey-aidants;
  border-bottom: 1px solid $blue-aidants;
  transition: transform 0.3s;
  padding: .5rem 1rem;
  font-size: 1rem;
  position: absolute;
  transform: translateY(-100%);
}

.skip-links:focus-within {
  transform: translateY(0);
  position: relative;
}

.skip-links a {
  color: $blue-aidants;
  margin-right: 1em;
}

.header-logo {
  display: flex;
  align-items: center;

  &:focus-visible {
    background: $light-aidants;
  }
}

.header-links {
  list-style: none;
  text-align: right;

  li {
    display: inline-block;
    margin-left: 2rem;
  }

  a {
    text-decoration: none;
    color: $dark-grey-aidants;
    display: block;
    padding: .25rem 0;

    &.active {
      color: $red-aidants;
      font-weight: bold;
    }

    &:hover {
      box-shadow: 0 .5rem 0 $off-yellow-aidants;
    }
  }
}

// footer ----------------------------------------------

footer {
  background: $dark-grey-aidants;
  color: $light-aidants;
  padding: 3rem 0;
  margin: 5rem 0 0;
}

.footer-links {
  list-style: none;

  li {
    margin-bottom: .5rem;

    &.text-l {
      margin-bottom: 1rem;
    }
  }

  a {
    color: $light-aidants;
  }
}

.footer-social {
  list-style: none;
  margin: 1rem 0 0;

  li {
    display: inline-block;
    padding: 0 1rem 0 0;
  }

  a {
    color: $light-aidants;
    text-decoration: none;
  }

  .icon {
    fill: $light-aidants;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -25%;
  }

  a:focus-visible .icon {
    fill: $dark-grey-aidants;
  }
}

// ----------
