$accent: #EF4056;
$blue-aidants: #1B4991;


html {
  font-family: Avenir, sans-serif;
}

// recurrent elements

.shadowed-block {
  border: 1px solid #FAD776;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 #FAD776;
}
