$dark-grey-aidants: #333;
$light-aidants: #fff;
$blue-aidants: #1B4991;
$light-blue-anct: #5770BE;
$off-yellow-aidants: #FAD776;
$blue-green-aidants: #7FB7C0;
$dark-green-anct: #108670;
$red-aidants: #EF4056;

// basic layout -----------------------------------------

html, body {
  height: 100%;
}

ul, ol {
  margin: 0;
  padding: 0;
}

// transverse styles ------------------------------------

.text-l {
  font-size: 1.5rem;
}

.shadowed {
  border: 1px solid $off-yellow-aidants;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 $off-yellow-aidants;
}

// footer ----------------------------------------------

footer {
  background: $dark-grey-aidants;
  color: $light-aidants;
  padding: 3rem 0;
  margin: 5rem 0 0;
}

.footer-links {
  list-style: none;

  li {
    margin-bottom: .5rem;
    &.text-l {
      margin-bottom: 1rem;
    }
  }

  a {
    color: $light-aidants;
  }
}

.footer-social {
  list-style: none;
  margin: 1rem 0 0;

  li {
    display: inline-block;
    padding: 0 1rem 0 0;
  }

  a {
    color: $light-aidants;
    text-decoration: none;
  }

  .icon {
    fill: $light-aidants;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
  }
}

// ----------
