@import "colors";

.choice-fields {
  background-color: $off-yellow-aidants;
  padding: 1rem;
  margin-bottom: 1rem;

  legend.field-label {
    padding-bottom: 1rem;
    label {
      font-weight: bold;
    }
  }

  .choice-field {
    list-style: none;

    input {
      border-color: $dark-grey-aidants;
      background-color: white;
      margin-bottom: 0.5rem;
    }
  }

  .errors {
    display: none;
  }
}
