{% extends "admin/change_form.html" %}
{% load admin_extras admin_urls i18n %}

{% block object-tools-items %}
  <li>
  {% if view_action_button %}
{# <a class="viewsitelink" href="{% url "adminof:aidants_connect_common_change_inscription" object_id=object_id %}"> #}
{# <span aria-hidden="true">💫  </span> Basculer l'inscription sur une autre formation #}
{# </a> #}
    <a class="viewsitelink" href="{% url "adminof:aidants_connect_common_disable_inscription" object_id=object_id %}">
      <span aria-hidden="true">💔 </span> Annuler l'inscription
    </a>
      <a class="viewsitelink" href="{% url "adminof:aidants_connect_common_validate_inscription" object_id=object_id %}">
      <span aria-hidden="true">🤘 </span> Valider la présence à la formation
    </a>
  </li>

  {% endif %}

  {{ block.super }}
{% endblock object-tools-items %}
