.fr-container {
  .attestation-content {
    .navbar {
      .header-logo img:last-of-type {
        margin-bottom: 4rem;
      }
    }

    ul {
      padding: 0 0 0 2rem;
    }

    p {
      margin-bottom: .5rem;
    }

    .organisation-address {
      min-width: 15em;
      display: inline-block;
    }

    .img-qrcode {
      height: 10em;
    }
  }

  .notification {
    margin: 1rem 0 1rem 0;
  }

  .text-center {
    text-align: center;
  }

  .attestation-content h1 {
    font-size: 1.5rem;
    margin: 0 3rem 2rem;
    line-height: 1.75rem;
  }

  /* Back compatibility with past mandat templates */
  .container {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
  }

  .navbar__home {
    display: none;
  }
}

// PDF
@media not print {
  .navbar {
    display: none;
  }
}

@media print {
  @page {
    size: auto; /* auto is the initial value */
    margin: 0; /* this affects the margin in the printer settings */
  }

  :root {
    font-size: 8.5pt;
    line-height: 1rem;
  }

  body {
    margin: 2rem;
  }

  #main, [class*="fr-col"], .fr-container, li {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .attestation-content {
    border: 1px solid black;
    padding: 1rem;
  }
}
