@use "colors";

.fr-container {

  .attestation-content {
    .navbar {
      @media not print {
        display: none;
      }
      .header-logo img:last-of-type {
        margin-bottom: 4rem;
      }
    }
    ul {
      padding: 0 0 0 2rem;
    }
    p {
      margin-bottom: .5rem;
    }

    .organisation-address {
      min-width: 15em;
      display: inline-block;
    }

    .img-qrcode {
      height: 10em;
    }

    @media print {
      border: 1px solid black;
      padding: 1rem;
    }
  }

  .notification {
    margin: 1rem 0 1rem 0;
  }

  .text-center {
    text-align: center;  
  }
  .attestation-content h1 {
    font-size: 1.5rem;
    margin: 0 3rem 2rem;
    line-height: 1.75rem;
  }

  /* Back compatibility with past mandat templates */
  .container {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
  }

  .navbar__home {
    display: none;
  }
}


@media print {
  @page {
    size: auto; /* auto is the initial value */
    margin: 1rem 2rem 1rem 2rem; /* this affects the margin in the printer settings */
  }

  body, p {
    font-size: 11px !important;
    line-height: 1rem;
  }

  li {
    margin: 0;
    padding: 0;
  }

  .fr-container {
    border: 0;
    padding: 0;
    margin: 1em;
    width: auto;
  }
}
