@use "colors";
@use "boxes";

.d-table table {
  overflow: unset;
  thead, 
  tbody {
    background-color: white;
  }
}
.inactives-aidants .d-table {
  thead, 
  tbody {
    background-color: var(--background-alt-grey);
  }
}
.referent-table .referent-attribution {
  display: none;
}
details {
  position: relative;
  summary::marker {
    content: "";
  }
  summary {
    width: 45px;
    height: 45px;
    background-color: var(--background-alt-grey);
    text-align: center;
    line-height: 45px;
  }
  .details-content {
    position: absolute;
    background-color: white;
    border: solid 1px #CECECE;
    z-index: 1;
    right: 0px;
    top: 45px;
    form, a {
      width:200px;
      display: block;
      background-image: none;
      &:hover,
      button:hover {
        background-color: white;
        border-bottom: solid 1px var(--border-default-grey);
      }
    }
  }
  a {
    background-image: none;
    line-height: 30px;
  }
}
.unset-summary details {  
  summary {
      width: max-content;
      height: max-content;
      line-height: 24px;
      background-color: unset;
      .fr-btn {
        padding: 0 16px;
      }
  }
  .details-content a {
    width: max-content;
  }
}

// aidants_connect_web/espace_aidant/home.html
h3.home-section {
  display: block;
  font-size: 2rem;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2rem 0 2rem 2rem;
  line-height: 1.25;
}

.grid.structures .card:focus-within {
  outline: 2px solid #0053b3;
  outline-offset: 2px;
}

.grid.structures a:hover .card__meta {
  color: #fff;
}

.habilitation-list, .aidants-list {
  th {
    color: colors.$ac_mid_grey;
    text-align: start;
    font-weight: normal;
    padding: 0.5rem 1rem;
  }
}

.habilitation-list th {
  color: colors.$blue-aidants
}

.actions details {
  margin: .5em 0;
}

.actions summary {
  padding: .7em;
  cursor: pointer;
}

.actions details[open] {
  padding: 0 0 .7em;
}

.actions details[open] summary {
  margin-bottom: .7em;
  font-weight: bold;
}

.checkbox-list {
  padding: 0;
}

.section {
  margin-top: 5rem;
}

.fr-tile__pictogram {
  font-size: 2.5rem;
  width: auto;
}

// aidants_connect_web/espace_aidant/organisation.html

.espace-referent {

  .fr-tile:has(input[type="checkbox"]:checked) {
    background-image: linear-gradient(0deg,var(--border-default-blue-france),var(--border-default-blue-france)),linear-gradient(0deg,var(--border-default-blue-france),var(--border-default-blue-france)),linear-gradient(0deg,var(--border-default-blue-france),var(--border-default-blue-france)),linear-gradient(0deg,var(--border-default-blue-france),var(--border-default-blue-france));
  }
  .fr-tile__title::before {
    background-image: none;
  }
  .fr-checkbox-group input[type="checkbox"] + label {
    margin-left: 0;
    width: 100%;
    &::before {
      right: -1rem;
      left: unset;
      top: -1rem;
    }
    img {
      width: 100%;
      height: 80px;
      margin-bottom: 1rem;
    }
    .detailed-radio-select-description {
      display: none;
    }
  }
  .fr-checkbox-group input[type="checkbox"]:checked + label {
    color: var(--text-action-high-blue-france);
  }
  .fr-input-group > label {
    display: none;
  }
}

table.table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  table-layout: fixed;
  width: 100%;

  tbody.shadowed {
    td {
      border: none;
      padding: 1rem;
    }

    tr:not(:last-child) td {
      border-bottom: 1px solid colors.$light-grey-aidants;
    }
  }

  .fr-btn {
    text-align: center;
  }

  [class*="request-status"] {
    padding: .25rem;
    border: 1px solid;

    & .tooltiptext {
      left: -1px;
      width: 250px;
    }

    &.request-status-cancelled {
      border-color: colors.$dark-grey-aidants;
      color: colors.$dark-grey-aidants;
    }

    &.request-status-new {
      border-color: colors.$dark-green-anct;
      color: colors.$dark-green-anct;
    }

    &.request-status-processing {
      border-color: colors.$light-blue-anct;
      color: colors.$light-blue-anct;
    }

    &.request-status-refused {
      border-color: colors.$red-aidants;
      color: colors.$red-aidants;
    }

    &.request-status-habilitation_waitling_list {
      border-color: colors.$blue-aidants;
      color: colors.$blue-aidants;
    }
  }

  .unverified-card-warning {
    max-width: 20rem;
  }
}

main a[href^="mailto:"] {
  font-weight: normal;
}

.totp-card-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.disabled {
    .shadowed {
      box-shadow: 10px 10px 0 colors.$ac_mid_grey;
      border-color: colors.$ac_mid_grey;
    }

    img {
      filter: grayscale(100%)
    }
  }

  .shadowed {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;

    .icon-container {
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin: 2rem auto;

      img {
        height: 8rem;
      }
    }
  }
}

.otp-app-instructions {
  p:not(:last-child) {
    margin-bottom: .5rem;
  }
}

.aidants-guide-links {
  span {
    color: colors.$ac_mid_grey;
  }
}
