@use "colors";

.habilitation-notice {
  margin: 2rem 0 2rem 0;
  padding: .5rem;

  .strong {
    font-weight: bold;
  }

  &, & a[href] {
    color: colors.$blue-aidants;
  }
}

.login-form {
  margin: 2rem 0 4rem 0;
  padding: 2rem;
}
