@use "colors";

body {
  counter-reset: step-title;
}

.container-small {
  max-width: 45rem;
}

.grid {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em 2em;
  justify-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.grid-4 {
  grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
}

.tile {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  transform: none;
  transition: all .1s ease-in;
  width: 100%;
}

.tile:hover {
  transform: scale(1.02);
}

.field-block * {
  display: block;
  width: 100%;
}

.step-title {
  margin-top: 4em !important;
  counter-increment: step-title;
  color: colors.$light-blue-anct;
  font-size: larger;
  font-weight: normal;
  text-transform: uppercase;

  &::before {
    background-color: colors.$red-aidants;
    border-radius: 50%;
    content: counter(step-title);
    color: white;
    display: inline-block;
    font-size: smaller;
    font-weight: bolder;
    height: 1.6em;
    margin-right: 1em;
    text-align: center;
    vertical-align: bottom;
    width: 1.6em;
  }
}

#submit_button {
  padding: 0;
  max-width: 250px;
}

#submit_renew_button {
  padding: 10px;
  max-width: 250px;
}

.user-phoner-wrapper {
  margin-top: 1rem;
}

.form-section legend {
  font-size: large;
  color: colors.$blue-aidants;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mandate-translation-section {
  .shadowed {
    background: #FFF;
    position: relative;

    p:last-of-type {
      margin: 0 0 -2rem 0;
    }

    .button-box {
      transform: translateY(3rem);
    }

    .h4-prime {
      margin-top: 0;
    }
  }
}

.detailed-radio-select-label-text, .detailed-radio-select-description {
  display: block;
}

.detailed-radio-select {
  .checkbox-col {
    display: flex;
    align-items: center;
  }

  input, label {
    cursor: pointer;
  }

  > label::after {
    margin: 1rem;
  }
}

.duree-section {
  .shadowed {
    background-color: #FFF;
    padding: 1rem;
  }

  input:checked ~ .shadowed {
    background-color: colors.$off-yellow-aidants;
    box-shadow: 10px 10px 0 colors.$blue-aidants;
  }
}

.mandate-is-remote-field {
  display: flex;

  input {
    cursor: pointer;
    margin: 1rem 0 1rem 1rem;
  }

  label {
    cursor: pointer;
    flex-grow: 10;
    padding: 1rem;
  }
}

.mandate-remote-method-section {
  .remote-consent-legend {
    color: colors.$blue-aidants;
    font-weight: bold;
    font-size: large;
    margin: 2rem 0 1rem 0;
    text-transform: uppercase;
  }

  .detailed-radio-select-label {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  .detailed-radio-select {
    > input[type="checkbox"],
    > input[type="radio"] {
      & ~ label::after {
        align-self: center;
        height: 32px;
        width: 32px;
        position: relative;
      }

      &:not(:checked) ~ label::after {
        content: url("/static/images/icons/remote-methode-unchecked.svg");
      }

      &:checked ~ label::after {
        content: url("/static/images/icons/remote-methode-checked.svg");
      }
    }
  }
}

.demarche-section {
  .detailed-radio-select > label * {
    margin-right: 0;
  }

  .detailed-radio-select-label {
    display: flex;
    flex-direction: column;
  }

  .detailed-radio-select-logo {
    max-height: 6rem;
  }

  .detailed-radio-select-label-text-and-description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;

    .detailed-radio-select-description {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .scope {
        flex-grow: 1;
      }
    }
  }

  .detailed-radio-select > input:checked ~ label {
    &.shadowed {
      box-shadow: 10px 10px 0 colors.$blue-aidants;
      border-color: colors.$blue-aidants;
    }

    .detailed-radio-select-label-text-and-description {
      background-color: colors.$off-yellow-aidants;
    }
  }

  .scope {
    margin-bottom: 4rem;
  }

  .scope, .scope-examples {
    display: block;
  }

  .scope-examples .example {
    color: colors.$light-blue-anct;
    display: inline-block;
    font-style: italic;
    margin: .225rem .225rem 0 0;
    padding: .225rem;
    background-color: colors.$light-grey-aidants;
  }
}
