@use "colors";

body {
  counter-reset: fr-label;
}

/* New css */
.border {
  border-bottom: solid 1px var(--border-active-blue-france);
}
fieldset {
  border: none;
}
.fr-checkbox-group input[type="checkbox"] + label.detailed-radio-select-label {
  margin: 0;
  justify-content: center;
  height: 100%;
  &::before {
    left: unset;
    right: 0;
  }
  img {
    display: block;
  }
  .detailed-radio-select-label-text {
    font-weight: 700;
  }
  .detailed-radio-select-description {
    font-size: 14px;
  }
}
.mandat-demarche {
  .detailed-radio-select-label-text {
    display: block;
  }
}
.mandat-duree {
  .detailed-radio-select-label-text {
    color: var(--text-action-high-blue-france);
    font-weight: 700;
  }
  .detailed-radio-select-description {
    font-size: 12px;
    display: block;
    color: var(--text-mention-grey);
  }
}
.fr-input-group > .fr-label,
.fr-label.title-count {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin: var(--title-spacing);
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  counter-increment: fr-label;
  &::before {
    background-color: var(--border-active-blue-france);
    border-radius: 50%;
    content: counter(fr-label);
    color: white;
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 700;
    font-weight: bolder;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    margin-right: 1.5rem;
    text-align: center;
    vertical-align: bottom;
  }
}
@media (min-width: 48em) {
  .fr-input-group > .fr-label,
  .fr-label.title-count {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}
.related-fields input[name="user_phone"] {
  background-color: var(--background-contrast-grey);
}
.checkbox-col {
  margin-left: 2rem;
}
