@use "colors";

body {
  counter-reset: step-title;
}

.prior-notice {

  > * {
    margin-bottom: 2rem;
  }

  ul {
    line-height: 2rem;
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }
}


.step-title {
  margin-top: 4em !important;
  counter-increment: step-title;
  color: colors.$light-blue-anct;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;

  $line-heigh: 2rem;

  &, &::before {
    line-height: $line-heigh;
  }

  &::before {
    background-color: colors.$red-aidants;
    border-radius: 50%;
    content: counter(step-title);
    color: white;
    display: inline-block;
    font-size: calc($line-heigh / 2);
    font-weight: bolder;
    height: $line-heigh;
    margin-right: 1em;
    text-align: center;
    vertical-align: bottom;
    width: $line-heigh;
  }
}

.mandate-translation-title {
  color: colors.$blue-aidants;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

.submit-button {
  margin: 0 0 0 3rem;
}

.mandate-translation-section {
  .shadowed {
    background: #FFF;
    position: relative;

    p:last-of-type {
      margin: 0 0 -2rem 0;
    }
  }
}

.detailed-radio-select.mandat-duree .detailed-radio-select-label-text-and-description {
  padding-right: 40px;
  flex-direction: column;
}

.mandate-is-remote-field {
  display: flex;

  input {
    cursor: pointer;
    margin: 1rem 0 1rem 1rem;
  }

  label {
    cursor: pointer;
    flex-grow: 10;
    padding: 1rem;
  }
}

.mandate-remote-method-section {
  .remote-consent-legend {
    color: colors.$blue-aidants;
    font-weight: bold;
    font-size: large;
    margin: 2rem 0 1rem 0;
    text-transform: uppercase;
  }

  .detailed-radio-select {
    padding: 1rem;

    &:hover, &:active {
      transform: none;
    }

    > input[type="checkbox"],
    > input[type="radio"] {
      & ~ label::after {
        align-self: center;
        height: 32px;
        margin: 0;
        position: relative;
        width: 32px;
      }

      &:not(:checked) ~ label::after {
        content: url("/static/images/icons/remote-methode-unchecked.svg");
      }

      &:checked ~ label::after {
        content: url("/static/images/icons/remote-methode-checked.svg");
      }
    }

    .detailed-radio-select-label {
      display: flex;
      flex-direction: row;


      .detailed-radio-select-label-text-and-description {
        padding-right: 3.5rem;

        .detailed-radio-select-text {
          color: colors.$blue-aidants;
          font-weight: bold;
        }

        .detailed-radio-select-description {
          margin-top: .5rem;
        }
      }
    }
  }

  .related-fields {
    padding: 1rem;
    margin: 0 3.5rem 0 4rem;
  }
}
