@use "colors";

.step-title {
  margin-top: 2em;
}

.label-demarche {
  display: flex;
  flex-direction: column;
  align-items: center;

  > strong {
    text-transform: uppercase;
    font-size: 1.2em;
  }
}

.label-duree strong {
  font-size: 1.2em;
}

#submit_button {
  padding: 0;
  max-width: 250px;
}

#submit_renew_button {
  padding: 10px;
  max-width: 250px;
}

@supports not (display: grid) {
  .tile + .tile {
    margin-top: 1em;
  }
  #id_otp_token {
    width: 6em;
  }
}

.user-phoner-wrapper {
  margin-top: 1rem;
}

.form-section legend {
  font-size: large;
  color: colors.$blue-aidants;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mandate-translation-section {
  .shadowed {
    background: #FFF;
    position: relative;

    h4.h4-prime {
      display: block;
      color: colors.$blue-aidants;
      font-weight: bold;
      text-transform: uppercase;
    }

    .button-box {
      position: absolute;
      bottom: -2rem;
      right: 2rem;

      .button {
        background: colors.$red-aidants;
        border: 1px solid colors.$red-aidants;
        border-radius: 0;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Marianne", arial, sans-serif;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.3;
        margin: 0;
        padding: .75rem;
        text-decoration: none;
      }
    }
  }

}
