@use "colors";
@use "utils";

.procedure {
  color: colors.$blue-aidants;
  list-style: none;
  counter-reset: my-awesome-counter;

  mark {
    background: none;
    color: colors.$red-aidants;
  }

  em {
    color: colors.$light-blue-anct;
  }

  table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;

    th, td {
      padding: .5rem;
      overflow: scroll;
      text-overflow: ellipsis;
    }

    th {
      background: colors.$light-grey-aidants;
    }
  }


  li {
    display: flex;
    align-items: center;
    counter-increment: my-awesome-counter;
    margin: 0 .25rem 2rem .25rem;

    @mixin li-counter {
      background: colors.$red-aidants;
      border-radius: 50%;
      color: white;
      content: counter(my-awesome-counter);
      height: 2rem;
      line-height: 2rem;
      min-width: 2rem;
      text-align: center;
      width: 2rem;
    }

    .shadowed {
      padding: 2rem;
    }

    @media (max-width: utils.$bp-sm) {
      .shadowed {
        padding: 1rem;
      }
    }

    @media (min-width: utils.$bp-sm) {
      &::before {
        @include li-counter;
        margin-right: 3rem;
      }
    }

    > * {
      margin: 0;
      flex-grow: 1;

      @media (max-width: utils.$bp-sm) {
        &::before {
          @include li-counter;
          display: block;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.additionnal-comments {
  color: #FFF;
  background: colors.$blue-aidants;
  margin-bottom: 2rem;
  padding: 2rem;

  ul, ol {
    padding: revert;
  }
  @media (max-width: utils.$bp-sm) {
    & {
      padding: 1rem;
    }
  }
}

.sandbox-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
}
