{% extends "layouts/email_habilitation_base.html" %}
{% block email_body %}
<p>Madame, Monsieur,</p>
<p>
  Afin de pouvoir vous contacter lors du processus d'habilitation, nous vous demandons de
  <a href="{{ confirmation_link }}">confirmer cette adresse email en cliquant sur ce lien.</a>
</p>
<p>
  Si le lien ne fonctionne pas, vous pouvez copier l'adresse ci-dessous et la coller dans la
  barre d'adresse de votre navigateur : <code class="long-link">{{ confirmation_link }}</code>
</p>
<p>Vous pourrez ensuite reprendre le cours de votre demande.</p>

{% endblock %}
