{% extends 'layouts/main-habilitation.html' %}
{% load form_extras %}
{% load static ac_common %}

{% block title %}Aidants Connect - Récapitulatif envoyé{% endblock %}

{% block extracss %}
  <link href="{% static 'css/mandate-elements.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="fr-container">
    {% if messages %}
      {% for message in messages %}
        <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <h1>Récapitulatif du mandat</h1>
    <h2>Consentement à distance</h2>
    <p class="subtitle">
      Un premier SMS va être envoyé à la personne accompagnée pour qu'elle puisse vérifier les caractéristiques du
      mandat que vous proposez de créer. Un second SMS lui sera envoyé à l'étape suivante pour lui demander son
      consentement.
    </p>

    <form class="fr-col-12 fr-col-lg-8" method="post">
      {% csrf_token %}
      <h3 class="h3-prime">Éléments du mandat</h3>

      {% include "aidants_connect_web/sms/_mandate-elements-sms.html" %}

      <input type="submit" class="float-right button primary" value="Envoyer la demande de consentement par SMS"/>
    </form>
  </div>
{% endblock content %}
