{% extends 'layouts/main.html' %}
{% load ac_common dsfr_tags form_extras static %}

{% block title %}
  Vérification Siret - Aidants Connect
{% endblock title %}

{% block content %}
  <div class="fr-container">
    {% include "layouts/_js-unavailable-alert.html" %}
    <div class="fr-mb-1w">
      <h1 class="fr-mb-2w">Formulaire d’habilitation</h1>
      <p class="fr-text--lg">
        Sauf mention contraire, tous les champs sont obligatoires.
      </p>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-8 fr-col-sm-6">
        {% include "layouts/_breadcrumbs.html" %}
        <form method="post" action="{% url 'habilitation_siret_verification' issuer_id=issuer_id %}">
          {% csrf_token %}
          {% include "aidants_connect_habilitation/_siret_search.html" %}
        </form>
        {% if not siret_verified %}
          {% include "aidants_connect_habilitation/_bottom_buttons_navigation.html" %}
        {% else %}
          <form
            method="post"
            class="fr-mt-8v"
            action="{% url 'habilitation_siret_navigation' issuer_id=issuer_id %}"
            data-controller="organisation-choice"
          >
            {% csrf_token %}
              <input
                type="hidden"
                name="siret"
                value="{{ siret_value }}"
                data-organisation-choice-target="siretInput"
              />
            {% if not siret_is_new %}
              {% include "aidants_connect_habilitation/_organisations_list.html" %}
            {% else %}
              <div class="fr-alert fr-alert--info fr-mt-0v">
                <h3 class="fr-alert__title">Votre structure n'est pas encore habilitée</h3>
                <p>Vous pouvez déposer une nouvelle demande en saisissant les informations de votre structure à l'étape suivante.</p>
              </div>
            {% endif %}
            {% include "aidants_connect_habilitation/_bottom_buttons_navigation.html" %}
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block extrajs %}
  <script type="module" src="{% static 'js/organisation-form.mjs' %}"></script>
  <script type="module" src="{% static 'js/organisation-choice.mjs' %}"></script>
{% endblock extrajs %}
