{% extends 'layouts/main.html' %}
{% load ac_common dsfr_tags form_extras partials static %}


{% block title %}
  Demande d'habilitation pour {{ organisation.name }} - Aidants Connect
{% endblock title %}

{% block content %}
  <div class="fr-container">
    {% comment %}
      |--------------------------------------------------------------------------------------------------------------------|
      |                                                      HEADER                                                        |
      |--------------------------------------------------------------------------------------------------------------------|
    {% endcomment %}
        {% include "aidants_connect_habilitation/_header_validation.html" with organisation=organisation %}
    {% comment %}
      |--------------------------------------------------------------------------------------------------------------------|
      |                                                      SECTIONS                                                      |
      |--------------------------------------------------------------------------------------------------------------------|
    {% endcomment %}
      <div class="fr-col-12 fr-col-md-8 fr-col-sm-6">
        <section>
          <h2 class="fr-h4">Demandeur</h2>
          {% include "aidants_connect_habilitation/_issuer_card.html" with organisation=organisation %}
        </section>
        <section class="fr-mt-6w">
          <h2 class="fr-h4">Structure</h2>
          {% include "aidants_connect_habilitation/_organisation_card.html" with organisation=organisation %}
        </section>
        <section class="fr-mt-6w">
          <h2 class="fr-h4">Référent Aidants Connect</h2>
          {% include "aidants_connect_habilitation/_manager_card.html" with organisation=organisation %}
        </section>
        <section class="fr-mt-6w">
          <h2 class="fr-h4">Aidants à habiliter et à former</h2>
            {% if organisation.status == organisation.Status.VALIDATED %}
                <div class="fr-alert fr-alert--info fr-alert--sm fr-my-4w">
                  <p class="fr-text--md fr-mb-2w">Information : pour l’inscription des aidants, merci de vous rendre sur votre espace référent depuis la <a href="/accounts/login/" class="fr-link">page suivante</a>.</p>
                  <p class="fr-text--md">Si vous vous connectez pour la 1ere fois, cliquez sur <a href="/accounts/manager_first_login/" class="fr-link">Première connexion référent</a></p></p>
                </div>
            {% endif %}
            {% for aidant_request in habilitation_requests %}
              {% include "aidants_connect_habilitation/_personel_card.html" with organisation=organisation aidant_request=aidant_request %}
            {% endfor %}
        </section>
      </div>
    {% comment %}
      |--------------------------------------------------------------------------------------------------------------------|
      |                                                      ADD PERSONEL BUTTON                                           |
      |--------------------------------------------------------------------------------------------------------------------|
    {% endcomment %}
      <div class="fr-col-12 fr-col-md-8 fr-col-sm-6">
        {% if organisation.status in organisation.Status.personel_editable %}
          <a
            id="add-aidants-btn"
            class="fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-user-add-line"
            href="{% url 'habilitation_new_aidants' issuer_id=organisation.issuer.issuer_id uuid=organisation.uuid %}"
          >

            Ajouter un autre aidant à la demande
          </a>
        {% endif %}
      </div>
    {% comment %}
      |--------------------------------------------------------------------------------------------------------------------|
      |                                                      VALIDATION FORM                                               |
      |--------------------------------------------------------------------------------------------------------------------|
    {% endcomment %}
      <div class="fr-col-12 fr-col-md-8 fr-col-sm-6">
        {% if organisation.status == organisation.Status.NEW %}
          <form method="post" class="fr-my-8v">
            {% csrf_token %}
            {{ form }}

            <ul class="fr-btns-group fr-btns-group--inline-md fr-btns-group--between fr-my-6w">
              <li>
                <a
                  class="fr-btn fr-btn--tertiary"
                  href="{% url 'habilitation_new_aidants' issuer_id=organisation.issuer.issuer_id uuid=organisation.uuid %}"
                >
                  Revenir à l'étape précédente
                </a>
              </li>
              <li>
                <input type="submit" class="fr-btn" value="Valider et envoyer la demande">
              </li>
            </ul>
          </form>
        {% endif %}
      </div>
  {% comment %}
    |--------------------------------------------------------------------------------------------------------------------|
    |                                                      RESUBMIT FORM                                               |
    |--------------------------------------------------------------------------------------------------------------------|
  {% endcomment %}
    {% if organisation.status == organisation.Status.CHANGES_REQUIRED or organisation.status == organisation.Status.CHANGES_PROPOSED %}
      <div class="fr-col-12 fr-col-md-8 fr-col-sm-6">
        <ul class="fr-btns-group fr-btns-group--inline-md fr-btns-group--between fr-my-6w">
            <li>
            </li>
            <li>
              <input type="submit" class="fr-btn" value="Valider et envoyer la demande">
            </li>
          </ul>
        </div>
    {% endif %}
  </div>
  <script type="module" src="{% static 'js/generic-habilitation-request-profile-card.mjs' %}"></script>
{% endblock content %}
